<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: 'FAQ' }) %>
<div id="container" class="cscenter">
    <!-- 01.search -->
    <form action="/customer-service/faqSearch.do" method="post" id="faqSearchForm">
        <div class="faq_search">
            <div class="search_box">
                <input title="질문 입력" type="text" class="ip_txt01 w100p" id="inqTitNm" name="inqTitNm" placeholder="질문을 입력해 주세요."  value=""/>
                <button class="btn" type="button" id="faqSearch">검색</button>
            </div>
        </div>
    </form>
    <!-- 01.search -->
    <!-- 03.list -->
    <div class="faq_list">


        <dl id="accordion" class="list">

            <dt><a href="#">타이어 1개 또는 3개만 교체 해도 문제가 없나요?</a></dt>
            <dd>마모 정도가 다른 타이어(1개 또는 3개 교체시)를 계속해서 사용할 경우,&nbsp;<br />
                차량 구동축의 밸런스 등에 영향을 줄 수 있으므로 2개 또는 4개 교체를 권장합니다.</dd>

            <dt><a href="#">차종 검색에서 차종이 없는 경우는 어떻게 하나요?</a></dt>
            <dd>고객님 차량에 장착된 타이어 사이즈를 확인하신 후, 재검색 부탁드립니다.&nbsp;<br />
                신차 출고 시 최대한 빠른 시일 내에 업데이트 할 수 있도록 하겠습니다.</dd>

            <dt><a href="#">신용카드 결제 안전한가요?</a></dt>
            <dd>티스테이션은 128Bit SSL 글로벌 서버 인증서가 설치된 보안 인증 사이트로 고객님의 정보와 구매 결제 정보는 SSL(Secure Socket Layer) Protocol로 암호화되어 티스테이션에 전송됩니다.<br />
                <br />
                이는 미국 Verisign社를 통해 인증받고 있는 안전한 프로그램이니 믿고 사용하셔도 됩니다.<br />
                <br />
                [SSL 암호화가 적용되는 부분]<br />
                ① 회원가입, 회원정보 수정 시 관련 데이터 전송 부분<br />
                ② 로그인 후 주문/결제 시 관련 데이터 전송 부분<br />
                ③ 카드결제 시 관련 데이터 전송 부분<br />
                <br />
                [SSL 암호화 적용 여부 확인 방법]<br />
                SSL은 고객님의 개인정보가 입력되면 웹브라우저 주소 표시줄 오른쪽에 자물쇠 모양의 아이콘이 나타나며,<br />
                해당 아이콘이 확인되면 고객님의 정보가 안전하게 전달되고 있다는 것을 말합니다.</dd>

            <dt><a href="#">법인 카드 구매는 할부가 안되나요?</a></dt>
            <dd>법인카드로 상품을 구매하는 경우 할부 결제가 되지 않으니, 일시불로 결제해 주시기 바랍니다.</dd>

            <dt><a href="#">장착점마다 타이어 가격과 공임비가 다른가요?</a></dt>
            <dd>공정거래법상 당사는 소비자 가격에 대해 관여할 수 없으며, 최종 소비자가격은 대리점주가 최종 결정합니다.<br />
                <br />
                웹사이트에서의 가격은 타이어 상품과 공임비가 포함된 가격이며, 본사에서 직접 결정한 가격입니다.<br />
                그러므로 오프라인 매장과는 일부 차이가 있을 수 있습니다.</dd>

            <dt><a href="#">티스테이션 매장의 운영시간은 어떻게 되나요?</a></dt>
            <dd>월~금요일은 오전 9시부터 오후 7시까지 운영하고<br />
                토요일은 오전 9시부터 오후 5시까지 매장을 오픈 운영합니다.<br />
                <br />
                매장마다 운영시간이 다소 차이는 있을 수 있으며<br />
                일요일 오픈은 매장에 확인해 주세요.</dd>

            <dt><a href="#">구매 상품의 반품 및 교환이 가능한가요?</a></dt>
            <dd>품질에 문제가 있을 경우, 반품이나 교환이 모두 가능합니다. 그러나 특별한 사유가 없거나, 고객님께 책임이 있는 부분에 대해서는 불가능합니다.<br />
                <br />
                사이즈, 상품 사양 등을 반드시 확인 후에 주문해 주세요. 잘못 주문하실 경우 지정일 장착이 어렵거나, 배송 비용이 발생할 수 있습니다.</dd>

            <dt><a href="#">신용카드로 결제했는데, 환불은 어떻게 받나요?</a></dt>
            <dd>주문 취소 시 신용카드 승인 취소의 방법을 통하여 환불처리 됩니다. 카드 매출 취소는 즉시 접수되나, 카드사 사정에 따라 취소 기간이 3~7일 정도 소요될 수 있습니다.<br />
                <br />
                확인 문의는 소요기간 경과 후 해당 카드사로 직접 문의하시면 됩니다.</dd>

            <dt><a href="#">주문 취소시 쿠폰은 돌려주나요?</a></dt>
            <dd>주문 취소하신 경우, 쿠폰은 고객님께 반환됩니다.</dd>

            <dt><a href="#">장착 일자를 변경하고 싶습니다.</a></dt>
            <dd>마이페이지의 주문내역에서 장착 일자 및 시간을 변경하실 수 있습니다.<br />
                단, 변경은 원활한 매장의 서비스 대응을 위해 지정한 일자와 시간에서 뒤로 변경할 수는 있으나 앞으로 당길 수는 없습니다.</dd>

            <dt><a href="#">온라인 주문 상품을 변경하고 싶습니다.</a></dt>
            <dd>주문하신 상품은 변경하실 수 없습니다.<br />
                번거로우시겠지만 주문을 취소하신 후 다시 주문해 주시기 바랍니다.</dd>

            <dt><a href="#">약속 일자보다 일찍 혹은 늦게 방문하고 싶습니다.</a></dt>
            <dd>마이페이지에서 수정이 가능하며<br />
                선택한 장착점에 직접 문의하여 협의하셔도 가능합니다.</dd>

            <dt><a href="#">예약 방문 일자는 어디서 확인하나요?</a></dt>
            <dd>마이페이지에서 확인하실 수 있습니다.</dd>

            <dt><a href="#">온라인으로 구매하면 혜택이 있나요?</a></dt>
            <dd>1. 타이어 추천 가이드 : 고객님 드라이빙 스타일에 맞는 타이어를 추천해 드립니다.<br />
                2. 구매 특화된 상품 정보 제공 : 상품 특장점/기술력을 요약 제시합니다. 상품 댓글도 확인하실 수 있습니다.</dd>

            <dt><a href="#">타이어 교환 후 위치교환 등의 사후 서비스 가능한가요?</a></dt>
            <dd>타이어 교체 후 주기적인 사후 관리는 필수입니다.<br />
                티스테이션은 고객님 차량 관리를 위해 점검 주기에 맞춰 &#39;SMS 알림 서비스&#39;를 제공합니다.<br />
                점검 주기에 티스테이션에 방문하셔서 SMART CARE 받으시기 바랍니다.</dd>

            <dt><a href="#">장바구니에 얼마 동안 보관되나요?</a></dt>
            <dd>로그인 후 장바구니에 담은 상품은 30일 동안 보관 하실 수 있습니다.</dd>

            <dt><a href="#">상품에 대해 궁금한 점들은 어디로 문의하나요?</a></dt>
            <dd>FAQ를 적극 참조해 주시기 바랍니다.<br />
                자세한 문의가 필요하시면, 1:1 고객상담 게시판이나 고객센터로 전화 문의주시면 친절하게 상담해 드리겠습니다.</dd>

            <dt><a href="#">기존 상품과 다른 타이어를 선택해도 되나요?</a></dt>
            <dd>타이어 교환 시, 기존에 사용하던 타이어와 같은 규격 또는 호환 가능한 규격으로 속도, 하중지수가 같거나 높은 타이어를 선택하시면 됩니다.<br />
                <br />
                또한, 4개의 타이어를 가급적 같은 타이어로 장착하시는 것을 권장합니다.<br />
                부득이하게 일부의 타이어만 교환하는 경우, 최소한 동일 축에는 같은 타이어를 장착하셔야 합니다.<br />
                (기본장착 타이어의 전, 후륜 크기가 처음부터 다른 경우는 예외입니다.)<br />
                <br />
                규격이 다를 경우 자동차 속도 부정확성 및 휠 취부 문제로 인해 안전상 문제가 발생할 수 있습니다.</dd>

            <dt><a href="#">30만원 이상 결제 시, 공인인증서 인증이 필수인가요?</a></dt>
            <dd>공인인증서 의무 사용이 면제되었으며, 패스워드 입력/전화 ARS 승인 등의 대체 수단으로 인증이 진행됩니다.<br />
                각 결제 수단 및 대행사에 따라 방법이 상이하므로, 개별 안내에 따라 인증 받으시기 바랍니다.</dd>

            <dt><a href="#">전화 주문이 가능한가요? 비회원 주문은요?</a></dt>
            <dd>전화 주문은 불가능하니 온라인에서 직접 주문해 주시기 바랍니다.<br />
                비회원도 온라인 주문 가능합니다.</dd>

            <dt><a href="#">휠 밸런스를 잘못 봤을 경우 다시 봐주나요?</a></dt>
            <dd>고객센터(080-022-8272)로 문의해 주시기 바랍니다.<br />
                단, 휠 밸런스 A/S 기간은 1주일입니다.</dd>

            <dt><a href="#">교체시 휠 밸런스와 얼라인먼트를 꼭 받아야 하나요?</a></dt>
            <dd>의무사항은 아닙니다만, 타이어 마모도가 고를 때 가장 좋은 점검을 할 수 있으므로, 타이어 교체 시 함께 서비스 받으실 것을 권장드리고 있습니다.<br />
                <br />
                1. 휠 밸런스 : 타이어 각 개체의 균형 상태 점검 (온라인 구매 시 무료 서비스)<br />
                2. 휠 얼라인먼트 : 차량 전체의 밸런스 점검 (온라인 구매 후 현장에서 조정 시 비용 발생)<br />
                <br />
                올바른 휠 얼라인먼트는 최적의 조종안정성을 유지하고, 타이어의 성능을 최고로 발휘시켜 줍니다.<br />
                본 서비스는 차량의 하체 정비에 해당하므로, 별도의 비용이 발생되는 부분입니다.<br />
                해당 비용을 장착점에 지불하신 후, 서비스 받으시기 바랍니다.</dd>

            <dt><a href="#">티스테이션 온라인과 매장 판매 상품은 동일한가요?</a></dt>
            <dd>동일한 상품입니다.</dd>

            <dt><a href="#">필요한 사이즈가 없을 때는 어떻게 해야 하나요?</a></dt>
            <dd>고객님이 필요로 하시는 상품이 없을 경우, 고객센터(080-022-8272)로 문의해 주시기 바랍니다.</dd>

            <dt><a href="#">타이어 어떻게 고르나요?</a></dt>
            <dd>1. 사이즈를 알고 계시다면, 수치를 입력하시고 원하는 타이어를 선택하세요.<br />
                2. 사이즈를 모르실 경우, 차종으로 검색하신 후 검색되는 사이즈를 확인합니다.<br />
                <br />
                이후,&nbsp;<br />
                ① 주문회원 정보 입력&nbsp;<br />
                ② 장착점/방문일자 선택&nbsp;<br />
                ③ 주문금액 확인 및 결제&nbsp;<br />
                등의 구매 절차를 거치게 됩니다.</dd>

            <dt><a href="#">타이어 생산년도 (제조일자)를 어떻게 알 수 있나요?</a></dt>
            <dd>타이어 옆면에 표시되어 있는 DOT 4자리 숫자를 확인하시면 됩니다.<br />
                앞의 2자리는 생산 주차, 뒤의 2자리는 생산 연도입니다.</dd>

            <dt><a href="#">배송소요기간은?</a></dt>
            <dd>안녕하세요. 고객님<br />
                <br />
                오늘서비스는 구매 후 바로 장착이 가능하며<br />
                일반서비스 배송은 주문 완료 후 지정하신 장착일 전까지 배송되고<br />
                기간은 일반적으로&nbsp;3일이 소요됩니다.<br />
                다만 도서산간의 경우에는 5일 이상 배송이 소요될 수 있음을 양해 부탁드립니다.<br />
                <br />
                감사합니다.</dd>

            <dt><a href="#">비구매 회원도 주문내역 조회가 가능한가요?</a></dt>
            <dd>비구매 회원은 주문번호를 입력하시면, 주문 내역 조회가 가능합니다.</dd>

            <dt><a href="#">내가 쓴 상품평을 수정/삭제할 수 있나요?</a></dt>
            <dd>고객님께서 작성하신 상품평은 수정/삭제 가능합니다.</dd>

            <dt><a href="#">내가 작성한 상품평은 어디서 확인할 수 있나요?</a></dt>
            <dd>마이페이지의 상단 작성가능한 상품평을 클릭하면 내가 작성한 상품평을 확인 하실 수 있습니다.</dd>

            <dt><a href="#">외국인 등록번호가 있는 고객도 회원가입이 가능한가요?</a></dt>
            <dd>국내 거주 중인 외국인의 경우, 내국인과 동일하게 회원가입 가능합니다.<br /> 본인인증 시, 외국인 탭 선택 후 본인인증 절차를 거치시면 됩니다.</dd>

            <dt><a href="#">회원 탈퇴 후 개인정보는 어떻게 관리되나요?</a></dt>
            <dd>회원 탈퇴 시 고객님의 정보는 관련 법률 및 당사 고객정보 보호 정책에 따라 관리됩니다.<br />
                <br />
                &lt;개인정보 보유 기간 및 이용 기간 정책&gt;<br />
                - 고객의 개인정보는 개인정보의 수집 목적 또는 제공받은 목적이 달성되면 파기됩니다.<br />
                단, 전자상거래법 등 관련 법령의 규정에 의하여 일정 기간 보유해야 할 필요가 있는 경우에는 일정 기간 보관됩니다.<br />
                <br />
                - 계약 또는 청약 철회 등에 관한 기록 : 5년<br />
                - 대금 결제 및 재화 등의 공급에 관한 기록 : 3년<br />
                - 소비자의 불만 또는 분쟁 처리에 관한 기록 : 3년</dd>

            <dt><a href="#">아이디 변경이 가능한지 알고 싶습니다.</a></dt>
            <dd>아이디 변경은 불가능합니다.<br />
                변경을 원하실 경우, 새로운 아이디로 재가입 해주세요.<br />
                단, 기존 아이디로 사용하셨던 글 등록 정보는 복원되지 않습니다.</dd>

            <dt><a href="#">회원가입 시 이미 가입된 회원이라고 나옵니다.</a></dt>
            <dd>이미 가입된 회원이라고 나올 경우, 가입 정보는 아래의 방법으로 확인 가능합니다.<br />
                홈페이지 상단의 [로그인] 클릭 &gt; &#39;아이디 찾기&#39; 또는 &#39;비밀번호 찾기&#39; 클릭</dd>

            <dt><a href="#">아이디 또는 비밀번호를 잃어 버렸습니다.</a></dt>
            <dd>비밀번호를 분실하신 경우 아래의 방법으로 확인 가능합니다.<br/> 사이트 상단의 [로그인]을 클릭
                &gt; &#39;아이디 찾기&#39; 또는 &#39;비밀번호 찾기&#39; 클릭</dd>

            <dt><a href="#">회원가입은 어떻게 하나요?</a></dt>
            <dd>본인인증 없이 이메일로 간편하게 회원가입이 가능하나, 거래 발생 시에는 정보보호를 위해 본인인증 절차가 필요하며, 이에 대한 수집동의가 필요합니다.<br />
                <br />
                회원가입 방법은 화면 상단에 있는 &#39;회원가입&#39;을 클릭하시고, 회원가입 신청 페이지에서 해당 항목을 입력하시면 됩니다.</dd>

            <dt><a href="#">매장에서 공임비를 따로 내야 하나요?</a></dt>
            <dd>온라인 구매 대금에 타이어 장착비가 포함되어 있습니다.<br />
                <br />
                경정비 상품의 경우 &#39;장착 서비스&#39;에 해당하는 공임 비용은 온라인 선결제를 원칙으로 하나,<br />
                차량 점검 후 별도 &#39;수리 서비스&#39;가 필요할 경우 추가 비용이 발생할 수 있습니다.</dd>

            <dt><a href="#">매장에서 추가 비용이 발생하는 경우는 언제인가요?</a></dt>
            <dd>장착점에서 추가 금액이 발생하는 경우는<br />
                - 위치교환, 휠 얼라인먼트 작업 등<br />
                - 자동차 점검 및 수리 등<br />
                의 경우입니다.<br />
                <br />
                추가 금액은 매장에서 현장 결제하시면 됩니다.</dd>

            <dt><a href="#">쿠폰 사용 방법에 대해 알려주세요.</a></dt>
            <dd>쿠폰 받기는 상품 상세 페이지 및 이벤트 페이지에서 가능하고, 쿠폰의 사용은 주문 단계에서 개별 쿠폰의 사용 기준에 따라 적용 가능합니다. 쿠폰의 사용 기준은 마이페이지의 쿠폰 메뉴에서 개별 쿠폰을 클릭하면 상세 내용을 확인하실 수 있습니다.<br />
                <br />
                ※ 거래 취소 시, 유효기간 내 재사용 가능<br />
                ※ 쿠폰의 유효기간 연장 및 환불 불가</dd>

            <dt><a href="#">온라인 구매 시 유의사항에 대해 알려주세요.</a></dt>
            <dd>1. 사이즈를 확인 후에 주문해 주세요.<br />
                잘못 주문하실 경우 지정일 장착이 어렵거나, 비용이 발생할 수 있습니다.<br />
                <br />
                2. 장착점에서 추가 비용이 발행하는 경우, 현장에서 결제하시면 됩니다.<br />
                - TPMS(타이어 공기압 센서) 타입, 런플랫 타이어 등<br />
                - 위치교환, 휠 얼라인먼트 작업 등</dd>

            <dt><a href="#">지금까지 주문한 상품 내역을 확인하고 싶습니다.</a></dt>
            <dd>마이페이지에서 주문 이력을 확인하실 수 있습니다.</dd>

            <dt><a href="#">겨울용 타이어 보관 서비스가 가능한 곳이 있나요?</a></dt>
            <dd>겨울용 타이어 보관 서비스는 매장에 따라 서비스 여부 및 보관 비용에 차이가 있을 수 있습니다.<br />
                매장 검색을 통해 매장의 서비스 여부를 확인해 주시기 바랍니다.</dd>

            <dt><a href="#">런플랫 타이어는 모든 매장에서 장착 가능한가요?</a></dt>
            <dd>런플랫 타이어는 전문 매장에서만 장착 가능합니다.<br />
                매장을 검색한 후 해당 매장에서 런플랫 타이어 장착이 가능한지 확인해 주시기 바랍니다.</dd>

            <dt><a href="#">회원 탈퇴 후 재가입은 가능한지 궁금합니다.</a></dt>
            <dd>네, 재가입 가능합니다.<br />
                회원 탈퇴 시, 회원님의 기본 정보는 즉시 삭제 처리되며, 재가입 시에는 기존 아이디 사용이 불가능합니다.</dd>

            <dt><a href="#">회원 탈퇴는 어떻게 하나요?</a></dt>
            <dd>회원 탈퇴는 마이페이지 내 &#39;개인 정보&#39;에서 하실 수 있습니다.<br />
                <br />
                ※ 회원 탈퇴 시, 고객님께서 보유하셨던 쿠폰은 모두 삭제됩니다. 이점 유의하시기 바랍니다.</dd>

            <dt><a href="#">상품 A/S 받을 수 있나요?</a></dt>
            <dd>고객센터(080-022-8272)로 문의해 주시기 바랍니다.<br />
                단, 고객 과실로 인한 제품 손상은 A/S 불가합니다.</dd>

            <dt><a href="#">상품에 문제가 있어 환불 받고 싶습니다.</a></dt>
            <dd>고객센터(080-022-8272)로 문의해 주시기 바랍니다.</dd>

            <dt><a href="#">카드 포인트로 결제한 경우 환불은 어떻게 받나요?</a></dt>
            <dd>카드 포인트 결제 취소의 경우, 환불은 카드사마다 다른 방식으로 처리됩니다.<br />
                <br />
                거래 취소 시, 사용되었던 신용카드 포인트가 그대로 복구되기도 하며, 출금계좌로 현금 환불되는 경우도 있으므로 자세한 사항은 해당 카드사로 직접 문의하여 주시기 바랍니다.</dd>

            <dt><a href="#">온라인 구매하면 &#039;휠 얼라인먼트&#039;는 무료인가요?</a></dt>
            <dd>휠 얼라인먼트는 하체 정비에 해당하는 유료 서비스입니다.<br />
                서비스 비용은 차종별로 다르므로 해당 매장에 문의하시기 바랍니다.</dd>

        </dl>

        <ol class="notice_01">
            <li>FAQ에서 원하시는 답변을 찾으시지 못하였다면, 1:1 고객 상담을 이용해 주세요.</li>
        </ol>
    </div>
    <!-- 03.list -->
    <!-- 04.btn -->
    <div class="btn02">
        <ul>
            <li><a href="https://m.tstation.com/customer-service/faq.do" class="btnB btnS01">FAQ 전체보기 </a></li>
            <li><a href="https://m.tstation.com/customer-service/qna.do" class="btnB btnS02">1:1 고객 상담 </a></li>
        </ul>
    </div>
    <!-- 04.btn -->
</div>