<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: 'FAQ' }) %>
<div id="container" class="cscenter">
    <!-- 01.search -->
    <form action="/customer-service/faqSearch.do" method="post" id="faqSearchForm">
        <div class="faq_search">
            <div class="search_box">
                <input title="질문 입력" type="text" class="ip_txt01 w100p" id="inqTitNm" name="inqTitNm" placeholder="질문을 입력해 주세요." />
                <button class="btn" type="button" id="faqSearch">검색</button>
            </div>
        </div>
    </form>
    <!-- 01.search -->
    <!-- 02.menu -->
    <div class="faq_menu">
        <ul class="cs_menu01">
            <li class="on"><a href="https://m.tstation.com/customer-service/faq.do?faqCd=10">상품 선택</a></li>
            <li class=""><a href="https://m.tstation.com/customer-service/faq.do?faqCd=20">장착서비스</a></li>
            <li class=""><a href="https://m.tstation.com/customer-service/faq.do?faqCd=30">주문/결제</a></li>
            <li class=""><a href="https://m.tstation.com/customer-service/faq.do?faqCd=40">취소/환불/교환</a></li>
            <li class=""><a href="https://m.tstation.com/customer-service/faq.do?faqCd=60">회원</a></li>
            <li class=""><a href="https://m.tstation.com/customer-service/faq.do?faqCd=90">기타</a></li>
            <!-- TODO: 멤버십 항목 추가 -->
            <li class=""><a href="#">멤버십</a></li>
        </ul>
    </div>
    <!-- 02.menu -->
    <!-- 03.list -->
    <div class="faq_list">


        <dl id="accordion" class="list">

            <dt><a href="#">타이어 1개 또는 3개만 교체 해도 문제가 없나요?</a></dt>
            <dd>마모 정도가 다른 타이어(1개 또는 3개 교체시)를 계속해서 사용할 경우,&nbsp;<br />
                차량 구동축의 밸런스 등에 영향을 줄 수 있으므로 2개 또는 4개 교체를 권장합니다.</dd>

            <dt><a href="#">차종 검색에서 차종이 없는 경우는 어떻게 하나요?</a></dt>
            <dd>고객님 차량에 장착된 타이어 사이즈를 확인하신 후, 재검색 부탁드립니다.&nbsp;<br />
                신차 출고 시 최대한 빠른 시일 내에 업데이트 할 수 있도록 하겠습니다.</dd>

            <dt><a href="#">상품에 대해 궁금한 점들은 어디로 문의하나요?</a></dt>
            <dd>FAQ를 적극 참조해 주시기 바랍니다.<br />
                자세한 문의가 필요하시면, 1:1 고객상담 게시판이나 고객센터로 전화 문의주시면 친절하게 상담해 드리겠습니다.</dd>

            <dt><a href="#">기존 상품과 다른 타이어를 선택해도 되나요?</a></dt>
            <dd>타이어 교환 시, 기존에 사용하던 타이어와 같은 규격 또는 호환 가능한 규격으로 속도, 하중지수가 같거나 높은 타이어를 선택하시면 됩니다.<br />
                <br />
                또한, 4개의 타이어를 가급적 같은 타이어로 장착하시는 것을 권장합니다.<br />
                부득이하게 일부의 타이어만 교환하는 경우, 최소한 동일 축에는 같은 타이어를 장착하셔야 합니다.<br />
                (기본장착 타이어의 전, 후륜 크기가 처음부터 다른 경우는 예외입니다.)<br />
                <br />
                규격이 다를 경우 자동차 속도 부정확성 및 휠 취부 문제로 인해 안전상 문제가 발생할 수 있습니다.</dd>

            <dt><a href="#">티스테이션 온라인과 매장 판매 상품은 동일한가요?</a></dt>
            <dd>동일한 상품입니다.</dd>

            <dt><a href="#">필요한 사이즈가 없을 때는 어떻게 해야 하나요?</a></dt>
            <dd>고객님이 필요로 하시는 상품이 없을 경우, 고객센터(080-022-8272)로 문의해 주시기 바랍니다.</dd>

            <dt><a href="#">타이어 어떻게 고르나요?</a></dt>
            <dd>1. 사이즈를 알고 계시다면, 수치를 입력하시고 원하는 타이어를 선택하세요.<br />
                2. 사이즈를 모르실 경우, 차종으로 검색하신 후 검색되는 사이즈를 확인합니다.<br />
                <br />
                이후,&nbsp;<br />
                ① 주문회원 정보 입력&nbsp;<br />
                ② 장착점/방문일자 선택&nbsp;<br />
                ③ 주문금액 확인 및 결제&nbsp;<br />
                등의 구매 절차를 거치게 됩니다.</dd>

            <dt><a href="#">타이어 생산년도 (제조일자)를 어떻게 알 수 있나요?</a></dt>
            <dd>타이어 옆면에 표시되어 있는 DOT 4자리 숫자를 확인하시면 됩니다.<br />
                앞의 2자리는 생산 주차, 뒤의 2자리는 생산 연도입니다.</dd>

        </dl>

        <ol class="notice_01">
            <li>FAQ에서 원하시는 답변을 찾으시지 못하였다면, 1:1 고객 상담을 이용해 주세요.</li>
        </ol>
    </div>
    <!-- 03.list -->
    <!-- 04.btn -->
    <div class="btn02">
        <a href="https://m.tstation.com/customer-service/qna.do" class="btnB btnS02">1:1 고객 상담 </a>
    </div>
    <!-- 04.btn -->
</div>