<!-- tts-footer // -->
<div id="footer"  class="tts-footer">
    <div class="footer-header clearfix">
        <div class="logo-area float-l"><img src="pc-static-root/images/thetireshop/safe-service/logo_footer_thetireshop.png" alt="더타이어샵" /></div>
        <div class="social-area float-r">
            <p class="txt-white txt-14">고객문의 : 031- 5178 -7000</p>
        </div>
    </div>

    <div class="f_address">
        <div class="inner">
            <ul class="util">
                <li>한국타이어앤테크놀로지(주)</li>
                <li>대표이사 이수일</li>
                <li>경기도 성남시 분당구 판교로 286 (삼평동)</li>
            </ul>
            <p class="copy">Copyright © Hankook Tire. All Rights Reserved. </p>
        </div>
    </div>
</div>
<!-- // tts-footer -->