<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents">
        <div style="display: block; width: 100%; height: auto; vertical-align: middle; text-align: center; background-color: wheat;">
            <p style="padding: 200px 0;">Contents</p>
        </div>
    </div>
</div>
<div class="modal-item instance on">
    <!-- dim 디폴트는 dark. 'white'클래스 추가로 흰색처리 가능. -->
    <div class="dim"></div>

    <div class="middler">
        <!-- 모달 패널(이분분 통째로 디자인해야함). 사이즈 옵션 size-s / size-m(default) / size-l -->
        <div class="modal-pannel size-l">
            <!-- modal-header - modal-action - modal-body 순서변경 금지. modal-header / modal-action 생략은 가능. -->
            <!-- modal-header -->
            <div class="modal-header">
                <h3>개인정보 처리방침</h3>
                <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                    <span class="line-icons close size-30"></span>
                </button>
            </div>

            <!-- modal-body -->
            <div class="modal-body">
                <div class="modal-scroller">
                    <!-- 콘텐츠 영역. 패딩설정 좌우: pd-h- / 상하: pd-h- 로 설정. pd-t- / pd-b- / pd-l- / pd-r- 로 각각 설정가능. -->
                    <div class="container">
                        <div class="full_agree">
                            <div class="layerC">
                                <form id="termsForm" name="termsForm">
                                    <div id="agreeSelect" style="padding:20px;">
                                        <!-- 30 - 개인정보처리방침   -->
                                        <div class="agree_container">
                                            <p class="txt01">한국타이어앤테크놀로지 주식회사(이하 “회사”라 합니다.)는 고객님의 개인정보보호를 매우 중요하게 여기고 있으며, 본 개인정보 처리 방침은 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 과 「개인정보보호법」 등 관련 법률을 준수하고 있으며, 회사가 본 개인정보 처리방침을 개정하는 경우 관계법령에서 정하는 방법에 따라 공지할 것입니다.</p>

                                            <h3>제1장 : 개인정보 수집범위</h3>

                                            <ol class="no02">
                                                <li>1-1. "개인정보"라 함은 살아 있는 개인에 관한 정보로서 성명, 주민등록번호 및 영상 등을 통하여 개인을 알아볼 수 있는 부호, 문자, 음성, 음향, 영상 등에 관한 정보(당해 정보만으로는 특정 개인을 알아볼 수 없더라도 다른 정보와 용이하게 결합하여 알아볼 수 있는 것을 포함합니다)를 말합니다.</li>
                                                <li>1-2. 회사는 본 개인정보 처리방침 제1장 제3조 에서 열거한 귀하의 개인정보만을 수집하며, 이는 회사가 공정하고 적법한 수단에 따라 서비스 제공에 필요한 최소한의 정보입니다. 아울러 선택항목의 경우 귀하께서 제공하지 아니한다는 이유로 기본적인 서비스 이용을 거부하지 않습니다.</li>
                                                <li>1-3. 회원가입 시 수집하는 개인정보 항목(기타 업무상 회사가 수집하는 주요 개인정보의 항목 및 그 항목별 수집목적 등은 별첨을 참조하시기 바랍니다, 이하 제2, 3, 5장도 같습니다.)
                                                    <ol>
                                                        <li>- 필수항목 : 이름, 아이디, 비밀번호, 이메일 주소, 휴대폰번호, 결제정보 (신용카드번호, 은행계좌정보, 휴대폰번호 등), 배송정보 (수취인 성명, 휴대폰번호, 장착점 정보 등)</li>
                                                        <li>- 선택항목 : 차량정보 (차종, 차량번호)</li>
                                                    </ol>
                                                </li>
                                                <li>1-4. 회사는 귀하의 기본적 인권을 현저하게 침해할 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 과거 병력 등 건강상태 및 성생활 등)는 원칙적으로 수집하지 않습니다. 다만, 법률에 수집대상 개인정보가 명시되어 있거나 서비스 제공에 직접적으로 관련되어 필요한 경우로서 귀하의 동의가 있는 경우에는 예외로 합니다.</li>
                                                <li>1-5. 회사는 다음과 같은 방법으로 개인정보를 수집합니다.
                                                    <ol>
                                                        <li>- 운영하는 사이트의 회원가입, 회원정보 수정, 전화, 이메일, 서면양식, 이용문의, 이벤트 응모 등</li>
                                                    </ol>
                                                </li>
                                            </ol>

                                            <h3>제2장 : 개인정보의 수집목적 및 이용목적</h3>

                                            <ol class="no02">
                                                <li>2-1. 1. 회사는 대표적으로 다음의 목적을 위하여 귀하의 개인정보를 처리하며 개인정보 수집 항목 별 이용목적은 별지를 참고하여 주시기 바랍니다.
                                                    <ol class="no01">
                                                        <li>① 홈페이지 회원 가입 및 관리
                                                            <ol>
                                                                <li>ㅇ 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별ㆍ인증, 회원자격 유지ㆍ관리, 제한적 본인확인제 시행에 따른 본인 확인, 서비스 부정 이용 방지, 만 14세 미만 아동의 개인정보 처리 시 법정대리인의 동의 여부 확인, 각종 고지ㆍ통지, 고충 처리 등을 목적으로 개인정보를 처리합니다.</li>
                                                            </ol>
                                                        </li>
                                                        <li>② 서비스 제공, 상품 구매 및 공급 등
                                                            <ol>
                                                                <li>ㅇ 로그인 한 회원을 대상으로 제공되는 각종 컨텐츠 이용 및 이벤트 응모 등을 목적으로 개인정보를 처리합니다.</li>
                                                                <li>ㅇ 상품 구매 및 결제와 상품 공급을 위해 결제정보와 배송정보를 이용합니다</li>
                                                            </ol>
                                                        </li>
                                                        <li>③ 마케팅 및 광고에 활용
                                                            <ol>
                                                                <li>ㅇ 이벤트 등 광고성 정보 전달, 이벤트 당첨 시 물품 배송, 신규 서비스 개발 및 특화, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다. 단, 이벤트 등 광고성 정보는 귀하께서 광고성 정보 수신 동의에 동의한 경우에 한하여 제공됩니다.</li>
                                                            </ol>
                                                        </li>
                                                        <li>④ 고충 처리
                                                            <ol>
                                                                <li>ㅇ 민원인의 신원 확인, 민원 사항 확인, 사실조사를 위한 연락ㆍ통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.</li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li>2-2. 회사는 귀하께서 제공한 개인정보 및 서비스 이용과 관련한 정보에 대하여 귀하가 회사로부터 수준 높은 서비스를 다양하게 받으실 수 있도록 하기 위하여 "www.hankooktire.com" 웹사이트의 회원정보 뿐만 아니라 통합된 하나의 회원 계정(ID 및 비밀번호)을 이용하여 회사가 제공하는 서비스를 제공받을 수 있는 관련 웹사이트(www.tstation.com, m.tstation.com, biz.tstation.com, mbiz.tstation.com )의 회원정보 및 오프라인 고객정보 등 회사가 현재 영위하거나 향후 영위할 사업을 통해 취득하는 회원정보를 통합하여 이용/관리할 수 있습니다. 회원 개인정보의 통합 이용/관리나 회사가 영위하는 사업내용의 추가, 변경과정에서 개인정보의 수집 및 이용목적이 변경될 경우, 귀하로부터 별도로 이에 대한 동의를 얻게 됩니다.</li>
                                            </ol>

                                            <h3>제3장 : 개인정보의 처리 및 보유기간</h3>

                                            <ol class="no02">
                                                <li>3-1. 회사는 법령에 따른 개인정보 보유ㆍ이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인 정보 보유ㆍ이용기간 내에서 개인정보를 처리합니다.</li>
                                                <li>3-2. 각각의 개인정보 처리 및 보유기간은 별지와 같으며 그 외에는 다음과 같습니다.
                                                    <ol class="no01">
                                                        <li>1. 홈페이지 회원 가입 및 관리 : 회원탈퇴 시까지 또는 홈페이지 이용에 따른 채권, 채무관계 정산 시까지. 다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료 시까지
                                                            <ol class="no03">
                                                                <li>1) 관계 법령 위반에 따른 수사ㆍ조사 등이 진행 중인 경우에는 해당 수사ㆍ조사 종료 시까지</li>
                                                                <li>2) 홈페이지 이용에 따른 채권ㆍ채무 관계 잔존 시에는 해당 채권ㆍ채무관계 정산 시까지</li>
                                                            </ol>
                                                        </li>
                                                        <li>2. 재화 및 서비스 제공 : 재화ㆍ서비스 공급 완료 및 요금 결제정산 완료 시까지.다만, 다음의 사유에 해당하는 경우에는 해당 기간 종료 시까지
                                                            <ol class="no03">
                                                                <li>1) “전자상거래 등에서의 소비자 보호에 관한 법률”에 따른 표시ㆍ광고, 계약 내용 및 이행 등에 관한 기록물
                                                                    <ol>
                                                                        <li>- 표시ㆍ광고에 관한 기록 : 6개월</li>
                                                                        <li>- 계약 또는 청약 철회, 대금 결제, 재화 등의 공급 기록 : 5년</li>
                                                                        <li>- 소비자의 불만 또는 분쟁 처리에 관한 기록 : 3년</li>
                                                                    </ol>
                                                                </li>
                                                                <li>2) “통신비밀보호법” 제15조의2 및 동법 시행령 제41조에 따른 통신사실확인자료 보관
                                                                    <ol>
                                                                        <li>- 가입자 전기통신일시, 개시ㆍ종료시간, 상대방 가입자번호, 사용도수, 발신기지국 위치추적자료 : 1년</li>
                                                                        <li>- 컴퓨터 통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월</li>
                                                                    </ol>
                                                                </li>
                                                            </ol>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>

                                            <h3>제4장 : 개인정보의 파기절차 및 방법</h3>

                                            <ol class="no02">
                                                <li>4-1. 회사는 원칙적으로 개인정보 수집 및 이용목적이 달성되거나, 보유 및 이용기간이 경과된 후에는 해당 정보를 지체 없이 파기합니다.</li>
                                                <li>4-2 제4장 제1조에도 불구하고 관계법령에 의해 보관해야 하는 정보는 법령이 정한 기간 동안 보관한 후 파기합니다. 이때 별도 저장 관리되는 개인정보는 법령에 정한 경우가 아니고서는 절대 다른 용도로 이용되지 않습니다.</li>
                                                <li>4-3. 전자적 파일 형태인 경우 복구 및 재생되지 않도록 기술적인 방법을 이용하여 완전하게 삭제하고, 그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.</li>
                                            </ol>

                                            <h3>제5장 : 개인정보의 제3자 제공 및 취급 위탁(국외이전 포함)</h3>

                                            <ol class="no02">
                                                <li>5-1. 회사는 귀하의 개인정보를 제2장 및 별지에서 개인정보의 수집 및 이용 목적에서 명시한 범위 내에서만 처리하며, 별지 외에&nbsp;귀하의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다.<br>
                                                    다만, 다음의 경우는 예외로 하고 있습니다.
                                                    <ol>
                                                        <li>1. 서비스의 제공에 따른 정산을 위하여 필요한 경우</li>
                                                        <li>2. 법령의 규정에 의한 경우</li>
                                                    </ol>
                                                </li>
                                                <li>5-2. 회사는 전문적인 고객지원 및 서비스 제공을 위해 아래와 같이 개인정보 처리 업무를 외부 업체에 위탁하여 운영하고 있습니다. 단, 정보통신서비스의 제공에 관한 계약을 이행하고 이용자 편의 증진 등을 위하여 필요한 경우에는 정보통신망 이용촉진 및 정보보호 등에 관한 법률 제25조 제2항에 따라 위탁에 관한 사항을 개인정보 취급방침을 통해 공지하고 고지절차와 동의절차는 거치지 않을 수 있습니다.</li>
                                            </ol>

                                            <p class="txt01">[국내의 수탁자]<br>
                                                이하의 수탁사를 포함하여 별지를 참고하여 주시기 바랍니다.</p>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>수탁자</th>
                                                        <th>위탁하는 업무의 내용</th>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜한국네트웍스, 콘센트릭스서비스코리아 유한회사</td>
                                                        <td>DB 시스템 유지/보수</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <p class="txt01">[국외의 수탁자]<br>
                                                회사의 시스템을 개편하면서 아래와 같이 귀하의 개인정보를 국외로 이전하게 되었습니다.</p>

                                            <ol>
                                                <li>- 이전되는 개인정보 항목: 이름, 아이디, 비밀번호, 이메일 주소, 휴대폰번호, 결제정보 (신용카드번호, 은행계좌정보, 휴대폰번호 등), 배송정보 (수취인 성명, 휴대폰번호, 장착점 정보 등), 차량정보 (차종, 차량번호)</li>
                                                <li>- 개인정보가 이전되는 국가, 이전일시 및 이전방법, 개인정보를 이전받는 자, 개인정보 이용목적 및 보유·이용기간은 다음과 같습니다.</li>
                                            </ol>

                                            <p>&nbsp;</p>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>개인정보를 이전받는자(수탁자 명칭)</th>
                                                        <th>이전국가</th>
                                                        <th>이전일시 및 이전방법</th>
                                                        <th>개인정보 이용목적(위탁하는 업무의 내용)</th>
                                                        <th>보유∙이용기간</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Amazon Web Services, Inc</td>
                                                        <td>대한민국</td>
                                                        <td>정보통신망을 통한 수시 전송</td>
                                                        <td>데이터 보관 및 백업, 시스템 운영 서버 제공</td>
                                                        <td>회사와 [Amazon Web Services, Inc] 사이의 시스템 유지∙관리 계약 종료 시 또는 회원의 회원 탈퇴 시까지</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <p class="txt01">회사는 위탁계약 시 개인정보보호의 안전을 기하기 위하여 개인정보보호 관련 지시 엄수, 개인정보에 관한 금지 및 사고시의 책임부담 등을 명확히 규정하여 당해 계약 내용을 서면 및 전자적으로 보관하고 있으며, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다. 동 업체가 변경될 경우, 회사는 변경된 업체 명을 개인정보 처리방침 화면에 공지합니다.</p>

                                            <h3>제6장 : 개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항</h3>

                                            <p class="txt01">이용자 개개인에게 개인화되고 맞춤화된 서비스를 제공하기 위해서 회사는 귀하의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버가 사용자의 브라우저에게 보내는 조그마한 데이터 꾸러미로 귀하 컴퓨터의 하드디스크에 저장됩니다. 회사가 쿠키를 통해 수집하는 정보는 회사 ID에 한하며, 그 외의 다른 정보는 수집하지 않습니다.</p>

                                            <ol class="no01">
                                                <li>1. 쿠키의 사용 목적<br>
                                                    회원과 비회원의 접속 빈도나 방문 시간 등의 분석, 이용자의 취향과 관심분야의 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공, 서비스 개편 등의 척도 활용, 유로 서비스 이용 시 이용기간 안내, 게시판 글 등록</li>
                                                <li>2. 쿠키 설정 거부 방법<br>
                                                    귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br>
                                                    * 설정방법 예(인터넷 익스플로러의 경우) : 웹 브라우저 상단의 도구 &gt; 인터넷 옵션 &gt; 개인정보 (단, 쿠키 설치를 거부하였을 경우 로그인이 필요한 일부 서비스의 이용이 어려울 수 있습니다.)</li>
                                            </ol>

                                            <h3>제7장 : 개인정보보호를 위한 기술적/관리적 대책</h3>

                                            <ol class="no02">
                                                <li>7-1. 기술적인 대책
                                                    <ol>
                                                        <li>1. 회사는 귀하의 개인정보를 관련 법률규정 및 내부정책에 따라 보안기능을 통해 안전하게 보호하고 있습니다.</li>
                                                        <li>2. 회사는 백신프로그램을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현될 경우 백신이 나오는 즉시 이를 적용함으로써 개인정보가 침해되는 것을 방지하고 있습니다.</li>
                                                        <li>3. 회사는 귀하의 비밀번호를 암호화하여 저장 및 관리하고 있으며, 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치를 채택하고 있습니다.</li>
                                                        <li>4. 회사는 해킹 등에 의해 귀하의 개인정보가 유출되는 것을 방지하기 위하여, 외부로부터의 침입을 차단하는 장치를 이용하고 있으며 24시간 X 365일 침입을 감시하고 있습니다.</li>
                                                    </ol>
                                                </li>
                                                <li>7-2. 관리적인 대책
                                                    <ol>
                                                        <li>1. 위와 같은 노력 이외에 귀하 스스로도 제3자에게 비밀번호 등이 노출되지 않도록 주의하셔야 합니다.<br>
                                                            특히 비밀번호 등이 공공장소에 설치한 PC를 통해 유출되지 않도록 항상 유의하시기 바랍니다. 귀하의 ID와 비밀번호는 반드시 본인만 사용하시고 비밀번호를 자주 바꿔주시는 것이 좋습니다.</li>
                                                        <li>2. 회사는 개인정보 취급직원을 개인정보 관리업무를 수행하는 자 및 업무상 개인정보의 취급이 불가피 한 자로 엄격히 제한하고 담당직원에 대한 수시 교육을 통하여 개인정보처리방침의 준수를 강조하고 있습니다.</li>
                                                    </ol>
                                                </li>
                                            </ol>

                                            <h3>제8장 : 이용자 및 법정대리인의 권리와 행사방법</h3>

                                            <ol class="no02">
                                                <li>8-1. 귀하는 언제든지 ‘마이페이지’를 통하여 자신의 개인정보를 조회하거나 수정할 수 있습니다.</li>
                                                <li>8-2. 귀하는 언제든지 '회원탈퇴' 등을 통해 개인정보의 수집 및 이용 동의를 철회할 수 있으며, 처리 정지 및 삭제를 요구할 수 있습니다.</li>
                                                <li>8-3. 귀하가 서면, 전화, 전자우편, 모사전송(FAX) 등을 통하여 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.<br>
                                                    또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.</li>
                                                <li>8-4. 귀하는 귀하의 동의를 받아 보유하고 있는 거래정보 등에 대하여 열람, 제공을 요구할 수 있으며, 이 경우 회사는 지체 없이 열람할 수 있도록 필요한 조치를 합니다.</li>
                                                <li>8-5. 만 14세 미만 아동의 경우, 법정대리인이 아동의 개인정보를 조회하거나 수정할 권리, 수집 및 이용 동의를 철회할 권리를 가집니다.</li>
                                            </ol>

                                            <h3>제9장 : 개인정보 관리책임자 및 상담ㆍ신고</h3>

                                            <ol class="no02">
                                                <li>9-1. 귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 회사는 개인정보 보호책임자를&nbsp;두고 있습니다.<br>
                                                    귀하의 개인정보와 관련한 문의사항이 있으시면 아래의 개인정보 보호책임자 또는 개인정보 보호담당자에게 연락 주시기 바랍니다.<br>
                                                    <strong>개인정보 보호책임자 박현민 상무</strong><br>
                                                    031-5178-7024<br>
                                                    <a href="mailto:hpark@hankooktire.com">hpark@hankooktire.com </a><br>
                                                    <strong>개인정보 보호담당자 고영석</strong><br>
                                                    G.IT운영팀<br>
                                                    031-5178-7157<br>
                                                    <a href="mailto:privacy@hankooktire.com">privacy@hankooktire.com</a></li>
                                                <li>9-2. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의 가능 합니다.
                                                    <ol>
                                                        <li>1. 개인정보침해신고센터 (http://privacy.kisa.or.kr 국번없이 118)</li>
                                                        <li>2. 대검찰청 사이버수사과 (http://www.spo.go.kr 국번없이 1301)</li>
                                                        <li>3. 경찰청 사이버안전국 (http://www.ctrc.go.kr 국번없이 182)</li>
                                                        <li>4. 개인정보분쟁조정위원회 (http://kopico.go.kr 02-2100-2499)</li>
                                                    </ol>
                                                </li>
                                            </ol>

                                            <h3>제10장 : 개인정보처리방침 변경</h3>

                                            <ol class="no02">
                                                <li>10-1. 이 개인정보 처리방침은 2019년 11월 1일부터 적용됩니다</li>
                                                <li>10-2. 귀하는 언제든지 '회원탈퇴' 등을 통해 개인정보의 수집 및 이용 동의를 철회할 수 있습니다.
                                                    <ol>
                                                        <li>- 2011.09.13~2012.06.28 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20110913">자세히 보기</a>)</li>
                                                        <li>- 2012.06.29~2013.02.13 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20120629">자세히 보기</a>)</li>
                                                        <li>- 2013.02.14~2013.07.29 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20130214">자세히 보기</a>)</li>
                                                        <li>- 2013.07.30~2014.07.17 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20130730">자세히 보기</a>)</li>
                                                        <li>- 2014.07.18~2017.03.29 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20140718">자세히 보기</a>)</li>
                                                        <li>- 2017.03.30~2017.07.06 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20170330">자세히 보기</a>)</li>
                                                        <li>- 2017.07.07~2017.12.31 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20170707">자세히 보기</a>)</li>
                                                        <li>- 2018.01.01~2018.03.26 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20180101">자세히 보기</a>)</li>
                                                        <li>- 2018.03.27~2018.04.11 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20180327">자세히 보기</a>)</li>
                                                        <li>- 2018.04.12~2018.09.18 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20180412">자세히 보기</a>)</li>
                                                        <li>- 2018.09.19~2018.12.05 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20180919">자세히 보기</a>)</li>
                                                        <li>- 2018.12.06~2019.03.24 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20181206">자세히 보기</a>)</li>
                                                        <li>- 2019.03.25~2019.10.31 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20190325">자세히 보기</a>)</li>
                                                        <li>- 2019.11.01~2020.03.27 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20191101">자세히 보기</a>)</li>
                                                        <li>- 2020.03.28~2020.05.28 적용 (<a href="/terms/termsmain.do?agrmSctCd=30&amp;openDt=20200328">자세히 보기</a>)</li>
                                                    </ol>
                                                </li>
                                            </ol>

                                            <h3>[별첨]</h3>

                                            <h4>1. 개인정보의 수집·이용 및 제3자 제공 현황</h4>

                                            <h5>(1) 회사 사업장 방문고객</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 개인정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 개인정보: 성명, 생년월일, 휴대전화번호, 회사명, 소속</li>
                                                                <li>◦ 차량번호: 차량번호</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>개인정보의 처리 목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 사업장 방문예약 신청</li>
                                                                <li>◦ 사업장 방문 이후 사고발생시 확인 및 관련조치 실시</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 개인정보 수집 및 이용에 동의한 날로부터 1년</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>(2) 타이어 등 부품구매고객</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 개인정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, 주소, 이동전화번호, 전화번호, 차량등록번호, 차명(차종), 차량주행거리, 생년월일, 이메일 주소</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>개인정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 고객의 자동차 점검 및 부품(타이어 등) 교체 시기 통보, 회사가 시행하는 고객사은행사정보 제공</li>
                                                                <li>◦ 자동차 보험 할인 혜택 제공 및 겨울용 타이어 구매 고객의 사고율 분석을 통한 보험 상품 개발</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 위 목적 달성시, 고객의 동의 철회시, 또는 수집동의일로부터 5년까지 고객이 구매한 제품의 품질보증기간이 수집동의일로부터 5년을 초과하는 경우 품질보증기간의 만기까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>동의를 거부할 권리 및 거부할 경우의 불이익</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 개인정보 제공 동의를 거부할 경우 제휴 할인 혜택 및 서비스 제공을 받을 수 없음</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>(3) 온라인몰 구매고객</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 개인정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, ID, 비밀번호, e-mail, 전화번호, 주소, 은행계좌정보, 신용카드정보, 주소 등</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>개인정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, ID, 비밀번호 : 회원제 서비스 이용에 따른 본인 식별 절차에 이용</li>
                                                                <li>◦ 전화번호, 휴대전화번호, e-mail : 고지사항 전달, 본인 의사 확인, 불만 처리 등 원활한 의사소통 경로의 확보, 새로운 서비스/신상품이나 이벤트 정보의 안내</li>
                                                                <li>◦ 은행계좌정보, 신용카드정보 : 상품구매에 대한 결제</li>
                                                                <li>◦ 주소 : 청구서, 경품과 쇼핑 물품 배송에 대한 정확한 배송지의 확보</li>
                                                                <li>◦ 회사명, 사업자등록번호 등 : 대량주문 견적시</li>
                                                                <li>◦ 그 외 선택항목 : 개인맞춤 서비스를 제공하기 위한 자료, 인구통계학적 분석 자료 (이용자의 연령별, 성별, 지역별 통계분석)</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 관계법령에서 별도로 보존의무를 부과하고 있는 사항 이외에는 수집목적의 달성 또는 회원탈퇴시까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 카드사 : 신한카드, 삼성카드, KB카드, 현대카드 등</li>
                                                                <li>◦ 쇼핑몰 운영 대행사: (주)인터파크비즈마켓</li>
                                                                <li>◦ 상품관련 파트너 : 케이플러스, 카툴스 등</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공하는 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 회원가입시 수집한 회원정보 중 마케팅 목적에 필요한 최소한의 정보(성명, 주민등록번호, 주소, 전화번호, e-mail 등)</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자의 이용 목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 카드사 : 할인 및 적립금 적립 서비스 내역 확인 시 이용</li>
                                                                <li>◦ 쇼핑몰 운영대행사: 쇼핑몰 주문 처리를 위한 최소한의 이용</li>
                                                                <li>◦ 쇼핑몰 시스템 운영대행사: 쇼핑몰 시스템의 유지 보수를 위한 이용</li>
                                                                <li>◦ 상품관련 파트너 : 상품주문내역 확인 및 원활한 배송을 위해 이용</li>
                                                                <li>◦ 마케팅제휴 파트너 : 이벤트 진행 시 이용</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자의 보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 업체와의 제휴계약 종결시까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>(4) 가맹자 사업자</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 개인정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, 주소, 직업 등성명, ID, 비밀번호, e-mail, 전화번호, 주소, 은행계좌정보, 신용카드정보, 학력, 어학 및 자격사항, 신체정보, 가족사항, 병역, 경력사항, 회사명, 사업자등록번호, 회사주소 등</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>개인정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ T’Station 사업 운영 및 가맹점 관리</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 개인정보 수집 및 이용에 동의한 날로부터 5년</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 신용정보 집중기관, 신용정보업자, 신용정보 제공이용자</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공하는 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 개인식별정보 (성명, 주소, 직업 등), 신용거래현황 (‘T’Station 가맹계약’ 이전 및 이후의 거래 현황 포함), 신용불량정보 (연체 및 거래정지 경력 등)</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자의 이용 목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 신용 판단, 공공기관 정책자료 활용</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자의 보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 보유 및 이용목적이 달성될 때까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>(5) 입사지원자<br>
                                                [일반개인정보]</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 개인정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, 국적, 주소, 전화번호, 휴대전화번호, 학력, 성적, 병역, 경력, 해외 체류경험 및 연수활동, 사회활동, 어학 및 기타자격, 수상경력, 취미, 특기, 자기소개</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>개인정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 채용전형의 진행, 진행단계별 결과 등 채용관련 정보 안내 및 인재 풀 구성</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 채용전형 결과 통보일로부터 1개월, 지원자가 삭제 요청할 경우 삭제됨.</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>[민감정보]</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 고유식별정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 보훈 및 장애인 대상여부</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>고유식별정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 채용전형의 진행, 진행단계별 경과 등 채용정보 안내 및 인재풀 구성</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 채용전형 결과 통보일로부터 1개월, 지원자가 삭제 요청할 경우 삭제됨.</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>(6) 근로자<br>
                                                [일반개인정보]</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 개인정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, 연락처, 주소, 차량번호, 계좌번호, 가족관계 등</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>개인정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 급여, 복지, 사내 업무 수행을 실시하기 위한 최소한의 정보 수집</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 퇴사 후 5년까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>[고유식별정보]</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 고유식별정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 주민등록번호(법령이 허용하는 경우에 한함), 여권번호, 운전면허번호</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>고유식별정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 소득세 원천징수 및 연말정산, 국민연금, 건강보험, 고용보험, 산재보험 업무 처리, 해외 출장, 사내 타이어 제공등을 시행하기 위함</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 퇴사 후 5년까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>[민감정보]</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 민감정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 건강검진기록부 내 기재정보</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>민감정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 산업안전보건법상 건강관리의무 준수 및 전 사원의 건강한 생활을 위한 건강검진 실시 시행</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 퇴사 후 5년까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 국세청, 근로복지공단, 국민연금공단, 고용보험관리공단, 산재보험관리공단, 국민건강보험공단, 고용노동부</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공하는 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, 연락처, 주소, 계좌번호, 가족관계, 급여수령액, 주민등록번호(법령이 허용하는 경우에 한함)</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자의 이용목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 근로소득세 원천징수 및 연말정산, 4대보험 처리, 휴직신고, 퇴직금 지급, 제출된 각종 증명서, 자격증 등의 진위여부 확인</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>제공받는 자의 보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 보유 및 이용목적이 달성될 때까지</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h5>(7) 거래처</h5>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>처리하는 개인정보의 항목</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 성명, 연락처, E-mail</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>개인정보의 처리목적</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 회사 입찰 요청 안내 및 입찰 결과 통보</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>보유 및 이용기간</th>
                                                        <td>
                                                            <ol class="no03">
                                                                <li>◦ 개인정보 수집 및 이용에 동의한 날로부터 5년</li>
                                                            </ol>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <h4>2. 개인정보 처리위탁 현황</h4>

                                            <div class="tbl">
                                                <table>
                                                    <tbody>
                                                    <tr>
                                                        <th>수탁자</th>
                                                        <th>위탁하는 업무의 내용</th>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜마이다스아이티</td>
                                                        <td>개인정보 수집 및 변경</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜인터파크비즈마켓</td>
                                                        <td>개인정보수집 및 변경, 생일선물 지급 등 복지혜택 제공 전산시스템 구축 및 유지보수, 고객상담</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜멀티캠퍼스, ㈜휴넷</td>
                                                        <td>개인정보 수집 및 변경, 사내교육 실시 및 관리, 교육 안내 문자/메일 발송</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜레드캡투어</td>
                                                        <td>개인정보 수집 및 변경, 해외출장관련 안내 문자 발송</td>
                                                    </tr>
                                                    <tr>
                                                        <td>코리아크레딧뷰로㈜</td>
                                                        <td>시스템 접속 인증 문자 발송</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜LG 유플러스, 스마트로, 블루월넛</td>
                                                        <td>결제서비스, 에스크로서비스</td>
                                                    </tr>
                                                    <tr>
                                                        <td>택배사 (한진, 롯데, KG로지스, 트라넷, CJ대한통운, 로젠, 옐로우캡, 아주, 우체국, 일양로지스, 동부익스프레스, KGB, 편의점, 이노지스, 로엑스, 천일, 경동, 대신</td>
                                                        <td>상품배송 업무 및 배송지키미(배송위치, 도착정보) 서비스 제공</td>
                                                    </tr>
                                                    <tr>
                                                        <td>하나은행㈜, 미래에셋증권㈜</td>
                                                        <td>퇴직금 중간정산 및 지급 업무 처리</td>
                                                    </tr>
                                                    <tr>
                                                        <td>SCI평가정보㈜, 한국모바일인증㈜</td>
                                                        <td>실명/본인 인증</td>
                                                    </tr>
                                                    <tr>
                                                        <td>티스테이션, The Tire Shop 및 기타 대리점 (대리점 목록은 한국타이어앤테크놀로지 홈페이지 www.hankooktire.com 참조)</td>
                                                        <td>개인정보 수집 및 변경, 고객의 자동차 점검 및 부품(타이어 등) 교체시기 통보, 회사가 시행하는 고객 사은행사 정보 제공 기타 회사의 제품 소개, 정비이력 조회</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜한국네트웍스, 콘센트릭스서비스코리아 유한회사, Amazon Web Services, Inc</td>
                                                        <td>데이터 보관 및 백업, 시스템 운영 서버 제공, 방문 등록 시스템 운영 및 유지/보수</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜스프링웍스, ㈜매그넘빈트, 바이뎀</td>
                                                        <td>사이트 관리(이벤트 운영/당첨자 발표), 고객문의/불만 처리</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜다우기술, ㈜케이티엠하우스</td>
                                                        <td>사내 업무처리 관련 안내 문자 발송, 카카오 알림톡 메시지 발송 업무</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜상경앤에스</td>
                                                        <td>픽업 및 딜리버리 서비스</td>
                                                    </tr>
                                                    <tr>
                                                        <td>삼성화재㈜</td>
                                                        <td>겨울용 타이어 구매 고객의 사고율 분석</td>
                                                    </tr>
                                                    <tr>
                                                        <td>㈜케이티엠하우스, ㈜엡트웰브, ㈜다우기술, ㈜인터파크 비즈마켓</td>
                                                        <td>모바일 상품권(주유권 등) 발송</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- //30 - 개인정보처리방침 -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>