<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <section>

        <!-- 패딩/마진은 pd- / mg- 로 조정 -->
        <div class="container">
            <div class="join-end-area">
                <div class="sns-register-end-icon">
                    <span class="line-icons social-icon-box social-icon-box-naver social-naver"></span>
                    <span class="line-icons arrow-right size-24"></span>
                    <i></i>
                </div>
                <p class="tstation">네이버 계정으로 인증이 완료되었습니다.</p>
                <!-- TODO: SNS 인증 주최에 따라 변경 -->
                <!--<div class="sns-register-end-icon">
                    <span class="line-icons social-icon-box social-icon-box-kakao social-kakao"></span>
                    <span class="line-icons arrow-right size-24"></span>
                    <i></i>
                </div>
                <p class="tstation">카카오 계정으로 인증이 완료되었습니다.</p>
                <div class="sns-register-end-icon">
                    <span class="line-icons social-icon-box social-icon-box-facebook social-fb"></span>
                    <span class="line-icons arrow-right size-24"></span>
                    <i></i>
                </div>
                <p class="tstation">페이스북 계정으로 인증이 완료되었습니다.</p>-->
            </div>
            <div style="width: 520px; margin: 0 auto;">
                <div class="sns-member-register-area">
                    <div class="member-info-bx">
                        <h3>회원정보</h3>
                        <dl>
                            <dt>아이디(이메일)</dt>
                            <dd>admin@naver.com</dd>
                            <dt>이름</dt>
                            <dd>홍길동</dd>
                            <dt>휴대폰</dt>
                            <dd>010 - 1122 -3344</dd>
                        </dl>
                        <p class="txt">* SNS 회원정보는 본인인증 후 확인된 정보로  자동 업데이트 됩니다.</p>
                    </div>
                    <div class="service-agree-bx pd-b-2u">
                        <h3>서비스 약관동의</h3>

                        <ul class="mg-t-2u">
                            <li class="flex-between">
                                <label class="check-item">
                                    <input type="checkbox" />
                                    <div class="icon-holder">
                                        <span class="line-icons square size-20"></span>
                                    </div>
                                    <div class="labelling">
                                        <span class="label-txt mg-h-1u txt-12">전체선택</span>
                                    </div>
                                </label>
                            </li>
                            <li class="flex-between">
                                <label class="check-item">
                                    <input type="checkbox" />
                                    <div class="icon-holder">
                                        <span class="line-icons square size-20"></span>
                                    </div>
                                    <div class="labelling">
                                        <span class="label-txt mg-h-1u txt-12">T’Station 이용약관 동의(필수)</span>
                                    </div>
                                </label>
                                <a href="#" class="txt-12 txt-underline line-32 popup-full" data-rel="https://m.tstation.com/terms/popup/singleterms.do?agrmSctCd=10">내용보기</a>
                            </li>
                            <li class="flex-between">
                                <label class="check-item">
                                    <input type="checkbox" />
                                    <div class="icon-holder">
                                        <span class="line-icons square size-20"></span>
                                    </div>
                                    <div class="labelling">
                                        <span class="label-txt mg-h-1u txt-12">개인정보처리방침 동의(필수)</span>
                                    </div>
                                </label>
                                <a href="#" class="txt-12 txt-underline line-32 popup-full" data-rel="https://m.tstation.com/terms/popup/singleterms.do?agrmSctCd=30">내용보기</a>
                            </li>
                            <li class="flex-between">
                                <label class="check-item">
                                    <input type="checkbox" />
                                    <div class="icon-holder">
                                        <span class="line-icons square size-20"></span>
                                    </div>
                                    <div class="labelling">
                                        <span class="label-txt mg-h-1u txt-12">마케팅 활용을 위한 수집 및 이용동의(선택)</span>
                                    </div>
                                </label>
                                <a href="#" class="txt-12 txt-underline line-32 popup-full" data-rel="https://m.tstation.com/terms/popup/singleterms.do?agrmSctCd=60">내용보기</a>
                            </li>
                        </ul>

                        <div class="mg-t-3u">
                            <p class="txt-12 txt-neutral3">선택사항에 동의하지 않으셔도 T’Station의 서비스는 이용 하실 수 있습니다.</p>
                            <p class="txt-12 txt-primary">마케팅 활용을 위한 수집 및 이용 동의 시 추가 할인 쿠폰과 더 많은 혜택이 제공됩니다.</p>
                        </div>
                    </div>

                    <p class="txt-12 txt-primary">정보활용동의 시 다양한 혜택, 쿠폰선물등을 받아 보실 수 있습니다.</p>
                    <div>
                        <ul>
                            <li class="float-l">
                                <label class="check-item">
                                    <input type="checkbox">
                                    <div class="icon-holder">
                                        <span class="line-icons square size-20"></span>
                                    </div>
                                    <div class="labelling">
                                        <span class="label-txt mg-h-1u txt-12">마케팅 활용을 위한 수집 및 이용동의(선택)</span>
                                    </div>
                                </label>
                            </li>
                            <li class="float-r"><a href="#" class="txt-12 txt-underline line-32 popup-scarce" data-width="w900" data-rel="https://www.tstation.com/terms/popup/singleterms.do?agrmSctCd=60">내용보기</a></li>
                        </ul>
                    </div>
                    <p class="txt-12 txt-neutral2 mg-t-2u">
                        <a href="#" class="popup-full txt-underline txt-w500" data-rel="https://www.tstation.com/terms/popup/singleterms.do?agrmSctCd=10">Tstation.com 이용약관</a>,
                        <a href="#" class="popup-full txt-underline txt-w500" data-rel="https://www.tstation.com/terms/popup/singleterms.do?agrmSctCd=30">개인정보 수집 및 이용</a>,
                        <a href="#" class="popup-full txt-underline txt-w500" data-rel="https://www.tstation.com/terms/popup/singleterms.do?agrmSctCd=120">개인정보 제공</a>
                        정책 내용을 확인하였으며, 동의합니다.
                    </p>

                    <button type="button" class="btn-item btn-neutral btn-ol round full-w mg-t-10u btnRegist">
                        <span class="label-txt"><i class="icon-phone"></i>휴대폰 본인인증</span><!-- 202012 pub fixed -->
                    </button>
                    <p class="mg-t-2u txt-12 txt-center txt-neutral2">휴대폰 본인인증 후 회원가입이 완료됩니다.</p>
                </div>
            </div>
        </div>
    </section>
</div>