<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents" class="">
        <h1 style="margin: 0 auto; width: 500px; text-align: center">KMC 인증 API 페이지<br /><small>(외부 페이지로 퍼블리싱 페이지가 따로 존재하지 없음)</small></h1>
    </div>
</div>