<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents">
        <div style="display: block; width: 100%; height: auto; vertical-align: middle; text-align: center; background-color: wheat;">
            <p style="padding: 200px 0;">Contents</p>
        </div>
    </div>
</div>
<div class="modal-item instance on">
    <!-- dim 디폴트는 dark. 'white'클래스 추가로 흰색처리 가능. -->
    <div class="dim"></div>

    <div class="middler">
        <!-- 모달 패널(이분분 통째로 디자인해야함). 사이즈 옵션 size-s / size-m(default) / size-l -->
        <div class="modal-pannel size-l">
            <!-- modal-header - modal-action - modal-body 순서변경 금지. modal-header / modal-action 생략은 가능. -->
            <!-- modal-header -->
            <div class="modal-header">
                <h3>개인정보 제공 및 위탁안내</h3>
                <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                    <span class="line-icons close size-30"></span>
                </button>
            </div>

            <!-- modal-body -->
            <div class="modal-body">
                <div class="modal-scroller">
                    <!-- 콘텐츠 영역. 패딩설정 좌우: pd-h- / 상하: pd-h- 로 설정. pd-t- / pd-b- / pd-l- / pd-r- 로 각각 설정가능. -->
                    <div class="container">
                        <div class="full_agree">
                            <div class="layerC">
                                <form id="termsForm" name="termsForm">
                                    <div id="agreeSelect" style="padding:20px;">
                                        <!-- 120 - 개인정보 제공 및 위탁안내   -->
                                        <div class="agree_container">
                                            <h2>개인정보 제3자 제공 및 위탁 안내</h2>

                                            <p class="txt01">한국타이어앤테크놀로지 주식회사(이하 “회사”라 합니다)는 본 서비스 상에서 회원의 개인정보를 회사의 개인정보처리방침 제2조(개인정보의 수집 및 이용목적)와 그 별지에서 고지한 범위 내에서 사용하며, 회원의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 회원의 개인정보를 외부에 제공하지 않습니다. 단, 결제와 관련하여, 다음 각 호의 경우에는 주의를 기울여 개인정보를 이용 및 제공할 수 있습니다.</p>

                                            <h3>■ 수집한 개인정보의 제 3자 제공</h3>

                                            <ol class="no01">
                                                <li><strong>1) 신용카드 결제</strong>

                                                    <ol class="no03">
                                                        <li>- 제공받는 자 : 한국신용카드결제㈜, 퍼스트데이터코리아, 블루월넛</li>
                                                        <li>- 제공받는 자의 이용 목적 : 신용카드 결제</li>
                                                        <li>- 제공받는 자의 이용 목적 : 거래정보, 신용카드번호</li>
                                                        <li>- 개인정보의 보유 및 이용기간 : 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다 (단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)</li>
                                                    </ol>
                                                </li>
                                                <li><strong>2) 계좌이체 결제</strong>
                                                    <ol class="no03">
                                                        <li>- 제공받는 자 : 금융결제원</li>
                                                        <li>- 제공받는 자의 이용 목적 : 계좌이체 결제 처리</li>
                                                        <li>- 제공받는 자의 이용 목적 : 거래정보</li>
                                                        <li>- 개인정보의 보유 및 이용기간 : 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다 (단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)</li>
                                                    </ol>
                                                </li>
                                                <li><strong>3) 가상계좌 결제</strong>
                                                    <ol class="no03">
                                                        <li>- 제공받는 자 : 세틀뱅크</li>
                                                        <li>- 제공받는 자의 이용 목적 : 가상계좌 결제 처리</li>
                                                        <li>- 제공받는 자의 이용 목적 : 거래정보, 계좌정보</li>
                                                        <li>- 개인정보의 보유 및 이용기간 : 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다 (단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)</li>
                                                    </ol>
                                                </li>
                                                <li><strong>4) 휴대폰 결제</strong>
                                                    <ol class="no03">
                                                        <li>- 제공받는 자 : ㈜다날</li>
                                                        <li>- 제공받는 자의 이용 목적 : 휴대폰 결제 처리</li>
                                                        <li>- 제공받는 자의 이용 목적 : 거래정보, 이메일, 이용자 IP Address</li>
                                                        <li>- 개인정보의 보유 및 이용기간 : 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다 (단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)</li>
                                                    </ol>
                                                </li>
                                                <li><strong>5) 현금영수증 발행</strong>
                                                    <ol class="no03">
                                                        <li>- 제공받는 자 : 국세청, 한국신용카드결제㈜, 퍼스트데이터코리아</li>
                                                        <li>- 제공받는 자의 이용 목적 : 현금영수증 발급 처리</li>
                                                        <li>- 제공받는 자의 이용 목적 : 거래정보, 고유식별정보, 휴대전화번호, 사업자등록번호</li>
                                                        <li>- 개인정보의 보유 및 이용기간 : 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다 (단, 다른 법령에 특별한 규정이 있을 경우 관련 법령에 따라 보관)</li>
                                                    </ol>
                                                </li>
                                            </ol>
                                            <!-- <p class="txt01"><strong>정보통신서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적, 기술적인 사유로 회원으로부터 통상의 동의를 받는 것이 현저히 곤란한 경우</strong></p>

                                                        <p class="txt01"><strong>법령의 규정에 의거하거나 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관이 개인정보의 제공을 요청하는 경우</strong></p> --></div>
                                        <!-- //120 - 개인정보 제공 및 위탁안내 -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>