<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
    <title><%- locals.blocks.title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="assets/fonts/NotoSansKR/NotoSansKR.css" />
    <link rel="stylesheet" type="text/css" href="assets/fonts/LineIcons/LineIcons.css" />
    <link rel="stylesheet" type="text/css" href="assets/fonts/material-icons/material-icons.css" />
    <link rel="stylesheet" href="assets/styles/style.css" />
    <link rel="stylesheet" href="assets/styles/animate.css" />
    <script type="text/javascript" src="assets/vendors/jquery-3.3.1.min.js"></script>
</head>
<body>
    <%- locals.body %>
    <script src="assets/scripts/prototype.js"></script>
</body>
</html>