<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: '기획전' }) %>
<main id="main">
    <div class="tab-item">
        <a href="#" class="on" data-analytics-click="특별기획전">특별기획전</a><!-- 20220713 -->
        <a href="" class="" data-analytics-click="상시기획전">상시기획전</a><!-- 20220713 -->
    </div>

    <!-- 콘텐츠 영역 -->
    <div class="container">
        <script>
            $(document).ready(function () { $('body').addClass('bg-light1') });
        </script>

        <section class="ts-deal-header-section">
            <div class="ts-deal-key-visual">
                <img src="mc-static-root/images/deal/kv_exhibition_mc.png" alt="특별기획전" /><!-- 20220713 -->
            </div>
            <div class="ts-deal-filter">
                <!-- TODO: 차량정보 있을때 -->
                <!--<div class="ts-deal-my-car">
                    <div class="my-car-info">
                        <div class="my-car-info-detail">
                            <ul>
                                <li>
                                    <div class="my-car-info-item">
                                        <img src="mc-static-root/images/common/graphics_ts_deal_car.svg" alt="" />
                                        <span>기아 K5 2.0 가솔린</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="my-car-info-item">
                                        <img src="mc-static-root/images/common/graphics_ts_deal_wheel.svg" alt="" />
                                        <span>245/45R18</span>
                                    </div>
                                </li>
                            </ul>
                            <button type="button" class="btn-item btn-neutral btn-ol round btn-search">
                                <span class="label-txt">재검색</span>
                                <span class="line-icons refresh size-24"></span>
                            </button>
                        </div>
                    </div>
                </div>-->
                <!-- TODO: 차량정보 없을때 -->
                <div class="ts-deal-my-car">
                    <button type="button" class="btn-item btn-search-my-car">
                        <span class="label-txt">내 차에 맞는 상품 검색</span>
                        <span class="line-icons chev-right size-24"></span>
                    </button>
                </div>

                <div class="filter-bar-wrapper no-sticky">
                    <!-- 사용처 -->
                    <div class="filter-bar">
                        <div class="label"><span>사용처</span></div>
                        <div class="filter">
                            <div class="swiper-container swiper-filter-deal">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <label class="radio-item">
                                            <input type="radio" name="filter-deal" checked />
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                            <div class="labelling">
                                                <span class="label-txt mg-h-1u">전체</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="swiper-slide">
                                        <label class="radio-item">
                                            <input type="radio" name="filter-deal" />
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                            <div class="labelling">
                                                <span class="label-txt mg-h-1u">타이어</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="swiper-slide">
                                        <label class="radio-item">
                                            <input type="radio" name="filter-deal" />
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                            <div class="labelling">
                                                <span class="label-txt mg-h-1u">경정비</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <script>
                                var swiperFilterDeal = new Swiper('.swiper-filter-deal', {
                                    spaceBetween: 8,
                                    slidesPerView: 'auto'
                                });

                                swiperFilterDeal.init();

                                $(window).on('resize', function () {
                                    swiperFilterDeal.init();
                                });
                            </script>
                        </div>
                    </div>
                </div>

                <div class="contents-status-bar">
                    <!-- TODO: 차량정보 있을때 -->
                    <span class="title">내 차에 맞는 기획전 상품 <span class="txt-primary">3</span>개</span>
                    <!-- TODO: 차량정보 없을때 -->
                    <!--<span class="title"><span class="txt-primary">0개</span>의 딜상품이 있습니다.</span>-->
                    <div class="form-control form-control-md extra">
                        <div class="input-group">
                            <select class="input-box" dir="rtl">
                                <option selected>최신순</option>
                                <option>인기순</option>
                                <option>할인율순</option>
                                <option>마감임박순</option>
                            </select>

                            <div class="tools">
                                <button><span class="line-icons chev-down"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ts-deal-card-list">
            <!-- TODO: 딜 진행 상품이 없을때 -->
            <div class="empty-box txt-center pd-v-15u">
                <div class="middler">
                    <span class="line-icons error-circle size-48"></span>
                    <!-- 20220707 // -->
                    <p class="empty-msg">선택하신 조건에 해당하는 기획전 상품이 없습니다.</p>
                    <!-- // 20220707 -->
                </div>
            </div>
        </section>
    </div>
</main>