<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: 'Popup' }) %>
<link rel="stylesheet" type="text/css" href="mc-static-root/css/app.css" />
<main id="main">
    

    <!-- 콘텐츠 영역 -->
    <div class="container">
        <section>

            <!-- 패딩/마진은 pd- / mg- 로 조정 -->
            <div class="container pd-h-5u mg-t-2u">
                <div class="mg-b-4u">
                    <p class="mg-b-2u">알림동의</p>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1', // 팝업 여러개를 컨트롤 하고 싶을때 타겟팅 아이디
                                title: '알림동의', // 제목
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: `
                                <div>
                                    <p class='txt-14 txt-center'>‘티스테이션’에서 알림을 보내고자 합니다</p>
                                    <p class='txt-12 mg-t-4u txt-neutral2 txt-center'>경고, 사운드 및 아이콘 배지가 알림에 포함될 수 있습니다. 설정에서 </p>
                                </div>
                                `, // 팝업을 바로 띄우고 싶을때
                                dimWhite: false, // dim 영역의 색이 검은색 이면 false 밝은색이면 white
                                modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                full: false, // Full Popup
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                },
                                modalAction: {
                                    isNoBoundary: false,
                                    buttons: [
                                        {
                                            label: '허용 안 함',
                                            negative: true,
                                            action: function () {
                                                window.location.href = ''
                                            }
                                        },
                                        {
                                            label: '허용',
                                            negative: false,
                                            action: function () {
                                                $.Tstation.popup().close()
                                            }
                                        }
                                    ]
                                }
                            })"
                    >
                        <span class="label-txt">Open</span>
                    </button>
                </div>

            </div>


            <div class="container pd-h-5u mg-t-2u">
                <div class="mg-b-4u">
                    <p class="mg-b-2u">알림동의</p>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1', // 팝업 여러개를 컨트롤 하고 싶을때 타겟팅 아이디
                                title: '알림동의', // 제목
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: `
                                <div>
                                    <p class='txt-14 txt-center'>‘티스테이션’에서 알림을 보내고자 합니다</p>
                                    <p class='txt-12 mg-t-4u txt-neutral2 txt-center'>경고, 사운드 및 아이콘 배지가 알림에 포함될 수 있습니다. 설정에서 </p>
                                </div>
                                `, // 팝업을 바로 띄우고 싶을때
                                dimWhite: false, // dim 영역의 색이 검은색 이면 false 밝은색이면 white
                                modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                full: false, // Full Popup
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                },
                                modalAction: {
                                    isNoBoundary: false,
                                    buttons: [
                                        {
                                            label: '허용 안 함',
                                            negative: true,
                                            action: function () {
                                                $.Tstation.popup().close()
                                            }
                                        },
                                        {
                                            label: '허용',
                                            negative: false,
                                            action: function () {
                                                $.Tstation.popup().close()
                                            }
                                        }
                                    ]
                                }
                            })"
                    >
                        <span class="label-txt">Open</span>
                    </button>
                </div>

            </div>
        </section>
    </div>
</main>