<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div style="height: 300px; text-align: center; padding: 0 20px;">
    <button type="button" class="btn-item btn-neutral full-w mg-t-2u" onclick="callPopup()">
        <span class="label-txt">이 상품에 적용 가능한 쿠폰 호출</span>
    </button>
</div>
<script>
    var coupon = 
    `
      <button id="coupon-changer-btn" type="button" class="btn-item btn-neutral btn-ol full-w round">
          <span class="label-txt">쿠폰 전체 다운받기 (2장)</span>
      </button>
      <p class="txt-12 mg-b-7u txt-neutral2 mg-t-2u txt-center">
          <span class="txt-primary">*</span>다운로드 받은 쿠폰을 <span class="txt-w500">마이페이지 > 쿠폰함</span>에서 확인가능합니다.
      </p>
      
      <ul class="coupon-card-list coupon-changer mg-t-6u">
        <li>
            <div class="coupon-changer-wrap" onclick="couponChanger(this)">
                <input type="radio" name="coupon-changer" class="coupon-changer-radio" ch cpnno="C42000922oIvD" cpnkndcd="C103">
                <div class="coupon-changer-icons">
                    <span class="line-icons circle"></span>
                    <span class="line-icons check-circle-inv"></span>
                </div>
                <article class="coupon-card download-before">
                    <div class="coupon-card-info">
                        <div class="coupon-card-type-bar clearfix">	                            
                            <span class="haaer-label-use online">
                                <span class="label-txt txt-12">온라인<br>전용</span>
                            </span>
                        </div>
                        <p class="txt-30 line-100per">13<small class="txt-18">%</small></p>
                        <p class="txt-18 line-100per mg-b-2u">티스테이션닷컴 타이어 상품할인 13% 쿠폰(신규)</p>
                        <hr class="dp-block center short short-2px neutral3 mg-v-3u">
                        <p class="txt-12 txt-neutral3">대상 상품에 한정 사용가능합니다</p>
                    </div>
                    <div class="coupon-card-action">
                        <div class="coupon-card-action-inner download-before">
                            <p class="mg-b-1u"><span class="line-icons download size-24"></span></p>
                            <p class="mg-b-1u"><span class="btn-item btn-neutral btn-xs round"><span class="label-txt txt-12">쿠폰다운</span></span></p>
                            <p><span class="txt-12">2022.07.31<br>까지</span></p>
                        </div>
                        <div class="coupon-card-action-inner download-after">
                            <p class="mg-b-1u"><span class="line-icons download size-24 coupon-download-icon"></span></p>
                            <p class="mg-b-3u"><span class="txt-w500">다운완료</span></p>
                        </div>
                    </div>
                </article>
            </div>
        </li>

        <li>
            <div class="coupon-changer-wrap" onclick="couponChanger(this)">
                <input type="radio" name="coupon-changer" class="coupon-changer-radio" cpnno="C42000923GNMO" cpnkndcd="C103">
                <div class="coupon-changer-icons">
                    <span class="line-icons circle"></span>
                    <span class="line-icons check-circle-inv"></span>
                </div>
                <article class="coupon-card download-after">
                    <div class="coupon-card-info">
                        <div class="coupon-card-type-bar clearfix">	                            
                            <span class="haaer-label-use online">
                                <span class="label-txt txt-12">온라인<br>전용</span>
                            </span>
                            <!-- 20220707 // -->
                            <div class="haaer-label-group">
                                <span class="label-txt txt-11">특별기획전</span>
                            </div>
                            <!-- // 20220707 -->
                        </div>
                        <p class="txt-30 line-100per">13<small class="txt-18">%</small></p>
                        <p class="txt-18 line-100per mg-b-2u">티스테이션닷컴 타이어 상품할인 13% 쿠폰2 (신규)</p>
                        <hr class="dp-block center short short-2px neutral3 mg-v-3u">
                        <p class="txt-12 txt-neutral3">신규 회원가입 시 발급 쿠폰입니다(대상 상품에 한정 사용 가능)</p>
                    </div>
                    <div class="coupon-card-action">
                        <div class="coupon-card-action-inner download-before">
                            <p class="mg-b-1u"><span class="line-icons download size-24"></span></p>
                            <p class="mg-b-1u"><span class="btn-item btn-neutral btn-xs round"><span class="label-txt txt-12">쿠폰다운</span></span></p>
                            <p><span class="txt-12">2022.07.31<br>까지</span></p>
                        </div>
                        <div class="coupon-card-action-inner download-after">
                            <p class="mg-b-1u"><span class="line-icons download size-24 coupon-download-icon"></span></p>
                            <p class="mg-b-3u"><span class="txt-w500">다운완료</span></p>
                        </div>
                    </div>
                </article>
            </div>
        </li>

        </ul>
        `

    var requiredTerms = '<div class="container pd-h-8u pd-v-8u">\n' +
      '    <p class="txt-center txt-14">\n' +
      '        <em class="txt-primary">스마트케어  할인 쿠폰</em>은 마케팅 수신 동의가 필요합니다. 동의하고 다운받으시겠습니까?\n' +
      '    </p>\n' +
      '    <a href="#" class="btn-item btn-neutral round full-w mg-t-4u">\n' +
      '        <span class="label-txt">동의하고 쿠폰다운받기</span>\n' +
      '    </a>\n' +
      '</div>\n' +
      '<div class="container bg-light1 border-t txt-center pd-h-4u pd-v-2u accordion-item">\n' +
      '    <button type="button" class="btn-item btn-s btn-gray btn-inv filet float-r bg-transparent accordion-btn" onclick="$(this).closest(\'.accordion-item\').toggleClass(\'on\');">\n' +
      '        <span class="label-txt">마케팅 수신동의 내용보기</span>\n' +
      '        <span class="line-icons chev-down size-20"></span>\n' +
      '    </button>\n' +
      '\n' +
      '    <div class="box bg-fff txt-12 txt-neutral2 box-overflow-y mg-b-3u txt-left border-all accordion-cont">\n' +
      '        마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>마케팅 수신동의 본문 내용.<br>\n' +
      '    </div>\n' +
      '</div>'

    // 쿠폰 다운로드 예시
    var couponApply = function (el) {
        var className = {
            downloadBefore: 'download-before',
            downloadAfter: 'download-after'
        }
        var _this = $(el)
        var isRequireDownload = _this.hasClass(className.downloadBefore)
        var callRequiredTerms = function () {
            $.Tstation.popup().open({
                ref: 'required-terms-popup',
                title: '쿠폰다운받기 안내',
                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                contents: requiredTerms, // 팝업을 바로 띄우고 싶을때
                dimWhite: false,
                modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                    horizon: 0,
                    vertical: 0,
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                }
            })
        }
        var couponDownloadProcess = function () {
            var couponDownload = function () {
                _this.removeClass(className.downloadBefore)
                _this.addClass(className.downloadAfter)
            }
            // 비동기 예시
            setTimeout(function () {
                Math.random() >= 0.5 ? couponDownload() : callRequiredTerms();
            }, 400);
        }
        var couponApplyProcess = function () {
            alert('주문 프로세스에 쿠폰 적용 메서드 삽입')
            $.Tstation.popup().close('coupon-apply-modal')
        }

        isRequireDownload ? couponDownloadProcess() : couponApplyProcess()
    }

    function callPopup () {
        $.Tstation.popup().open({
            ref: 'coupon-apply-modal',
            title: '이 상품에 적용 가능한 쿠폰',
            requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
            contents: coupon, // 팝업을 바로 띄우고 싶을때
            dimWhite: false,
            modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                horizon: 4,
                vertical: 6,
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
            },
            full: true, // Full Popup
        });
    }
</script>