<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: '쿠폰변경 팝업' }) %>
<div class="modal-item full on" data-ref="coupon-changer-modal">
    <div class="dim"></div>
    <div class="middler">
        <div class="modal-pannel">
            <div class="modal-header">
                <h3>쿠폰변경</h3>
                <button type="button" class="btn-item btn-neutral round btn-inv min-w btn-popup-close">
                    <span class="line-icons close size-24"></span>
                </button>
            </div>
            <div class="modal-action no-boundary">
                <ul class="list-size-equal">
                    <li>
                        <!-- 2021-03-30 // -->
                        <button type="button" class="btn-item btn-neutral btn-ol round full-w" id="copounRemoveButton">
                            <span class="label-txt">쿠폰 적용해제</span>
                        </button>
                        <!-- // 2021-03-30 -->
                    </li>
                    <li>
                        <!-- 쿠폰 선택 변경시 disabled 해제 -->
                        <button type="button" class="btn-item btn-neutral round full-w" onclick="$(this).closest('.modal-item').removeClass('on');" disabled="">
                            <span class="label-txt">쿠폰 변경하기</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="modal-scroller">
                    <div class="container">
                        <div class="container bg-light1 border-b pd-h-5u pd-v-3u">

                            <!-- 적용가능 쿠폰이 없을 경우 'on'클래스 추가한 상태(아코디언 열린 상태)로 팝업 오픈 -->
                            <div class="accordion-item">
                                <div class="accordion-btn" onclick="$(this).closest('.accordion-item').toggleClass('on');">
                                    <span class="line-icons chev-down size-20"></span>
                                    <p class="line-32 txt-14">쿠폰 등록하기</p>
                                </div>

                                <div class="accordion-cont pd-t-2u pd-b-3u">
                                    <p class="txt-neutral2 txt-12">유효한 쿠폰번호를 입력하고 '쿠폰등록' 버튼을 누르시면 입력하신 쿠폰이 아래 적용 가능한 쿠폰 리스트에 추가 됩니다.</p>
                                    <table class="mg-t-4u">
                                        <colgroup>
                                            <col style="width: auto;" />
                                            <col style="width: 140px;" />
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-control form-control-md">
                                                    <div class="input-group">
                                                        <input type="text" class="input-box" placeholder="쿠폰번호를 입력해 주세요." />
                                                        <div class="tools">
                                                            <button class="clear"><span class="line-icons close-circle"></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pd-l-2u">
                                                <!-- 쿠폰번호 입력시 disabled 해제 -->
                                                <button type="button" class="btn-item btn-neutral round full-w" disabled>
                                                    <span class="label-txt">쿠폰등록</span>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- 에러 메시지 발생시에만 노출 -->
                                    <!-- <p class="txt-primary mg-t-2u txt-12">에러 메시지</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="container pd-h-4u pd-v-6u">
                            <div class="empty-box txt-center pd-v-10u">
                                <div class="middler">
                                    <span class="line-icons error-circle size-48"></span>
                                    <p class="empty-msg">적용 가능한 쿠폰이 없습니다.</p>
                                </div>
                            </div>
                            <ul class="coupon-card-list coupon-changer mg-t-6u">


                                <li>
                                    <div class="coupon-changer-wrap" onclick="couponChanger(this)">
                                        <input type="radio" name="coupon-changer" class="coupon-changer-radio" ch cpnno="C42000922oIvD" cpnkndcd="C103">
                                        <div class="coupon-changer-icons">
                                            <span class="line-icons circle"></span>
                                            <span class="line-icons check-circle-inv"></span>
                                        </div>
                                        <article class="coupon-card download-before">
                                            <div class="coupon-card-info">
                                                <div class="coupon-card-type-bar clearfix">	                            
                                                    <span class="haaer-label-use online">
                                                        <span class="label-txt txt-12">온라인<br>전용</span>
                                                    </span>
                                                </div>
                                                <p class="txt-30 line-100per">13<small class="txt-18">%</small></p>
                                                <p class="txt-18 line-100per mg-b-2u">티스테이션닷컴 타이어 상품할인 13% 쿠폰(신규)</p>
                                                <hr class="dp-block center short short-2px neutral3 mg-v-3u">
                                                <p class="txt-12 txt-neutral3">대상 상품에 한정 사용가능합니다</p>
                                            </div>
                                            <div class="coupon-card-action">
                                                <div class="coupon-card-action-inner download-before">
                                                    <p class="mg-b-1u"><span class="line-icons download size-24"></span></p>
                                                    <p class="mg-b-1u"><span class="btn-item btn-neutral btn-xs round"><span class="label-txt txt-12">쿠폰다운</span></span></p>
                                                    <p><span class="txt-12">2022.07.31<br>까지</span></p>
                                                </div>
                                                <div class="coupon-card-action-inner download-after">
                                                    <p class="mg-b-1u"><span class="line-icons download size-24 coupon-download-icon"></span></p>
                                                    <p class="mg-b-3u"><span class="txt-w500">다운완료</span></p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </li>
                        
                                <li>
                                    <div class="coupon-changer-wrap" onclick="couponChanger(this)">
                                        <input type="radio" name="coupon-changer" class="coupon-changer-radio" cpnno="C42000923GNMO" cpnkndcd="C103">
                                        <div class="coupon-changer-icons">
                                            <span class="line-icons circle"></span>
                                            <span class="line-icons check-circle-inv"></span>
                                        </div>
                                        <article class="coupon-card download-after">
                                            <div class="coupon-card-info">
                                                <div class="coupon-card-type-bar clearfix">	                            
                                                    <span class="haaer-label-use online">
                                                        <span class="label-txt txt-12">온라인<br>전용</span>
                                                    </span>
                                                    <!-- 20220707 // -->
                                                    <div class="haaer-label-group">
                                                        <span class="label-txt txt-11">특별기획전</span>
                                                    </div>
                                                    <!-- // 20220707 -->
                                                </div>
                                                <p class="txt-30 line-100per">13<small class="txt-18">%</small></p>
                                                <p class="txt-18 line-100per mg-b-2u">티스테이션닷컴 타이어 상품할인 13% 쿠폰2 (신규)</p>
                                                <hr class="dp-block center short short-2px neutral3 mg-v-3u">
                                                <p class="txt-12 txt-neutral3">신규 회원가입 시 발급 쿠폰입니다(대상 상품에 한정 사용 가능)</p>
                                            </div>
                                            <div class="coupon-card-action">
                                                <div class="coupon-card-action-inner download-before">
                                                    <p class="mg-b-1u"><span class="line-icons download size-24"></span></p>
                                                    <p class="mg-b-1u"><span class="btn-item btn-neutral btn-xs round"><span class="label-txt txt-12">쿠폰다운</span></span></p>
                                                    <p><span class="txt-12">2022.07.31<br>까지</span></p>
                                                </div>
                                                <div class="coupon-card-action-inner download-after">
                                                    <p class="mg-b-1u"><span class="line-icons download size-24 coupon-download-icon"></span></p>
                                                    <p class="mg-b-3u"><span class="txt-w500">다운완료</span></p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </li>
                        
                            </ul>
                            <script>
                                var couponChanger = function (el) {
                                    var selector = {
                                        couponCard: '.coupon-card',
                                        couponChangerRadio: '.coupon-changer-radio',
                                        couponChangerBtn: '#coupon-changer-btn'
                                    }
                                    var className = {
                                        downloadBefore: 'download-before',
                                        downloadAfter: 'download-after'
                                    }
                                    var _this = $(el)
                                    var couponCard = _this.find(selector.couponCard)
                                    var isRequireDownload = couponCard.hasClass(className.downloadBefore)
                                    var couponDownloadProcess = function () {
                                        var couponDownload = function () {
                                            couponCard.removeClass(className.downloadBefore)
                                            couponCard.addClass(className.downloadAfter)
                                        }
                                        // 비동기 예시
                                        setTimeout(function () {
                                            Math.random() >= 0.5 ? couponDownload() : alert('쿠폰을 다운로드 할 수 없습니다. 다시 시도해 주세요.')
                                        }, 400);
                                    }
                                    var couponChangerProcess = function () {
                                        var couponChangerRadio = _this.find(selector.couponChangerRadio)
                                        var changerName = couponChangerRadio.attr('name')
                                        var couponChangerRadios = $('input[name*=' + changerName +']')
                                        couponChangerRadios.prop('checked', false)
                                        couponChangerRadio.prop('checked', true)
                                        $(selector.couponChangerBtn).prop('disabled', false)
                                    }
                                    isRequireDownload ? couponDownloadProcess() : couponChangerProcess()
                                }

                                var couponChangerApply = function () {
                                    alert('주문 프로세스에 쿠폰 적용 메서드 삽입')
                                    $.Tstation.popup().close('coupon-changer-modal')
                                }

                                // 2021-03-30 라디오 채크 해제
                                $('#copounRemoveButton').on("click", couponRemove )
                                function couponRemove() {
                                    $('input:radio[class="coupon-changer-radio"]:checked').prop('checked', false);
                                    $(this).closest('.modal-item').removeClass('on');
                                }

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>