<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<main id="main">
    <!-- 콘텐츠 영역 -->
    <div class="container">

        <div class="swiper-container menu-slide-sty-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="" class="menu-slide-child">쇼핑</a></div>
                <div class="swiper-slide"><a href="" class="menu-slide-child">TS딜</a></div>
                <div class="swiper-slide"><a href="" class="menu-slide-child">매장예약</a></div>
                <div class="swiper-slide"><a href="" class="menu-slide-child"><span class="menu-flag">BETA</span>멤버십</a></div>
                <div class="swiper-slide"><a href="" class="menu-slide-child">이벤트</a></div>
            </div>
            <script>
                var menu_slide_sty_swiper = new Swiper('.menu-slide-sty-swiper', {
                    init: false,
                    spaceBetween: 24,
                    slidesPerView: 'auto',
                });

                menu_slide_sty_swiper.init();

                $(window).on('resize', function () {
                    menu_slide_sty_swiper.init();
                });
            </script>
        </div>
        <section class="over-hidden">
            <div class="swiper-container banner-slide-sty-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="banner-slide-child">
                            <img src="mc-static-root/images/common/sample/banner01.jpg" alt="">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="" class="banner-slide-child">
                            <img src="mc-static-root/images/common/sample/banner01.jpg" alt="">
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="" class="banner-slide-child">
                            <img src="mc-static-root/images/common/sample/banner01.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <script>
                    var banner_slide_sty_swiper = new Swiper('.banner-slide-sty-swiper', {
                        init: false,
                        autoplay: {
                            delay: 5000,
                        },
                        slidesPerView: 'auto',
                        pagination: {
                            el: '.swiper-pagination',
                            type: 'bullets',
                        },
                    });

                    banner_slide_sty_swiper.init();

                    $(window).on('resize', function () {
                        banner_slide_sty_swiper.init();
                    });
                </script>
            </div>
        </section>

        <!-- 차량 등록 전 차량 챶기 -->
        <section class="pd-v-6u">
            <div class="container">
                <div class="tire-self-sreach-wrp">
                    <h3 class="pd-h-4u">내 차에 꼭 맞는 타이어 찾고 계신가요?</h3>
                    <div class="tire-self-sreach-bx">
                        <ul class="tire-self-sreach-tab">
                            <li>
                                <button type="button" class="on">
                                    <i class="car-number"></i>
                                    차량번호로 찾기
                                </button>
                            </li>
                            <li>
                                <button type="button">
                                    <i class="car-model"></i>
                                    차종으로 찾기
                                </button>
                            </li>
                            <li>
                                <button type="button">
                                    <i class="car-size"></i>
                                    사이즈로 찾기
                                </button>
                            </li>
                        </ul>
                        <div class="tire-self-sreach-input">
                            <div class="form-control form-control-md">
                                <div class="input-group">
                                    <input type="text" class="input-box" placeholder="차량번호" />
                                    <div class="tools">
                                        <button class="clear"><span class="line-icons close-circle"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control form-control-md">
                                <div class="input-group">
                                    <input type="text" class="input-box" placeholder="소유주명" />
                                    <div class="tools">
                                        <button class="clear"><span class="line-icons close-circle"></span></button>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="search-btn"><span class="line-icons arrow-long size-24"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 타이어 카테고리별 랭킹 -->
        <section class="pd-v-6u over-hidden">
            <div class="container pd-h-4u over-visible">
                <div class="sec-header">
                    <h3 class="sec-title">
                        <span class="v-middle">티스테이션 카테고리별 랭킹 TOP3</span>
                        <span class="tooltip-container left v-middle txt-0">
                                    <button type="button" class="bg-fff txt-0">
                                        <span class="line-icons info-circle"></span>
                                    </button>
                            <!-- TODO: 티스테이션 카테고리별 랭킹 TOP3 툴팁 내용 확정되면 추가 -->
                                    <div class="tooltip">
                                        <div class="tooltip-header">
                                            <p>Header</p>
                                        </div>
                                        <div class="tooltip-body">
                                            <p>Body</p>
                                        </div>
                                    </div>
                                </span>
                    </h3>
                </div>
                <div class="sec-contents">
                    <div class="swiper-container tire-category-swiper mg-t-2u">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><button class="tag on">승용차</button></div>
                            <div class="swiper-slide"><button class="tag">SUV</button></div>
                            <div class="swiper-slide"><button class="tag">프리미엄</button></div>
                            <div class="swiper-slide"><button class="tag">스탠다드</button></div>
                            <div class="swiper-slide"><button class="tag">윈터타이어</button></div>
                        </div>
                    </div>

                    <div class="swiper-container tire-category-contents-swiper mg-t-7u">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!-- 승용차 -->
                                <ul>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <!--<div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>-->
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <div class="model">MICHELIN PRIMACY A/S</div>
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">승차감과 안정성이 뛰어난 프리미엄 타이어</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (2 / 5 * 100) = 40  -->
                                                        <span class="rating mg-l-2u"><span style="width: 40%"></span></span>
                                                        <span>2점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">장착하고 주행하였는데 소음면에서 크게 올라오는 것 없었고 주행질감도 일반 사계절타이어랑 비슷한 수준이라 만족스럽습니다 눈 빗길 운전해보고 만족스러우면 지속적으로이 타이어만 이용할 생각입니다.</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <!-- SUV -->
                                <ul>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <!--<div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>-->
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <div class="model">MICHELIN PRIMACY A/S</div>
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">승차감과 안정성이 뛰어난 프리미엄 타이어</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (2 / 5 * 100) = 40  -->
                                                        <span class="rating mg-l-2u"><span style="width: 40%"></span></span>
                                                        <span>2점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">장착하고 주행하였는데 소음면에서 크게 올라오는 것 없었고 주행질감도 일반 사계절타이어랑 비슷한 수준이라 만족스럽습니다 눈 빗길 운전해보고 만족스러우면 지속적으로이 타이어만 이용할 생각입니다.</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <!-- 프리미엄 -->
                                <ul>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <!--<div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>-->
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <div class="model">MICHELIN PRIMACY A/S</div>
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">승차감과 안정성이 뛰어난 프리미엄 타이어</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (2 / 5 * 100) = 40  -->
                                                        <span class="rating mg-l-2u"><span style="width: 40%"></span></span>
                                                        <span>2점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">장착하고 주행하였는데 소음면에서 크게 올라오는 것 없었고 주행질감도 일반 사계절타이어랑 비슷한 수준이라 만족스럽습니다 눈 빗길 운전해보고 만족스러우면 지속적으로이 타이어만 이용할 생각입니다.</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <!-- 스탠다드 -->
                                <ul>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <!--<div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>-->
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <div class="model">MICHELIN PRIMACY A/S</div>
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">승차감과 안정성이 뛰어난 프리미엄 타이어</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (2 / 5 * 100) = 40  -->
                                                        <span class="rating mg-l-2u"><span style="width: 40%"></span></span>
                                                        <span>2점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">장착하고 주행하였는데 소음면에서 크게 올라오는 것 없었고 주행질감도 일반 사계절타이어랑 비슷한 수준이라 만족스럽습니다 눈 빗길 운전해보고 만족스러우면 지속적으로이 타이어만 이용할 생각입니다.</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide">
                                <!-- 윈터타이어 -->
                                <ul>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <!--<div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>-->
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <div class="model">MICHELIN PRIMACY A/S</div>
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">승차감과 안정성이 뛰어난 프리미엄 타이어</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (2 / 5 * 100) = 40  -->
                                                        <span class="rating mg-l-2u"><span style="width: 40%"></span></span>
                                                        <span>2점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">장착하고 주행하였는데 소음면에서 크게 올라오는 것 없었고 주행질감도 일반 사계절타이어랑 비슷한 수준이라 만족스럽습니다 눈 빗길 운전해보고 만족스러우면 지속적으로이 타이어만 이용할 생각입니다.</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                    <li class="mg-b-2u">
                                        <div class="card">
                                            <div class="product-area" onclick="window.location.href=''">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                        <div class="brands-logo hk"></div>
                                                    </div>
                                                </div>
                                                <div class="description-area">
                                                    <!-- TODO: 직관적 네이밍 규칙일 경우 아래 -->
                                                    <div class="model"><img src="mc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /></div>
                                                    <!-- TODO: 직관적 네이밍 규칙 적용하지 않는 경우 아래 -->
                                                    <!--<div class="model">Ventus S2 AS</div>-->
                                                    <p class="size">245/45R18</p>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <p class="price">193,4000<small>원</small> <small class="discount txt-throughline">226,200원</small></p>
                                                </div>
                                            </div>
                                            <div class="review-area" onclick="window.location.href=''">
                                                <div class="badge-group">
                                                    <span class="label">최다장착차량</span>
                                                    <div class="badges">
                                                        <span class="badge badge-review"><strong>현대</strong> 쏘나타 DN8 (674)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K5 (324)</span>
                                                        <span class="badge badge-review"><strong>기아</strong> K7 (999+)</span>
                                                    </div>
                                                </div>

                                                <div class="review">
                                                    <p class="meta">
                                                        <span>이**</span>
                                                        <!-- TODO: 4.7 을 백분율로 계산하여 아래 width값에 넣으세요 예) (일부값 / 전체값 * 100) = (4.7 / 5 * 100) = 94  -->
                                                        <span class="rating mg-l-2u"><span style="width: 94%"></span></span>
                                                        <span>4.7점</span>
                                                        <span>(리뷰 495개)</span>
                                                    </p>
                                                    <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진 Blah Blah Blah Blah</p>
                                                </div>
                                            </div>
                                            <span class="badge badge-best">BEST </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <script>
                        var categoryTags = $('.tire-category-swiper .tag')
                        var offCategoryTags = function () {
                            $.each(categoryTags, function (index, tag) {
                                if ($(tag).hasClass('on')) {
                                    $(tag).removeClass('on');
                                    return;
                                }
                            })
                        }
                        $.each(categoryTags, function (index, tag) {
                            $(tag).on('click', function () {
                                offCategoryTags();
                                $(tag).addClass('on')
                                tireCategoryContentsSwiper.slideTo(index);
                            })
                        })

                        // 카테고리별 랭킹 TOP3 카테고리 버튼
                        var tireCategorySwiper = new Swiper('.tire-category-swiper', {
                            spaceBetween: 4,
                            slidesPerView: 'auto',
                            freeMode: true
                        });

                        tireCategorySwiper.init();

                        $(window).on('resize', function () {
                            tireCategorySwiper.init();
                        });

                        // 카테고리별 랭킹 TOP3 카테고리 컨텐츠
                        var tireCategoryContentsSwiper = new Swiper('.tire-category-contents-swiper', {
                            spaceBetween: 16,
                            slidesPerView: 'auto',
                        });

                        tireCategoryContentsSwiper.init();

                        $(window).on('resize', function () {
                            tireCategoryContentsSwiper.init();
                        });

                        tireCategoryContentsSwiper.on('slideChangeTransitionEnd', function () {
                            offCategoryTags();
                            $(categoryTags[tireCategoryContentsSwiper.realIndex]).addClass('on')
                            tireCategorySwiper.update()
                        })
                    </script>
                </div>
            </div>
        </section>

        <!-- 배너 -->
        <section class="pd-v-6u over-hidden">
            <div class="banner-slide-sty-second-swiper-wrapper over-visible">
                <div class="swiper-container banner-slide-sty-second-swiper over-visible">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="banner-item">
                                <img src="mc-static-root/images/common/sample/landing_banner_sample_1.png" alt="이벤트 제목" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="banner-item">
                                <img src="mc-static-root/images/common/sample/landing_banner_sample_2.png" alt="이벤트 제목" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="banner-item">
                                <img src="mc-static-root/images/common/sample/landing_banner_sample_3.png" alt="이벤트 제목" />
                            </a>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
                <script>
                    var bannerSlideSecond = new Swiper('.banner-slide-sty-second-swiper', {
                        pagination: {
                            el: '.swiper-pagination',
                            dynamicBullets: true,
                        },
                        spaceBetween: 8,
                        slidesPerView: 'auto'
                    });

                    bannerSlideSecond.init();

                    $(window).on('resize', function () {
                        bannerSlideSecond.init();
                    });
                </script>
            </div>
        </section>

        <section class="pd-v-6u over-hidden">
            <div class="container pd-h-4u">
                <div class="sec-header">
                    <h3 class="sec-title">
                        <span class="txt-neutral2">한정 특가일때 구매하세요.</span>
                        <div class="tools tools-bottom">
                            <button type="button" class="btn-item no-pd">
                                <span class="label-txt">더보기</span>
                                <span class="line-icons chev-right"></span>
                            </button>
                        </div>
                    </h3>
                </div>
                <div class="sec-contents">
                    <div class="swiper-container time-deal-swiper over-visible mg-t-4u">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <p class="time-deal-limit">
                                        <span class="line-icons clock size-20 txt-primary"></span>
                                        <span class="txt-w700 txt-neutral3">타임딜</span>
                                        <span class="txt-primary">5일남음</span>
                                    </p>
                                    <div class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>

                                        <div class="description-area">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <p class="model-sub mg-b-2u">Ventus S2 AS</p>
                                            <p class="size">245/45R18</p>
                                        </div>

                                        <span class="badge badge-discount"><span>30%<br />OFF</span></span>
                                    </div>
                                    <p class="discount txt-throughline">226,200원</p>
                                    <p class="price">193,4000<small>원</small></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <p class="time-deal-limit">
                                        <span class="line-icons clock size-20 txt-primary"></span>
                                        <span class="txt-w700 txt-neutral3">타임딜</span>
                                        <span class="txt-primary">12:32:15남음</span>
                                    </p>
                                    <div class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>

                                        <div class="description-area">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <p class="model-sub mg-b-2u">Ventus S2 AS</p>
                                            <p class="size">245/45R18</p>
                                        </div>

                                        <span class="badge badge-discount"><span>25%<br />OFF</span></span>
                                    </div>
                                    <p class="discount txt-throughline">226,200원</p>
                                    <p class="price">193,4000<small>원</small></p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <p class="time-deal-limit">
                                        <span class="line-icons clock size-20 txt-primary"></span>
                                        <span class="txt-w700 txt-neutral3">타임딜</span>
                                        <span class="txt-primary">5일남음</span>
                                    </p>
                                    <div class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="mc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>

                                        <div class="description-area">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <p class="model-sub mg-b-2u">Ventus S2 AS</p>
                                            <p class="size">245/45R18</p>
                                        </div>

                                        <span class="badge badge-discount"><span>30%<br />OFF</span></span>
                                    </div>
                                    <p class="discount txt-throughline">226,200원</p>
                                    <p class="price">193,4000<small>원</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var timeDealSwiper = new Swiper('.time-deal-swiper', {
                            spaceBetween: 8,
                            slidesPerView: 'auto'
                        });

                        timeDealSwiper.init();

                        $(window).on('resize', function () {
                            timeDealSwiper.init();
                        });
                    </script>
                </div>
            </div>
        </section>

        <!-- 손쉬운 타이어주문! 어렵지 않아요 -->
        <section class="pd-v-6u">
            <div class="container pd-h-4u">
                <div class="sec-header no-border">
                    <h3 class="sec-title">손쉬운 타이어주문! 어렵지 않아요</h3>
                </div>
                <div class="sec-contents">
                    <div class="accordion accordion-list guide-list">
                        <ul>
                            <li>
                                <a>
                                    <div class="type-area">
                                        <p>Step 01.</p>
                                        <p>타이어 추천</p>
                                    </div>
                                    <p class="title">타이어 선택이 너무 어려워요</p>
                                </a>
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                </div>
                            </li>
                            <li>
                                <a>
                                    <div class="type-area">
                                        <p>Step 02.</p>
                                        <p>타이어 구매</p>
                                    </div>
                                    <p class="title">믿고 저렴하게 살 수 없나요?</p>
                                </a>
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                </div>
                            </li>
                            <li>
                                <a>
                                    <div class="type-area">
                                        <p>Step 03.</p>
                                        <p>타이어 장착</p>
                                    </div>
                                    <p class="title">나는 바쁜 현대인... 집에서 편하게?</p>
                                </a>
                                <div class="accordion-body">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="pd-v-6u over-hidden">
            <div class="container pd-h-4u">
                <div class="sec-header no-border">
                    <h3 class="sec-title">믿고 보는 생생후기</h3>
                </div>
            </div>
            <div class="sec-contents bg-light2 pd-h-4u pd-t-6u pd-v-8u">
                <div class="swiper-container review-card-swiper over-visible">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul>
                                <li class="mg-b-2u">
                                    <div class="review-card">
                                        <div class="review-card-header">
                                            <ul>
                                                <li class="float-l txt-16">박**</li>
                                                <li class="float-r txt-12">2020.08.01</li>
                                            </ul>
                                            <p><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></p>
                                        </div>
                                        <div class="review-card-body mg-t-2u">
                                            <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                                            <ul class="meta mg-t-2u">
                                                <li><span>Dynapro HP2</span></li>
                                                <li><span>싼타페 DM</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="review-card">
                                        <div class="review-card-header">
                                            <ul>
                                                <li class="float-l txt-16">김**</li>
                                                <li class="float-r txt-12">2020.07.15</li>
                                            </ul>
                                            <p><span class="rating v-middle"><span style="width: 80%"></span></span> <span class="v-middle txt-11">4.0점</span></p>
                                        </div>
                                        <div class="review-card-body mg-t-2u">
                                            <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다.</p>
                                            <ul class="meta mg-t-2u">
                                                <li><span>Dynapro HP2</span></li>
                                                <li><span>제네시스 G80</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li class="mg-b-2u">
                                    <div class="review-card">
                                        <div class="review-card-header">
                                            <ul>
                                                <li class="float-l txt-16">박**</li>
                                                <li class="float-r txt-12">2020.08.01</li>
                                            </ul>
                                            <p><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></p>
                                        </div>
                                        <div class="review-card-body mg-t-2u">
                                            <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                                            <ul class="meta mg-t-2u">
                                                <li><span>Dynapro HP2</span></li>
                                                <li><span>싼타페 DM</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="review-card">
                                        <div class="review-card-header">
                                            <ul>
                                                <li class="float-l txt-16">김**</li>
                                                <li class="float-r txt-12">2020.07.15</li>
                                            </ul>
                                            <p><span class="rating v-middle"><span style="width: 80%"></span></span> <span class="v-middle txt-11">4.0점</span></p>
                                        </div>
                                        <div class="review-card-body mg-t-2u">
                                            <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다.</p>
                                            <ul class="meta mg-t-2u">
                                                <li><span>Dynapro HP2</span></li>
                                                <li><span>제네시스 G80</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <script>
                    var reviewCardSwiper = new Swiper('.review-card-swiper', {
                        spaceBetween: 16,
                        slidesPerView: 'auto',
                        pagination: {
                            el: '.swiper-pagination',
                            dynamicBullets: true
                        },
                    });

                    reviewCardSwiper.init();

                    $(window).on('resize', function () {
                        reviewCardSwiper.init();
                    });
                </script>
            </div>
        </section>

        <!-- 우리동네 멤버십 스토어 -->
        <section class="pd-v-6u over-hidden">
            <div class="container pd-h-4u">
                <div class="sec-header no-border">
                    <h3 class="sec-title">우리동네 멤버십 스토어</h3>
                </div>
                <div class="sec-contents">
                    <div class="store-location-list-wrapper">
                        <ul>
                            <li>
                                <div class="store-location-list-item">
                                    <div class="info-area">
                                        <div class="thumb-position">
                                            <div class="thumb-area ration-1x1">
                                                <img src="mc-static-root/images/common/shop_default.png" alt="스토어 이름" onerror="this.style.display='none';">
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p class="title">광교신도시점</p>
                                            <ul class="meta">
                                                <li><span>5Km</span></li>
                                                <li><span>10:00 ~ 22:00</span></li>
                                            </ul>
                                            <p class="description">국내 최고의 장비(3D얼라인먼트 등)와 최고의 기술력을 바탕으로 고객님의 안전을 책임지겠습니다.</p>
                                        </div>
                                    </div>
                                    <div class="action-area">
                                        <div class="left">
                                            <ul>
                                                <li>
                                                    <a href="#none" class="btn-item btn-neutral round btn-inv min-w">
                                                        <span class="line-icons location size-24"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="tel:02-1234-5678" class="btn-item btn-neutral round btn-inv min-w" onclick="$.Tstation.callAndroidCheck(event, '031-1234-5678')">
                                                        <span class="line-icons call size-24"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="right">
                                            <a href="매장상세" class="btn-item btn-neutral btn-m btn-ol round">
                                                <span class="label-txt">매장 상세보기</span>
                                                <span class="line-icons chev-right size-24"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="store-location-list-item">
                                    <div class="info-area">
                                        <div class="thumb-position">
                                            <div class="thumb-area ration-1x1">
                                                <img src="mc-static-root/images/common/shop_default.png" alt="스토어 이름" onerror="this.style.display='none';">
                                            </div>
                                        </div>
                                        <div class="info">
                                            <p class="title">광교점</p>
                                            <ul class="meta">
                                                <li><span>5.5Km</span></li>
                                                <li><span>09:00 ~ 20:00</span></li>
                                            </ul>
                                            <p class="description">국내 최고의 장비(3D얼라인먼트 등)와 최고의 기술력을 바탕으로 고객님의 안전을 책임지겠습니다.</p>
                                        </div>
                                    </div>
                                    <div class="action-area">
                                        <div class="left">
                                            <ul>
                                                <li>
                                                    <a href="#none" class="btn-item btn-neutral round btn-inv min-w">
                                                        <span class="line-icons location size-24"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="tel:02-1234-5678" class="btn-item btn-neutral round btn-inv min-w" onclick="$.Tstation.callAndroidCheck(event, '031-1234-5678')">
                                                        <span class="line-icons call size-24"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="right">
                                            <a href="매장상세" class="btn-item btn-neutral btn-m btn-ol round">
                                                <span class="label-txt">매장 상세보기</span>
                                                <span class="line-icons chev-right size-24"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>
<div class="modal-item instance on">
    <div class="dim"></div>

    <div class="middler">
        <div class="modal-pannel size-l">
            <!-- modal-header -->
            <div class="modal-header">
                <h3>쿠폰 선물 도착</h3>
                <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                    <span class="line-icons close size-30"></span>
                </button>
            </div>

            <!-- modal-body -->
            <div class="modal-body">
                <div class="modal-scroller">
                    <div class="container">
                        <div class="container pd-h-5u pd-v-5u bg-light2">
                            <div class="coupon-card-wrap">
                                <article class="coupon-card coupon-card-detail coupon-card-receive download-after">
                                    <div class="coupon-card-flag">
                                        <div class="coupon-card-flag-inner">
                                            <span>패밀리</span>
                                        </div>
                                    </div>
                                    <div class="coupon-card-info">
                                        <div class="bi-img"><img src="mc-static-root/images/common/bi_full.svg" alt="T'Station" class="bi-img"></div>
                                        <p class="txt-28 line-100per">30<small class="txt-18">%</small></p>
                                        <p class="txt-16 line-100per mg-b-2u">타이어 결제 할인</p>
                                        <p class="txt-14 line-100per">쿠폰이 도착했습니다.</p>
                                    </div>
                                    <button type="button" class="coupon-card-action" onclick="$.Tstation.copyToClipboard({ message: '5439 3243 1212', completeMessage: '쿠폰번호가 클립보드에 복사되었습니다.' })">
                                        <span class="v-middle">5439 3243 1212</span><span class="badge badge-white badge-l round mg-l-3u">쿠폰번호 복사</span>
                                    </button>
                                </article>
                            </div>
                        </div>

                        <div class="container pd-h-5u pd-v-5u">
                            <div class="box box-gray box-radius mg-b-2u">
                                <p class="txt-12">선물 받으신 쿠폰은 비회원 주문/결제 페이지의 [쿠폰 등록] 팝업 또는 <span class="txt-primary">회원가입 후 마이페이지 > 내 쿠폰함에서 등록</span> 후 사용하실 수 있습니다.</p>
                            </div>

                            <div class="mg-t-2u txt-center">
                                <a href="#" class="btn-item btn-neutral round full-w">
                                    <span class="label-txt">3초 가입하고 쿠폰선물 받기</span>
                                </a>
                                <a href="#" class="dp-inblock txt-12 txt-primary mg-t-4u">
                                    <span class="v-middle">적용 가능한 상품 보러가기</span>
                                    <span class="line-icons chev-right size-16 v-middle"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>