<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<main id="main">
    <div class="container">
        <section>
            <div class="container">
                <div class="join-end-area">
                    <i></i>
                    <p class="sns"><strong>네이버</strong> 계정으로 가입이<br>완료되었습니다.</p>
                </div>
                <div class="service-benefit-guide">
                    <p>3단계 스마트케어 서비스로 제공되는 폭넓은 혜택!</p>
                    <ul>
                        <li>
                            <i></i>
                            <span>쿠폰, 결제<br>혜택이 강화된<strong>스마트 바이</strong></span>
                        </li>
                        <li>
                            <i></i>
                            <span>회원특가로<br>픽업, 휴일장착까지.<strong>스마트 서비스</strong></span>
                        </li>
                        <li>
                            <i></i>
                            <span>무상점검에서<br>멤버십 쿠폰까지<strong>스마트 드라이브</strong></span>
                        </li>
                    </ul>
                </div>
                <div class="wait-car-register-bx">
                    <i></i>
                    <span class="wait">잠깐!</span>
                    <p class="txt">운행중인 차량을<br>등록해주세요!</p>
                    <p class="info">내 차량을 등록하시면 다양한 멤버십 혜택과 함께<br>점검시기 안내 등 <strong>스마트케어 서비스</strong>를 받으실 수 있습니다. </p>
                </div>
                <div class="btn">
                    <button type="button" class="btn-item btn-neutral btn-ol round no-pd">
                        <span class="label-txt">My 스마트케어 가기</span>
                    </button>
                    <button type="button" class="btn-item btn-neutral round no-pd">
                        <span class="label-txt">My 차량등록</span>
                    </button>
                </div>
            </div>
        </section>
    </div>
</main>