<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<main id="main">
    <div class="container">
        <section class="mg-b-6u">
            <div class="findid_01">
                <p class="txt01">이미 가입된 회원입니다.</p>
            </div>
        </section>

        <section class="pd-h-5u">
            <div class="box box-gray mg-b-6u">
                <ul>
                    <li class="mg-b-4u">
                        <p class="txt-w500">회원님의 이름 : <span class="txt-neutral3">박현수</span></p>
                    </li>
                    <li>
                        <p class="txt-w500">회원님의 아이디 목록</p>
                        <ul>
                            <li class="mg-t-2u">
                                <p>hong.kildong@gmail.com<span class="txt-neutral3 mg-l-1u">(이메일 간편가입)</span></p>
                                <p class="txt-12">가입일 : <span class="txt-neutral3">2020.08.05</span></p>
                            </li>
                            <li class="mg-t-2u">
                                <p>hong.kildong@gmail.com<span class="txt-neutral3 mg-l-1u">(네이버 간편가입)</span></p>
                                <p class="txt-12">가입일 : <span class="txt-neutral3">2020.08.05</span></p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <button id="mvLogin" class="btn-item dp-block btn-neutral round full-w">
                <span class="label-txt">기존 아이디로 로그인</span>
            </button>
        </section>
    </div>
</main>