<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<main id="main">
    <div class="container">
        <section>
            <div class="container">
                <div class="join-end-area">
                    <div class="sns-register-end-icon">
                        <span class="line-icons social-icon-box social-icon-box-naver social-naver"></span>
                        <span class="line-icons arrow-right size-24"></span>
                        <i></i>
                    </div>
                    <p class="tstation">네이버 계정으로 인증이 완료되었습니다.</p>
                    <div class="sns-register-end-icon">
                        <span class="line-icons social-icon-box social-icon-box-kakao social-kakao"></span>
                        <span class="line-icons arrow-right size-24"></span>
                        <i></i>
                    </div>
                    <p class="tstation">카카오 계정으로 인증이 완료되었습니다.</p>
                    <div class="sns-register-end-icon">
                        <span class="line-icons social-icon-box social-icon-box-facebook social-fb"></span>
                        <span class="line-icons arrow-right size-24"></span>
                        <i></i>
                    </div>
                    <p class="tstation">페이스북 계정으로 인증이 완료되었습니다.</p>
                </div>
                <div class="sns-member-register-area">
                    <div class="member-info-bx">
                        <h3>회원정보</h3>
                        <dl>
                            <dt>아이디(이메일)</dt>
                            <dd>admin@naver.com</dd>
                            <dt>이름</dt>
                            <dd>홍길동</dd>
                            <dt>휴대폰</dt>
                            <dd>010 - 1122 -3344</dd>
                        </dl>
                        <p class="txt">* SNS 회원정보는 본인인증 후 확인된 정보로  자동 업데이트 됩니다.</p>
                    </div>
                    <div class="service-agree-bx">
                        <h3>서비스 약관동의</h3>
                        <div class="terms mg-t-2u">
                            <ul>
                                <li class="flex-between">
                                    <label class="check-item">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons square size-20"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u txt-12">전체선택</span>
                                        </div>
                                    </label>
                                </li>
                                <li class="flex-between">
                                    <label class="check-item">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons square size-20"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u txt-12">T’Station 이용약관 동의(필수)</span>
                                        </div>
                                    </label>
                                    <a href="#" class="txt-12 txt-underline line-32 popup-full" data-rel="https://m.tstation.com/terms/popup/singleterms.do?agrmSctCd=10">내용보기</a>
                                </li>
                                <li class="flex-between">
                                    <label class="check-item">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons square size-20"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u txt-12">개인정보처리방침 동의(필수)</span>
                                        </div>
                                    </label>
                                    <a href="#" class="txt-12 txt-underline line-32 popup-full" data-rel="https://m.tstation.com/terms/popup/singleterms.do?agrmSctCd=30">내용보기</a>
                                </li>
                                <li class="flex-between">
                                    <label class="check-item">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons square size-20"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u txt-12">마케팅 활용을 위한 수집 및 이용동의(선택)</span>
                                        </div>
                                    </label>
                                    <a href="#" class="txt-12 txt-underline line-32 popup-full" data-rel="https://m.tstation.com/terms/popup/singleterms.do?agrmSctCd=60">내용보기</a>
                                </li>
                            </ul>

                            <div class="mg-t-3u">
                                <p class="txt-10 txt-neutral3">선택사항에 동의하지 않으셔도 T’Station의 서비스는 이용 하실 수 있습니다.</p>
                                <p class="txt-10 txt-primary">마케팅 활용을 위한 수집 및 이용 동의 시 추가 할인 쿠폰과 더 많은 혜택이 제공됩니다.</p>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn-item btn-neutral btn-ol full-w round">
                        <span class="label-txt"><i class="icon-phone"></i>휴대폰 본인인증</span>
                    </button>

                    <p class="register-end-guide-txt">휴대폰 본인인증 후 회원가입이 완료됩니다.</p>
                </div>
            </div>
        </section>
    </div>
</main>