<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="container-store-reserve">
    <div class="store-search-wrap">
        <div class="lft-info-wrap on raged">
            <h2>매장찾기</h2>
            <div class="tab-item tab-item-light no-sticky on-layer size-s">
                <!-- 20211213 // -->
                <a href="#" class="on">내 단골매장</a>
                <a href="#" class="">내 주변 찾기</a>
                <a href="#" class="">매장명&middot;지역 찾기</a>
                <!-- // 20211213 -->
            </div>

            <div class="tab-conts">
                <div class="sel-check-list-wrap">
                    <p>필요한 서비스 매장을 선택해 주세요.</p>
                    <ol class="sel-check-list">
                        <li>
                            <label class="check-item">
                                <input type="checkbox">
                                <div class="icon-holder">
                                    <span class="line-icons square size-20"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u">오늘 서비스</span>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">
                                <input type="checkbox">
                                <div class="icon-holder">
                                    <span class="line-icons square size-20"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u">방문이력</span>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">
                                <input type="checkbox">
                                <div class="icon-holder">
                                    <span class="line-icons square size-20"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u">수입차 정비</span>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">
                                <input type="checkbox">
                                <div class="icon-holder">
                                    <span class="line-icons square size-20"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u">일요일 장착</span>
                                </div>
                            </label>
                        </li>
                        <li>
                            <label class="check-item">
                                <input type="checkbox">
                                <div class="icon-holder">
                                    <span class="line-icons square size-20"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u">all my T</span>
                                </div>
                            </label>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="result-section-wrap">
                <div class="list-guide-bar">
                    <!-- 20211213 삭제 <p class="guide-text">검색결과 <span class="txt-primary">2</span>개 매장</p> -->
                </div>
                <div class="sort-result-section search-map">
                    <!-- TODO: 리스트가 없을경우 -->
                    <!-- 20211213 // -->
                    <div class="interest-nodata pd-h-3u pd-v-10u">
                        <div class="section bg-light1 txt-center">
                            <!-- 20220316 // -->
                            <span class="img-icons icon-bg-hart"></span>
                            <p class="pd-h-4u mg-b-4u txt-14 mg-t-2u">
                                <span class="txt-neutral2 dp-block">등록된 단골매장이 없습니다! </span>
                                <span class="txt-neutral2 dp-block"><strong class="txt-neutral1 txt-w600">매장명 찾기</strong> 또는 <strong class="txt-neutral1 txt-w600">직접등록</strong>을 통해 단골매장을</span>
                                <span class="txt-neutral2 dp-block">설정하실 수 있습니다</span>
                            </p>
                            <button type="button" class="btn-item btn-neutral btn-ol round" style="margin: auto">
                                <span class="label-txt pd-h-8u">단골매장 등록하러 가기</span>
                            </button>
                            <!-- // 20220316 -->
                        </div>
                    </div>
                    <div class="box box-white box-radius pd-t-8u pd-b-10u pd-h-3u mg-h-5u txt-center">
                        <h3 class="txt-16 txt-w500 txt-neutral2">고객센터 080-022-8272</h3>
                        <p class="txt-12 txt-neutral2">월~금 09:00 ~ 16:00 주말 및 공휴일 휴무</p>
                        <ul class="list-size-equal mg-t-6u">
                            <li class="pd-r-1u">
                                <a href="tel:080-022-8272" class="btn-item btn-neutral btn-ol full-w round" style="border-color: #D9DBDC;">
                                    <span class="line-icons call size-24 txt-primary"></span>
                                    <span class="label-txt">전화상담</span>
                                </a>
                            </li>
                            <li class="pd-l-1u">
                                <button type="button" class="btn-item btn-neutral btn-ol full-w round" style="border-color: #D9DBDC;" onclick="$.Tstation.callCs();">
                                    <span class="line-icons headset size-24 txt-primary"></span>
                                    <span class="label-txt">1:1 문의하기</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- // 20211213 -->
                    <!-- TODO: 검색 결과가 있을 때 -->
                    <div class="store-lst">
                        <div class="store-wrap">
                            <!-- 20211213 // -->
                            <div class="store-info">
                                <div class="service">
                                    <span class="smartstore"><span class="blind">멤버십 스토어</span></span>
                                </div>
                                <div class="interest-store-wrap right">
                                    <label class="check-interest">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons heart-fill"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u">단골매장</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="franchisee">
                                    <strong>동탄점-3</strong>
                                    <div class="benefit-wrap">
                                        <span class="benefit great-store">우수매장</span>
                                        <span class="benefit smart-pickup">픽업서비스</span>
                                        <span class="benefit deal-store">우리동네딜</span>
                                    </div>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <div class="star-wrap mg-r-3u">
                                            <span class="count">4.8점</span>
                                            <span class="buying">(999)</span>
                                        </div>
                                        <div class="time">
                                            <span class="line-icons time size-20"></span><span class="open">08:00 ~ 20:00</span>
                                        </div>
                                        <div class="call">
                                            <span class="line-icons call size-20"></span><span class="open">031-785-3345</span>
                                        </div>
                                    </div>
                                    <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                                </div>
                                <div class="store-meta">
                                    <span>오늘서비스</span>
                                    <span>다녀온 매장</span>
                                    <span>수입차 정비</span>
                                    <span>휴일지킴이</span>
                                </div>
                            </div>
                            <!-- // 20211213 -->
                            <div class="store-footer">
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">매장 상세보기</span>
                                </button>
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">방문 예약하기</span>
                                </button>
                            </div>
                        </div>
                        <div class="store-wrap">
                            <div class="store-info">
                                <!--div class="service">
                                    <span class="smartstore"><span class="blind">멤버십 스토어</span></span>
                                </div-->
                                <div class="interest-store-wrap right">
                                    <label class="check-interest">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons heart-fill"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u">단골매장</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="franchisee">
                                    <strong>판교점-3</strong>
                                    <div class="benefit-wrap">
                                        <span class="benefit great-store">우수매장</span>
                                        <span class="benefit smart-pickup">픽업서비스</span>
                                    </div>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <div class="star-wrap mg-r-3u">
                                            <span class="count">4.8점</span>
                                            <span class="buying">(999)</span>
                                        </div>
                                        <div class="time">
                                            <span class="line-icons time size-20"></span><span class="open">08:00 ~ 20:00</span>
                                        </div>
                                        <div class="call">
                                            <span class="line-icons call size-20"></span><span class="open">031-785-3345</span>
                                        </div>
                                    </div>
                                    <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                                </div>
                                <div class="store-meta">
                                    <span>오늘서비스</span>
                                    <span>다녀온 매장</span>
                                    <span>수입차 정비</span>
                                    <span>휴일지킴이</span>
                                </div>
                            </div>
                            <div class="store-footer">
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">매장 상세보기</span>
                                </button>
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">방문 예약하기</span>
                                </button>
                            </div>
                        </div>
                        <div class="store-wrap">
                            <div class="store-info">
                                <div class="service">
                                    <span class="smartstore"><span class="blind">멤버십 스토어</span></span>
                                </div>
                                <div class="interest-store-wrap right">
                                    <label class="check-interest">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons heart-fill"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u">단골매장</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="franchisee">
                                    <strong>동탄점-3</strong>
                                    <div class="benefit-wrap">
                                        <span class="benefit great-store">우수매장</span>
                                        <span class="benefit smart-pickup">픽업서비스</span>
                                    </div>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <div class="star-wrap mg-r-3u">
                                            <span class="count">4.8점</span>
                                            <span class="buying">(999)</span>
                                        </div>
                                        <div class="time">
                                            <span class="line-icons time size-20"></span><span class="open">08:00 ~ 20:00</span>
                                        </div>
                                        <div class="call">
                                            <span class="line-icons call size-20"></span><span class="open">031-785-3345</span>
                                        </div>
                                    </div>
                                    <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                                </div>
                                <div class="store-meta">
                                    <span>오늘서비스</span>
                                    <span>다녀온 매장</span>
                                    <span>수입차 정비</span>
                                    <span>휴일지킴이</span>
                                </div>
                            </div>
                            <div class="store-footer">
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">매장 상세보기</span>
                                </button>
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">방문 예약하기</span>
                                </button>
                            </div>
                        </div>
                        <div class="store-wrap">
                            <div class="store-info">
                                <!--div class="service">
                                    <span class="smartstore"><span class="blind">멤버십 스토어</span></span>
                                </div-->
                                <div class="interest-store-wrap right">
                                    <label class="check-interest">
                                        <input type="checkbox" />
                                        <div class="icon-holder">
                                            <span class="line-icons heart-fill"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u">단골매장</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="franchisee">
                                    <strong>백현점-1</strong>
                                    <div class="benefit-wrap">
                                        <span class="benefit great-store">우수매장</span>
                                        <span class="benefit smart-pickup">픽업서비스</span>
                                    </div>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <div class="star-wrap mg-r-3u">
                                            <span class="count">4.8점</span>
                                            <span class="buying">(999)</span>
                                        </div>
                                        <div class="time">
                                            <span class="line-icons time size-20"></span><span class="open">08:00 ~ 20:00</span>
                                        </div>
                                        <div class="call">
                                            <span class="line-icons call size-20"></span><span class="open">031-785-3345</span>
                                        </div>
                                    </div>
                                    <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                                </div>
                                <div class="store-meta">
                                    <span>오늘서비스</span>
                                    <span>다녀온 매장</span>
                                    <span>수입차 정비</span>
                                    <span>휴일지킴이</span>
                                </div>
                            </div>
                            <div class="store-footer">
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">매장 상세보기</span>
                                </button>
                                <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                                    <span class="label-txt">방문 예약하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="pagenation-wrap">
                        <a hef="#" class="btn-prev">
                            <span class="line-icons chev-left size-24"></span>
                        </a>
                        <ol class="pagenation">
                            <li class="on"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ol>
                        <a hef="#" class="btn-next">
                            <span class="line-icons chev-right size-24"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="handle-wrap">
                <div class="handle">
                    <div class="icon-holder">
                        <span class="line-icons chev-right size-20"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--//lft-info-wrap-->
        <!--store-reserve-map-wrap-->
        <div class="store-reserve-map-wrap">
            <!--개발시 지워주세요-->
            <div style="width: 100%;height: 100%;background:url('pc-static-root/images/common/dummy_map_img.png') 0 0 repeat;"></div>
            <!--//개발시 지워주세요-->
            <a href="#" class="marker-smart-store"></a>
            <a href="#" class="marker-t-store"></a>
            <div class="marker-store-info">
                <dl>
                    <dt class="allmyt-store-marker"></dt>
                    <dd>all my <strong>T</strong><br>스토어</dd>
                </dl>
                <dl>
                    <dt class="t-station"></dt>
                    <dd>티스테이션<br>일반매장</dd>
                </dl>
            </div>
            
            <!-- 매장예약 매장 재검색 버튼 20220622 // -->
            <div class="map-pointer-fixed"></div>
            <div class="rescan-button-wrap active">
                <button type="button" class="btn-item btn-primary btn-rescan btn-l round pd-r-3u" data-analytics-click="지도에서 매장 재검색">
                    <span class="label-txt txt-14">지도에서 매장 재검색</span>
                    <span class="line-icons refresh size-20"></span>
                </button>
            </div>
            <!-- // 20220622 -->

            <!--sort-result-section search-map-->
            <div class="sort-result-section search-map" style="left: 500px; top: 0;">
                <!--store-wrap-->
                <div class="store-wrap" style="position: absolute; top: 80%; left: 80%; transform: translate(-50%, -50%); width: 336px; z-index: 2;">
                    <div class="store-info">
                        <!-- 20211213 // -->
                        <div class="service">
                            <span class="smartstore"><span class="blind">멤버십 스토어</span></span>
                        </div>
                        <div class="interest-store-wrap right">
                            <label class="check-interest">
                                <input type="checkbox" />
                                <div class="icon-holder">
                                    <span class="line-icons heart-fill"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u">단골매장</span>
                                </div>
                            </label>
                        </div>
                        <div class="franchisee">
                            <strong>동탄점-3</strong>
                            <div class="benefit-wrap">
                                <span class="benefit great-store">우수매장</span>
                                <span class="benefit smart-pickup">픽업서비스</span>
                            </div>
                        </div>
                        <div class="distance">
                            <div class="info">
                                <div class="star-wrap mg-r-3u">
                                    <span class="count">4.8점</span>
                                    <span class="buying">(999)</span>
                                </div>
                                <div class="time">
                                    <span class="line-icons time size-20"></span><span class="open">08:00 ~ 20:00</span>
                                </div>
                                <div class="call">
                                    <span class="line-icons call size-20"></span><span class="open">031-785-3345</span>
                                </div>
                            </div>
                            <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                        </div>
                        <!-- // 20211213 -->
                        <div class="store-meta">
                            <span>오늘서비스</span>
                            <span>다녀온 매장</span>
                            <span>수입차 정비</span>
                            <span>휴일지킴이</span>
                        </div>
                    </div>
                    <div class="store-footer">
                        <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                            <span class="label-txt">매장 상세보기</span>
                        </button>
                        <button type="button" class="btn-item btn-neutral btn-ol round select-button">
                            <span class="label-txt">방문 예약하기</span>
                        </button>
                    </div>
                </div>
                <!--//store-wrap-->
                <a href="#" class="close-btn" id="store-info-close">
                    <span class="line-icons close size-28"></span>
                </a>
            </div>
            <!--//sort-result-section search-map-->
            <a href="#" class="marker-btn-smart" style="left:700px;top:400px;"></a>
            <a href="#" class="marker-btn-t" style="left:800px;top:450px;"></a>
        </div>
        <!--//store-reserve-map-wrap-->
    </div>
    <!--//store-search-wrap-->
</div>