<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="cscenter" style="min-height: 499px;">
    <div class="inner">
        <%- locals.widget('src/project/desktop/includes/layouts/cs/aside.ejs') %>
        <div id="contents2">
            <!-- #pageTitle -->
            <div class="page_tit">
                <h4>FAQ <span>원하시는 답변이 없으시면, <em>1:1 고객상담 이나 고객센터</em>를  이용해 주시기 바랍니다.</span></h4>
                <div class="btn_right"><a href="https://www.tstation.com/customer-service/qna.do" class="btnM2 btnS01">1:1 고객상담</a></div>
            </div>
            <!-- #pageTitle -->
            <%- locals.widget('src/project/desktop/includes/layouts/cs/faq-search-form.ejs') %>
            <%- locals.widget('src/project/desktop/includes/layouts/cs/faq-category.ejs', { activeIndex: 0 }) %>
            <!-- 03.list -->


            <div class="faq_list">
                <p class="head">
                    <span class="no">번호</span>
                    <span class="part">분류</span>
                    <span class="tit">제목</span>
                    <span class="date">등록일</span>
                </p>
                <dl id="accordion">
                    <dt class="on">
                        <span class="no">8</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">타이어 1개 또는 3개만 교체 해도 문제가 없나요?</span>
                        <span class="date">2019-03-12</span>
                    </dt>
                    <dd class="answer on" style="display: block;">
                        마모 정도가 다른 타이어(1개 또는 3개 교체시)를 계속해서 사용할 경우,&nbsp;<br>
                        차량 구동축의 밸런스 등에 영향을 줄 수 있으므로 2개 또는 4개 교체를 권장합니다.
                    </dd>

                    <dt>
                        <span class="no">7</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">차종 검색에서 차종이 없는 경우는 어떻게 하나요?</span>
                        <span class="date">2019-03-12</span>
                    </dt>
                    <dd class="answer" style="display: none;">
                        고객님 차량에 장착된 타이어 사이즈를 확인하신 후, 재검색 부탁드립니다.&nbsp;<br>
                        신차 출고 시 최대한 빠른 시일 내에 업데이트 할 수 있도록 하겠습니다.
                    </dd>

                    <dt>
                        <span class="no">6</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">상품에 대해 궁금한 점들은 어디로 문의하나요?</span>
                        <span class="date">2019-03-21</span>
                    </dt>
                    <dd class="answer" style="display: none;">
                        FAQ를 적극 참조해 주시기 바랍니다.<br>
                        자세한 문의가 필요하시면, 1:1 고객상담 게시판이나 고객센터로 전화 문의주시면 친절하게 상담해 드리겠습니다.
                    </dd>

                    <dt>
                        <span class="no">5</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">기존 상품과 다른 타이어를 선택해도 되나요?</span>
                        <span class="date">2019-03-21</span>
                    </dt>
                    <dd class="answer" style="display: none;">
                        타이어 교환 시, 기존에 사용하던 타이어와 같은 규격 또는 호환 가능한 규격으로 속도, 하중지수가 같거나 높은 타이어를 선택하시면 됩니다.<br>
                        <br>
                        또한, 4개의 타이어를 가급적 같은 타이어로 장착하시는 것을 권장합니다.<br>
                        부득이하게 일부의 타이어만 교환하는 경우, 최소한 동일 축에는 같은 타이어를 장착하셔야 합니다.<br>
                        (기본장착 타이어의 전, 후륜 크기가 처음부터 다른 경우는 예외입니다.)<br>
                        <br>
                        규격이 다를 경우 자동차 속도 부정확성 및 휠 취부 문제로 인해 안전상 문제가 발생할 수 있습니다.
                    </dd>

                    <dt>
                        <span class="no">4</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">티스테이션 온라인과 매장 판매 상품은 동일한가요?</span>
                        <span class="date">2019-03-12</span>
                    </dt>
                    <dd class="answer" style="display: none;">
                        동일한 상품입니다.
                    </dd>

                    <dt>
                        <span class="no">3</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">필요한 사이즈가 없을 때는 어떻게 해야 하나요?</span>
                        <span class="date">2019-03-12</span>
                    </dt>
                    <dd class="answer" style="display: none;">
                        고객님이 필요로 하시는 상품이 없을 경우, 고객센터(080-022-8272)로 문의해 주시기 바랍니다.
                    </dd>

                    <dt>
                        <span class="no">2</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">타이어 어떻게 고르나요?</span>
                        <span class="date">2019-03-12</span>
                    </dt>
                    <dd class="answer" style="display: none;">
                        1. 사이즈를 알고 계시다면, 수치를 입력하시고 원하는 타이어를 선택하세요.<br>
                        2. 사이즈를 모르실 경우, 차종으로 검색하신 후 검색되는 사이즈를 확인합니다.<br>
                        <br>
                        이후,&nbsp;<br>
                        ① 주문회원 정보 입력&nbsp;<br>
                        ② 장착점/방문일자 선택&nbsp;<br>
                        ③ 주문금액 확인 및 결제&nbsp;<br>
                        등의 구매 절차를 거치게 됩니다.
                    </dd>

                    <dt>
                        <span class="no">1</span>
                        <span class="part">상품 선택</span>
                        <span class="tit">타이어 생산년도 (제조일자)를 어떻게 알 수 있나요?</span>
                        <span class="date">2019-03-21</span>
                    </dt>
                    <dd class="answer" style="display: none;">
                        타이어 옆면에 표시되어 있는 DOT 4자리 숫자를 확인하시면 됩니다.<br>
                        앞의 2자리는 생산 주차, 뒤의 2자리는 생산 연도입니다.
                    </dd>

                </dl>
            </div>




            <div class="paging">
                <button type="button" class="first" onclick="goPage('1');">처음</button>


                <button type="button" class="on" onclick="goPage('1');">1</button>


                <button type="button" class="end" onclick="goPage('1');">맨끝</button>
            </div>
            <input type="hidden" id="rowsPerPage" name="rowsPerPage" value="10">


            <!-- 03.list -->
        </div>
    </div>
</div>