<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">
                    <div class="page-header border-none">
                        <h1>내 쿠폰</h1>
                    </div>

                    <div class="tab-item no-sticky on-layer size-m">
                        <a href="#" class="">사용가능한 쿠폰</a>
                        <a href="#" class="on">쿠폰 등록</a>
                        <a href="#" class="">지난 쿠폰</a>
                    </div>

                    <div class="container pd-v-8u pd-h-8u">
                        <section class="border-all pd-h-15u pd-v-10u bg-filet-4 bg-shadow-4">
                            <h3 class="txt-w400 txt-20">쿠폰번호 입력</h3>
                            <p class="txt-neutral2 mg-t-3u">유효한 쿠폰번호를 입력하고 '쿠폰등록'버튼을 누르시면<br>등록하신 쿠폰이 '사용가능한 쿠폰'에 추가됩니다.</p>
                            <table class="mg-t-8u">
                                <colgroup>
                                    <col style="width: auto;" />
                                    <col style="width: 140px;" />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="form-control form-control-md">
                                            <div class="input-group">
                                                <input type="text" class="input-box" placeholder="쿠폰번호를 입력해 주세요." />
                                                <div class="tools">
                                                    <button class="clear"><span class="line-icons close-circle"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pd-l-2u">
                                        <button type="button" class="btn-item btn-neutral round full-w">
                                            <span class="label-txt">쿠폰등록</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New Popup -->
<!-- 쿠폰 등록 완료 -->
<div class="modal-item instance on">
    <div class="dim"></div>

    <div class="middler">
        <div class="modal-pannel size-s">
            <!-- modal-header -->
            <div class="modal-header">
                <h3>쿠폰 등록 완료</h3>
                <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                    <span class="line-icons close size-30"></span>
                </button>
            </div>

            <!-- modal-action -->
            <div class="modal-action">
                <ul class="list-size-equal">
                    <li>
                        <button type="button" class="btn-item btn-neutral round full-w" onclick="$(this).closest('.modal-item').removeClass('on');">
                            <span class="label-txt">확인</span>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- modal-body -->
            <div class="modal-body">
                <div class="modal-scroller">
                    <div class="container pd-h-8u pd-v-8u">
                        <!-- jsp파일로 구성할 부분(모달호출시 'modalContentsPd' 옵션 hor../ver.. 8로 설정) -->
                        <p class="txt-center txt-16">
                            <span class="line-icons check-circle size-48 txt-primary mg-b-2u"></span><br>
                            <em class="txt-primary">30% Family 타이어 할인쿠폰</em>이<br>등록되었습니다.


                        </p>

                        <p class="txt-center txt-neutral2 mg-t-8u pd-t-4u border-t"><em class="txt-neutral1 txt-w500">'사용 가능한 쿠폰'</em> 탭에서 쿠폰을 확인하세요.</p>
                        <!-- //jsp파일로 구성할 부분 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>