<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container">

    <!-- 405 Error -->
    <div class="error_box">
        <h3>잘못 된 요청입니다.</h3>
        <p class="txt01">
            해당 페이지에 접근하기 위해서는
            <br /><em>정상적인 경로로 접근하셔야 합니다.</em>
            <br />페이지 찾기가 어려우시면 고객센터로 문의 해 주세요.
        </p>
        <p class="txt_cs">(Tel. 080-022-8272)</p>
        <p class="btn01">
            <a href="/" class="btnM btnS02">메인 페이지</a>
            <a href="javascript:history.back(-1);" class="btnM btnS01">이전 페이지</a>
        </p>

        <div class="car2">
            <span class="ani">T'Station</span>
        </div>
    </div>
    <!-- //405 Error -->



</div>