<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">

                    <div class="page_tit">
                        <h4>매장서비스내역</h4>
                    </div>

                    <div class="container mypage">

                        <!-- //01. page title -->
                        <!-- 매장서비스내역  top -->
                        <div class="review_top">
                            <ul class="tab_01">
                                <li class="on"><a href="store_list.jsp">정비서비스 이력</a></li>
                                <li><a href="store_save.jsp">보관서비스 이력</a></li>
                            </ul>
                        </div>
                        <!-- //매장서비스내역  top -->
                        <!-- 매장 상단 -->
                        <div class="shop_pay">
                            <ul>
                                <li>
                                    <span class="tit">총 서비스 건수</span>
                                    <span class="no"><em>1</em>건</span>
                                </li>
                                <li>
                                    <span class="tit">총 서비스 금액</span>
                                    <span class="no"><em>2,337,000</em>원</span>
                                </li>
                            </ul>
                            <div class="sort">
                                <select class="select01">
                                    <option>99바 5454</option>
                                </select>
                                <span class="link"><a href="#" class="btnM2 btnS01">차량 등록 및 수정을 원하시면 이곳을 클릭해 주세요</a></span>
                            </div>
                        </div>
                        <!-- //매장 상단 -->
                        <!-- list -->
                        <ol class="mylist_01">
                            <li>
                                <div class="date">2018-06-24 <a href="store_detail.jsp" class="more">상세내역보기</a></div>
                                <div class="tbl_01">
                                    <table>
                                        <colgroup>
                                            <col style="width:160px;">
                                            <col style="width: auto">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>매장명</th>
                                            <td class="col01">
                                                역삼점
                                                <button class="btnM btnS03">매장리뷰작성하기</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>정비(공임)항목</th>
                                            <td>[VENTUS S2 AS] VENTUS S2 AS 외 1건</td>
                                        </tr>
                                        <tr>
                                            <th>정비(공임)금액</th>
                                            <td>
                                                <!-- TODO: 스마트 페이 배지 추가 -->
                                                <span class="v-middle">531,000원</span>
                                                <span class="smart-pay-badge">
                                                            <img src="pc-static-root/images/common/smart_pay_logo_w.svg" title="스마트페이">
                                                        </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="date">2018-06-24 <a href="store_detail.jsp" class="more">상세내역보기</a></div>
                                <div class="tbl_01">
                                    <table>
                                        <colgroup>
                                            <col style="width:160px;">
                                            <col style="width: auto">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th>매장명</th>
                                            <td class="col01">
                                                역삼점
                                                <button class="btnM btnS03">매장리뷰작성하기</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>정비(공임)항목</th>
                                            <td>[VENTUS S2 AS] VENTUS S2 AS 외 1건</td>
                                        </tr>
                                        <tr>
                                            <th>정비(공임)금액</th>
                                            <td>531,000원</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ol>
                        <!-- //list -->
                        <!-- button -->
                        <div class="btn01">
                            <a href="#" class="btnB btnS07">더보기</a>
                        </div>
                        <!-- //button -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>