<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">

                    <div class="page_tit">
                        <h4>매장서비스내역</h4>
                    </div>

                    <div class="container mypage">
                        <!-- 02. 상세 -->
                        <div class="mydetail_01">
                            <div class="tbl_01 none">
                                <table>
                                    <colgroup>
                                        <col style="width:160px;">
                                        <col style="width: auto">
                                        <col style="width:160px;">
                                        <col style="width: auto">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>주문번호</th>
                                        <td class="col01">123456789123</td>
                                        <th>주문일자</th>
                                        <td>2018-06-24</td>
                                    </tr>
                                    <tr>
                                        <th>매장명</th>
                                        <td>분당정자점</td>
                                        <th>방문자</th>
                                        <td>김남기</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="tbl_01 brd01">
                                <table>
                                    <colgroup>
                                        <col style="width:160px;">
                                        <col style="width: auto">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>매장명</th>
                                        <td>분당정자점</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>-->
                        </div>
                        <!-- 02. 상세 -->
                        <!-- 03. 상품 정보  -->
                        <div class="mydetail_02">
                            <h6>상품 정보</h6>
                            <div class="tbl_01 none">
                                <table>
                                    <colgroup>
                                        <col style="width:160px;">
                                        <col style="width: auto">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th rowspan="2">상품정보</th>
                                        <td>휠얼라이먼스 조정
                                            <span class="bar">+<em>10,000</em>원</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>타이어교체
                                            <span class="bar">+<em>10,000</em>원</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>수량</th>
                                        <td>2개</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //03. 상품 정보  -->
                        <!-- 04. 결제정보  -->
                        <div class="mydetail_02">
                            <h6>결제정보</h6>
                            <div class="payment_01">
                                <ol>
                                    <li>
                                        <span class="tit">총 주문금액</span>
                                        +00,000,000원
                                    </li>
                                    <li>
                                        <span class="tit">상품가격(공임비)</span>
                                        0원
                                    </li>
                                    <li>
                                        <span class="tit">총 할인금액</span>
                                        0원
                                    </li>
                                    <li>
                                        <span class="tit">부가세(VAT)</span>
                                        0원
                                    </li>
                                </ol>
                                <div class="total02">
                                    <span class="tit">최종결제금액</span>
                                    <span class="no"><em>100,000,000</em>원</span>

                                    <div class="smart-pay-installment stand-alone">
                                        <img src="pc-static-root/images/common/smart_pay_logo.svg" class="smart-pay-img" alt="스마트페이">
                                        <span class="txt-14 txt-neutral1">무이자 월 납입금액</span>

                                        <p class="txt-16 mg-t-2u"><span class="txt-w700 txt-primary">월 <em class="txt-20">57,100</em></span>원</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //04. 상품 정보  -->
                        <!-- button -->
                        <div class="btn01">
                            <a href="#" class="btnB btnS07">목록으로</a>
                        </div>
                        <!-- //button -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>