<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">

                    <div class="page-header">
                        <h1>주문취소내역</h1>
                        <div class="day_set">
                            <ul>
                                <li class="r1">
                                    <div class="day">
                                        <input title="일   입력" type="text" class="ip_txt01 w100p" data-id="datepickBox1" id="startDate" data-rel="pick" data-toggle="datepicker" value="2018-11-23">
                                        <button class="datepic">일자선택</button>
                                    </div>
                                    <div id="datepickBox1" class="pick datepickBox1" style="display: none"></div>
                                </li>
                                <li class="r2">
                                    <div class="day">
                                        <input title="일   입력" type="text" class="ip_txt01 w100p" data-id="datepickBox2" id="endDate" data-rel="pick" data-toggle="datepicker" value="2019-12-24">
                                        <button class="datepic">일자선택</button>
                                    </div>
                                    <div id="datepickBox2" class="pick datepickBox2" style="display: none"></div>
                                </li>
                                <li class="r3"><button class="period" data="1">최근 한달</button></li>
                                <li class="r3"><button class="period" data="12">최근 일년</button></li>
                                <li class="r4"><button id="btn_search" class="btnM2 btnS07">조회</button></li>
                            </ul>
                            <input type="hidden" id="ordDtlSctCd" value="10">
                        </div>
                    </div>

                    <div class="container">
                        <div class="mg-t-4u txt-right">
                            <div class="form-control form-control-md inline">
                                <div class="input-group">
                                    <select class="input-box">
                                        <option value="" selected>전체</option>
                                        <option value="">주문완료</option>
                                        <option value="">배송준비중</option>
                                        <option value="">배송중</option>
                                        <option value="">배송완료</option>
                                        <option value="">장착완료</option>
                                    </select>
                                    <div class="tools">
                                        <button><span class="line-icons chev-down"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order_list">
                            <p class="nodata">주문취소내역이 없습니다.</p>
                            <ol class="mylist_01">

                                <li>
                                    <div class="date">
                                        <!-- TODO: 기존 마크업 수정 및 스마트페이 베지 추가 -->
                                        <span class="v-middle">주문번호</span>
                                        <em class="ord_no v-middle">O202010140077756</em>
                                        <em class="ord_date v-middle">2020-10-14</em>
                                        <span class="smart-pay-badge mg-l-2u"><img src="pc-static-root/images/common/smart_pay_logo_w.svg" title="스마트페이"/></span>

                                        <a href="#none" class="more">상세보기</a><!-- 20210720 -->
                                    </div>
                                    <div class="tbl_02">
                                        <table>
                                            <colgroup>
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                            </colgroup>
                                            <tbody>
                                            <!-- 신청 서비스 -->
                                            <!-- 20210720 // -->
                                            <tr>
                                                <th>방문방법</th>
                                                <td colspan="3">
                                                    딜리버리
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>매장명</th>
                                                <td>티스테이션 평촌점</td>
                                                <th>매장방문일</th>
                                                <td> 2020-10-31(토)&nbsp;21시</td>
                                            </tr>
                                            <!-- // 20210720 -->
                                            <!-- // 신청 서비스 -->
                                            <tr>
                                                <td colspan="4">
                                                    <!-- 주문 상품 정보 -->
                                                    <ol class="unit">

                                                        <li>
                                                            <dl class="unit02">
                                                                <dt>
                                                                    <a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':0,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','product_rating_customer':'0.0'}">
                                                                        <img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Ventus V12 evo2">
                                                                    </a>
                                                                    <span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':0,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','product_rating_customer':'0.0'}"><span class="flag_04"><em class="c01 off">Comfort</em> <em class="c02 ">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 스포츠</span><small class="sub">Ventus V12 evo2</small></span><span class="unitT3">245/40R19</span><span class="flag_05"><em>승용차</em><em>여름</em><em>프리미엄</em></span></a></dd>

                                                                <dd class="price">
                                                                    <span class="unitP2"> <em>192,900</em>원 <em class="no"><i>1</i>개</em></span>
                                                                </dd>
                                                            </dl>
                                                        </li>

                                                    </ol> <!-- // 주문 상품 정보 -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                                <li>
                                    <div class="date">
                                        <span class="v-middle">주문번호</span>
                                        <em class="ord_no v-middle">O202010140077756</em>
                                        <em class="ord_date v-middle">2020-10-14</em>

                                        <a href="#none" class="more">상세보기</a><!-- 20210720 -->
                                    </div>
                                    <div class="tbl_02">
                                        <table>
                                            <colgroup>
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                            </colgroup>
                                            <tbody>
                                            <!-- 신청 서비스 -->
                                            <!-- 20210720 // -->
                                            <tr>
                                                <th>방문방법</th>
                                                <td colspan="3">
                                                    딜리버리
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>매장명</th>
                                                <td>티스테이션 평촌점</td>
                                                <th>매장방문일</th>
                                                <td> 2020-10-31(토)&nbsp;21시</td>
                                            </tr>
                                            <!-- // 20210720 -->
                                            <!-- // 신청 서비스 -->
                                            <tr>
                                                <td colspan="4">
                                                    <!-- 주문 상품 정보 -->
                                                    <ol class="unit">

                                                        <li>
                                                            <dl class="unit02">
                                                                <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_a_kinergy_gt?goodsNo=G000000317721" data-ap-product="{'name':'Kinergy GT','id':'G000000317721','price':0,'brand':'HK','category':'사계절/승용차/COMFORT/스탠다드','variant':'225/45R17','product_rating_customer':'0.0'}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Kinergy GT"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_a_kinergy_gt?goodsNo=G000000317721" data-ap-product="{'name':'Kinergy GT','id':'G000000317721','price':0,'brand':'HK','category':'사계절/승용차/COMFORT/스탠다드','variant':'225/45R17','product_rating_customer':'0.0'}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>키너지 컴포트</span><small class="sub">Kinergy GT</small></span><span class="unitT3">225/45R17</span><span class="flag_05"><em>승용차</em><em>사계절</em><em>스탠다드</em></span></a></dd>

                                                                <dd class="price">
                                                                    <span class="unitP2"> <em>129,800</em>원 <em class="no"><i>1</i>개</em></span>
                                                                </dd>
                                                            </dl>
                                                        </li>

                                                    </ol> <!-- // 주문 상품 정보 -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                                <li>
                                    <div class="date">
                                        <span class="v-middle">주문번호</span>
                                        <em class="ord_no v-middle">O202010140077756</em>
                                        <em class="ord_date v-middle">2020-10-14</em>

                                        <a href="#none" class="more">상세보기</a><!-- 20210720 -->
                                    </div>
                                    <div class="tbl_02">
                                        <table>
                                            <colgroup>
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                            </colgroup>
                                            <tbody>
                                            <!-- 신청 서비스 -->
                                            <!-- 20210720 // -->
                                            <tr>
                                                <th>방문방법</th>
                                                <td colspan="3">
                                                    딜리버리
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>매장명</th>
                                                <td>티스테이션 평촌점</td>
                                                <th>매장방문일</th>
                                                <td> 2020-10-31(토)&nbsp;21시</td>
                                            </tr>
                                            <!-- // 20210720 -->
                                            <!-- // 신청 서비스 -->
                                            <tr>
                                                <td colspan="4">
                                                    <!-- 주문 상품 정보 -->
                                                    <ol class="unit">

                                                        <li>
                                                            <dl class="unit02">
                                                                <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_a_ventus_s2_as?goodsNo=G000000318496" data-ap-product="{'name':'Ventus S2 AS','id':'G000000318496','price':0,'brand':'HK','category':'사계절/승용차/COMFORT/프리미엄+','variant':'225/45R17','product_rating_customer':'0.0'}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Ventus S2 AS"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_a_ventus_s2_as?goodsNo=G000000318496" data-ap-product="{'name':'Ventus S2 AS','id':'G000000318496','price':0,'brand':'HK','category':'사계절/승용차/COMFORT/프리미엄+','variant':'225/45R17','product_rating_customer':'0.0'}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 프리미엄 컴포트</span><small class="sub">Ventus S2 AS</small></span><span class="unitT3">225/45R17</span><span class="flag_05"><em>승용차</em><em>사계절</em><em>프리미엄+</em></span></a></dd>

                                                                <dd class="price">
                                                                    <span class="unitP2"> <em>169,400</em>원 <em class="no"><i>1</i>개</em></span>
                                                                </dd>
                                                            </dl>
                                                        </li>

                                                    </ol> <!-- // 주문 상품 정보 -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                                <li>
                                    <div class="date">
                                        <span class="v-middle">주문번호</span>
                                        <em class="ord_no v-middle">O202010140077756</em>
                                        <em class="ord_date v-middle">2020-10-14</em>

                                        <a href="#none" class="more">상세보기</a><!-- 20210720 -->
                                    </div>
                                    <div class="tbl_02">
                                        <table>
                                            <colgroup>
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                            </colgroup>
                                            <tbody>
                                            <!-- 신청 서비스 -->
                                            <!-- 20210720 // -->
                                            <tr>
                                                <th>방문방법</th>
                                                <td colspan="3">
                                                    딜리버리
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>매장명</th>
                                                <td>티스테이션 평촌점</td>
                                                <th>매장방문일</th>
                                                <td> 2020-10-31(토)&nbsp;21시</td>
                                            </tr>
                                            <!-- // 20210720 -->
                                            <!-- // 신청 서비스 -->
                                            <tr>
                                                <td colspan="4">
                                                    <!-- 주문 상품 정보 -->
                                                    <ol class="unit">

                                                        <li>
                                                            <dl class="unit02">
                                                                <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318484" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318484','price':0,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'225/45R17','product_rating_customer':'0.0'}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Ventus V12 evo2"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span><span class="flag_03"><em>임시품절</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318484" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318484','price':0,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'225/45R17','product_rating_customer':'0.0'}"><span class="flag_04"><em class="c01 off">Comfort</em> <em class="c02 ">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 스포츠</span><small class="sub">Ventus V12 evo2</small></span><span class="unitT3">225/45R17</span><span class="flag_05"><em>승용차</em><em>여름</em><em>프리미엄</em></span></a></dd>

                                                                <dd class="price">
                                                                    <span class="unitP2"> <em>146,300</em>원 <em class="no"><i>1</i>개</em></span>
                                                                </dd>
                                                            </dl>
                                                        </li>

                                                    </ol> <!-- // 주문 상품 정보 -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                                <li>
                                    <div class="date">
                                        <span class="v-middle">주문번호</span>
                                        <em class="ord_no v-middle">O202010140077756</em>
                                        <em class="ord_date v-middle">2020-10-14</em>

                                        <a href="#none" class="more">상세보기</a><!-- 20210720 -->
                                    </div>
                                    <div class="tbl_02">
                                        <table>
                                            <colgroup>
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                            </colgroup>
                                            <tbody>
                                            <!-- 신청 서비스 -->
                                            <!-- 20210720 // -->
                                            <tr>
                                                <th>방문방법</th>
                                                <td colspan="3">
                                                    딜리버리
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>매장명</th>
                                                <td>티스테이션 평촌점</td>
                                                <th>매장방문일</th>
                                                <td> 2020-10-31(토)&nbsp;21시</td>
                                            </tr>
                                            <!-- // 20210720 -->
                                            <!-- // 신청 서비스 -->
                                            <tr>
                                                <td colspan="4">
                                                    <!-- 주문 상품 정보 -->
                                                    <ol class="unit">

                                                        <li>
                                                            <dl class="unit02">
                                                                <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_a_ventus_v2_as?goodsNo=G000000325337" data-ap-product="{'name':'Ventus V2 AS','id':'G000000325337','price':0,'brand':'HK','category':'사계절/승용차/COMFORT/프리미엄','variant':'225/45R17','product_rating_customer':'0.0'}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Ventus V2 AS"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_a_ventus_v2_as?goodsNo=G000000325337" data-ap-product="{'name':'Ventus V2 AS','id':'G000000325337','price':0,'brand':'HK','category':'사계절/승용차/COMFORT/프리미엄','variant':'225/45R17','product_rating_customer':'0.0'}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 컴포트</span><small class="sub">Ventus V2 AS</small></span><span class="unitT3">225/45R17</span><span class="flag_05"><em>승용차</em><em>사계절</em><em>프리미엄</em></span></a></dd>

                                                                <dd class="price">
                                                                    <span class="unitP2"> <em>142,800</em>원 <em class="no"><i>1</i>개</em></span>
                                                                </dd>
                                                            </dl>
                                                        </li>

                                                    </ol> <!-- // 주문 상품 정보 -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                                <li>
                                    <div class="date">
                                        <span class="v-middle">주문번호</span>
                                        <em class="ord_no v-middle">O202010140077756</em>
                                        <em class="ord_date v-middle">2020-10-14</em>

                                        <a href="#none" class="more">상세보기</a><!-- 20210720 -->
                                    </div>
                                    <div class="tbl_02">
                                        <table>
                                            <colgroup>
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                            </colgroup>
                                            <tbody>
                                            <!-- 신청 서비스 -->
                                            <!-- 20210720 // -->
                                            <tr>
                                                <th>방문방법</th>
                                                <td colspan="3">
                                                    딜리버리
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>매장명</th>
                                                <td>티스테이션 평촌점</td>
                                                <th>매장방문일</th>
                                                <td> 2020-10-31(토)&nbsp;21시</td>
                                            </tr>
                                            <!-- // 20210720 -->
                                            <!-- // 신청 서비스 -->
                                            <tr>
                                                <td colspan="4">
                                                    <!-- 주문 상품 정보 -->
                                                    <ol class="unit">

                                                        <li>
                                                            <dl class="unit02">
                                                                <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_w_winter_i*cept_evo2?goodsNo=G000000317569" data-ap-product="{'name':'Winter i*cept evo2','id':'G000000317569','price':0,'brand':'HK','category':'겨울/승용차/COMFORT/프리미엄+','variant':'225/45R17','product_rating_customer':'0.0'}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Winter i*cept evo2"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span><span class="flag_03"><em>임시품절</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_w_winter_i*cept_evo2?goodsNo=G000000317569" data-ap-product="{'name':'Winter i*cept evo2','id':'G000000317569','price':0,'brand':'HK','category':'겨울/승용차/COMFORT/프리미엄+','variant':'225/45R17','product_rating_customer':'0.0'}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>윈터 아이셉트 프리미엄</span><small class="sub">Winter i*cept evo2</small></span><span class="unitT3">225/45R17</span><span class="flag_05"><em>승용차</em><em>겨울</em><em>프리미엄+</em></span></a></dd>

                                                                <dd class="price">
                                                                    <span class="unitP2"> <em>154,700</em>원 <em class="no"><i>1</i>개</em></span>
                                                                </dd>
                                                            </dl>
                                                        </li>

                                                    </ol> <!-- // 주문 상품 정보 -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                                <li>
                                    <div class="date">
                                        <span class="v-middle">주문번호</span>
                                        <em class="ord_no v-middle">O202010140077756</em>
                                        <em class="ord_date v-middle">2020-10-14</em>

                                        <a href="#none" class="more">상세보기</a><!-- 20210720 -->
                                    </div>
                                    <div class="tbl_02">
                                        <table>
                                            <colgroup>
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                                <col style="width: 160px;">
                                                <col style="width: auto;">
                                            </colgroup>
                                            <tbody>
                                            <!-- 신청 서비스 -->
                                            <!-- 20210720 // -->
                                            <tr>
                                                <th>방문방법</th>
                                                <td colspan="3">
                                                    딜리버리
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>매장명</th>
                                                <td>티스테이션 평촌점</td>
                                                <th>매장방문일</th>
                                                <td> 2020-10-31(토)&nbsp;21시</td>
                                            </tr>
                                            <!-- // 20210720 -->
                                            <!-- // 신청 서비스 -->
                                            <tr>
                                                <td colspan="4">
                                                    <!-- 주문 상품 정보 -->
                                                    <ol class="unit">

                                                        <li>
                                                            <dl class="unit02">
                                                                <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_s_a_dynapro_hp2?goodsNo=G000000318197" data-ap-product="{'name':'Dynapro HP2','id':'G000000318197','price':0,'brand':'HK','category':'사계절/SUV/COMFORT/스탠다드','variant':'255/60R18','product_rating_customer':'0.0'}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Dynapro HP2"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_s_a_dynapro_hp2?goodsNo=G000000318197" data-ap-product="{'name':'Dynapro HP2','id':'G000000318197','price':0,'brand':'HK','category':'사계절/SUV/COMFORT/스탠다드','variant':'255/60R18','product_rating_customer':'0.0'}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>다이나프로 컴포트</span><small class="sub">Dynapro HP2</small></span><span class="unitT3">255/60R18</span><span class="flag_05"><em>SUV</em><em>사계절</em><em>스탠다드</em></span></a></dd>

                                                                <dd class="price">
                                                                    <span class="unitP2"> <em>200,200</em>원 <em class="no"><i>1</i>개</em></span>
                                                                </dd>
                                                            </dl>
                                                        </li>

                                                    </ol> <!-- // 주문 상품 정보 -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                            </ol>
                            <!-- // 주문내역 -->


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>