<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<link rel="stylesheet" type="text/css" href="pc-static-root/css/safe-service.css" />
<div id="container" class="safeservice-group">
    <div class="container border-b">
        <div class="guardrail pd-t-15u">
            <div class="page-header border-none">
                <h1>안심서비스 가입</h1>
            </div>
        </div>
    </div>
    <div class="container join-result-page bg-light2">
        <div class="guardrail pd-v-8u">
            <div class="container txt-center">
                <div class="join-number-section">
                    <span class="icon-safe-headline">
                        <span class="line-icons check-circle-inv size-20"></span>
                    </span>
                    <h3 class="section-headline txt-20 pd-h-5u txt-center txt-w500">안심서비스 가입이 <strong class="txt-primary txt-w500">완료</strong>되었습니다</h3>
                    <div class="label-wrap txt-center">
                        <span class="label-txt txt-16 bg-fff pd-h-4u">가입번호</span>
                        <span class="label-info txt-16 txt-primary bg-fff pd-h-4u">20161110073814</span>
                    </div>
                    <div class="mg-v-4u txt-center">
                        <p class="txt-14">티스테이션에서 상품을 구매하신 고객의 경우,</p>
                        <p class="txt-14 txt-primary">전국 티스테이션 all my T 매장에서 안심서비스 혜택을 받을 수 있습니다.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="contents" class="join-result-page">
        <div class="join-result-section">
            <div class="join-result-copy txt-20 txt-center">
                고객님의 안심 서비스 종료일은 <strong class="txt-primary txt-w500">YYYY-MM_DD</strong> 입니다.
            </div>
            <div class="section-subheadcopy txt-20 mg-t-10u">고객 정보</div>
            <div class="rowgroup mg-t-3u">
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">가입고객 이름</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">김한국</span>
                    </div>
                    <div class="rowheader">
                        <span class="label-txt">연락처</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">010-1122-3355</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">차량번호</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">12가3456</span>
                    </div>
                    <div class="rowheader">
                        <span class="label-txt">모델명</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">현대 쏘나타 뉴 라이즈</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">가입시점 주행거리</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">1,234 km</span>
                    </div>
                </div>
            </div>
            <div class="section-subheadcopy txt-20 mg-t-10u">고객 정보</div>
            <div class="rowgroup mg-t-3u">
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">상품명</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">벤투스 프리미엄 컴포트</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">타이어사이즈</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">215/55R17</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">장착수량</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">4개</span>
                        <span class="badge-mounting">전륜/후륜</span>
                    </div>
                </div>
            </div>
            <div class="section-subheadcopy txt-20 mg-t-10u">고객 정보</div>
            <div class="rowgroup mg-t-3u">
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">상품명(1)</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">벤투스 프리미엄 컴포트</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">타이어사이즈(1)</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">215/55R17</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">장착수량</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">4개</span>
                        <span class="badge-mounting">전륜</span>
                    </div>
                </div>
            </div>
            <div class="section-subheadcopy txt-20 mg-t-10u">고객 정보</div>
            <div class="rowgroup mg-t-3u">
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">상품명(2)</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">벤투스 프리미엄 컴포트</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">타이어사이즈(2)</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">215/55R17</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">장착수량</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">4개</span>
                        <span class="badge-mounting">후륜</span>
                    </div>
                </div>
            </div>
            <div class="section-subheadcopy txt-20 mg-t-10u">고객 정보</div>
            <div class="rowgroup mg-t-3u">
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">장착매장명</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">티스테이션 송파오금점</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">가입일</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">2021-01-01</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">만기일</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">2022-01-01</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="container txt-0 txt-center mg-t-15u">
            <button type="button" class="btn-item btn-neutral w-240 round">
                <span class="label-txt">확인</span>
            </button>
        </div>
    </div>

</div>