<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">

                    <div class="page_tit">
                        <h4>상품평</h4>
                    </div>

                    <div class="container mypage">

                        <div class="review_top">
                            <ul id="tabReview" class="tab_01">
                                <li class="on"><a href="#">작성 가능한 상품평</a></li>
                                <li><a href="#">내가 작성한 상품평</a></li>
                            </ul>
                        </div>
                        <div id="reviewList1" class="review_list date">
                            <p class="nodata"><em>작성 가능한</em><br>상품평이 없습니다.</p>
                            <ol>
                                <li class="">
                                    <!-- 20220404 // -->
                                    <div class="order_no clearfix">
                                        <span class="order-date">주문일자 <em>2018-06-24</em></span>
                                        <span class="review-date txt-14 txt-neutral2 float-r txt-nowrap">상품평 작성 <span class="dp-inblock pd-l-1u txt-14 txt-primary txt-w500">D-7 남음</span></span>
                                    </div>
                                    <!-- // 20220404 -->
                                    <div class="box">
                                        <dl class="unit01">
                                            <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':192900,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Ventus V12 evo2"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':192900,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><span class="flag_04"><em class="c01 off">Comfort</em> <em class="c02 ">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 스포츠</span><small class="sub">Ventus V12 evo2</small></span><span class="unitT3">245/40R19</span><span class="flag_05"><em>승용차</em><em>여름</em><em>프리미엄</em></span></a></dd>
                                        </dl>
                                        <div class="btn02">
                                            <!-- 작성 가능한 상품평 -->
                                            <button class="btnM3 btnS01 popup-scarce" data-rel="https://wwwlocal.tstation.com/mypage/activity/goodsReviewWrite?goodsNo=G000000318112&amp;ordNo=O202010140077756&amp;ordGoodsSeq=1&amp;tabIndex=0">상품평 쓰기</button>


                                        </div>
                                    </div>

                                </li>

                                <li class="">

                                    <!-- 20220404 // -->
                                    <div class="order_no clearfix">
                                        <span class="order-date">주문일자 <em>2018-06-24</em></span>
                                        <span class="review-date txt-14 txt-neutral2 float-r txt-nowrap">상품평 작성 <span class="dp-inblock pd-l-1u txt-14 txt-primary txt-w500">D-7 남음</span></span>
                                    </div>
                                    <!-- // 20220404 -->

                                    <div class="box">
                                        <dl class="unit01">
                                            <dt><a href="https://wwwlocal.tstation.com/tire/product/mc_p_s_michelin_primacy_4?goodsNo=G000000319397" data-ap-product="{'name':'MICHELIN PRIMACY 4','id':'G000000319397','price':165000,'brand':'MC','category':'여름/승용차/COMFORT/','variant':'205/55R16','is_product_package':'N','product_rating_customer':'0.0','product_rating_comfort':' 3.8 ','product_rating_mileage':' 3.5 ','product_rating_fast_driving':' 4.3 ','product_rating_efficiency':' 3.0 '}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="MICHELIN PRIMACY 4"></a><span class="flag_02"><em class="brandLogo logoMC">logoMichelin Tire</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/mc_p_s_michelin_primacy_4?goodsNo=G000000319397" data-ap-product="{'name':'MICHELIN PRIMACY 4','id':'G000000319397','price':165000,'brand':'MC','category':'여름/승용차/COMFORT/','variant':'205/55R16','is_product_package':'N','product_rating_customer':'0.0','product_rating_comfort':' 3.8 ','product_rating_mileage':' 3.5 ','product_rating_fast_driving':' 4.3 ','product_rating_efficiency':' 3.0 '}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1">MICHELIN PRIMACY 4</span><span class="unitT3">205/55R16</span><span class="flag_05"><em>승용차</em><em>여름</em><em>null</em></span></a></dd>

                                        </dl>
                                        <div class="btn02">
                                            <!-- 작성 가능한 상품평 -->
                                            <button class="btnM3 btnS01 popup-scarce" data-rel="https://wwwlocal.tstation.com/mypage/activity/goodsReviewWrite?goodsNo=G000000319397&amp;ordNo=O202010140077757&amp;ordGoodsSeq=1&amp;tabIndex=0">상품평 쓰기</button>


                                        </div>
                                    </div>

                                </li>

                                <li class="">

                                    <!-- 20220404 // -->
                                    <div class="order_no clearfix">
                                        <span class="order-date">주문일자 <em>2018-06-24</em></span>
                                        <span class="review-date txt-14 txt-neutral2 float-r txt-nowrap">상품평 작성 <span class="dp-inblock pd-l-1u txt-14 txt-neutral1 txt-w500">2018-06-24</span></span>
                                    </div>
                                    <!-- // 20220404 -->

                                    <div class="box">
                                        <dl class="unit01">
                                            <dt><a href="https://wwwlocal.tstation.com/tire/product/mx_p_a_m3?goodsNo=G000000318166" data-ap-product="{'name':'M3','id':'G000000318166','price':135500,'brand':'MX','category':'사계절/승용차/COMFORT/','variant':'235/55R17','is_product_package':'N','product_rating_customer':'4.5','product_rating_comfort':' 4.0 ','product_rating_mileage':' 5.0 ','product_rating_fast_driving':' 4.5 ','product_rating_efficiency':' 2.0 '}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="M3"></a><span class="flag_02"><em class="brandLogo logoMX">logoMaxxis Tire</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/mx_p_a_m3?goodsNo=G000000318166" data-ap-product="{'name':'M3','id':'G000000318166','price':135500,'brand':'MX','category':'사계절/승용차/COMFORT/','variant':'235/55R17','is_product_package':'N','product_rating_customer':'4.5','product_rating_comfort':' 4.0 ','product_rating_mileage':' 5.0 ','product_rating_fast_driving':' 4.5 ','product_rating_efficiency':' 2.0 '}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1">M3</span><span class="unitT3">235/55R17</span><span class="flag_05"><em>승용차</em><em>사계절</em><em>null</em></span></a></dd>

                                        </dl>
                                        <div class="btn02">
                                            <!-- 작성 가능한 상품평 -->
                                            <button class="btnM3 btnS01 popup-scarce" data-rel="https://wwwlocal.tstation.com/mypage/activity/goodsReviewWrite?goodsNo=G000000318166&amp;ordNo=O202010140077758&amp;ordGoodsSeq=1&amp;tabIndex=0">상품평 쓰기</button>


                                        </div>
                                    </div>

                                </li>

                            </ol>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-item instance on" data-ref="review">
    <!-- dim 디폴트는 dark. 'white'클래스 추가로 흰색처리 가능. -->
    <div class="dim"></div>

    <div class="middler">
        <!-- 모달 패널(이분분 통째로 디자인해야함). 사이즈 옵션 size-s / size-m(default) / size-l -->
        <div class="modal-pannel size-m">
            <!-- modal-header - modal-action - modal-body 순서변경 금지. modal-header / modal-action 생략은 가능. -->
            <!-- modal-header -->
            <div class="modal-header">
                <h3>상품평 쓰기</h3>
                <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                    <span class="line-icons close size-30"></span>
                </button>
            </div>

            <!-- modal-action 경계선 없이 흰색벼경은 'no-boundary'클래스 추가-->
            <div class="modal-action">
                <ul class="list-size-equal">
                    <li>
                        <button type="button" class="btn-item btn-neutral round full-w" onclick="$.Tstation.popup().close('review')">
                            <span class="label-txt">확인</span>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- modal-body -->
            <div class="modal-body">
                <div class="modal-scroller">
                    <!-- 콘텐츠 영역. 패딩설정 좌우: pd-h- / 상하: pd-h- 로 설정. pd-t- / pd-b- / pd-l- / pd-r- 로 각각 설정가능. -->
                    <div class="container pd-v-5u"><!-- 20220404 -->
                        <div class="qna_write">
                            <form id="writeForm" name="writeForm">
                                <dl class="unit01 mg-h-5u">
                                    <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':192900,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Ventus V12 evo2"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':192900,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><span class="flag_04"><em class="c01 off">Comfort</em> <em class="c02 ">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 스포츠</span><small class="sub">Ventus V12 evo2</small></span><span class="unitT3">245/40R19</span><span class="flag_05"><em>승용차</em><em>여름</em><em>프리미엄</em></span></a></dd>
                                </dl>
                                <dl class="form">
                                    <!-- 1102 // -->
                                    <link type="text/css" rel="stylesheet" href="pc-static-root/css/tam.css" /><!-- 타알못 PAGE CSS include -->
                                    <dt class="clearfix pd-b-3u">현재 내 리뷰
                                        <span class="txt-mint txt-14 mg-l-1u dp-inblock">[갓 장착했어요!]</span>
                                        <span class="badge badge-inv round txt-10 float-r">2021-10-01 장착완료</span>
                                    </dt>
                                    <dd class="tire-using-wrap">
                                        <p class="txt-14 txt-narrow txt-neutral2">장착완료일로부터 7일 내 등록된 상품평은 [갓 장착했어요!]<br /> 섹션에 등록되며, 이후에 등록된 상품평은 [시승 좀 해봤어요]<br />로 자동 처리되어 게시됩니다. </p>
                                        <div class="tire-term clearfix mg-t-4u pd-b-6u">
                                            <span class="label-review active">
                                                <span class="line-icons check-circle-inv size-20"></span>
                                                <span class="label-txt txt-14">갓 장착했어요!</span>
                                            </span>
                                            <span class="label-review">
                                                <span class="line-icons check-circle-inv size-20"></span>
                                                <span class="label-txt txt-14">시승 좀 해봤어요</span>
                                            </span>
                                        </div>
                                    </dd>
                                    <!-- // 1102 -->
                                    <dt id="starDt">별점을 클릭해주세요.</dt>
                                    <dd id="starDd">
                                        <ol id="starPoint" class="point"><li>	<span class="tit">승차감</span><input type="radio" class="star" name="evalItem1Val" id="evalItem1Val1" value="1"><label class="star2" for="evalItem1Val1">별점1</label><input type="radio" class="star" name="evalItem1Val" id="evalItem1Val2" value="2"><label class="star2" for="evalItem1Val2">별점2</label><input type="radio" class="star" name="evalItem1Val" id="evalItem1Val3" value="3"><label class="star2" for="evalItem1Val3">별점3</label><input type="radio" class="star" name="evalItem1Val" id="evalItem1Val4" value="4"><label class="star2" for="evalItem1Val4">별점4</label><input type="radio" class="star" name="evalItem1Val" id="evalItem1Val5" value="5"><label class="star2" for="evalItem1Val5">별점5</label></li><li>	<span class="tit">마일리지</span><input type="radio" class="star" name="evalItem2Val" id="evalItem2Val1" value="1"><label class="star2" for="evalItem2Val1">별점1</label><input type="radio" class="star" name="evalItem2Val" id="evalItem2Val2" value="2"><label class="star2" for="evalItem2Val2">별점2</label><input type="radio" class="star" name="evalItem2Val" id="evalItem2Val3" value="3"><label class="star2" for="evalItem2Val3">별점3</label><input type="radio" class="star" name="evalItem2Val" id="evalItem2Val4" value="4"><label class="star2" for="evalItem2Val4">별점4</label><input type="radio" class="star" name="evalItem2Val" id="evalItem2Val5" value="5"><label class="star2" for="evalItem2Val5">별점5</label></li><li>	<span class="tit">연비</span><input type="radio" class="star" name="evalItem3Val" id="evalItem3Val1" value="1"><label class="star2" for="evalItem3Val1">별점1</label><input type="radio" class="star" name="evalItem3Val" id="evalItem3Val2" value="2"><label class="star2" for="evalItem3Val2">별점2</label><input type="radio" class="star" name="evalItem3Val" id="evalItem3Val3" value="3"><label class="star2" for="evalItem3Val3">별점3</label><input type="radio" class="star" name="evalItem3Val" id="evalItem3Val4" value="4"><label class="star2" for="evalItem3Val4">별점4</label><input type="radio" class="star" name="evalItem3Val" id="evalItem3Val5" value="5"><label class="star2" for="evalItem3Val5">별점5</label></li><li>	<span class="tit">고속주행</span><input type="radio" class="star" name="evalItem4Val" id="evalItem4Val1" value="1"><label class="star2" for="evalItem4Val1">별점1</label><input type="radio" class="star" name="evalItem4Val" id="evalItem4Val2" value="2"><label class="star2" for="evalItem4Val2">별점2</label><input type="radio" class="star" name="evalItem4Val" id="evalItem4Val3" value="3"><label class="star2" for="evalItem4Val3">별점3</label><input type="radio" class="star" name="evalItem4Val" id="evalItem4Val4" value="4"><label class="star2" for="evalItem4Val4">별점4</label><input type="radio" class="star" name="evalItem4Val" id="evalItem4Val5" value="5"><label class="star2" for="evalItem4Val5">별점5</label></li></ol>
                                        <script>
                                            // 별 라디오 버튼 click 하면 별 주황색 변하게 하는 스크립트
                                            $(document).on( "click", '.star2', function() {
                                                var starName = $(this).attr('for');
                                                var chkName = starName.substring(starName.length -1);
                                                var chkName2 = starName.substring(0, starName.length -1 );
                                                for(var i=1;i<=5;i++) {
                                                    if(chkName >= i) {
                                                        $("label[for=" + chkName2 + i+"]").addClass('on');
                                                    } else {
                                                        $("label[for=" + chkName2 + i+"]").removeClass('on');
                                                    }
                                                }
                                            });
                                        </script>
                                    </dd>
                                    <!-- 1102 삭제 // -->
                                    <!-- dt>장착 후 사용기간에 가까운 항목을 선택해 주세요.</dt>
                                    <dd class="using">
                                        <label class="radio-item">
                                            <input type="radio" name="using_tire">
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                            <div class="labelling">
                                                <span class="label-txt mg-h-1u">1주 사용</span>
                                            </div>
                                        </label>
                                        <label class="radio-item mg-l-20u">
                                            <input type="radio" name="using_tire">
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                            <div class="labelling">
                                                <span class="label-txt mg-h-1u">1달 사용</span>
                                            </div>
                                        </label>
                                    </dd -->
                                    <!-- // 1102 -->
                                    <dt>상품리뷰를 작성해 주세요. (<span id="contCheck">0</span>자 / 1,000자)</dt>
                                    <dd>
                                        <textarea id="gdasCont" name="gdasCont" class="ip_txt01" style="height:100px;" placeholder="상품리뷰를 작성해 주세요. (최대 1,000자)"></textarea>
                                    </dd>

                                    <dd>
                                        <ol class="notice_01">
                                            <!-- 20220404 // -->
                                            <li>파일 크기는 7MB이하, jpg, png 또는 gif형식의 파일만 가능합니다.</li>
                                            <!-- // 20220404 -->
                                        </ol>
                                        <ul class="file">
                                            <li>
                                                <div class="filebox preview-image">
                                                    <input value="" disabled="disabled" placeholder="파일선택" class="upload-name">
                                                    <input id="appxFileNm1" data-href="divClassName1" class="upload-hidden" type="file" accept="image/*">
                                                    <label for="appxFileNm1">파일 업로드</label>
                                                    <button type="button" id="fileClear1" class="fileClear">파일 삭제</button>
                                                    <div class="fileimg divClassName1"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="filebox preview-image">
                                                    <input value="" disabled="disabled" placeholder="파일선택" class="upload-name">
                                                    <input id="appxFileNm2" data-href="divClassName2" class="upload-hidden" type="file" accept="image/*">
                                                    <label for="appxFileNm2">파일 업로드</label>
                                                    <button type="button" id="fileClear2" class="fileClear">파일 삭제</button>
                                                    <div class="fileimg divClassName2"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="filebox preview-image">
                                                    <input value="" disabled="disabled" placeholder="파일선택" class="upload-name">
                                                    <input id="appxFileNm3" data-href="divClassName3" class="upload-hidden" type="file" accept="image/*">
                                                    <label for="appxFileNm3">파일 업로드</label>
                                                    <button type="button" id="fileClear3" class="fileClear">파일 삭제</button>
                                                    <div class="fileimg divClassName3"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </dd>
                                </dl>
                            </form>
                            <!-- 20220404 // -->
                            <div class="noti-legal-area mg-t-6u mg-h-5u">
                                <h4 class="txt-16 txt-primary"><span class="line-icons error-circle-light size-20"></span> <span class="v-middle">이 점 꼭 유의해 주세요!</span></h4>
                                <ul class="smarlegal-list">
                                    <li class="txt-primary txt-12">등록된 리뷰 내용과 촬영된 사진이 구매한 상품과 관계없다고 판단되거나 근거없는 비방, 욕설 또는 내용이 없는 리뷰는 전시가 제한될 수 있습니다.</li>
                                    <li class="txt-primary txt-12">작성된 리뷰는 티스테이션닷컴 및 한국타이어 패밀리 사이트 내 일정 기간 게시될 수 있습니다. </li>
                                </ul>
                            </div>
                            <!-- // 20220404 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>