<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">

                    <div class="page_tit">
                        <h4>상품평</h4>
                    </div>

                    <div class="container mypage">

                        <div class="review_top">
                            <ul id="tabReview" class="tab_01">
                                <li class="on"><a href="#">작성 가능한 상품평</a></li>
                                <li><a href="#">내가 작성한 상품평</a></li>
                            </ul>
                        </div>
                        <div id="reviewList1" class="review_list date">
                            <p class="nodata"><em>작성 가능한</em><br>상품평이 없습니다.</p>
                            <ol>
                                <li class="">
                                    <div class="order_no">
                                        주문일자 <em>2020-10-14</em>
                                    </div>
                                    <div class="box">
                                        <dl class="unit01">
                                            <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':192900,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="Ventus V12 evo2"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318112" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318112','price':192900,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'245/40R19','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><span class="flag_04"><em class="c01 off">Comfort</em> <em class="c02 ">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 스포츠</span><small class="sub">Ventus V12 evo2</small></span><span class="unitT3">245/40R19</span><span class="flag_05"><em>승용차</em><em>여름</em><em>프리미엄</em></span></a></dd>
                                        </dl>
                                        <div class="btn02">
                                            <!-- 작성 가능한 상품평 -->
                                            <button class="btnM3 btnS01 popup-scarce" data-rel="https://wwwlocal.tstation.com/mypage/activity/goodsReviewWrite?goodsNo=G000000318112&amp;ordNo=O202010140077756&amp;ordGoodsSeq=1&amp;tabIndex=0">상품평 쓰기</button>


                                        </div>
                                    </div>

                                </li>

                                <li class="">

                                    <div class="order_no">
                                        주문일자 <em>2020-07-14</em>
                                    </div>

                                    <div class="box">
                                        <dl class="unit01">
                                            <dt><a href="https://wwwlocal.tstation.com/tire/product/mc_p_s_michelin_primacy_4?goodsNo=G000000319397" data-ap-product="{'name':'MICHELIN PRIMACY 4','id':'G000000319397','price':165000,'brand':'MC','category':'여름/승용차/COMFORT/','variant':'205/55R16','is_product_package':'N','product_rating_customer':'0.0','product_rating_comfort':' 3.8 ','product_rating_mileage':' 3.5 ','product_rating_fast_driving':' 4.3 ','product_rating_efficiency':' 3.0 '}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="MICHELIN PRIMACY 4"></a><span class="flag_02"><em class="brandLogo logoMC">logoMichelin Tire</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/mc_p_s_michelin_primacy_4?goodsNo=G000000319397" data-ap-product="{'name':'MICHELIN PRIMACY 4','id':'G000000319397','price':165000,'brand':'MC','category':'여름/승용차/COMFORT/','variant':'205/55R16','is_product_package':'N','product_rating_customer':'0.0','product_rating_comfort':' 3.8 ','product_rating_mileage':' 3.5 ','product_rating_fast_driving':' 4.3 ','product_rating_efficiency':' 3.0 '}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1">MICHELIN PRIMACY 4</span><span class="unitT3">205/55R16</span><span class="flag_05"><em>승용차</em><em>여름</em><em>null</em></span></a></dd>

                                        </dl>
                                        <div class="btn02">
                                            <!-- 작성 가능한 상품평 -->
                                            <button class="btnM3 btnS01 popup-scarce" data-rel="https://wwwlocal.tstation.com/mypage/activity/goodsReviewWrite?goodsNo=G000000319397&amp;ordNo=O202010140077757&amp;ordGoodsSeq=1&amp;tabIndex=0">상품평 쓰기</button>


                                        </div>
                                    </div>

                                </li>

                                <li class="">

                                    <div class="order_no">
                                        주문일자 <em>2020-04-13</em>
                                    </div>

                                    <div class="box">
                                        <dl class="unit01">
                                            <dt><a href="https://wwwlocal.tstation.com/tire/product/mx_p_a_m3?goodsNo=G000000318166" data-ap-product="{'name':'M3','id':'G000000318166','price':135500,'brand':'MX','category':'사계절/승용차/COMFORT/','variant':'235/55R17','is_product_package':'N','product_rating_customer':'4.5','product_rating_comfort':' 4.0 ','product_rating_mileage':' 5.0 ','product_rating_fast_driving':' 4.5 ','product_rating_efficiency':' 2.0 '}"><img src="pc-static-root/images/common/sample/tire.jpg" id="goodsImg" class="unitImg" alt="M3"></a><span class="flag_02"><em class="brandLogo logoMX">logoMaxxis Tire</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/mx_p_a_m3?goodsNo=G000000318166" data-ap-product="{'name':'M3','id':'G000000318166','price':135500,'brand':'MX','category':'사계절/승용차/COMFORT/','variant':'235/55R17','is_product_package':'N','product_rating_customer':'4.5','product_rating_comfort':' 4.0 ','product_rating_mileage':' 5.0 ','product_rating_fast_driving':' 4.5 ','product_rating_efficiency':' 2.0 '}"><span class="flag_04"><em class="c01 ">Comfort</em> <em class="c02 off">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1">M3</span><span class="unitT3">235/55R17</span><span class="flag_05"><em>승용차</em><em>사계절</em><em>null</em></span></a></dd>

                                        </dl>
                                        <div class="btn02">
                                            <!-- 작성 가능한 상품평 -->
                                            <button class="btnM3 btnS01 popup-scarce" data-rel="https://wwwlocal.tstation.com/mypage/activity/goodsReviewWrite?goodsNo=G000000318166&amp;ordNo=O202010140077758&amp;ordGoodsSeq=1&amp;tabIndex=0">상품평 쓰기</button>


                                        </div>
                                    </div>

                                </li>

                            </ol>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>