<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<link rel="stylesheet" type="text/css" href="pc-static-root/css/join.css" /><!-- 20211117 -->
<div id="container" class="">
    <div class="container pd-b-10u">
        <div class="guardrail">
            <div class="aside-layout">
                <aside class="aside-area">
                    <!-- 20211117 // -->
                    <div class="section-header pd-l-2u">
                        <h3 class="txt-18 txt-w700">점검 / 교체 알림</h3>
                        <p class="txt-16 txt-neutral2 mg-t-3u txt-narrow">티스테이션 all my T 점검/혜택 알림으로 내 차를 스마트하게 관리하세요.</p>
                    </div>
                    <p class="txt-12 txt-neutral2 mg-t-3u pd-l-2u">점검/교체 알림을 원하지 않으시면 <strong class="txt-neutral1">마이페이지 > 개인정보변경</strong>에서 알림톡 수신을 해제해 주세요</p>
                    <!-- // 20211117 -->
                </aside>
                <div class="cont-area">
                    <!-- 20211117 // -->
                    <section class="maintenance-alarm-section">

                        <div class="sort-notice-empty txt-center pd-v-20u">
                            <span class="icon-notice-empty"></span>
                            <p class="txt-empty txt-16 mg-t-2u">점검/교체 알림을 설정하고<br />더 많은 혜택 정보를 받아보세요!</p>
                        </div>

                        <div class="sort-result-empty txt-center pd-v-20u">
                            <span class="icon-message-empty"></span>
                            <p class="txt-empty txt-16 mg-t-3u">새로운 알림이 없어요!</p>
                        </div>


                        <ul class="maintenance-alarm-list">
                            <li class="mg-t-4u">
                                <a href="">
                                    <div class="icon-holder benefit">
                                        <span class="line-icons txt-white coupon-sale size-24"></span>
                                        <p class="blind">쿠폰</p>
                                    </div>

                                    <div class="container pd-v-3u pd-h-8u">
                                        <p class="d-day txt-16 txt-w700 txt-primary">D-1</p>
                                        <h4 class="txt-16 txt-w700">멤버십 가입 축하쿠폰이 발급되었습니다.</h4>
                                        <p class="detail mg-t-1u txt-14 txt-neutral2">멤버십 쿠폰함을 확인하세요.</p>
                                        <p class="date mg-t-1u txt-14 txt-neutral3">2020.08.25</p>
                                    </div>
                                </a>
                            </li>

                            <li class="mg-t-4u">
                                <a href="">
                                    <div class="icon-holder benefit">
                                        <span class="line-icons txt-white coupon-sale size-24"></span>
                                        <p class="blind">쿠폰</p>
                                    </div>

                                    <div class="container pd-v-3u pd-h-8u">
                                        <p class="d-day txt-16 txt-w700 txt-primary">D-7</p>
                                        <h4 class="txt-16 txt-w700">스마트픽업 쿠폰알림</h4>
                                        <p class="detail mg-t-1u txt-14 txt-neutral2">홍길동님께서 사용하실 수 있는 스마트 픽업 의 유효기간이 1 후 만료될 예정입니다. - 쿠폰만료일 : #2021-08-30 유효기간 만료 전 티스테이션에서 제공해드리는 스마트 픽업 을 확인해 주세요!</p>
                                        <p class="date mg-t-1u txt-14 txt-neutral3">2020.08.02</p>
                                    </div>
                                </a>
                            </li>

                            <li class="mg-t-4u">
                                <a href="">
                                    <div class="icon-holder repair">
                                        <span class="line-icons txt-white wrench size-32"></span>
                                        <p class="blind">점검알림</p>
                                    </div>

                                    <div class="container pd-v-3u pd-h-8u">
                                        <p class="d-day txt-16 txt-w700 txt-primary">D-30</p>
                                        <h4 class="txt-16 txt-w700"><em class="car-number txt-11 txt-white mg-r-1u">12너 1234</em>타이어 교체알림</h4>
                                        <p class="detail mg-t-1u txt-14 txt-neutral2">안전운행을 위해 36개월 주기 타이어 교환을 권장합니다.</p>
                                        <p class="date mg-t-1u txt-14 txt-neutral3">2020.07.16</p>
                                    </div>
                                </a>
                            </li>

                            <li class="mg-t-4u">
                                <a href="">
                                    <div class="icon-holder repair">
                                        <span class="line-icons txt-white wrench size-36"></span>
                                        <p class="blind">교체알림</p>
                                    </div>

                                    <div class="container pd-v-3u pd-h-8u">
                                        <p class="d-day txt-16 txt-w700 txt-primary">D-7</p>
                                        <h4 class="txt-16 txt-w700"><em class="car-number txt-11 txt-white mg-r-1u">89너 2345</em>엔진오일 교환 시점입니다.</h4>
                                        <p class="detail mg-t-1u txt-14 txt-neutral2">김지운님께서 관리하고 계신 01두3756 차량의 엔진오일 권장교체일이 1 앞으로 다가왔습니다.

                                            ◎권장교체시기 : 이전 교체일로부터 180 이내
                                            ◎권장교체도래일 : 2021-10-31
                                            
                                            나의 all my T 에서 내 차를 위한 정비알림을 확인하시고
                                            희망하는 일정에 맞춰 교체예약 하세요.
                                            
                                            ※본 문자는 스마트알림 수신을 동의한 회원에 한해 발송되는 메시지입니다.</p>
                                        <p class="date mg-t-1u txt-14 txt-neutral3">2020.06.22</p>
                                    </div>
                                </a>
                            </li>

                            <li class="mg-t-4u">
                                <!-- 읽은 메시지 비활성화 a태그에 'checked'클래스 추가(어트리뷰트 아님) -->
                                <a href="" class="checked">
                                    <div class="icon-holder repair">
                                        <span class="line-icons txt-white wrench size-36"></span>
                                        <p class="blind">교체알림</p>
                                    </div>

                                    <div class="container pd-v-3u pd-h-8u">
                                        <p class="d-day txt-16 txt-w700 txt-primary">D-42</p>
                                        <h4 class="txt-16 txt-w700"><em class="car-number txt-11 txt-white mg-r-1u">12너 1234</em>엔진오일 교환 시점입니다.</h4>
                                        <p class="detail mg-t-1u txt-14 txt-neutral2">엔진오일은  1년마다 교환을 권장합니다.
                                            자세한 내용은 티스테이션 상담톡으로 문의해주세요.</p>
                                        <p class="date mg-t-1u txt-14 txt-neutral3">2020.06.13</p>
                                    </div>
                                </a>
                            </li>

                            <li class="mg-t-4u">
                                <a href="">
                                    <div class="icon-holder repair">
                                        <span class="line-icons txt-white wrench size-32"></span>
                                        <p class="blind">점검알림</p>
                                    </div>

                                    <div class="container pd-v-3u pd-h-8u">
                                        <p class="d-day txt-16 txt-w700 txt-primary">D-2</p>
                                        <h4 class="txt-16 txt-w700"><em class="car-number txt-11 txt-white mg-r-1u">12너 1234</em>엔진오일 교환 시점입니다. 여러줄 엔진오일 교환 시점입니다. 여러줄</h4>
                                        <p class="detail mg-t-1u txt-14 txt-neutral2">엔진오일은  1년마다 교환을 권장합니다.
                                            자세한 내용은 티스테이션 상담톡으로 문의해주세요.</p>
                                        <p class="date mg-t-1u txt-14 txt-neutral3">2020.06.13</p>
                                    </div>
                                </a>
                            </li>

                        </ul>

                        <div class="container mg-t-4u">
                            <p class="txt-14"><span class="txt-primary">*</span> 발송된 알림은 12개월이후 자동 삭제됩니다.</p>                            
                        </div>
                    </section>

                    <div class="container txt-center mg-t-5u">
                        <button type="button" class="btn-item btn-neutral btn-ol round w-150 btn-more">
                            <span class="label-txt">더보기</span>
                        </button>
                    </div>
                    <!-- // 20211117 -->
                </div>
            </div>
        </div>
    </div>

</div>