<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">

                    <link rel="stylesheet" type="text/css" href="pc-static-root/css/safe-service.css" /><!-- 안심서비스 전용 CSS -->
                    <!-- .safeservice-group // -->
                    <div class="container safeservice-group">
                        <%- locals.widget ('src/project/desktop/pages/mypage/includes/safe-lending.ejs') %> 
                        <!-- .history-page // -->
                        <div class="history-page">
                        <h2 class="section-headline underline txt-30 pd-b-4u pd-h-4u mg-t-15u border-b">안심서비스 내역</h2>
                            <div class="mg-t-4u txt-right">
                                <div class="form-control form-control-md inline">
                                    <div class="input-group">
                                        <select class="input-box" style="width: 248px; padding-right: 30px;">
                                            <option value="" selected="">전체</option>
                                            <option value="">주문완료</option>
                                            <option value="">배송준비중</option>
                                            <option value="">배송중</option>
                                            <option value="">배송완료</option>
                                            <option value="">장착완료</option>
                                        </select>
                                        <div class="tools">
                                            <button><span class="line-icons chev-down"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="history-list-section">
                                <div class="subscription-result-empty txt-center pd-v-15u">
                                    <span class="icon-subscription-empty search size-48"></span>
                                    <p class="txt-18 txt-neutral3 mg-t-1u">안심서비스 내역이 없습니다.</p>
                                </div>

                                <div class="rowgroup-state-info pd-v-2u mg-t-4u">
                                    <div class="rowheader">
                                        <span class="badge-state">가입완료</span><!-- .disabled 추가시 서비스만료 badge UI -->
                                        <span class="join-number txt-14">
                                            <span class="label-txt">가입번호</span>20161110073814
                                        </span>
                                    </div>
                                    <div class="cell">
                                        <button type="button" class="btn-item btn-neutral btn-xs btn-inv round align-right">
                                            <span class="label-txt txt-14">상세내역 보기</span>
                                            <span class="line-icons chev-right size-16"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="rowgroup">
                                    <div class="row">
                                        <div class="rowheader">
                                            <span class="label-txt">가입고객이름</span>
                                        </div>
                                        <div class="cell">
                                            <span class="label-info">김한국</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="rowheader">
                                            <span class="label-txt">차량번호</span>
                                        </div>
                                        <div class="cell">
                                            <span class="label-info">12가 3456</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="rowheader">
                                            <span class="label-txt">안심서비스 적용기간</span>
                                        </div>
                                        <div class="cell">
                                            <span class="label-info">2021.01.01 ~ 2022.01.01</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="rowgroup-state-info pd-v-2u mg-t-4u">
                                    <div class="rowheader">
                                        <span class="badge-state disabled">서비스 만료</span><!-- .disabled 추가시 서비스만료 badge UI -->
                                        <span class="join-number">
                                            <span class="label-txt">가입번호</span>20161110073814
                                        </span>
                                    </div>
                                    <div class="cell">
                                        <button type="button" class="btn-item btn-neutral btn-xs btn-inv round align-right">
                                            <span class="label-txt txt-14">상세내역 보기</span>
                                            <span class="line-icons chev-right size-16"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="rowgroup">
                                    <div class="row">
                                        <div class="rowheader">
                                            <span class="label-txt">가입고객이름</span>
                                        </div>
                                        <div class="cell">
                                            <span class="label-info">김한국</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="rowheader">
                                            <span class="label-txt">차량번호</span>
                                        </div>
                                        <div class="cell">
                                            <span class="label-info">12가 3456</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="rowheader">
                                            <span class="label-txt">안심서비스 적용기간</span>
                                        </div>
                                        <div class="cell">
                                            <span class="label-info">2021.01.01 ~ 2022.01.01</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="txt-center mg-t-20u mg-b-10u">
                                <button type="button" class="btn-item btn-neutral btn-ol round more-button pd-r-2u">
                                    <span class="label-txt">더보기(3/5)</span>
                                    <span class="line-icons chev-down size-24"></span>
                                </button>
                            </div>
                            
                            <h3 class="section-subheadcopy txt-18 pd-t-4u pd-b-3u pd-h-5u">안심서비스 관련 유의사항</h3>
                            <div class="noti-section">
                                <ul class="explan-list pd-v-4u pd-h-5u bg-light1">
                                    <li>
                                        <p class="bul-icon txt-14 txt-neutral2">안심서비스 가입, 적용은 최근 구매한 타이어에 한해서만 가능합니다.(중복가입불가)</p>
                                    </li>
                                    <li>
                                        <p class="bul-icon txt-14 txt-neutral2">신규 안심서비스 가입 시 이전 가입, 보상 건은 서비스만료 처리됩니다.</p>
                                    </li>
                                    <li>
                                        <p class="bul-icon txt-14 txt-neutral2">최근 2년 내 이력이 있는 안심서비스 내역만 조회가 가능합니다.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- // .history-page -->
                    </div>
                    <!-- // .safeservice-group -->
                </div>
            </div>
        </div>
    </div>
</div>