<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <%- locals.widget('src/project/desktop/includes/layouts/my-page/summery.ejs') %>
    <div class="container">
        <div class="guardrail">
            <div class="aside-layout mypage-index-area">
                <%- locals.widget('src/project/desktop/includes/layouts/my-page/aside.ejs') %>
                <div class="cont-area">

                    <div class="page-header">
                        <h1>상품평</h1>
                    </div>

                    <div class="container">
                        <div class="review_top">
                            <ul id="tabReview" class="tab_01">
                                <li><a href="#">작성 가능한 상품평</a></li>
                                <li class="on"><a href="#">내가 작성한 상품평</a></li>
                            </ul>
                        </div>
                        <div id="reviewList1" class="review_list date">
                            <p class="nodata"><em>작성한</em><br>상품평이 없습니다.</p>
                            <ol>
                                <li class="toggle_box on">

                                    <div class="box">
                                        <dl class="unit01">
                                            <dt><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318486" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318486','price':160800,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'225/40R18','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><img src="/upload/goods/250/10/0000/0031/G00000031855101ko.jpg" id="goodsImg" class="unitImg" alt="Ventus V12 evo2"></a><span class="flag_02"><em class="brandLogo logoHK">logoHANKOOK</em></span></dt><dd class="info"><a href="https://wwwlocal.tstation.com/tire/product/hk_p_s_ventus_v12_evo2?goodsNo=G000000318486" data-ap-product="{'name':'Ventus V12 evo2','id':'G000000318486','price':160800,'brand':'HK','category':'여름/승용차/SPORT/프리미엄','variant':'225/40R18','is_product_package':'N','product_rating_customer':'4.1','product_rating_comfort':' 3.4 ','product_rating_mileage':' 2.5 ','product_rating_fast_driving':' 4.6 ','product_rating_efficiency':' 2.9 '}"><span class="flag_04"><em class="c01 off">Comfort</em> <em class="c02 ">SPORT</em> <em class="c03 off">Runflat</em> </span><span class="unitT1"><span>벤투스 스포츠</span><small class="sub">Ventus V12 evo2</small></span><span class="unitT3">225/40R18</span><span class="flag_05"><em>승용차</em><em>여름</em><em>프리미엄</em></span></a></dd>

                                        </dl>
                                        <div class="btn02">

                                            <!-- 내가 작성한 상품평 -->
                                            <ul>
                                                <li><button class="btnM3 btnS03" onclick="javascript:goods.review.deleteGoodsReview(9551);">삭제</button></li>
                                                <li><button class="btnM3 btnS01 popup-scarce" data-rel="https://wwwlocal.tstation.com/mypage/activity/goodsReviewWrite?goodsNo=G000000318486&amp;ordNo=O202009290077711&amp;ordGoodsSeq=1&amp;gdasSeq=9551&amp;tabIndex=1">수정</button></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <!-- 내가 작성한 상품평 -->
                                    <div class="unitR2 tit">
                                        <span class="star02 point6"><em>3.25점</em></span>
                                        <span class="tire">현대 I30 <em>225/40R18</em></span>
                                        <span class="date">2020-10-13</span>
                                    </div>
                                    <div class="box2">
                                        <div class="cont">
                                            동호회 추천으로 타이어 교체했습니다.<br>타보니 확실히 출고 타이어랑 차이가 느껴지네요.  좀 비싼 타이어지만 현재까진 매우 만족합니다. <br>다행히 이벤트로 저렴하게 교환할 수 있어서 좋습니다. 서비스도 너무 만족 합니다.
                                        </div>
                                        <div class="photo">
                                            <ol>
                                                <li class="popup-scarce" name="PHOTO" data-rel="/jsp/pc/mypage/popup/full_review_photo.jsp"><img src="https://via.placeholder.com/150" alt="고객상품평 이미지"></li>
                                                <li class="popup-scarce" name="PHOTO" data-rel="/jsp/pc/mypage/popup/full_review_photo.jsp"><img src="https://via.placeholder.com/150" alt="고객상품평 이미지"></li>
                                            </ol>
                                        </div>

                                        <div class="star">
                                            <ol>




                                                <li>
                                                    <span class="tit">승차감</span>
                                                    <span class="star01 point8"><em></em></span>
                                                </li>


                                                <li>
                                                    <span class="tit">마일리지</span>
                                                    <span class="star01 point6"><em></em></span>
                                                </li>


                                                <li>
                                                    <span class="tit">연비</span>
                                                    <span class="star01 point6"><em></em></span>
                                                </li>


                                                <li>
                                                    <span class="tit">고속주행</span>
                                                    <span class="star01 point6"><em></em></span>
                                                </li>

                                            </ol>
                                        </div>
                                    </div>

                                </li>

                            </ol>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>