<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<link rel="stylesheet" type="text/css" href="mc-static-root/css/thetireshop.css" />
<%- locals.widget ('src/project/mobile/pages/tts/includes/tts-header.ejs') %> 
<%- locals.widget('src/project/mobile/pages/tts/includes/tts-title.ejs', { pageTitle: '안심서비스 가입' }) %>

<div id="container" class="tts-safeservice-group">

    <div class="subscription-page">
        <div class="subscription-list-count pd-t-5u pd-b-2u pd-h-5u border-b">
            <p class="txt-12">가입 가능한 안심서비스가 <strong class="txt-primary">2</strong>건 있습니다.</p>
        </div>
        <div class="subscription-list-section bg-light1 pd-t-2u pd-b-4u pd-h-5u">
            <div class="subscription-result-empty txt-center pd-v-15u">
                <span class="icon-subscription-empty search size-48"></span>
                <p class="txt-16 txt-neutral2 mg-t-1u">가입 가능한 안심서비스 <br />내역이 없습니다.</p>
            </div>
            <div class="rowgroup">
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">고객이름</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">김한국</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">연락처</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">010-1122-3355</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">차량번호</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">12가3456</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">가입신청기간</span>
                    </div>
                    <div class="cell">
                        <span class="label-info txt-primary">2022.01.14</span>
                    </div>
                </div>
                <button type="button" class="btn-item btn-neutral btn-ol full-w round mg-t-6u">
                    <span class="label-txt">가입하기</span>
                </button>
            </div>
            <div class="rowgroup">
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">고객이름</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">김한국</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">연락처</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">010-1122-3355</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">차량번호</span>
                    </div>
                    <div class="cell">
                        <span class="label-info">12가3456</span>
                    </div>
                </div>
                <div class="row">
                    <div class="rowheader">
                        <span class="label-txt">가입신청기간</span>
                    </div>
                    <div class="cell">
                        <span class="label-info txt-primary">2022.01.14</span>
                    </div>
                </div>
                <button type="button" class="btn-item btn-neutral btn-ol full-w round mg-t-6u">
                    <span class="label-txt">가입하기</span>
                </button>
            </div>
        </div>
        <div class="noti-section weight-divider">
            <h3 class="section-headline txt-16 pd-h-5u">가입 전 꼭 알아두세요!</h3>
            <ul class="explan-list pd-v-3u pd-h-5u bg-light1">
                <li class="mg-b-1u">
                    <p class="bul-icon txt-11 txt-neutral2">안심서비스 가입신청은 한국타이어 벤투스, 키너지, 다이나프로, 아이셉트 대상상품 2개 이상 구매 및 장착완료일 기준 14일 까지만 가능합니다. (정비/장착일 기준 익일부터 가입 내역조회 가능)</p>
                </li>
                <li class="mg-b-1u">
                    <p class="bul-icon txt-11 txt-neutral2">가입대상은 실장착 고객 (이름, 연락처, 차량번호 기준 동일인)이며, 기간 내 보상처리 또는 신규가입 시 기존 가입 건은 자동 만료 처리되고, 신규가입일로 안심서비스 기간이 갱신됩니다.</p>
                </li>
                <li class="mg-b-1u">
                    <p class="bul-icon txt-11 txt-neutral2">안심서비스 가입 제한 : 렌트 차량 (허,하,호 차량번호 표기), 영업용 차량, 11인승 초과 승합차량, 경트럭 등 일부 차량의 경우 안심서비스 가입이 제한될 수 있습니다. </p>
                </li>
                <li class="mg-b-1u">
                    <p class="bul-icon txt-11 txt-neutral2">가입관련 문의 : 더타이어샵 고객센터 (031-5178-7000)</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- locals.widget ('src/project/mobile/pages/tts/includes/tts-footer.ejs') %> 