<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<link rel="stylesheet" type="text/css" href="mc-static-root/css/thetireshop.css" />
<%- locals.widget ('src/project/mobile/pages/tts/includes/tts-header.ejs') %> 

<div id="container" class="tts-safeservice-group">
    <div class="safeservice-landing-page">
        <div class="herocopy-section">
            <h1 class="headcopp txt-w400">스마트 안심서비스는?</h1>
            <ul class="explan-list mg-t-4u pd-r-8u">
                <li class="mg-b-1u">
                    <p class="bul-icon txt-12">타이어 파손 시 <strong class="txt-primary txt-w500">구매한 타이어와 동일한 등급의 새타이어</strong>로 무상 교체</p>
                </li>
                <li>
                    <p class="bul-icon txt-12">제공기준 : <strong class="txt-primary txt-w500">벤투스 / 다이나프로 / 키너지 / 아이셉트</strong> 2개이상 구매 시 가입 가능</p>
                </li>
            </ul>
        </div>
        <div class="cta-section">
            <ul class="cta-list mg-t-10u mg-h-5u bg-light1">
                <li>
                    <a href="#none">
                        <span class="icon-link safeservice-join-link"></span>
                        <span class="text-label mg-t-3u">서비스 가입하기</span>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <span class="icon-link safeservice-history-link"></span>
                        <span class="text-label mg-t-3u">안심서비스 내역확인</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- locals.widget ('src/project/mobile/pages/tts/includes/tts-footer.ejs') %> 