<div id="footer">
    <div class="footer-header">
        <div class="logo-area"><img src="mc-static-root/images/common/bi_full_on_dark.svg" alt="티스테이션" /></div>
        <div class="social-area">
            <ul>
                <li>
                    <a href="https://www.youtube.com/channel/UCydkm3xXUbFzpHGoeGmJiNA" target="_blank">
                        <img src="mc-static-root/images/common/social-youtube.svg" alt="티스테이션 유튜브" />
                    </a>
                </li>
                <li>
                    <a href="https://m.facebook.com/티스테이션-TStation-361732270985745/?ref=py_c" target="_blank">
                        <img src="mc-static-root/images/common/social-facebook.svg" alt="티스테이션 페이스북" />
                    </a>
                </li>
                <li>
                    <a href="https://m.blog.naver.com/PostList.nhn?permalink=permalink&amp;blogId=tstation-online&amp;proxyReferer=" target="_blank">
                        <img src="mc-static-root/images/common/social-naver_blog.svg" alt="티스테이션 네이버 블로그" />
                    </a>
                </li>
                <li>
                    <a href="https://pf.kakao.com/_xgVAWC" target="_blank">
                        <img src="mc-static-root/images/common/social-kakao_channel.svg" alt="티스테이션 카카오 채널" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-body">
        <div class="terms-area mg-b-4u">
            <ul>
                <li><a href="https://m.tstation.com/terms/termsmain.do?agrmSctCd=10">이용약관</a></li>
                <li><a href="https://m.tstation.com/terms/termsmain.do?agrmSctCd=30">개인정보 처리방침</a></li>
            </ul>
            <ul>
                <li><a href="https://m.tstation.com/terms/termsmain.do?agrmSctCd=150">개인정보 열람/정정 신청</a></li>
                <li><a href="https://m.tstation.com/customer-service/qna.do?cnslClssSeq=10025">가맹점 제휴문의</a></li>
            </ul>
        </div>
        <div class="company-area mg-b-4u">
            <ul>
                <li>한국타이어앤테크놀로지(주)<span class="inline-vertical-divider"></span>대표이사 이수일</li>
                <li>경기도 성남시 분당구 판교로 286 (삼평동)</li>
                <li>사업자등록번호  220-88-43431</li>
                <li>통신판매업 신고번호 2020-성남분당B-0575 <a href="http://ftc.go.kr/www/bizCommView.do?key=232&apv_perm_no=2020378021930202285&pageUnit=10&searchCnd=wrkr_no&searchKrwd=2208843431&pageIndex=1" target="_blank">[ 사업자 정보확인 ]</a></li>
                <li><a href="#" onclick="$.Tstation.callAndroidCheck(event, '080-022-8272')">고객센터 080-022-8272</a><span class="inline-vertical-divider"></span><a href="mailto: as@hankooktire.com">이메일 as@hankooktire.com</a></li>
                <!-- 0823 // -->
                <li class="none"><a href="/tam/tstation-tv" style="color: #2a3138 !important;">알쓸타잡</a></li>
                <!-- // 0823 --> 
            </ul>
        </div>
        <div class="family-site-area">
            <div class="form-control form-control-sm">
                <div class="input-group">
                    <select id="family-site" class="input-box input-box-sm">
                        <option selected disabled>FAMILY SITE</option>
                        <option value="https://m.hankooktire.com/kr/">한국타이어 테크놀로지</option>
                    </select>

                    <div class="tools">
                        <button><span class="line-icons chev-down"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        <div class="award-area">
            <ul class="list-size-equal award-list mg-b-4u">
                <li>
                    <img src="mc-static-root/images/common/award-brand_power_car.png" alt="한국산업의 브랜드 파워 스용차전문점 부문 18년 연속 1위" />
                    <p>한국산업의 브랜드 파워<br />승용차전문점 부문<br />18년 연속 1위</p>
                </li>
                <li>
                    <img src="mc-static-root/images/common/award-brand_power_tire.png" alt="한국산업의 브랜드 파워 타이어전문점 부문 12년 연속 1위" />
                    <p>한국산업의 브랜드 파워<br />타이어전문점 부문<br />12년 연속 1위</p>
                </li>
                <li>
                    <img src="mc-static-root/images/common/award-quality_required.png" alt="한국품질만족지수 자동차용타이어 부문 11년 연속 1위" />
                    <p>한국품질만족지수<br />자동차용타이어 부문<br />11년 연속 1위</p>
                </li>
            </ul>
            <ul class="list-size-equal award-list">
                <li>
                    <img src="mc-static-root/images/common/award-empathic_content.png" alt="대한민국 공감컨텐츠대상 캠페인부문" />
                    <p>대한민국<br />공감컨텐츠대상<br />캠페인부문</p>
                </li>
                <li>
                    <img src="mc-static-root/images/common/award-web_award_korea.png" alt="웹어워드 코리아 2019 모바일웹 고객 서비스분야 최우수상" />
                    <p>웹어워드 코리아 2019<br />모바일웹 고객<br />서비스분야 최우수상</p>
                </li>
                <li>
                    <img src="mc-static-root/images/common/award-escro.png" alt="Bluewalnut 구매안전(에스크로)서비스" />
                    <p>Bluewalnut<br />구매안전(에스크로)서비스</p>
                </li>
            </ul>
        </div>
    </div>
</div>