<header id="header">
    <!-- 메뉴버튼 스크립트 컨트롤은 '.btn-open-sidebar' -->
    <!-- btn-open-sidebar에 'has-new'클래스 추가/제거 -->
    <button type="button" class="btn-item btn-ml btn-neutral round btn-inv min-w btn-open-sidebar has-new" title="메뉴열기">
        <span class="line-icons menu size-24"></span>
    </button>

    <h1><a href="https://m.tstation.com/"><img src="mc-static-root/images/common/bi_full.svg" alt="T'Station" class="bi-img"></a></h1>

    <button type="button" onclick="searchPathname(); return false;" class="btn-item btn-ml btn-neutral round btn-inv min-w btn-search" title="통합검색">
        <span class="line-icons search"></span>
    </button>

    <a href="https://m.tstation.com/cart" class="btn-item btn-ml btn-neutral round btn-inv min-w btn-cart" title="장바구니">
        <span class="line-icons cart"></span>
        <em class="badge">9</em>
    </a>
</header>