<% let { layerScarcePopup = '' } = locals.entry; %>
<div id="layerScarcePopup">
    <div class="layer_box">
        <div id="scarce_content">
            <%- layerScarcePopup %>
        </div>
        <button type="button" class="layer-scarce-close">팝업닫기</button>
    </div>
</div>