<% let { pageTitle = 'Default title' } = locals.entry; %>
<div class="navbar">
    <!-- 백버튼 스크립트 컨트롤은 '.btn-back' -->
    <button type="button" class="btn-item btn-ml btn-neutral round btn-inv min-w btn-back" title="뒤로가기">
        <span class="line-icons chev-left size-24"></span>
    </button>

    <h2><%- pageTitle %></h2>
</div>