<!-- 20220404 // -->
<section class="pd-v-6u over-hidden">
    <div class="container pd-h-4u">
        <div class="sec-header border-none">
            <h3 class="sec-title pd-r-15u">
                <span class="v-middle">‘제네시스 G80 2019 ABCDEFG HIJKLMN OPQRSTU VWXYZ’ 오너들의 생생후기</span></span>
                <a href="#none" class="sec-more-link"><span class="label-txt txt-primary txt-12">더보기</span><span class="line-icons chev-right size-16 txt-primary "></span></a>
            </h3>
        </div>
    </div>
    <div class="sec-contents bg-light1">
        <div class="swiper-container review-card-swiper over-visible">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul>
                        <li>
                            <a href="#none" class="review-card">
                                <div class="review-card-header">
                                    <ul>
                                        <li class="float-l txt-16">박**</li>
                                        <li class="float-r txt-14 txt-w700"><span class="pd-r-1u">Dynapro HP2</span>|<span class="pd-l-1u">제네시스 G80</span></li>
                                    </ul>
                                    <ul class="mg-t-1u">
                                        <li class="float-l"><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></li>
                                        <li class="float-r txt-12">2020.08.01</li>
                                    </ul>
                                </div>
                                <div class="review-card-body mg-t-2u">
                                    <div class="thumb-area ration-1x1">
                                        <div class="thumb-image">
                                            <img src="mc-static-root/images/@thumb/goods_02.jpg" alt="" />
                                        </div>
                                        <div class="thumb-image">
                                            <img src="mc-static-root/images/@thumb/prod_224_03.jpg" alt="" />
                                        </div>
                                        <div class="thumb-image">
                                            <img src="mc-static-root/images/@thumb/main_visual_01.jpg" alt="" />
                                        </div>
                                    </div>
                                    <p class="description mg-v-3u">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#none" class="review-card">
                                <div class="review-card-header">
                                    <ul>
                                        <li class="float-l txt-16">박**</li>
                                        <li class="float-r txt-14 txt-w700"><span class="pd-r-1u">Dynapro HP2</span>|<span class="pd-l-1u">제네시스 G80</span></li>
                                    </ul>
                                    <ul class="mg-t-1u">
                                        <li class="float-l"><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></li>
                                        <li class="float-r txt-12">2020.08.01</li>
                                    </ul>
                                </div>
                                <div class="review-card-body mg-t-2u">
                                    <div class="thumb-area ration-1x1">
                                        <!-- 20220420 empty case .photo-empty add// -->
                                        <div class="thumb-image photo-empty">
                                        </div>
                                        <!-- // 20220420 -->
                                    </div>
                                    <p class="description mg-v-3u">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul>
                        <li>
                            <a href="#none" class="review-card">
                                <div class="review-card-header">
                                    <ul>
                                        <li class="float-l txt-16">박**</li>
                                        <li class="float-r txt-14 txt-w700"><span class="pd-r-1u">Dynapro HP2</span>|<span class="pd-l-1u">제네시스 G80</span></li>
                                    </ul>
                                    <ul class="mg-t-1u">
                                        <li class="float-l"><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></li>
                                        <li class="float-r txt-12">2020.08.01</li>
                                    </ul>
                                </div>
                                <div class="review-card-body mg-t-2u">
                                    <div class="thumb-area ration-1x1">
                                        <div class="thumb-image">
                                            <img src="mc-static-root/images/@thumb/goods_02.jpg" alt="" />
                                        </div>
                                        <div class="thumb-image">
                                            <img src="mc-static-root/images/@thumb/prod_224_03.jpg" alt="" />
                                        </div>
                                    </div>
                                    <p class="description mg-v-3u">HP2로 교체 후 신세계를 맛봤네요. </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <script>
            var reviewCardSwiper = new Swiper('.review-card-swiper', {
                spaceBetween: 16,
                slidesPerView: 'auto',
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true
                },
            });

            reviewCardSwiper.init();

            $(window).on('resize', function () {
                reviewCardSwiper.init();
            });
        </script>
    </div>
</section>
<!-- // 20220404 -->