<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents">
        <div class="mg-v-10u">
            <ul>
                <li class="col_one_third">
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Small, Action Bar: No Boundary</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'SMALL',
                                modalAction: {
                                    isNoBoundary: true,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            // action: '',
                                            action: function () {
                                                alert('취소')
                                                $.Tstation.popup().close('modal-ref-1')
                                            }
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            // action: '',
                                            action: function () {
                                                alert('확인')
                                                $.Tstation.popup().close('modal-ref-1')
                                            }
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Small, Action Bar - No Boundary</span>
                    </button>

                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Small, Action Bar: Boundary</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'SMALL',
                                modalAction: {
                                    isNoBoundary: false,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            action: 'alert(\'사전에 등록한 액션을 스트링으로 추가하세요.\')'
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Small, Action Bar - Default</span>
                    </button>

                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Small, Action Bar: No</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'SMALL',
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Small, Action Bar - No</span>
                    </button>

                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Small, Header Bar: No</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'SMALL',
                                modalAction: {
                                    isNoBoundary: false,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Small, Header Bar - No</span>
                    </button>

                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Small, Dim: White</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: true,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'SMALL',
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Small, Dim - White</span>
                    </button>
                </li>
                <li class="col_one_third">
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: No Boundary</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'MEDIUM',
                                modalAction: {
                                    isNoBoundary: true,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            action: 'alert(\'사전에 등록한 액션을 스트링으로 추가하세요.\')' // 따옴표 주의
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Medium, Action Bar - No Boundary</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: Default</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'MEDIUM',
                                modalAction: {
                                    isNoBoundary: false,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            action: 'alert(\'사전에 등록한 액션을 스트링으로 추가하세요.\')' // 따옴표 주의
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Medium, Action Bar - Default</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: No Boundary</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'MEDIUM',
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Medium, Action Bar - No</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: No Boundary</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'MEDIUM',
                                modalAction: {
                                    isNoBoundary: true,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            action: 'alert(\'사전에 등록한 액션을 스트링으로 추가하세요.\')' // 따옴표 주의
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Medium, Header Bar - No</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: No Boundary</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: true,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'MEDIUM',
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Medium, Dim - White</span>
                    </button>
                </li>
                <li class="col_one_third col_last">
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: No Boundary</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'LARGE',
                                modalAction: {
                                    isNoBoundary: true,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            action: 'alert(\'사전에 등록한 액션을 스트링으로 추가하세요.\')' // 따옴표 주의
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Large, Action Bar - No Boundary</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: Default</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'LARGE',
                                modalAction: {
                                    isNoBoundary: true,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            action: 'alert(\'사전에 등록한 액션을 스트링으로 추가하세요.\')' // 따옴표 주의
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Large, Action Bar - Default</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '모달 팝업 타이틀',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Action Bar: No</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'LARGE',
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Large, Action Bar - No</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                title: '',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, Header Bar: No</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: false,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'LARGE',
                                modalAction: {
                                    isNoBoundary: true,
                                    buttons: [
                                        {
                                            label: '취소',
                                            negative: true,
                                            action: '$.Tstation.popup().close(\'modal-ref-1\')'
                                        },
                                        {
                                            label: '확인',
                                            negative: false,
                                            action: 'alert(\'사전에 등록한 액션을 스트링으로 추가하세요.\')' // 따옴표 주의
                                        }
                                    ]
                                },
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Large, Header Bar - No</span>
                    </button>
                    <button
                            type="button"
                            class="btn-item btn-neutral full-w mg-b-4u"
                            onclick="$.Tstation.popup().open({
                                ref: 'modal-ref-1',
                                requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                contents: '<p class=\'pd-v-5u txt-center\'>Size: Medium, HeaderBar: No, Action Bar: No</p>', // 팝업을 바로 띄우고 싶을때
                                dimWhite: true,
                                modalContentsPd: {
                                    horizon: 8,
                                    vertical: 8,
                                    top: 0,
                                    right: 0,
                                    bottom: 0,
                                    left: 0
                                },
                                modalSize: 'LARGE',
                                onOpen: function () {
                                    console.log('팝업이 열리면 파이어 합니다.')
                                },
                                onClose: function () {
                                    console.log('팝업이 닫히면 파이어 합니다.')
                                }
                            })"
                    >
                        <span class="label-txt">Popup: Size - Large, Dim - White</span>
                    </button>
                </li>
            </ul>
        </div>

        <!-- New Popup -->
        <div class="modal-item instance on">
            <!-- dim 디폴트는 dark. 'white'클래스 추가로 흰색처리 가능. -->
            <div class="dim"></div>

            <div class="middler">
                <!-- 모달 패널(이분분 통째로 디자인해야함). 사이즈 옵션 size-s / size-m(default) / size-l -->
                <div class="modal-pannel size-l">
                    <!-- modal-header - modal-action - modal-body 순서변경 금지. modal-header / modal-action 생략은 가능. -->
                    <!-- modal-header -->
                    <div class="modal-header">
                        <h3>모달 팝업 타이틀</h3>
                        <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                            <span class="line-icons close size-30"></span>
                        </button>
                    </div>

                    <!-- modal-action 경계선 없이 흰색벼경은 'no-boundary'클래스 추가-->
                    <div class="modal-action">
                        <ul class="list-size-equal">
                            <!-- 버튼 갯수만큼 li통째로 삽입 -->
                            <li>
                                <button type="button" class="btn-item btn-neutral btn-ol round full-w" onclick="$(this).closest('.modal-item').removeClass('on');">
                                    <span class="label-txt">취소</span>
                                </button>
                            </li>

                            <li>
                                <button type="button" class="btn-item btn-neutral round full-w" onclick="$(this).closest('.modal-item').removeClass('on');">
                                    <span class="label-txt">확인</span>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- modal-body -->
                    <div class="modal-body">
                        <div class="modal-scroller">
                            <!-- 콘텐츠 영역. 패딩설정 좌우: pd-h- / 상하: pd-h- 로 설정. pd-t- / pd-b- / pd-l- / pd-r- 로 각각 설정가능. -->
                            <div class="container pd-h-8u pd-v-8u">
                                모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Popup -->
        <div class="modal-item instance on">
            <!-- dim 디폴트는 dark. 'white'클래스 추가로 흰색처리 가능. -->
            <div class="dim"></div>

            <div class="middler">
                <!-- 모달 패널(이분분 통째로 디자인해야함). 사이즈 옵션 size-s / size-m(default) / size-l -->
                <div class="modal-pannel">
                    <!-- modal-header - modal-action - modal-body 순서변경 금지. modal-header / modal-action 생략은 가능. -->
                    <!-- modal-header -->
                    <div class="modal-header">
                        <h3>모달 팝업 타이틀</h3>
                        <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                            <span class="line-icons close size-30"></span>
                        </button>
                    </div>

                    <!-- modal-action 경계선 없이 흰색벼경은 'no-boundary'클래스 추가-->
                    <div class="modal-action">
                        <ul class="list-size-equal">
                            <!-- 버튼 갯수만큼 li통째로 삽입 -->
                            <li>
                                <button type="button" class="btn-item btn-neutral btn-ol round full-w" onclick="$(this).closest('.modal-item').removeClass('on');">
                                    <span class="label-txt">취소</span>
                                </button>
                            </li>

                            <li>
                                <button type="button" class="btn-item btn-neutral round full-w" onclick="$(this).closest('.modal-item').removeClass('on');">
                                    <span class="label-txt">확인</span>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- modal-body -->
                    <div class="modal-body">
                        <div class="modal-scroller">
                            <!-- 콘텐츠 영역. 패딩설정 좌우: pd-h- / 상하: pd-h- 로 설정. pd-t- / pd-b- / pd-l- / pd-r- 로 각각 설정가능. -->
                            <div class="container pd-h-8u pd-v-8u">
                                모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Popup -->
        <div class="modal-item instance on">
            <!-- dim 디폴트는 dark. 'white'클래스 추가로 흰색처리 가능. -->
            <div class="dim whitex" onclick="$(this).closest('.modal-item').removeClass('on');"></div>

            <div class="middler">
                <!-- 모달 패널(이분분 통째로 디자인해야함). 사이즈 옵션 size-s / size-m(default) / size-l -->
                <div class="modal-pannel size-s">
                    <!-- modal-header - modal-action - modal-body 순서변경 금지. modal-header / modal-action 생략은 가능. -->
                    <!-- modal-header -->
                    <div class="modal-header">
                        <h3>모달 팝업 타이틀</h3>
                        <button type="button" class="btn-item btn-l btn-neutral round btn-inv min-w btn-popup-close">
                            <span class="line-icons close size-30"></span>
                        </button>
                    </div>

                    <!-- modal-action 경계선 없이 흰색벼경은 'no-boundary'클래스 추가-->
                    <div class="modal-action no-boundary">
                        <ul class="list-size-equal">
                            <!-- 버튼 갯수만큼 li통째로 삽입 -->
                            <li>
                                <button type="button" class="btn-item btn-neutral round full-w" onclick="$(this).closest('.modal-item').removeClass('on');">
                                    <span class="label-txt">확인</span>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <!-- modal-body -->
                    <div class="modal-body">
                        <div class="modal-scroller">
                            <!-- 콘텐츠 영역. 패딩설정 좌우: pd-h- / 상하: pd-h- 로 설정. pd-t- / pd-b- / pd-l- / pd-r- 로 각각 설정가능. -->
                            <div class="container pd-h-8u pd-v-8u">
                                모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디<br>모달팝업 바디
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>