<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents">
        <button type="button" class="btn-item btn-neutral filet" onclick="$.Tstation.loading.start();">
            <span class="label-txt">Call loading indicator</span>
        </button>

        <div style="display: block; width: 100%; height: auto; vertical-align: middle; text-align: center; background-color: wheat;">
            <p style="padding: 200px 0; height: 2000px">Contents</p>
        </div>
    </div>
</div>