<div class="aside-area mypage-menu-list-bx">
    <h2>마이페이지</h2>
    <!-- 20220316// -->
    <!-- 단골매장 등록 후  -->
    <div class="mystore-cta-area pd-h-4u pd-v-4u border-b txt-center">
        <div class="mystore-cta-info">
            <div class="mystore-cta-info">
                <strong class="txt-14 pd-r-1u">단골매장:</strong>
                <strong class="txt-14 txt-primary txt-underline txt-w700">판교점</strong>
            </div>
            <button type="button" class="btn-item btn-neutral btn-xs mg-t-1u round">
                <span class="label-txt txt-14">단골매장 설정</span>
                <span class="line-icons chev-right size-16"></span>
            </button>
        </div>
    </div>

    <!-- 단골매장 등록 전 -->
    <div class="mystore-cta-area pd-h-4u pd-v-4u border-b txt-center">
        <div class="mystore-cta-info">
            <span class="txt-14 txt-neutral3">단골매장을 설정해 주세요 </span>
        </div>
        <button type="button" class="btn-item btn-neutral btn-xs mg-t-1u round">
            <span class="label-txt txt-14">단골매장 설정</span>
            <span class="line-icons chev-right size-16"></span>
        </button>
    </div>
    <!-- //20220316 -->
    <ul>
        <li class="">
            <h4>주문관리</h4>

            <!-- TODO: 마이페이지 메인을 제외한 하위 페이지에서는 a태그에 'on' 추가 -->
            <a href="" class="">
                <span class="line-icons receipt size-30"></span>
                <strong>주문내역</strong>
            </a>

            <a href="">
                <span class="line-icons receipt-cancel size-30"></span>
                <strong>주문취소내역</strong>
            </a>
        </li>

        <li class="">
            <h4>서비스관리</h4>
            <!-- 20211222 // -->
            <a href="">
                <span class="line-icons calendar-check size-30"></span>
                <strong>방문예약</strong>
            </a>

            <a href="">                
                <span class="line-icons icon-pickup size-30"></span>
                <strong>픽업서비스</strong>
            </a>

            <a href="">
                <span class="line-icons shop size-30"></span>
                <strong>매장서비스</strong>
            </a>

            <a href="">
                <span class="line-icons img-icons icon-safeservice size-30"></span>
                <strong>안심서비스</strong>
            </a>

            <!-- 20220316 삭제 <a href="">
                <span class="line-icons img-icons icon-tstore size-30"></span>
                <strong>내 단골매장</strong>
            </a> -->
    
            <!-- // 20211222 -->
        </li>

        <li class="">
            <h4>활동관리</h4>

            <a href="">
                <span class="line-icons headset size-30"></span>
                <strong>1:1 상담</strong>
            </a>

            <a href="">
                <span class="line-icons write size-30"></span>
                <strong>상품평작성</strong>
            </a>

            <a href="">
                <span class="line-icons tire-check size-30"></span>
                <strong>상품비교내역</strong>
            </a>

            <a href="">
                <span class="line-icons restock size-30"></span>
                <strong>재입고 알림</strong>
            </a>

            <a href="">
                <span class="line-icons present size-30"></span>
                <strong>이벤트 응모내역</strong>
            </a>
        </li>

        <li class="">
            <h4>회원정보관리</h4>

            <a href="">
                <span class="line-icons lock size-30"></span>
                <strong>개인정보변경</strong>
            </a>
        </li>
    </ul>

    <div class="custom-center-viewr">
        <h3>티스테이션 고객센터</h3>
        <div class="info-bx">
            <div class="icon"><span class="line-icons headset size-24"></span></div>
            <div class="info">
                <a class="tel" href="tel:080-022-8272">080-022-8272</a>
                월~금 09:00 ~ 16:00<br>주말 및 공휴일 휴무
            </div>
        </div>
    </div>
</div>