<div class="container bg-light1">
    <div class="guardrail">
        <div class="mypage-self-viwer-bx">
            <div class="myname-viwer">
                <div class="name-bx">
                    <span><strong>홍길동</strong>님,</span>
                    티스테이션 스마트케어 고객입니다.
                </div>
                <button type="button" class="btn-item btn-neutral round">
                    <span class="label-txt">MY 멤버십</span>
                </button>
            </div>
            <ul class="myservice-viwer">
                <li>
                    <div class="num"><strong>15</strong>장
                        <a href="" class="btn-item btn-xs pd-h-2u family">
                            <span class="lable-txt txt-12">패밀리쿠폰<strong>2</strong>장</span>
                        </a>
                    </div>
                    <a href="" class="service-name">사용가능 쿠폰 <span class="line-icons chev-right size-20"></span></a>
                </li>
                <li>
                    <div class="num"><strong>0</strong>대</div>
                    <a href="" class="service-name">내 차 관리 <span class="line-icons chev-right size-20"></span></a>
                </li>
                <li>
                    <div class="num"><strong>3</strong>건</div>
                    <a href="" class="service-name">리마인딩 알림 <span class="line-icons chev-right size-20"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>