<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<main id="main">
    <div class="container membership-integrated">
        <section>
            <ul class="stepper highlight-last list-size-equal">
                <li class="done">
                    <span class="stepper-dot"></span>
                    <label>본인인증</label>
                </li>
                <li class="done">
                    <span class="stepper-dot"></span>
                    <label>계정확인</label>
                </li>
                <li class="on">
                    <span class="stepper-dot"></span>
                    <label>확인완료</label>
                </li>
            </ul>
        </section>

        <section class="complete pd-h-5u">
            <div class="integrated-info no-pd txt-center">
                <p>
                    <span class="v-middle"><img src="mc-static-root/images/common/bi_full.svg" alt="한국타이어" class="bi-img" /></span>
                    <span class="v-middle">의 고객맞춤</span>
                </p>
                <p class="v-middle txt-primary">스마트케어 서비스</p>
                <p>제공을 위한 확인 절차가 완료되었습니다.</p>
            </div>
        </section>
        <div class="pd-h-5u">
            <a href="#" class="btn-item btn-neutral btn-ol round full-w"><span class="label-txt">MY 스마트케어 둘러보기</span></a>
        </div>
    </div>
</main>