<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="pageTitle2">
    <h3>로그인</h3>
</div>
<div id="container" class="member">
    <!-- 로그인 -->
    <form id="loginForm" name="loginForm" method="POST">
        <div class="login_01">
            <input type="hidden" name="aflPageYn" value="Y"/>
            <input type="hidden" id = "paramBtnId" value="" />
            <input type="hidden" name="mbrStsCd" value=""/>
            <ol class="login_form">
                <li><input title="아이디(이메일) 입력" type="text" id="loginId" name="loginId" value="" class="ip_txt01 w100p" placeholder="아이디 또는 이메일 주소를 입력해주세요" /></li>
                <li><input title="비밀번호 입력" type="password" id="password" name="password" class="ip_txt01 w100p" placeholder="비밀번호를 입력하세요" /></li>
                <li class="r1">
                    <input type="checkbox" class="ip_c" id="saveLoginIdYn" value="Y" name="saveLoginIdYn" /><label for="saveLoginIdYn">아이디 저장</label>
                </li>
                <li class="r2">
                    <a href="https://m.tstation.com/member/find/findid.do">아이디 찾기</a>
                    <a href="https://m.tstation.com/member/find/findpwd.do">비밀번호 찾기</a>
                </li>
            </ol>
            <div class="btn">
                <button class="btnB btnS02">로그인</button>
            </div>
        </div>
    </form>
    <!-- //로그인 -->

    <!-- 간편로그인 -->
    <div class="login_02">
        <p class="login"><em>간편하게 로그인하기</em></p>
        <ul class="sns_logo">
            <li>
                <a href="https://m.tstation.com/member/snslogin/kakaologin.do?loginYn=Y" class="snskakao">카카오톡  간편 로그인</a>

            </li>
            <li>
                <a href="https://m.tstation.com/member/snslogin/naverlogin.do?loginYn=Y" class="snsnaver">네이버 간편 로그인</a>

                <span class="recent_login">최근 로그인</span>

            </li>
            <li>
                <a href="https://m.tstation.com/member/snslogin/fblogin.do?loginYn=Y" class="snsface">페이스북 간편 로그인</a>

            </li>
            <li>
                <a href="https://m.tstation.com/member/snslogin/googlelogin.do?loginYn=Y" class="snsgoogle">구글  간편 로그인</a>

            </li>
        </ul>
    </div>
    <!-- //간편로그인 -->
    <!-- link -->
    <div class="login_03 more">
        <ul>
            <li><a href="https://www.tstation.com/member/register/join.do" class="btnB btnS01">회원가입</a></li>
            <li><a href="https://www.tstation.com/member/orderinquire.do" class="btnB btnS06">비회원 구매하기</a></li>
            <li class="sub txt-right"><a href="https://www.tstation.com/member/orderinquire.do" class="btnB btnS06">비회원 주문 조회</a></li>
            <li class="partner sub last txt-left"><a href="https://biz.tstation.com/" class="btnB btnS06">제휴 사이트 바로가기</a></li>
            <div class="login_info_wrap">
                ※ 최근 로그인한 계정 정보 : <span class="login_external_info">카카오 (2020-09-25 14:35:52)</span>
            </div>
        </ul>
    </div>

    <!-- //link -->
    <button type="button" data-rel="mbrStsCdRest" class="layer-scarce_login" style="display:none;">휴면 해제 아내</button>
    <button type="button" data-rel="affiliateEnd" class="layer-scarce_login" style="display:none;">계정 제휴 만료 안내</button>
    <button type="button" data-rel="mbrStsCdOut" class="layer-scarce_login" style="display:none;">회원탈퇴 아내</button>
</div>