<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div style="height: 300px"></div>
<script>
    $(document).ready(function() {
        var isRequirePasswordChange = true;
        if (isRequirePasswordChange) {
            $.Tstation.popup().open({
                ref: 'password-change',
                title: '비밀번호 변경안내',
                requestUrl: '',
                contents: '<p class="txt-14 txt-w500 txt-center mg-b-2u">지난 90일 동안 비밀번호를 변경한 이력이 없습니다.</p>\n' +
                  '<p class="txt-14 txt-center">본인인증 완료 후 정상적으로 서비스를<br>이용하실 수 있습니다.</p>',
                dimWhite: false,
                modalContentsPd: {
                    horizon: 8,
                    vertical: 8,
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
                modalSize: 'SMALL',
                modalAction: {
                    isNoBoundary: true,
                    buttons: [
                        {
                            label: '다음에 변경',
                            negative: true,
                            action: function () {
                                $.Tstation.popup().close('password-change');
                            }
                        },
                        {
                            label: '비밀번호 변경',
                            negative: false,
                            action: function () {
                                alert('비밀번호를 변경하기 위해 필요한 절차를 메소드로 만들어 호출 해 주세요.');
                                $.Tstation.popup().close('password-change');
                            }
                        }
                    ]
                },
                onOpen: function () {
                    console.log('팝업이 열리면 파이어 합니다.');
                },
                onClose: function () {
                    console.log('팝업이 닫히면 파이어 합니다.');
                }
            });
        }
    });
</script>