<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: '휴일지킴 서비스' }) %>
<main id="main">
    <!-- 콘텐츠 영역 -->
    <div class="container">
        <section class="freeday-kv-section">
            <div class="image-container">
                <img src="mc-static-root/images/allmyt/img_keyvisual_freeday.png" alt="" />
            </div>
        </section>

        <!-- 휴일지킴 서비스 -->  
        
        <h3 class="freeday-headcopy pd-h-5u pd-t-5u">
            <strong class="dp-block">휴일지킴 서비스</strong>
            일요일에도 타이어 교체와 차량점검 하세요           
        </h3>
        
        <section class="container pd-h-5u pd-v-4u">
            <div class="txt-neutral2 mg-b-10u">
                <p class="word-break"> 휴일지킴 서비스는 평일에 시간이 없는 고객님들을 위해 일요일에도 타이어 교체와 차량점검 서비스를 제공해 주는 티스테이션만의 차별화된 프리미엄 서비스입니다.​</p>
            </div>

            <a href="#none" class="btn-item btn-neutral round full-w" data-analytics-click="일요일 장착매장 검색하고 쇼핑하기">
                <span class="label-txt">일요일 장착매장 검색하고 쇼핑하기</span>
            </a>
        </section>

        <div class="divider mg-v-6u mg-h-5u"></div>

        <section class="guide-box-container freeday-service-section">
            <h4 class="guide-box-container-header">휴일지킴 서비스 <strong>쇼핑 3단계</strong></h4>
            <div class="guide-box">
                <ul>
                    <li>
                        <div class="guide-box-step">
                            <div class="description-area">
                                <h4 class="title">1. 일요일 운영매장 검색</h4>
                                <p class="description">타이어 교체/점검은 하러가야 하는데<br /> 도저히 바빠서 평일엔 시간이 안될 때 <br><span class="txt-mint">휴일지킴 서비스 매장을 검색해 보세요!</span></p>
                            </div>
                            <div class="thumb-area">
                                <img src="mc-static-root/images/allmyt/freeday_step_01.png" alt="1. 일요일 운영매장 검색" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="guide-box-step">
                            <div class="description-area">
                                <h4 class="title">2. 타이어 구매 / 방문예약</h4>
                                <p class="description">티스테이션 온라인몰에서<br /> <span class="txt-mint">나에게 꼭 맞는 타이어 선택</span>하거나<br /> 방문예약이 필요한 경우 직접 예약!</p>
                            </div>

                            <div class="thumb-area">
                                <img src="mc-static-root/images/allmyt/freeday_step_02.png" alt="2. 타이어 구매 / 방문예약" />
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="guide-box-step">
                            <div class="description-area">
                                <h4 class="title">3. 일요일 장착 / 점검완료</h4>
                                <p class="description">예약한 방문시간에 맞춰<br /> <span class="txt-mint">휴일지킴 서비스 매장에 방문</span>해<br /> 타이어를 교체하고 점검 서비스를 받으세요</p>
                            </div>
                            <div class="thumb-area">
                                <img src="mc-static-root/images/allmyt/freeday_step_03.png" alt="3. 일요일 장착 / 점검완료" />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section class="smarlegal-section">
            <h4 class="headcopy">유의사항</h4>
            <ul class="smarlegal-list">
                <li>T’Station의 휴일지킴 서비스는 평일에 시간이 없는 고객님들을 위한 일요일 매장예약 타이어교체/점검 서비스 입니다.</li>
                <li>일요일 장착매장 (휴일지킴서비스 매장) 선 선택 후 상품을 확인하실 경우 선택하신 매장에서 준비하고 있는 제품을 확인/안내해 드리므로, 구매 가능한 상품 종류가 적을 수 있습니다. </li>
                <li>일요일 장착매장 (휴일지킴 서비스 매장) 의 경우 매장 상황에 따라 시기별로 운영하지 않을 수 있습니다. 매장 검색 시 휴일지킴 서비스가 표시된 매장을 선택하시면 일요일 장착이 가능합니다. </li>
                <li>휴일지킴서비스는 회원에게만 제공되는 서비스이며, 타이어와 경정비 상품 구매 및 점검 시 모두 이용할 수 있습니다.</li>
            </ul>
        </section>
        
    </div>
</main>