<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: '공지사항' }) %>
<div id="container" class="cscenter">
    <!-- 공지사항 view -->
    <div class="notice_detail">
        <div class="top">
            <span class="part"><em class="c04"> 안내 </em></span>
            <span class="date"> 2020-04-29 </span><!-- 게시일자 -->
            <span class="tit"> 티스테이션, 두산베어스와 스포츠 마케팅 스폰서십 계약 연장 </span>
        </div>
        <div class="detail">
            <!-- adin 에 등록 된 html 내용 -->
            <h2 style="text-align: center;"><strong><span style="color:#e67e22;">최정상 파트너십으로 2020년에도 홈런!</span></strong></h2>
            &nbsp;

            <ul>
                <li><strong>2020 시즌 동안 두산베어스 유니폼, 잠실야구장 곳곳에 티스테이션 브랜드 노출</strong></li>
                <li><strong>2016년부터 스폰서십 활용한 적극적 마케팅으로 프로야구 팬 대상 접점 확대</strong></li>
            </ul>
            <br />
            글로벌 선도 타이어 기업 한국타이어앤테크놀로지㈜(대표이사 조현범, 이하 한국타이어)의 타이어 중심 자동차 토탈 서비스 전문점인 티스테이션(T&rsquo;Station)이 프로야구단 두산베어스와의 스포츠 마케팅 스폰서십을 2020년에도 이어간다.<br />
            <br />
            티스테이션은 두산베어스와의 스폰서십을 적극 활용해 국내 최고 인기 스포츠인 프로야구의 수많은 팬들을 중심으로 고객 접점을 넓혀 갈 계획이다. 두산베어스 유니폼을 비롯해 잠실야구장의 전광판, 출입구 등 주요 공간에 티스테이션 브랜드가 노출된다. 또한 고객들과의 소통을 강화하고 서비스 경험 기회를 제공하는 브랜드데이 등 현장 이벤트도 진행될 예정이다.
            <p><br />
                두산베어스는 프로야구 원년 챔피언이자 최근 5년 간 3번의 우승과 2번의 준우승을 기록한 명문 구단이다. 티스테이션과 국내 최정상급 프로야구팀 두산베어스의 만남은 상호 간 브랜드 가치 상승에 시너지를 더하고 있다.<br />
                <br />
                티스테이션은 전문 인력과 첨단 장비로 표준화된 차량관리 서비스를 제공하는 전국 450여개의 오프라인 매장과 쉽고 편리한 타이어 쇼핑이 가능한 온라인 서비스 플랫폼 &lsquo;티스테이션닷컴&rsquo;을 통해, 차별화된 O2O서비스를 제공하고 있다. 최고 수준의 타이어 및 경정비 전문성과 더불어, 타이어 파손 시 새 타이어로 보상해주는 &#39;스마트안심서비스&#39;, 매장 방문없이 비대면으로 집에서 타이어 교체가 가능한 &rsquo;스마트픽업서비스&rsquo; 등 소비자 신뢰 및 편의성을 증진할 수 있는 서비스를 제공하며 업계를 선도하고 있다.<br />
                <br />
                또한, 한국타이어를 포함해 미쉐린, 피렐리, 맥시스, 쿠퍼 등 총 5개 브랜드의 타이어를 판매하며, 소비자의 니즈를 충족하기 위한 다양한 구매 선택의 기회를 제공하고 있다.<br />
                <br />
                <img alt="" src="https://po.tstation.com/upload/display/2020/20200429143203/news_img_2020_04_27_1.jpg" style="width: 100%;" /></p>

            <ul>
            </ul>

            <!-- 내용 -->
        </div>
        <div class="btn02">
            <a href="javascript:history.back(-1);" class="btnB btnS02">목록으로</a>
        </div>
    </div>
    <!-- //공지사항 view -->
</div>