<% locals.setLayout('src/prototype/includes/components/layouts/base.ejs') -%>
<% locals.block('title', 'Prototype') -%>

<div class="wrap">
    <div class="prototype-selector-wrap">
        <img class="bi" src="assets/images/bi_full.svg" />
        <h6>T'station Prototype</h6>

        <ul class="prototype-selector">
            <li>
                <a href="mobile.html">
                    <span class="icon material-icons">phone_iphone</span>
                    <p class="label">
                        <span>Mobile</span><span class="material-icons">chevron_right</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="desktop.html">
                    <span class="icon material-icons">desktop_mac</span>
                    <p class="label">
                        <span>Desktop</span><span class="material-icons">chevron_right</span>
                    </p>
                </a>
            </li>
            <li>
                <a href="icons.html">
                    <span class="icon material-icons">insert_emoticon</span>
                    <p class="label">
                        <span>Icons</span><span class="material-icons">chevron_right</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>
