<!-- 20220404 // -->
<div class="container bg-light1">
    <div class="guardrail">
        <div class="container">
            <div class="section-header border-none over-visible">
                <h2 class="txt-w300">
                    <span class="v-middle">‘제네시스 G80 2019 ABCDEFG HIJKLMN OPQRSTU VWXYZ’ 오너들의 생생후기</span></span>
                </h2>
                <div class="extra">
                    <a href="#none" class="btn-item btn-inv filet pd-r-2u" style="background-color: transparent;">
                        <span class="label-txt txt-primary txt-14">알쓸타잡에서 더 많은 리뷰보기</span>
                        <span class="line-icons chev-right size-16 txt-primary "></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="section-contents pd-t-1u">
            <div class="swiper-container review-card-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#none" class="review-card">
                            <div class="review-card-header">
                                <ul>
                                    <li class="float-l txt-16">박**</li>
                                    <li class="float-r txt-14 txt-w700"><span class="pd-r-1u">Dynapro HP2</span>|<span class="pd-l-1u">제네시스 G80</span></li>
                                </ul>
                                <ul class="mg-t-1u">
                                    <li class="float-l"><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></li>
                                    <li class="float-r txt-12">2020.08.01</li>
                                </ul>
                            </div>
                            <div class="review-card-body mg-t-2u">
                                <div class="thumb-area ration-1x1 mg-b-4u">
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_thumb_sample1.png" alt="" />
                                    </div>
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_sample5.png" alt="" />
                                    </div>
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_thumb_sample5.png" alt="" />
                                    </div>
                                </div>
                                <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 역시 믿고 쓰는 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#none" class="review-card">
                            <div class="review-card-header">
                                <ul>
                                    <li class="float-l txt-16">박**</li>
                                    <li class="float-r txt-14 txt-w700"><span class="pd-r-1u">Dynapro HP2</span>|<span class="pd-l-1u">제네시스 G80</span></li>
                                </ul>
                                <ul class="mg-t-1u">
                                    <li class="float-l"><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></li>
                                    <li class="float-r txt-12">2020.08.01</li>
                                </ul>
                            </div>
                            <div class="review-card-body mg-t-2u">
                                <div class="thumb-area ration-1x1 mg-b-4u">
                                    <!-- 20220420 empty case .photo-empty add// -->
                                    <div class="thumb-image photo-empty">
                                    </div>
                                    <!-- // 20220420 -->
                                </div>
                                <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#none" class="review-card">
                            <div class="review-card-header">
                                <ul>
                                    <li class="float-l txt-16">박**</li>
                                    <li class="float-r txt-14 txt-w700"><span class="pd-r-1u">Dynapro HP2</span>|<span class="pd-l-1u">제네시스 G80</span></li>
                                </ul>
                                <ul class="mg-t-1u">
                                    <li class="float-l"><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></li>
                                    <li class="float-r txt-12">2020.08.01</li>
                                </ul>
                            </div>
                            <div class="review-card-body mg-t-2u">
                                <div class="thumb-area ration-1x1 mg-b-4u">
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_thumb_sample1.png" alt="" />
                                    </div>
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_sample5.png" alt="" />
                                    </div>
                                </div>
                                <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#none" class="review-card">
                            <div class="review-card-header">
                                <ul>
                                    <li class="float-l txt-16">박**</li>
                                    <li class="float-r txt-14 txt-w700"><span class="pd-r-1u">Dynapro HP2</span>|<span class="pd-l-1u">제네시스 G80</span></li>
                                </ul>
                                <ul class="mg-t-1u">
                                    <li class="float-l"><span class="rating v-middle"><span style="width: 90%"></span></span> <span class="v-middle txt-11">4.5점</span></li>
                                    <li class="float-r txt-12">2020.08.01</li>
                                </ul>
                            </div>
                            <div class="review-card-body mg-t-2u">
                                <div class="thumb-area ration-1x1 mg-b-4u">
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_thumb_sample1.png" alt="" />
                                    </div>
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_sample5.png" alt="" />
                                    </div>
                                    <div class="thumb-image">
                                        <img src="pc-static-root/images/common/sample/main_rolling_PC_thumb_sample5.png" alt="" />
                                    </div>
                                </div>
                                <p class="description">HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 오죽했으면 너무 조용해서 엔진소리 유입이 더 커졌습니다. HP2로 교체 후 신세계를 맛봤네요. 기존 광폭타이어에 비해 소음이 그냥 없는 수준입니다. 역시 믿고 쓰는 엔진소리 유입이 더 커졌습니다. 역시 믿고 쓰는 한국타이어네요.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <script>
                var reviewCardSwiper = new Swiper('.review-card-swiper', {
                    slidesPerView: 3,
                    spaceBetween: 8,
                    slidesPerGroup: 3,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        dynamicBullets: true
                    }
                });
    
                reviewCardSwiper.init();
    
                $(window).on('resize', function () {
                    reviewCardSwiper.init();
                });
            </script>
        </div>
    </div>
</div>
<!-- // 20220404 -->