<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<main id="main">

    <!-- 콘텐츠 영역 -->
    <div class="container">
        <section>

            <!-- 패딩/마진은 pd- / mg- 로 조정 -->
            <div class="container">
                <div class="registered-result-end">
                    <div class="car-view-bx" style="background-image: url(mc-static-root/images/common/mycar_sample01.png);"></div>
                    <p>
                        MY 차량으로 <strong>07더 3307</strong><br>
                        기아 <strong>‘쏘렌토 2.0 디젤 기본형’</strong> 을<br>
                        등록하셨습니다.
                    </p>
                </div>
                <div class="registered-result-txt">
                    <p>등록하신 차량의 서비스이력을 기반으로 한<br>디지털 이력관리는 물론 내 차량에 적합한 상품을<br>더 쉽게 확인 해보실 수 있습니다.</p>
                    <div class="btn">
                        <button type="button" class="btn-item btn-neutral btn-ol round">
                            <span class="label-txt">스마트케어 서비스</span>
                        </button>
                        <button type="button" class="btn-item btn-neutral round">
                            <span class="label-txt">추천상품</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>