<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: '회원탈퇴' }) %>
<main id="main">
    <div class="container membership-resign">
        <div id="container" class="mypage">
            <!-- 탈퇴하기 -->
            <form id="memberOutForm" method="POST" novalidate="novalidate">
                <div class="member_leave">
                    <p class="txt01">
                        <em>그동안 T'Station</em>을<br>이용해 주셔서 감사합니다.
                        <span>고객님의 회원정보는 탈퇴즉시 삭제 처리됩니다.</span>
                    </p>
                    <div class="inner">
                        <p class="txt02">
                            고객님의 사이트 이용기록은 <em>전자상거래법 등 관련 법령 규정</em>에 의거하여 보유 의무사항이 있는 경우, <em>당사 고객정보 보호 정책</em>에 따라 일정 기간 보관됩니다.
                        </p>
                        <ol>
                            <li>계약 또는 청약 절회 등에 관한 기록 : <em>5년 보관</em></li>
                            <li>대금 결재 및 재화 등의 공급에 관한 기록 : <em>3년 보관</em></li>
                            <li>소비자 불만 또는 분쟁 처리에 관한 기록 : <em>3년 보관</em></li>
                            <!-- 2021-06-23 // -->
                            <li>탈퇴 후 재가입 시 거래내역이 있어도 동일한 이메일 ID로는 재가입이 불가하오니, 이점 유의하시기 바랍니다.</li>
                            <!-- // 2021-06-23 --> 
                        </ol>
                    </div>
                    <dl class="form">
                        <dt>탈퇴사유</dt>
                        <dd>
                            <select title="탈퇴사유 선택" class="select01 w100p" name="scsnCausCd" id="scsnCausCd">
                                
                                    <option value="10">상품품질에 대한 불만으로</option>
                                 
                                    <option value="20">취소/교환/환불에 대한 불만으로</option>
                                 
                                    <option value="30">이용빈도가 낮아서</option>
                                 
                                    <option value="40">잦은 서비스 오류 및 장애</option>
                                 
                                    <option value="50">개인정보 유출이 우려되어서</option>
                                 
                                    <option value="60">타서비스로 전환하기 위해</option>
                                 
                                    <option value="70">고객응대/서비스에 대한 불만으로</option>
                                 
                                    <option value="80">기타</option>
                                 
                            </select>
                        </dd>
                        <dt>개선사항</dt>
                        <dd>
                            <textarea name="scsnCausCont" id="scsnCausCont" class="ip_area01 w100p" style="height:150px"></textarea>
                        </dd>
                    </dl>
                    <div class="btn02">
                        <button class="btnB btnS02">탈퇴하기</button>
                    </div>
                </div>
            </form>
            <!-- //탈퇴하기 -->
        </div>


    </div>
</main>