<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<!-- 20220712 // -->
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar.ejs', { pageTitle: '사은품 신청하기' }) %>
<!-- // 20220712 -->
<div id="container" class="">
    <!-- 사은품 신청 -->
    <link rel="stylesheet" type="text/css" href="mc-static-root/css/event.css" />
    <div class="gift-apply-page pd-h-4u pd-v-4u">
        <div class="noti pd-b-10u">
            <p class="txt-14 txt-neutral2 txt-center icon-confirm-finish">한국타이어 감사제 구매혜택
                <strong class="dp-block">[이마트·GS칼텍스 겸용 모바일 상품권 3만원]</strong>
                신청이 완료되었습니다</p>        
        </div>
        <div class="txt-center">
            <button type="button" class="btn-item btn-neutral round pd-h-10u" data-analytics-click="홈으로 돌아가기">
                <span class="label-txt">홈으로 돌아가기</span>
            </button>
        </div>
    </div>
    <!-- //사은품 신청 -->
</div>