<!-- 01.search -->
<form action="/customer-service/faqSearch.do" method="post" id="faqSearchForm">
    <div class="faq_search">
        <ul>
            <li>FAQ 검색하기</li>
            <li><input title="질문 입력" type="text" class="ip_txt01 w100p" id="inqTitNm" name="inqTitNm" placeholder="질문을 입력해 주세요."></li>
            <li><button class="btnM2 btnS07" id="faqSearch" type="button">조회</button></li>
        </ul>
    </div>
</form>
<!-- 01.search -->