<!-- tts-footer // -->
<div id="footer"  class="tts-footer">
    <div class="footer-header">
        <div class="logo-area"><img src="mc-static-root/images/thetireshop/safe-service/logo_footer_thetireshop.png" alt="더타이어샵" /></div>
        <div class="social-area">
            <p class="txt-white txt-14">고객문의 : 031- 5178 -7000</p>
        </div>
    </div>
    <div class="footer-body">
        <div class="company-area mg-b-2u">
            <ul>
                <li><p class="txt-12">한국타이어앤테크놀로지(주)<span class="inline-vertical-divider"></span>대표이사 이수일</p></li>
                <li><p class="txt-12">경기도 성남시 분당구 판교로 286 (삼평동)</p></li>
            </ul>
        </div>
        <p class="txt-neutral3 txt-12">Copyright © Hankook Tire & Technology Co.,Ltd. All Rights Reserved.</p>
    </div>
</div>
<!-- // tts-footer -->