<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="event">
    <div id="contents">
        <!-- 01. page title -->
        <div class="page_tit">
            <h4>이벤트</h4>
        </div>
        <!-- //01. page title -->
        <!-- 02. 제목 -->
        <div class="event_tit">
            힘내라 대한민국
            <span class="date">이벤트 기간 : 99.99.99  ~ 99.99.99</span>
        </div>
        <input type="hidden" id="evtUrlAddr" value="">
        <input type="hidden" id="endEvtDisp" value="">
        <input type="hidden" id="isEvtDispBf" value="">

        <!-- //02. 제목  -->
        <!-- 03. 이벤트 상세  -->
        <div class="event_list">
            <div id="inner">

                <div class="event-detail-wrap">
                    <div class="center-inner">
                        <link rel="stylesheet" type="text/css" href="pc-static-root/css/event.css" />
                        <!-- korea event //  -->
                        
                        <!-- .event_detail // -->
        <style>
            .event-korea-cheerup {position:relative;}
            .event-korea-cheerup .img-map-wrap {max-width:750px; width:100%; font-size: 0; margin: auto; position:relative;}
            .event-korea-cheerup .img-map-link {display: block; position: absolute; z-index: 1; background-color: rgba(254, 106, 43, .5);} /* 20220128 */
            .event-korea-cheerup .img-map-link.link-1 {left: 0;top: 1061px;width: 370px;height: 277px;border-radius: 8px;}
            .event-korea-cheerup .img-map-link.link-2 {right: 0;top: 1061px;width: 370px;height: 277px;border-radius: 8px;}
            .event-korea-cheerup .img-map-link.link-3 {left: 43px;top: 2130px;width: 665px;height: 80px;border-radius: 8px;}
            .event-korea-cheerup .img-map-link.link-4 {left: 50px;top: 3135px;width: 318PX;height: 80PX;border-radius: 4px;}
            .event-korea-cheerup .img-map-link.link-5 {right: 50px;top: 3135px;width: 318PX;height: 80PX;border-radius: 4px;}
            .event-korea-cheerup .img-map-link.tire-link-1 {left: 223px;top: 4145px;width: 126px;height: 40px;border-radius: 44px;}
            .event-korea-cheerup .img-map-link.tire-link-2 {right: 59px;top: 4145px;width: 126px;height: 40px;border-radius: 44px;}
            .event-korea-cheerup .img-map-link.tire-link-3 {left: 223px; top: 4646px;width: 126px;height: 40px;border-radius: 44px;}
            .event-korea-cheerup .img-map-link.tire-link-4 {right: 59px;top: 4646px;width: 126px;height: 40px;border-radius: 44px;}
            .event-korea-cheerup .img-map-link.tire-link-5 {left: 223px; top: 5249px;width: 126px;height: 40px;border-radius: 44px;}
            .event-korea-cheerup .img-map-link.tire-link-6 {right: 59px;top: 5249px;width: 126px;height: 40px;border-radius: 44px;}
            .event-korea-cheerup .img-map-link.tire-link-7 {left: 223px; top: 5750px;width: 126px;height: 40px;border-radius: 44px;}
            .event-korea-cheerup .img-map-link.tire-link-8 {right: 59px;top: 5750px;width: 126px;height: 40px;border-radius: 44px;}
            </style>
            
            <div class="event-korea-cheerup">
                <div class="img-map-wrap">
                    <img src="pc-static-root/images/event/20220224/img_event_korea.png" alt="" />
                    <div class="ak-wrap-korea">
                        <a href="#none" class="event-case img-map-link link-1"><span class="blind">네이버페이 결제시 N포인트 3만전 지급 스크롤 이동</span></a>
                        <a href="#none" class="event-case img-map-link link-2"><span class="blind">제휴카드 결제 시 모바일 주유권 3만원 지금 스크롤 이동</span></a>
                    </div>
                    <script>
                    function amtAnchorScroll() {
                        var shoppingTippickup = $('.ak-wrap-korea');
                        var shoppingTippickupButton = shoppingTippickup.find('.event-case');
                        var shoppingTippickupHeight = $('.navbar').outerHeight();
                        shoppingTippickupButton.each(function(i) {
                            shoppingTippickupButton.eq(i).click(function(e) {
                                e.preventDefault();
                                var scrollpickupPostion = $('.event-korea-cheerup').find('.amt-anchor').eq(i).offset().top - shoppingTippickupHeight;
                                
                                console.log(scrollpickupPostion);
                                $('html, body').animate({
                                    scrollTop: scrollpickupPostion - 720
                                }, 500)
                            })
                        })
                    }
                    amtAnchorScroll()
                    </script>
                    <a href="#none" class="amt-anchor img-map-link link-3"><span class="blind">온라인 쇼핑 바로가기</span></a>
                    <a href="#none" class="amt-anchor img-map-link link-4" role="button"
                        onclick="$.Tstation.popup().open({
                            ref: '',
                            title: '행사매장 검색하기',
                            requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                            contents: storeSerchConent, // 팝업을 바로 띄우고 싶을때
                            dimWhite: false,
                            modalSize: 'LARGE',
                            modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                                horizon: 0,
                                vertical: 0,
                                top: 0,
                                right: 0,
                                bottom: 0,
                                left: 0
                            },
                            full: true, // Full Popup
                            
                        })"
                    >
                    
                    <span class="blind">행사매장 보기</span></a>
                    <a href="/tire/product/ventus_s2_as?ptrnCd=H462&goodsMdclCd=01&movePath=pattern" class="img-map-link link-5"><span class="blind">매장예약 바로가기</span></a>
                    <a href="/tire/product/ventus_s1_evo3?ptrnCd=K127&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-1"><span class="blind">추천 승용 타이어 - 벤투스 프리미엄 컴포트</span></a>
                    <a href="/tire/product/ventus_v2_as?ptrnCd=H123&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-2"><span class="blind">추천 승용 타이어 - 벤투스 프리미엄 스포츠</span></a>
                    <a href="/tire/product/ventus_v12_evo2?ptrnCd=K120&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-3"><span class="blind">추천 승용 타이어 - 벤투스 컴포트</span></a>
                    <a href="/tire/product/ventus_s2_as_x?ptrnCd=RH17&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-4"><span class="blind">추천 승용 타이어 - 벤투스 스포츠</span></a>
                    <a href="/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-5"><span class="blind">추천 SUV 타이어 - 벥투스 프리미엄 컴포트</span></a>
                    <a href="/tire/product/ventus_s2_as_x?ptrnCd=RH17&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-6"><span class="blind">추천 SUV 타이어 - 벥투스 프리미엄 스포츠</span></a>
                    <a href="/tire/product/dynapro_hl3?ptrnCd=RA45&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-7"><span class="blind">추천 SUV 타이어 - 다이나프로 컴포트</span></a>
                    <a href="/tire/product/dynapro_hp2?ptrnCd=RA33&goodsMdclCd=01&movePath=pattern" class="img-map-link tire-link-8"><span class="blind">추천 SUV 타이어 - 다이나프로 컴포트</span></a>
                </div>
                
            </div>

                        <!-- // korea event -->
                    </div>
                </div>

            </div>
            <div class="btn01">
                <a href="https://www.tstation.com/promotion/event-list" class="btnM2 btnS02">목록으로</a>
            </div>
        </div>
        <!-- //03. 이벤트 상세  -->

        <!-- #contents -->
    </div>
</div>


<script>
    var storeSerchConent = `
    <div class="offline-store-search">
            <div class="contents-section store-search">
                <div class="country-wrap">
                    <ul class="list-size-flex">
                        <li class="flex-3 pd-r-2u">
                            <div class="form-control form-control-md">
                                <div class="input-group">
                                    <select class="input-box">
                                        <option value="options1" selected="" disabled="">시/도 선택</option>
                                        <option value="options1">options1</option>
                                        <option value="options2">options2</option>
                                        <option value="options3">options3</option>
                                        <option value="options4">options4</option>
                                    </select>
                                    <div class="tools">
                                        <button><span class="line-icons chev-down"></span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="flex-3 pd-r-2u">
                            <div class="form-control form-control-md">
                                <div class="input-group">
                                    <!-- 시/도 선택후 'disabled'클래스 제거 -->
                                    <select class="input-box disabled">
                                        <option value="options1" selected="" disabled="">시/군/구 선택</option>
                                        <option value="options1">options1</option>
                                        <option value="options2">options2</option>
                                        <option value="options3">options3</option>
                                        <option value="options4">options4</option>
                                    </select>
                                    <div class="tools">
                                        <button><span class="line-icons chev-down"></span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="flex-2">
                            <button type="button" class="btn-item btn-neutral full-w filet">
                                <span class="label-txt">찾기</span>
                            </button>
                        </li>
                    </ul>
                    <div class="store-search-checked">
                        <div class="radio-wrap">
                            <label class="check-item">
                                <input type="checkbox" name="serviceFilter" id="serviceFilter01" value="118">
                                <div class="icon-holder">
                                    <span class="line-icons square size-20"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u txt-16">티스테이션</span>
                                </div>
                            </label>
                            <label class="check-item">
                                <input type="checkbox" name="serviceFilter" id="serviceFilter02" value="filterVisit">
                                <div class="icon-holder">
                                    <span class="line-icons square size-20"></span>
                                </div>
                                <div class="labelling">
                                    <span class="label-txt mg-h-1u txt-16">더타이어샵</span>
                                </div>
                            </label>
                        </div>
                        <div class="noti-wrap">
                            <div class="subcopy"><span class="line-icons info-circle size-20 txt-primary"></span>한국타이어 장착점 안내</div>
                            <p class="noti txt-14"><strong>티스테이션:</strong><span>최적의 타이어 상담부터 구매, 차량관리까지 믿고 맡길 수 있는 대한민국 대표 타이어 전문점</span></p>
                            <p class="noti txt-14"><strong>더타이어샵:</strong><span>합리적인 가격의 타이어와 경정비 서비스를 제공하는 전문 매장</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layer-content-wrap find-location-near">
                <div class="store-sort-info">
                    <div class="sort-count">
                        해당 지역 매장 <strong>3개</strong>
                    </div>
                    <div class="sort-button-wrap">
                        <button class="btn-sort" id="storeMapButton" onclick="sortFunc()"><span class="line-icons map size-24 mg-r-1u"></span>지도에서 보기</button>
                        <button class="btn-sort" id="storeListButton"  onclick="sortFunc()" style="display: none;"><span class="line-icons list size-24 mg-r-1u"></span>리스트로 보기</button>
                    </div>
                </div>
            
                <div class="sort-result">
                    <div class="store-list">
                        <div class="store-wrap">
                            <!-- .store-info 해당 클래스에 .tstation, .hankook, .thetireshop 추가시 로고, 및 회시 명칭 표기-->
                            <!-- .store-info 해당 클래스에 .allmyt-store 추가시 해당 badge 추가 -->
                            <div class="store-info tstation allmyt-store"><!-- 0930 -->
                                <div class="franchisee">
                                    <strong>가산점</strong>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <!-- 211006 삭제 <span class="open">08:00 ~ 20:00</span> -->
                                        <!-- 211006 // -->
                                        <ul class="meta release-info">
                                            <li class="time">
                                                <span class="line-icons time size-22"></span><span class="open">08:00 ~ 20:00</span>
                                            </li>
                                            <li class="call">
                                                <span class="line-icons call size-22"></span><span class="open">031-785-3345</span>
                                            </li>
                                        </ul>
                                        <!-- // 211006 -->
                                    </div>
                                    <p class="address">서울특별시 금천구 가산로 86(독산동)</p>
                                </div>
                            </div>
                            <div class="store-footer">
                                <div class="connect-wrap">
                                    <button class="location-button"><span class="line-icons location size-28"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="store-wrap">
                            <!-- .store-info 해당 클래스에 .tstation, .hankook, .thetireshop 추가시 로고, 및 회시 명칭 표기-->
                            <!-- .store-info 해당 클래스에 .allmyt-store 추가시 해당 badge 추가 -->
                            <div class="store-info tstation">
                                <div class="franchisee">
                                    <strong>분당정자점</strong>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <ul class="meta release-info">
                                            <li class="time">
                                                <span class="line-icons time size-22"></span><span class="open">08:00 ~ 20:00</span>
                                            </li>
                                            <li class="call">
                                                <span class="line-icons call size-22"></span><span class="open">031-785-3345</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                                </div>
                            </div>
                            <div class="store-footer">
                                <div class="connect-wrap">
                                    <button class="location-button"><span class="line-icons location size-28"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="store-wrap">
                            <!-- .store-info 해당 클래스에 .tstation, .hankook, .thetireshop 추가시 로고, 및 회시 명칭 표기-->
                            <div class="store-info thetireshop">
                                <div class="franchisee">
                                    <strong>분당점</strong>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <ul class="meta release-info">
                                            <li class="time">
                                                <span class="line-icons time size-22"></span><span class="open">08:00 ~ 20:00</span>
                                            </li>
                                            <li class="call">
                                                <span class="line-icons call size-22"></span><span class="open">031-785-3345</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                                </div>
                            </div>
                            <div class="store-footer">
                                <div class="connect-wrap">
                                    <button class="location-button"><span class="line-icons location size-28"></span></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="store-maps" style="display: none;">
                        <!-- 2021-04-07 // -->
                        <div class="mark-info-wrap">
                            <span class="mark-tstation">티스테이션</span>
                            <span class="mark-hankook">더 타이어 샵</span>
                        </div>
                        <!-- // 2021-04-07 -->

                        <div class="map-wrap">
                            <img src="pc-static-root/images/common/dummy_map_img.png" alt="">
                        </div>

                        <!-- 맵 마커 -->
                        <img src="pc-static-root/images/event/20210316/map_marker_hk.png" class="map-marker" />
                        <img src="pc-static-root/images/event/20210316/map_marker_tstation.png" class="map-marker" />

                        <!-- 맵위에 떠있을경우 store-wrap 'on-map'클래스 추가 -->
                        <div class="store-wrap on-map">
                            <!-- .store-info 해당 클래스에 .tstation, .hankook, .thetireshop 추가시 로고, 및 회시 명칭 표기-->
                            <div class="store-info tstation">
                                <div class="franchisee">
                                    <strong>분당정자점</strong>
                                </div>
                                <div class="distance">
                                    <div class="info">
                                        <ul class="meta release-info">
                                            <li class="time">
                                                <span class="line-icons time size-22"></span><span class="open">08:00 ~ 20:00</span>
                                            </li>
                                            <li class="call">
                                                <span class="line-icons call size-22"></span><span class="open">031-785-3345</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="address">경기도 성남시 분당구 운중로267번길 3-7 (판교동)</p>
                                </div>
                            </div>
                            <div class="store-footer">
                                <div class="connect-wrap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 매장 결과 없을 경우 -->
                <div class="empty-box txt-center pd-v-15u">
                    <div class="middler">
                        <span class="line-icons error-circle size-48"></span>
                        <p class="empty-msg">현재 기준으로 장착 가능한 매장만 검색됩니다</p>
                    </div>
                </div>
            </div>
        </div>
    
    `    
        var sortButtonState = "list"
        function sortFunc() {
                if(sortButtonState === "map") {
                    $("#storeListButton, .store-maps").hide();
                    $("#storeMapButton, .store-list").show();
                    sortButtonState = "list";
                } else if(sortButtonState === "list") {
                    $("#storeListButton, .store-maps").show();
                    $("#storeMapButton, .store-list").hide();
                    sortButtonState = "map";
                }
            }
        
    </script>