<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<!-- Contents -->
<div id="container" class="">
    <div id="contents">
        <div class="page_tit">
            <h4>이벤트</h4>
        </div>
        <!-- main -->
        <link type="text/css" rel="stylesheet" href="pc-static-root/css/event.css" /><!-- NEW CSS ADD -->
        <div class="gift-prospecs-page">

            <h4 class="section-headline underline txt-18 pd-t-6u pd-b-3u pd-v-4u"><span class="line-icons chev-left size-24"></span>
                <a href="#none" class="dp-blok">TS.com 키너지 올웨더 구매고객 한국타이어 X 프로스펙스 콜라보 운동화 응모페이지</a>
            </h4>

            <div class="subscription-section">
                <div class="noti-rowgroup">
                    <div class="form-control form-control-md">
                        <h5 class="section-headline txt-16 pd-b-2u pd-t-9u">인증번호 입력</h5>
                        <div class="input-group bg-light2 pd-v-4u pd-h-9u ">
                            <input type="text" class="input-box" placeholder="문자로 받은 인증번호를 입력해 주세요">
                            <div class="tools">
                                <button class="clear"><span class="line-icons close-circle"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="txt-center mg-t-5u">
                        <button type="button" class="btn-item btn-neutral btn-ol round pd-h-10u">
                            <span class="label-txt txt-16">인증번호 확인</span>
                        </button>
                    </div>
                </div>

                <h5 class="section-headline txt-16 pd-b-2u pd-t-9u">응모자 정보 작성하기</h5>
                <div class="rowgroup border-b pd-t-2u pd-b-6u">
                    <div class="row mg-t-2u">
                        <div class="form-control form-control-inline inline-md">
                            <label for="name">이름</label>
                            <div class="input-group">
                                <input type="text" id="name" class="input-box" placeholder="이름" value="김한국" disabled />
                                <div class="tools">
                                    <button class="clear"><span class="line-icons close-circle"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-2u">
                        <div class="form-control form-control-inline inline-md">
                            <label for="phoneNumber">휴대폰</label>
                            <div class="input-group phone-number">
                                <ul class="flex-list ">
                                    <li class="flex-2">
                                        <input type="text" id="phoneNumber" class="input-box" placeholder="휴대폰 앞번호" value="010" disabled />
                                        <div class="tools">
                                            <button class="clear"><span class="line-icons close-circle"></span></button>
                                        </div>
                                    </li>
                                    <li class="flex-3">
                                        <input type="text" id="phoneNumber" class="input-box" placeholder="휴대폰 중간번호" value="9999" disabled />
                                        <div class="tools">
                                            <button class="clear"><span class="line-icons close-circle"></span></button>
                                        </div>
                                    </li>
                                    <li class="flex-3">
                                        <input type="text" id="phoneNumber" class="input-box" placeholder="휴대폰 뒷번호" value="9999" disabled />
                                        <div class="tools">
                                            <button class="clear"><span class="line-icons close-circle"></span></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-2u">
                        <div class="form-control form-control-inline inline-md">
                            <label for="phoneNumber">상품</label>
                            <div class="input-group pd-v-3u">
                                프로스펙스 BLADE HK (Black/White 랜덤발송) /1켤레
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-2u">
                        <div class="form-control form-control-inline inline-md">
                            <label for="phoneNumber">사이즈</label>
                            <div class="input-group">
                                <select class="input-box">
                                    <option value="options1" selected="" disabled="">신발 사이즈 선택</option>
                                    <option value="options2">230</option>
                                    <option value="options3">235</option>
                                    <option value="options4">240</option>
                                    <option value="options5">245</option>
                                    <option value="options5">250</option>
                                    <option value="options6">255</option>
                                    <option value="options7">260</option>
                                    <option value="options8">265</option>
                                    <option value="options9">270</option>
                                    <option value="options10">275</option>
                                    <option value="options11">280</option>
                                </select>
                                <div class="tools">
                                    <button><span class="line-icons chev-down"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <p class="txt-11 txt-primary mg-t-2u pd-l-20u mg-l-5u">* 230-280 (5mm) 단위 / 당첨 시 사이즈 변경 불가</p>                    
                </div>

                <div class="noti-section mg-t-5u">
                    <h3 class="section-headline txt-16">유의해 주세요</h3>
                    <ul class="explan-list pd-t-4u pd-b-8u pd-h-5u bg-light2">
                        <li class="mg-b-1u">
                            <p class="txt-12 txt-neutral2"># 경품응모기한 : 2022.03.04.(금) 23:59시 까지 </p>
                        </li>
                        <li class="mg-b-1u">
                            <p class="txt-12 txt-neutral2"># 추첨&당첨발표 : 2022.03.09.(수) (티스테이션닷컴 공지사항에서 발표) </p>
                        </li>
                        <li class="mg-b-1u">
                            <p class="txt-12 txt-neutral2"># 경품 응모는 이벤트 기간 내 행사타이어 4개 구매&장착 완료 및 본 경품 응모를 완료한 고객 대상으로 추첨의 기회가 주어집니다. </p>
                        </li>
                        <li class="mg-b-1u">
                            <p class="txt-12 txt-neutral2"># 경품 응모 단계에서 입력한 개인정보 오류로 인한 경품 미수취 시 재발송이 불가할 수 있으며, 당첨 및 경품 지급 이후 주문을 취소하였을 경우 기지급된 사은품은 회수하거나 이미 사용하였을 경우 해당 금액만큼 차감 후 환불처리 됩니다.</p>
                        </li>
                        <li class="mg-b-1u">
                            <p class="txt-12 txt-neutral2"># 신발 사이즈는 프로스펙스 운동화 정사이즈를 기준으로 하며, 당첨 및 증정 시 최초 선택한 사이즈에서 변경이 불가합니다. </p>
                        </li>
                        <li class="mg-b-1u">
                            <p class="txt-12 txt-neutral2"># 이벤트 관련 자세한 내용은 이벤트페이지 하단 꼭, 확인해주세요를 참고해 주세요.</p>
                        </li>
                    </ul>
                </div>
    
                <div class="legal-cheked-wrap weight-divider">
                    <div class="list-size-flex flex-between pd-t-6u">
                        <label class="check-item" for="eventPrivacyPolicy">
                            <input type="checkbox" id="eventPrivacyPolicy" name="agrTpArr" value="60">
                            <div class="icon-holder">
                                <span class="line-icons square size-20"></span>
                            </div>
                            <div class="labelling">
                                <span class="label-txt mg-h-1u txt-12">마케팅 활용을 위한 수집 및 이용동의</span>
                            </div>
                        </label>
                        <button type="button" class="txt-12 pd-v-2u txt-underline" style="background-color: transparent;">
                            <span class="label-txt">내용보기</span>
                        </button>
                    </div>
                </div>
                <div class="button-wrap mg-t-2u mg-b-8u">
                    <button type="button" class="btn-item btn-neutral round full-w round"> 
                        <span class="label-txt">경품 응모하기</span>
                    </button>
                </div>

            </div>

        </div>
        <!-- //main -->
    </div>
</div>