<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>
<link rel="stylesheet" type="text/css" href="pc-static-root/css/event.css" />
<div id="container" class="mypage">
    <!-- 02. 제목 -->
    <div class="event_tit">
        슈퍼위크 프로모션
        <span class="date">이벤트 기간 : 20.08.05  ~ 20.10.31</span>
    </div>
    <!-- //02. 제목  -->
    <!-- event list -->

    <div class="event_detail">
        <div class="event-familysale">
            <div class="hero-section">
                <div class="keyvisual"><img src="pc-static-root/images/event/20210316/img_keyvisual.png" alt="" /></div>
            </div>
            <div class="contents-section event-target">
                <div class="items-wrap">
                    <div class="items">
                        <span class="title">Event 1.</span>
                        <div class="image event1"></div>
                        <div class="copy">슈퍼위크 쿠폰팩<br />(선착순 + 매일증정)</div>
                    </div>
                    <div class="items">
                        <span class="title">Event 2.</span>
                        <div class="image event2"></div>
                        <div class="copy">SNS 후기작성 이벤트</div>
                    </div>
                    <div class="items">
                        <span class="title">Event 3.</span>
                        <div class="image event3"></div>
                        <div class="copy">설문조사 경품 이벤트</div>
                    </div>
                </div>
            </div>
            <div class="contents-section event-gallery">
                <div class="section-headcopy">슈퍼위크 행사타이어 둘러보기</div>
                <div class="container swiper-container-wrap">
                    <button type="button" class="btn-item btn-swiper-nav btn-prev" tabindex="0" role="button" aria-label="Previous slide"
                        aria-disabled="false">
                        <i class="dark"></i>
                    </button>
                    
                    <button type="button" class="btn-item btn-swiper-nav btn-next swiper-button-disabled" tabindex="0" role="button"
                        aria-label="Next slide" aria-disabled="true">
                        <i class="dark"></i>
                    </button>

                    <div class="swiper-container tire-gallery-swiper">
                        <div class="swiper-wrapper">
                            
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge sedan">승용</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_H462.png" alt="H462" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_H462.png" alt="벤투스 프리미엄 컴포트" />
                                        </p>
                                        <p class="size txt-neutral2">고속 주행에서 느끼는 <br />Comfort Technology</p>
                                        <a href="/tire/product/ventus_s2_as?ptrnCd=H462&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge sedan">승용</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_H123.png" alt="H123" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_H123.png" alt="벤투스 컴포트" />
                                        </p>
                                        <p class="size txt-neutral2">편안한 승차감을 느낄 수 있는 최고의 Family 세단용 타이어 </p>
                                        <a href="/tire/product/ventus_v2_as?ptrnCd=H123&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge sedan">승용</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_K127.png" alt="K127" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_K127.png" alt="벤투스 프리미엄 스포츠" />
                                        </p>
                                        <p class="size txt-neutral2">유럽 명차가 선택한 고성능 스포츠 타이어</p>
                                        <a href="/tire/product/ventus_s1_evo3?ptrnCd=K127&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge sedan">승용</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_K120.png" alt="K120" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_K120.png" alt="벤투스 스포츠" />
                                        </p>
                                        <p class="size txt-neutral2">스포츠 드라이빙 매니아들이 가장 많이 선택하는 타이어</p>
                                        <a href="/tire/product/ventus_v12_evo2?ptrnCd=K120&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge suv">SUV</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_RH17.png" alt="RH17" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_RH17.png" alt="벤투스 프리미엄 컴포트 SUV" />
                                        </p>
                                        <p class="size txt-neutral2">고속주행에서 느끼는 Comfort Technology SUV 타이어</p>
                                        <a href="/tire/product/ventus_s2_as_x?ptrnCd=RH17&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge suv">SUV</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_K127A.png" alt="K127A" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_K127A.png" alt="벤투스 프리미엄 스포츠 SUV" />
                                        </p>
                                        <p class="size txt-neutral2">유럽 명차가 선택한 SUV 전용 고성능 스포츠 타이어</p>
                                        <a href="/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge suv">SUV</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_RA33.png" alt="RA33" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_RA33.png" alt="다이나프로 컴포트" />
                                        </p>
                                        <p class="size txt-neutral2">자동차 메이커의 성능 테스트를 통과한 SUV용 순정타이어</p>
                                        <a href="/tire/product/dynapro_hp2?ptrnCd=RA33&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge suv">SUV</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_RA45.png" alt="RA45" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">  
                                            <img src="pc-static-root/images/event/20210316/product/name_RA45.png" alt="다이나프로 컴포트" />
                                        </p>
                                        <p class="size txt-neutral2">강인함과 편안함의 완벽한 밸런스를 갖춘 SUV 전용 타이어</p>
                                        <a href="/tire/product/dynapro_hl3?ptrnCd=RA45&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide card card-brand-tireinfo">
                                <div class="infobadge suv">SUV</div>
                                <div class="card-inner">
                                    <div class="thumb-wrap">
                                        <div class="thumb-holder thumb-scaled">
                                            <img src="pc-static-root/images/event/20210316/product/tire_RF11.png" alt="RF11" class="goods-img" />
                                            <div class="brands-logo hk"></div>
                                        </div>
                                    </div>
                                    <div class="description-area">
                                        <p class="model">
                                            <img src="pc-static-root/images/event/20210316/product/name_RF11.png" alt="다이나프로 올 터레인" />
                                        </p>
                                        <p class="size txt-neutral2">오프로드, 온로드 등 모든 도로에 최적화된 전천후 타이어</p>
                                        <a href="/tire/product/dynapro_at2?ptrnCd=RF11&goodsMdclCd=01&movePath=pattern" class="more-link mg-t-4u txt-primary txt-w400">자세히 보기 <span class="line-icons chev-right size-16"></span></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <script>
                            var ventustireSwiper = new Swiper('.tire-gallery-swiper', {
                                spaceBetween: 8,
                                observer: true,
                                observeParents: true,
                                slidesPerView: 'auto',
                                navigation: {
                                    nextEl: '.swiper-container-wrap .btn-next',
                                    prevEl: '.swiper-container-wrap .btn-prev',
                                },
                            });
        
                            ventustireSwiper.init();
        
                            $(window).on('resize', function () {
                                ventustireSwiper.init();
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="contents-section event-coupon">
                <!-- 쿠폰다운로드 팝업 on // -->
                <div class="coupon-down-popup dim-bg on">
                    <div class="contents-section">
                        <span>축하드립니다!</span>
                        <em>2+2 쿠폰이 발급되었습니다.</em>
                        <p>등록된 연락처로 쿠폰번호가 발송되었습니다. 마이페이지 &gt; 쿠폰함에서 발급받은 쿠폰을 확인하세요.</p>
                        <button type="button" class="btn-item btn-neutral round">
                            <span class="label-txt">확인</span>
                        </button>
                    </div>
                    <script>
                        var couponDownPopup = $('.event-familysale .coupon-down-popup');
                        couponDownPopup.find('button').click(function() {
                            couponDownPopup.removeClass('on');
                            $.Tstation.scrollLock.unlock();
                        })
                    </script>
                </div>
                <div class="coupon-wrap">
                    <div class="section-subcopy">
                        <span class="label-num">Event 1</span>
                        <span class="bg-underline">슈퍼위크 쿠폰팩</span> 증정 이벤트<br />
                        <span class="subcopy">(선착순할인쿠폰 + 매일할인쿠폰)</span>
                        <!-- 2021-05-04 // -->
                        <p class="noti txt-16  mg-t-3u">본 이벤트 쿠폰은 <span class="txt-primary">온라인/매장에서 모두 사용가능</span>합니다.<br />
                            <span class="txt-primary">스마트페이 결제는 쿠폰혜택 적용이 안되는 점</span> 양해 부탁드립니다.
                        </p>
                        <!-- // 2021-05-04 -->
                    </div> 
                    <p class="coupon-copy">매일 오후2시 타이어 2+2 쿠폰 증정! <span class="txt-14 dp-inblock">(기간: ~04.22까지)</p><!-- 2021-04-13 -->
                    <div class="coupon-items biggier-benefit">
                        <!-- 참여시간이 아닐때 on // -->
                        <div class="event-lock dim-bg on">
                            <!-- 2021-04-15 // -->
                            <p>
                                <span style="display: block; margin: 32px 0;">
                                쿠폰 발급은 2시부터 진행됩니다.<br>순간 사용자 접속이 많아 서비스가 원활하지 <br>않을 수 있으나 쿠폰은 정상적으로 발급 되오니 양해 부탁드립니다.
                                </span>
                                <button id="buttonLock" style="display: block; background-color: transparent; margin: auto"><img src="https://www.tstation.com/pc-static-root/images/event/20210316/img_dim_button.png" alt=""></button>
                                <script>
                                $('#buttonLock').click(function(e) {
                             
                                    $('.event-lock').removeClass('on');
                                })
                                </script>
                            </p>
                            <!-- // 2021-04-15 -->
                        </div>
                        <!-- 쿠폰 마감시 on // -->
                        <div class="event-soldout dim-bg">
                            <!-- 2021-04-13 // -->
                            <p><span class="line-icons coupon-error size-48"></span>오늘 준비한 100장의 2+2쿠폰이<br />
                                모두 발급되었습니다.<br />
                                아쉽지만 내일 다시 도전해 주세요.</p>
                            <!-- // 2021-04-13 -->
                        </div>
                        
                        <!-- 쿠폰 종료시 on // -->
                        <div class="event-close dim-bg">
                            <p><span class="close-icons"></span>선착순 쿠폰이 마감되었습니다.<br />더 나은 혜택으로 찾아뵙겠습니다.</p>
                        </div>
                        
                        <span class="coupon-label">선착순 100명!</span>
                        <div class="image"><img src="pc-static-root/images/event/20210316/img_copon_hk1.png" /></div>
                        <div class="button-wrap">
                            <button type="button" class="btn-item btn-neutral btn-ms full-w round coupon">
                                <span class="label-txt txt-14">2+ 2 쿠폰받기</span>
                                <span class="line-icons download size-20 before"></span>
                                <span class="line-icons check size-20 after"></span>
                            </button>
                        </div>
                    </div>
                    <p class="coupon-copy">타이어 3+1 쿠폰 매일 1개씩 증정! <span class="txt-14 dp-inblock">(기간: ~5/15까지)</span></p><!-- 2021-04-26 -->
                    <div class="coupon-items big-benefit">
                        <div class="image"><img src="pc-static-root/images/event/20210316/img_copon_hk2.png" /></div>
                        <div class="button-wrap">
                            <button type="button" class="btn-item btn-neutral round coupon" disabled>
                                <span class="label-txt txt-14">3+1 쿠폰받기</span>
                                <span class="line-icons download size-20 before"></span>
                                <span class="line-icons check size-20 after"></span>
                            </button>
                        </div>
                    </div>
                    
                    <p class="coupon-copy">타이어 2개 구매 시 20% 할인쿠폰 증정! <span class="txt-14 dp-inblock">(기간: ~5/15까지)</span></p><!-- 2021-04-26 -->
                    <div class="coupon-items small-benefit">
                        <!-- 쿠폰 종료시 on // -->
                        <div class="event-close dim-bg">
                            <p><span class="close-icons"></span>선착순 쿠폰이 마감되었습니다.<br />더 나은 혜택으로 찾아뵙겠습니다.</p>
                        </div>
                        <div class="image"><img src="pc-static-root/images/event/20210316/img_copon_hk3.png" /></div>
                        <div class="button-wrap">
                            <button type="button" class="btn-item btn-neutral btn-ms full-w round coupon">
                                <span class="label-txt txt-14">20% 쿠폰받기</span>
                                <span class="line-icons download size-20 before"></span>
                                <span class="line-icons check size-20 after"></span>
                            </button>
                        </div>
                    </div>
                    
                    <div class="lagal-check-group">
                        <label class="check-item">
                            <input type="checkbox">
                            <div class="icon-holder">
                                <span class="line-icons square size-20"></span>
                            </div>
                            <div class="labelling">
                                <span class="label-txt mg-h-1u txt-12">마케팅 활용을 위한 수집 및 이용 동의</span>
                            </div>
                        </label>
                        <a href="#" class="legal-button popup-full" data-rel="https://www.tstation.com/terms/popup/singleterms.do?agrmSctCd=60">내용보기</a>
                        
                    </div>
                </div>

            </div>
            <div class="contents-section event-mytire">
                <div class="section-headcopy">내 차에 맞는 행사 타이어 보기</div>
                <div class="mytire-wrap">
                    <p class="noti">차량번호 조회로 내 차에 맞는 행사 타이어를 확인해보세요!</p>
                    <div class="carnumber-lookup">
                        <div class="form-control form-control-inline inline-s">
                            <label>차량번호</label>
                            <div class="input-group">
                                <input type="text" class="input-box" placeholder="예) 12가2345">
                                <div class="tools">
                                    <button class="clear"><span class="line-icons close-circle"></span></button>
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-control form-control-inline inline-s mg-t-2u">
                            <label>소유주명</label>
                            <div class="input-group">
                                <input type="text" class="input-box" placeholder="예) 김한국">
                                <div class="tools">
                                    <button class="clear"><span class="line-icons close-circle"></span></button>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-item btn-neutral round mg-t-5u mg-h-auto">
                            <span class="label-txt">차량번호 조회하고 행사 타이어 찾기</span>
                        </button>
                    </div>
                </div>
                <div class="mytire-result-wrap">
                    <p class="txt-20 line-30 mg-b-1u">내가 선택한 타이어</p>
                    <div class="carnumber-lookup">
                        <div class="tire-info">
                            <div class="name"><span class="label icon-tire"></span>벤투스 프리미엄 컴포트 (Ventus S2 AS)</div>
                            <div class="size"><span class="label label-txt">전륜</span>245/45R18</div>
                        </div>
                        <div class="tire-info">
                            <div class="name"><span class="label icon-tire"></span>벤투스 프리미엄 컴포트 (Ventus S2 AS)</div>
                            <div class="size"><span class="label label-txt">전륜</span>245/45R18</div>
                        </div>
                        <div class="re-mytire-button">
                            <button type="button" class="btn-item btn-neutral full-w btn-inv">
                                <span class="label-txt">재검색</span>
                                <span class="line-icons refresh size-24"></span>
                            </button>
                        </div>
                    </div>
                    <div class="reservation-button">
                        <button type="button" class="btn-item btn-neutral round">
                            <span class="label-txt">온라인에서 예약/결제</span>
                        </button>
                        <button type="button" class="btn-item btn-neutral round">
                            <span class="label-txt">매장예약/현장결제</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="contents-section store-confirm-button">
                <button type="button" class="btn-item btn-neutral btn-ol round">
                    <span class="label-txt">매장 예약내역 확인하기</span>
                </button>
                <p class="noti">온라인 주문 고객은 <a href="/mypage/tstation/order-history" class="txt-primary">마이페이지 &gt; 주문내역에서</a> 예약 정보를 확인하실 수 있습니다.</p>
            </div>
            <div class="contents-section event-sns separat-weight">
                <div class="section-subcopy">
                    <span class="label-num">Event 2</span>슈퍼위크 타이어 장착 <span class="bg-underline">SNS 후기 이벤트</span>
                </div>
                
                <ul class="event-gate-info">
                    <li class="gate-half">
                        <strong class="bg-underline">이벤트 기간 : </strong> 
                        <p>21년 4월 9일 (금) ~ 4월 30일 (금)<br /> <em class="txt-yellow txt-14">(장착완료 및 SNS 참여 완료 기준)</em></p>
                    </li>
                    <li class="gate-half">
                        <strong class="bg-underline">당첨자 발표 : </strong>
                        <p>21년 5월 12일 (수)<br /> <em class="txt-yellow txt-14">(티스테이션 공식 페이스북에서 베스트후기 선정 & 당첨자 발표)</em></p>
                    </li>
                </ul>

                <div><strong class="label-txt bg-underline txt-16">참여방법</strong></div>
                
                <ul class="event-join-info"> 
                    <li><span class="mark">1.</span>슈퍼위크 할인쿠폰 발급 후 행사상품 구매 및 장착 완료</li>
                    <li><span class="mark">2.</span>필수 해시태그와 함께 개인 SNS에 상품&장착 후기 작성 <br />
                        <em class="txt-yellow">*필수 해시태그<br />#한국타이어 #슈퍼위크 #상품명(ex.벤투스프리미엄컴포트)</em></li>
                    <li><span class="mark">3.</span>[SNS 이벤트 참여하기] 버튼 클릭 하여 이벤트 응모 완료! <br />
                        <em class="txt-yellow">직접 촬영한 사진과 함께 정성스러운 후기일수록 1등 당첨 확률 UP!</em></li>
                </ul>

                <div><strong class="label-txt bg-underline txt-16">이벤트 경품안내</strong></div>
                <ul class="event-benefit-info"> 
                    <li><img src="pc-static-root/images/event/20210316/event3_01.png" alt="애플워치 시리즈 6" /></li>
                    <li><img src="pc-static-root/images/event/20210316/event3_02.png" alt="미니빔 프로젝터" /></li>
                    <li><img src="pc-static-root/images/event/20210316/event3_03.png" alt="차량용 공기청정기" /></li>
                    <li><img src="pc-static-root/images/event/20210316/event3_04.png" alt="여행용 캐리어" /></li>
                    <li><img src="pc-static-root/images/event/20210316/event3_05.png" alt="스타벅스 기프티콘" /></li>
                </ul>
                <div class="event-button-confirm">
                    <button type="button" class="btn-item btn-neutral round mg-t-5u" onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScr3XYWoynpH7LTwKX0RBR2aXOr5P7jZ0t6USj1hiXYsx2NYA/viewform')"><!-- 2021-04-06 -->
                        <span class="label-txt">SNS후기 이벤트 신청하기</span>
                    </button>
                </div>
            </div>

             
            <div class="contents-section event-review separat-weight">
                <div class="section-subcopy"><span class="label-num">Event 3</span> <span class="bg-underline">슈퍼위크 타이어 구매</span> 설문조사 경품추첨 이벤트</div>
                <ul class="event-gate-info">
                    <li><strong class="bg-underline">참여기간</strong> : 21년 4월 9일 (금) ~ 4월 30일 (금)</li>
                    <li class="gate-half">
                        <strong class="bg-underline">당첨자 발표 : </strong>
                        <p>21년 5월 12일 (수)<br /> <em class="txt-yellow txt-14">(티스테이션 공지사항에서 당첨자 발표)</em></p>
                    </li>
                </ul>
                <div><strong class="label-txt bg-underline">참여방법</strong></div>
                <ul class="event-join-info"> 
                    <li><span class="mark">1.</span>슈퍼위크 할인쿠폰 발급 후 행사상품 구매 및 장착 완료</li>
                    <li><span class="mark">2.</span>문자로 받은 <em class="txt-yellow">[타이어 구매 설문조사] 참여 완료 시 자동 응모</em></li>
                </ul>
                <div><strong class="label-txt bg-underline">이벤트 경품안내</strong></div>
                <ul class="event-benefit-info"> 
                    <li><img src="pc-static-root/images/event/20210316/event4_01.png" alt="PS 5" /></li>
                    <li><img src="pc-static-root/images/event/20210316/event4_02.png" alt="닌텐도 스위치" /></li>
                    <li><img src="pc-static-root/images/event/20210316/event4_03.png" alt="스타벅스 기프티콘" /></li>
                </ul>
            </div>
            
            <div class="contents-section event-notice bg-light1 pd-h-5u pd-v-6u">
                <h4 class="txt-18 txt-w500">유의사항</h4>
                <ul class="mg-t-1u">
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 한국타이어 슈퍼위크 이벤트는 전국 티스테이션, 더타이어샵, 일반대리점 행사 매장 및 티스테이션닷컴에서 동시에 진행되는 온/오프라인 통합 이벤트입니다.</li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 본 이벤트는 티스테이션닷컴 회원가입/로그인 후 참여 가능하며, 쿠폰 발급 전 반드시 마케팅정보활용 및 수신 동의를 완료해 주세요.</li>
                </ul>
                <p class="txt-14 txt-neutral2">(필요 사유 : 쿠폰발급 시 등록된 개인 연락처로 쿠폰번호 발송) </p>
                <h5 class="txt-14 txt-w500 mg-t-5u">[이벤트 1] – 슈퍼위크 쿠폰팩</h5>
                <ul class="mg-t-1u">
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 슈퍼위크 쿠폰은 발급완료 시 등록된 연락처로 즉시 안내문자(쿠폰번호)가 발송되며, 마이페이지 &gt; 쿠폰함에 자동발급됩니다. (미수신 시 수신차단 여부 확인 필요)</li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 스마트페이 결제는 쿠폰혜택 적용이 안되는 점 양해 부탁드립니다.</li><!-- 2021-05-04 -->
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 50% 할인쿠폰 안내 </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u">- 매일 오후 2시 선착순 100명 대상으로 발급되며, 1인(계정) 기준 1개만 제공됩니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u">- 슈퍼위크 행사타이어 4개 구매 시 적용 가능합니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 25% 할인쿠폰 안내 </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u">- 이벤트 기간 내 매일 1개씩 발급 가능합니다.</li><!-- 2021-04-26 -->
                    <li class="txt-14 txt-neutral2 mg-b-2u">- 슈퍼위크 행사타이어 4개 구매 시 적용 가능합니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 20% 할인쿠폰 안내 </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u">- 이벤트 기간 내 1인(계정) 기준 1개만 제공됩니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u">- 슈퍼위크 행사타이어 2개 구매 시 적용 가능합니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 슈퍼위크 할인쿠폰은 티스테이션닷컴, 티스테이션, 더타이어샵, 일반대리점 행사 매장에서 사용 가능하며, 다른 할인과 중복 적용이 불가합니다. (행사 제외 매장에서는 사용 불가) </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 슈퍼위크 타이어 할인쿠폰 사용 기한 : 2021년 5월 15일 까지 </li><!-- 2021-04-26 -->
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 오프라인 매장 장착 완료일 : 2021년 5월 15일까지 </li><!-- 2021-04-26 -->
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 슈퍼위크 할인쿠폰의 제 3자 대상 재판매 행위는 엄격하게 금지되며, 재판매 목적 또는 이와 유사한 목적의 거래 행위가 확인된 경우 전자상거래법 및 개인정보 보호법에 의거, 법적 불이익을 받을 수 있습니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 티스테이션 외 더타이어샵, 일반 대리점의 경우 장착을 희망하는 매장에 사전 연락을 통해 선택하신 상품의 재고여부를 확인 후 구매 가능 여부를 확인하실 수 있습니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 타이어는 무료 장착이며, 정비 및 얼라이먼트가 추가될 경우 비용은 별도입니다. </li>
                </ul>
                <h5 class="txt-14 txt-w500 mg-t-5u">[이벤트 2] – SNS 후기 이벤트 </h5>
                <ul class="mg-t-1u">
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 슈퍼위크 할인쿠폰을 적용한 타이어 구매&장착완료한 고객 대상 참여 가능합니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 이벤트 참여 (SNS 이벤트 참여하러가기)는 1인 1회 가능합니다. (연락처 기준) </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 타인의 컨텐츠를 도용하는 등 부정적인 방법으로 이벤트에 참여한 사실이 적발되었을 경우, 당첨 이후에라도 경품 지급 대상에서 제외될 수 있으며 지급된 혜택은 회수될 수 있습니다.</li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 1~3등 상품(애플워치 시리즈 6, 미니빔 프로젝터, 차량용 공기청정기)의 경우 당첨 및 상품지급 시 발생하는 제세공과금 22%은 당첨자 부담입니다.  </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 제세공과금 납부처리를 위해 관련 법규에 따라 개인정보를 요청할 수 있습니다.  </li>
                </ul>
                <h5 class="txt-14 txt-w500 mg-t-5u">[이벤트 3] – 설문조사 이벤트 </h5>
                <ul class="mg-t-1u">
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 행사 타이어 장착완료 후 문자/알림톡으로 설문조사 참여 링크를 받은 고객 대상으로 진행됩니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 이벤트 참여(설문조사 참여완료)는 1인 1회 가능합니다. (연락처 기준) </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 1~2등 상품(플레이스테이션5, 닌텐도 스위치)의 경우 당첨 및 상품지급 시 발생하는 제세공과금 22%은 당첨자 부담입니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u">#제세공과금 납부처리를 위해 관련 법규에 따라 개인정보를 요청할 수 있습니다. </li>
                </ul>
                <h5 class="txt-14 txt-w500 mg-t-5u">[기타 유의사항]</h5>
                <ul class="mg-t-1u">
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 일부 행사 상품은 당사 생산계획에 따라 구매 시점에 재고가 부족할 수 있습니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 이벤트 진행 일정 및 혜택은 내부 사정에 따라 변경 및 조기종료 될 수 있습니다. </li>
                    <li class="txt-14 txt-neutral2 mg-b-2u"># 이벤트 관련 자세한 내용은 고객센터로 문의해 주세요. (080-022-8272) </li>
                </ul>
            </div>
            

        </div>
    </div>
    <div class="btn02">
        <a href="https://m.tstation.com/promotion/event-list" class="btnB btnS02">목록으로</a>
    </div>
<!-- //event list -->
</div>
<%- locals.widget ('src/project/desktop/pages/promotion/includes/popup-tire-check.ejs') %> 
