<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="event">
    <div id="contents">
        <div class="page_tit">
            <h4>이벤트</h4>
        </div>
        <div class="order_01">
            <ul class="tab_01 none">
                <li><a href="https://www.tstation.com/promotion/event-list">진행중인 이벤트</a></li>
                <li class="on"><a href="https://www.tstation.com/promotion/past-event-list">지난 이벤트</a></li>
            </ul>
        </div>
        <div class="event_list">
            <p class="nodata">종료된 이벤트가 없습니다.</p>
            <ol id="evtList">
                <li>
                    <a href="https://www.tstation.com/promotion/event/detail/00000000010228" data-ap-promotion="{'id':'00000000010228','name':'티스테이션에 간다, 안심이 간다','creative':'marketing/2020/20200917111618/20200918-safety-list.png','display_type':'banner','position':1}" class="more">
                        <span class="img"><img src="/upload/marketing/2020/20200917111618/20200918-safety-list.png" alt="티스테이션에 간다, 안심이 간다"></span>
                        <span class="tit">티스테이션에 간다, 안심이 간다</span>
                        <span class="date">2020.09.18~2020.10.17</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.tstation.com/promotion/event/detail/00000000010227" data-ap-promotion="{'id':'00000000010227','name':'숨겨진 타이어 브랜드를 찾아라!','creative':'marketing/2020/20200916084438/global_tire_brand_list.png','display_type':'banner','creative_name':'/WEB-INF/jsp/promotion/globalTireBrand2020.jsp','position':2}" class="more">
                        <span class="img"><img src="/upload/marketing/2020/20200916084438/global_tire_brand_list.png" alt="숨겨진 타이어 브랜드를 찾아라!"></span>
                        <span class="tit">숨겨진 타이어 브랜드를 찾아라!</span>
                        <span class="date">2020.09.17~2020.10.31</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.tstation.com/promotion/event/detail/00000000010226" data-ap-promotion="{'id':'00000000010226','name':'The Premium Rewards - SUV','creative':'marketing/2020/20200831162021/ventusAward.png','display_type':'banner','position':3}" class="more">
                        <span class="img"><img src="/upload/marketing/2020/20200831162021/ventusAward.png" alt="The Premium Rewards - SUV"></span>
                        <span class="tit">The Premium Rewards - SUV</span>
                        <span class="date">2020.08.05~2020.10.31</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.tstation.com/promotion/event/detail/00000000010209" data-ap-promotion="{'id':'00000000010209','name':'The Premium Rewards - Sedan','creative':'marketing/2020/20200529172350/0501_reward_list_banner.png','display_type':'banner','position':4}" class="more">
                        <span class="img"><img src="/upload/marketing/2020/20200529172350/0501_reward_list_banner.png" alt="The Premium Rewards - Sedan"></span>
                        <span class="tit">The Premium Rewards - Sedan</span>
                        <span class="date">2020.05.01~2020.10.31</span>
                    </a>
                </li>

            </ol>
            <div id="moreDiv" class="btn01">
                <a href="javascript:" class="btnB btnS07">더보기</a>
            </div>
        </div>
    </div>
</div>