<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>

<link rel="stylesheet" type="text/css" href="pc-static-root/css/event.css" />
<div id="container" class="event">
    <div id="contents">
        <!-- 01. page title -->
        <div class="page_tit">
            <h4>이벤트</h4>
        </div>
        <!-- //01. page title -->
        <!-- 02. 제목 -->
        <div class="event_tit">
            all my T
            <span class="date">이벤트 기간 : 20.09.18  ~ 20.10.17</span>
        </div>
        <input type="hidden" id="evtUrlAddr" value="">
        <input type="hidden" id="endEvtDisp" value="">
        <input type="hidden" id="isEvtDispBf" value="">

        <!-- //02. 제목  -->
        <!-- 03. 이벤트 상세  -->
        <div class="event_list">
            <div id="inner">
                <div class="event-detail-wrap">
                    <div class="center-inner">
                      
                        <!-- all my t 프로모션 START -->




                        <div class="event-allmyt-detail">

                            <!-- .img-map start -->
                            <div class="img-map">
                                <img src="pc-static-root/images/event/20210602/kv.png" alt="" />
                                <button href="#" style="position: absolute; left: 5%; top: 88%; width: 90%; height: 8%; background-color: transparent;"><span class="blind">카카오로 티스테이션 간편 가입하기</span></button>
                            </div>
                            <div class="img-map">
                                <div class="ak-wrap">
                                    <div class="circle amt-gift">
                                        <span class="amt-icon"></span>
                                        <strong>all my T<br /> 영상보고<br />룰렛참여!</strong>
                                        <span class="line-icons chev-down size-40"></span>
                                    </div>
                                    <div class="circle amt-service">
                                        <span class="amt-icon"></span>
                                        <strong>카카오 신규가입 <br />+ 차량등록하면 <br />카카오 굿즈 증정!</strong>
                                        <span class="line-icons chev-down size-40"></span>
                                    </div>
                                    <div class="circle amt-info">
                                        <span class="amt-icon"></span>
                                        <strong>all my T <br />웰컴 쿠폰으로 구매<br />하면 주유권 증정!</strong>
                                        <span class="line-icons chev-down size-40"></span>
                                    </div>
                                </div>
                                <script>
                                function amtAnchorScroll() {
                                    var shoppingTippickup = $('.ak-wrap');
                                    var shoppingTippickupButton = shoppingTippickup.find('.circle');
                                    var shoppingTippickupHeight = $('.navbar').outerHeight();
                                    shoppingTippickupButton.each(function(i) {
                                        shoppingTippickupButton.eq(i).click(function(e) {
                                            e.preventDefault();
                                            var scrollpickupPostion = $('.event-allmyt-detail').find('.amt-anchor').eq(i).offset().top - shoppingTippickupHeight;
                                            console.log(scrollpickupPostion);
                                            $('html, body').animate({
                                                scrollTop: scrollpickupPostion
                                            }, 300)
                                        })
                                    })
                                }
                
                                amtAnchorScroll()
                                </script>
                            </div>
                            <div class="roulette-section allmyt-round amt-anchor">
                                <h2 class="headcopy txt-20 txt-center pd-b-10u">
                                    <span class="icon amt-logo dp-block pd-b-3u"><img src="pc-static-root/images/event/20210602/icon_roullette.svg" alt="all my t" style="width:44px" /></span>
                                    <span class="label-num">EVENT 01.</span>
                                    <p class="txt-36">오늘부터 all my <strong>T</strong> 시작할렛</p>all my T 서비스 CF 영상보면 룰렛 당첨의 기회가
                                </h2>
                                <div class="event-wid-wrap">
                                    <ul class="event-gate-info">
                                        <li><strong class="">참여대상 : </strong>티스테이션닷컴 회원</li>
                                        <li class="gate-half">
                                            <strong class="gate-header">참여방법 : </strong>
                                            <ul class="event-join-info mark-list"> 
                                                <li class="txt-primary"><span class="mark">1.</span>all my T 서비스 CF 영상 보기!</li>
                                                <li class="txt-primary"><span class="mark">2.</span>영상 시청 완료하면 룰렛 이벤트 참여 기회 증정!(기간 내 당첨기회는 한번)</li>
                                                <li class="txt-primary"><span class="mark">3.</span>당첨 선물 즉시 지급!</em></li>
                                            </ul>        
                                        </li>
                                        <li class="gate-half">
                                            <strong class="gate-header">경품안내 : </strong>
                                            <ul class="event-join-info"> 
                                                <!-- 2021-06-25 // -->
                                                <li class="dotted">타이어 할인쿠폰 <strong class="txt-primary">25%</strong> / 타이어 할인쿠폰 <strong class="txt-primary">20%</strong></li>
                                                <!-- // 2021-06-25 -->
                                                <li class="dotted">타이어 할인쿠폰 <strong class="txt-primary">30%</strong> + <strong class="txt-primary">스타벅스 아메리카노</strong></li>
                                                <li class="dotted">타이어 할인쿠폰 <strong class="txt-primary">20%</strong> + <strong class="txt-primary">스타벅스 아메리카노</strong></li>
                                                <li class="dotted">GS칼텍스 모바일 <strong class="txt-primary">주유권 4만원</strong></li>
                                                <li class="line-16"><strong class="txt-12">(타이어 할인쿠폰은 전국 all my T 스토어에서 사용가능)</strong></li>
                                                <li class="line-16"><strong class="txt-12">(티스테이션닷컴에서는 all my T 스토어로 장착점 지정필수!)</strong></li>
                                            </ul>
                                        </li>
                                        <li class="gate-half">
                                            <strong class="gate-header">지급일정 : </strong>
                                            <ul class="event-join-info"> 
                                                <li><strong class="txt-primary">당첨 즉시 바로 증정!</strong></li>
                                                <li>할인쿠폰은 쿠폰함 자동발급+알림톡(문자)으로 안내 </li>
                                                <li>기프티콘은 문자 메시지로 발송 <br />(개인정보등록 연락처 기준으로 발송됩니다.)</li>
                                            </ul>        
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="video-section">
                                    <div id="player"></div>
                                </div>
                                <div class="event-section">
                                    <div class="rotation-group">
                                        <div class="rotation-dimmed" role="button" onclick="alert('all my T 서비스 영상보기 후 ​룰렛 이벤트에 참여해 주세요! ')"><img src="pc-static-root/images/event/20210602/roullette_inactive.png" alt=""></div>
                
                                        
                                        <div class="rotation-panel"><img src="pc-static-root/images/event/20210602/roullette_active.png" alt=""></div>
                                        <span class="rotation-point"><img src="pc-static-root/images/event/20210602/roullette_arrow.png" alt="" style="display:block;max-width:100%;"></span>
                                        <div class="back-board"><img src="pc-static-root/images/event/20210602/bg_roullette.png" alt=""></div>
                                        <div class="inner-box top-round fake-bg"></div>
                                        <button type="button" class="js-rotation-event" title="룰렛 돌리고 쿠폰 받기"><img src="pc-static-root/images/event/20210602/roullette_btn.png" alt=""></button>
                                    </div>
                                </div>
                                <div class="lagal-check-group">
                                    <label class="check-item" for="eventPrivacyPolicy">
                                        <input type="checkbox" id="eventPrivacyPolicy">
                                        <div class="icon-holder">
                                            <span class="line-icons square size-20"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u txt-16">마케팅활용을 위한 수집 및 이용동의</span>
                                        </div>
                                    </label>
                                    <a href="#" class="legal-button popup-full" data-rel="https://m.tstation.com/terms/popup/singleterms.do?agrmSctCd=60">내용보기</a>
                                </div>
                            </div>
                <!-- 2021-06-29 // -->
                            <div class="roulette-section allmyt-round amt-anchor">
                                <div style="
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(1,1,1,.4);
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 40p;
">

    <p style="
    padding-top: 520px;
    font-size: 28px;
    "><span style="
    font-weight: bold;
    font-size: 28px;
">EVENT 02.</span>는 경품 소진으로 조기 종료 되었습니다. <br />
    <p style="font-size: 22px; margin-top: 62px">경품 지급 대상자는 ~7/5일까지 공지사항을 통해 <br />다시한번 안내 드리겠습니다.</p>
</p>



    </div>
    <!-- // 2021-06-29 -->



                                <h2 class="headcopy txt-20 txt-center pd-b-10u">
                                    <span class="icon amt-logo dp-block pd-b-3u"><img src="pc-static-root/images/event/20210602/icon_kakao.png" alt="all my t" style="width:64px" /></span>
                                    <span class="label-num kakaogoods">EVENT 02.</span>
                                    <p class="txt-36">3초만에 카카오굿즈 받차!</p>
                                    카카오로 신규가입+차량등록하면 카카오굿즈 선착순 증정                                
                                </h2>
                                <div class="event-wid-wrap">
                                    <ul class="event-gate-info">
                                        <li class="gate-half"><strong class="gate-header">참여대상 : </strong>이벤트 기간 내 카카오로 티스테이션닷컴 신규가입한 회원</li>
                                        <li class="gate-half">
                                            <strong class="gate-header">참여방법 : </strong>
                                            <ul class="event-join-info mark-list"> 
                                                <li class="txt-primary"><span class="mark">1.</span>카카오로 티스테이션닷컴 신규가입</li>
                                                <li class="txt-primary"><span class="mark">2.</span>내 차 관리 페이지에서 차량등록&인증</li>
                                                <li class="txt-primary"><span class="mark">3.</span>받은 알림톡 확인하고, 사은품 신청하면 완료!</li>
                                            </ul>        
                                        </li>
                                        <li class="gate-half">
                                            <strong class="gate-header">지급사은품 : </strong>
                                            <ul class="event-join-info"> 
                                                <li>카카오 주차번호판 / 카카오 에코백 / 카카오장우산<strong>(택 1)</strong></li>
                                            </ul>        
                                        </li>
                                        <li class="gate-half">
                                            <strong class="gate-header">사은품 신청기한 : </strong>
                                            <ul class="event-join-info"> 
                                                <li>21년 8월 4일(수) 까지</li>
                                            </ul>        
                                        </li>
                                        <li class="gate-half">
                                            <strong class="gate-header">사은품 지급일정 : </strong>
                                            <ul class="event-join-info"> 
                                                <li>21년 8월 6일(금) 발송</li>
                                            </ul>        
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="txt-center txt-28">카카오굿즈 사은품 안내</h3>
                                <div class="kakaogoods-wrap pd-t-10u">
                                    <div class="goods-list"> 
                                        <div class="item">
                                            <strong>골프 장우산</strong>
                                            <span class="count">준비수량 : 4,000개</span>
                                        </div>
                                        <div class="item mg-h-2u">
                                            <strong>주차번호판</strong>
                                            <span class="count">준비수량 : 2,000개</span>
                                        </div>
                                        <div class="item">
                                            <strong>에코백</strong>
                                            <span class="count">준비수량 : 2,000개</span>
                                        </div>
                                    </div>
                                    <div class="visual-list">
                                        <div class="item goods1 soldout"></div>
                                        <div class="item goods2 "></div>
                                        <div class="item goods3 soldout"></div>
                                    </div>
                                </div>
                                <strong class="kakaogoods-noti-head">유의할 점</strong>
                                <ul class="kakaogoods-noti-list">
                                    <li><span class="mark"></span>이벤트기간 내 카카오 신규가입 + 차량등록&인증 완료한 고객 대상으로 차량등록을 완료한 시점 기준 알림톡이 발송됩니다.</li>
                                    <li><span class="mark"></span>차량등록 & 인증의 경우 신규 등록의 경우만 인정됩니다. (다른 회원이 이미 등록한 차량에 대한 추가 등록 (차량 공유)는 이벤트 경품 지급 대상에서 제외)</li>
                                    <li><span class="mark"></span>카카오굿즈는 한정수량만 준비되어 선착순으로 증정되며, 소진 시 별도 예고없이 본 이벤트는 조기종료 될 수 있습니다.</li>
                                </ul>
                                <div class="button-wrap mg-v-10u">
                                    <button type="button" class="btn-item btn-neutral btn-ml round">
                                        <span class="label-txt">카카오로 신규가입하기</span>
                                    </button>
                                    <button type="button" class="btn-item btn-neutral btn-ml round">
                                        <span class="label-txt">내 차 등록&인증하기</span>
                                    </button>
                                </div>
                            </div>
                            <div class="roulette-section amt-anchor">
                                <img src="pc-static-root/images/event/20210602/img_oilgift.png" alt="" />
                            </div>
                            <div class="roulette-section bg-light2 kakao-oil-section">
                                <ul class="event-gate-info">
                                    <li class="gate-half"><strong class="gate-header">참여대상 : </strong>티스테이션닷컴 회원</li>
                                    <li class="gate-half">
                                        <strong class="gate-header">참여방법 : </strong>
                                        <ul class="event-join-info mark-list"> 
                                            <!-- 2021-06-25 // -->
                                            <li class="txt-primary"><span class="mark">1.</span>all my T스토어 및 티스테이션 닷컴에서 행사 상품 4개 주문</li>
                                            <li class="txt-primary"><span class="mark">2.</span>결제 전 룰렛이벤트 참여를 통해 받은 all my T 웰컴 쿠폰 사용</li>
                                            <li class="txt-primary"><span class="mark">3.</span>장착 완료시 GS 칼텍스 모바일 주유권 2만원 증정</em></li>
                                            <!-- // 2021-06-25 -->
                                        </ul>        
                                    </li>
                                    <li class="gate-half">
                                        <strong class="gate-header">주유권 지급일정 : </strong>
                                        <ul class="event-join-info"> 
                                            <li>매장에서 장착완료 처리 후 지급</li>
                                            <!-- 2021-06-25 // -->
                                            <li>21년 8월 19일(목) 일괄배송</li>
                                            <li>(회원 개인정보등록 연락처로 모바일 기프티콘 발송)</li>
                                            <!-- // 2021-06-25 -->
                                        </ul>        
                                    </li>
                                </ul>
                            </div>
                
                            <div class="noti-oil-wrap">
                                <p class="bg-light2 txt-16">all my T 쿠폰 관련 상세정보는 하단 유의사항 참고!</p>
                            </div>
                
                            <div class="roulette-section">
                                <h2 class="headcopy txt-36 txt-center pd-t-20u pd-b-10u">
                                    행사 대상 상품
                                </h2>
                                <ul class="event-benefit-info"> 
                                    <li>
                                        <div class="tire-visual"><img src="pc-static-root/images/event/20210602/tire01.png" alt="" /></div>
                                        <a href="/customer-service/line-up/brand​" class="btn-item btn-neutral btn-ol round mg-v-4u">
                                            <span class="label-txt">벤투스 자세히보기</span>
                                        </a>
                                    </li>
                                    <li class="mg-h-4u">
                                        <div class="tire-visual"><img src="pc-static-root/images/event/20210602/tire02.png" alt="" /></div>
                                        <a href="/customer-service/line-up/brand#kinergy​" class="btn-item btn-neutral btn-ol round mg-v-4u">
                                            <span class="label-txt">키너지 자세히보기</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="tire-visual"><img src="pc-static-root/images/event/20210602/tire03.png" alt="" /></div>
                                        <a href="/customer-service/line-up/brand#dynapro" class="btn-item btn-neutral btn-ol round mg-v-4u">
                                            <span class="label-txt">다이나프로 자세히보기</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                
                            <section class="amt-benefit-section amt-info-swiper-section mg-b-10u">
                                <h2 class="headcopy txt-28 txt-center pd-b-10u">
                                    한번에 알아서 관리해 주는
                                    <p class="txt-28">all my <strong>T</strong> 스토어로 지금 예약하세요!</p>
                                </h2>
                                <p class="txt-18 txt-center pd-b-4u"><strong>Tip.</strong> all my <strong>T</strong> 스토어 확인하는 방법</p>
                                <div class="swiper-container amt-info-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="smart-item">
                                                <img src="pc-static-root/images/event/20210602/allmyt_info1.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="smart-item">
                                                <img src="pc-static-root/images/event/20210602/allmyt_info2.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="smart-item">
                                                <img src="pc-static-root/images/event/20210602/allmyt_info3.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-wrap">
                                    <div class="swiper-pagination"></div>
                                </div>
                                <div class="button-wrap">
                                    <a href="/store/locals​" class="btn-item btn-neutral round">
                                        <span class="label-txt">직접 매장방문 예약</span>
                                    </a>
                                    <a href="#none​" class="btn-item btn-neutral round">
                                        <span class="label-txt">온라인 구매 후 예약</span>
                                    </a>
                                </div>
                                <script>
                                    var amtinfoswiper = new Swiper('.amt-info-swiper', {
                                        pagination: {
                                            el: '.swiper-pagination',
                                            type: 'bullets'
                                        },
                                        spaceBetween: 10,
                                        slidesPerView: 1,
                                        centeredSlides: true,
                                        slidesPerView: 'auto'
                                    });
                
                                    amtinfoswiper.init();
                                    $(window).on('resize', function() {
                                        amtinfoswiper.init();
                                    });
                                </script>
                            </section>

                            <div class="bg-light1 pd-h-10u pd-v-10u mg-t-20u" style="line-height: 188%;">
                                <h4 class="txt-18 txt-w500">[all my T 웰컴 기프트 이벤트 유의사항]</h4>
                                <ul class="mg-t-12u">
                                    <li class="txt-16 txt-neutral2">· 본 행사는 티스테이션닷컴 회원 및 마케팅정보 수집 및 활용 동의한 고객 대상으로 진행되는 온/오프라인 통합 이벤트로 전국 티스테이션 all my T 스토어와 함께 합니다. </li>
                                </ul>
                                <h5 class="txt-16 txt-w500 mg-t-8u">[룰렛 이벤트]</h5>
                                <ul class="mg-t-2u">
                                    <li class="txt-16 txt-neutral2">· all my T 영상보기 완료 시 룰렛 이벤트 참여가 가능합니다. (당첨은 1인(1계정 또는 동일연락처) 기준 1회로 제한) </li>
                                    <li class="txt-16 txt-neutral2">· 경품은 당첨 확인 즉시 개인정보등록 연락처로 지급됩니다. (쿠폰의 경우 쿠폰함 자동 발급, 알림톡으로 안내되며 기프티콘의 경우 문자로 발송)</li>
                                    <li class="txt-16 txt-neutral2">· all my T 웰컴 쿠폰은 온/오프라인 통합쿠폰으로 행사상품 4개 구매 시 적용 가능하며, 전국 all my T 스토어에서 사용 가능합니다. (장착을 희망하는 all my T 스토어에 사전 연락을 통해 구매를 희망하는 상품의 재고여부를 확인해 주세요.)</li>
                                    <!-- 2021-06-25 // -->
                                    <li class="txt-16 txt-neutral2">- 쿠폰명 : all my T 웰컴 쿠폰 (타이어 30%, 25%, 20%) </li>
                                    <!-- // 2021-06-25 -->
                                    <li class="txt-16 txt-neutral2">- 적용상품 : 벤투스, 키너지, 다이나프로 라인</li>
                                    <li class="txt-16 txt-neutral2">- 사용기한 : ~21.08.09.(월)까지 / 단, 온라인 구매 고객은 08.16.(월)까지 장착 필수</li>
                                    <li class="txt-16 txt-neutral2">- 사용조건 : 행사상품 4개 구매, all my T 스토어 장착점 선택 시 쿠폰 적용 가능 / 다른 할인쿠폰과 중복 적용 불가 / 스마트페이 결제 시 쿠폰 적용 불가.</li>
                                    <li class="txt-16 txt-neutral2">일부 행사 상품은 당사 생산계획에 따라 구매 시점에 재고가 부족할 수 있습니다.</li>
                                </ul>

                                <h5 class="txt-16 txt-w500 mg-t-8u">[카카오 굿즈 증정 이벤트] </h5>
                                <ul class="mg-t-2u">
                                    <li class="txt-16 txt-neutral2">· 이벤트 기간 내 카카오 신규 회원가입 및 내 차 등록 페이지에서 최초 1회에 한해 차량등록 및 인증을 완료한 후 24시간 이내 개인정보에 등록된 연락처로 사은품 신청 URL과 인증번호를 문자로 발송해 드립니다.</li>
                                    <li class="txt-16 txt-neutral2">[ 차량등록 & 인증의 경우 신규 등록의 경우만 인정됩니다. 다른 회원이 이미 등록한 차량에 대한 추가 등록 (차량 공유)는 이벤트 경품 지급 대상에서 제외 ]</li>
                                    <li class="txt-16 txt-neutral2">· 카카오 굿즈의 경우 알림톡으로 받으신 사은품 신청 안내 페이지에서 선택할 수 있으며, 사은품 별 재고 소진 시에는 선택이 불가하거나 상황에 따라 랜덤으로 발송될 수 있습니다. </li>
                                    <li class="txt-16 txt-neutral2">· 사은품 신청기한 : ~21.08.04.(수) 까지 </li>
                                    <li class="txt-16 txt-neutral2">· 사은품 지급일정 : 21.08.06.(금) </li>
                                </ul>

                                <h5 class="txt-16 txt-w500 mg-t-8u">[구매 사은품 증정 안내]</h5>
                                <ul class="mg-t-2u">
                                    <li class="txt-16 txt-neutral2">· GS칼텍스 2만원 모바일 주유권의 경우 룰렛 이벤트 참여를 통해 발급받은 all my T 웰컴 쿠폰 적용, 장착기한 내 구매 및 장착까지 완료한 고객 대상으로 발송됩니다.</li>
                                    <li class="txt-16 txt-neutral2">· 사은품 지급일정 : 21.08.19.(목)</li>
                                </ul>

                                <h5 class="txt-16 txt-w500 mg-t-8u">[기타 유의사항]</h5>
                                <ul class="mg-t-2u">
                                    <li class="txt-16 txt-neutral2">· 이벤트 진행 일정 및 지급 혜택은 내부 사정에 따라 변경되거나, 사은품 소진 여부에 따라 예고없이 조기종료될 수 있습니다. </li>
                                    <li class="txt-16 txt-neutral2">· 연락처 오류로 인한 사은품 미수취 발생 시 재발송이 불가하니, 반드시 등록된 개인정보가 맞는지 확인해 주세요. </li>
                                    <li class="txt-16 txt-neutral2">· 기프티콘 및 카카오 굿즈 사은품의 경우 외부업체에 위탁 발송으로 진행됩니다. (이벤트 참여 시 요구되는 마케팅정보 수집 및 활용 동의 시 위탁발송에 동의한 것으로 간주)</li>
                                    <!-- 2021-06-25 // -->
                                    <li class="txt-16 txt-neutral2">· 개인정보보호법 및 전자상거래법에 위반되거나 유사수준의 부적절한 행위가 발견됐을 경우 불이익을 받거나 사은품 발송이 취소 될 수 있습니다.</li>
                                    <!-- // 2021-06-25 -->
                                    <li class="txt-16 txt-neutral2 mg-t-8u">- 기프티콘 관련 문의 : 케이티엠하우스(케이티하이텔) <strong class="txt-neutral1 txt-w500">(1588-6474)</strong></li>
                                    <li class="txt-16 txt-neutral2">- 카카오굿즈 관련 문의 : 파인커뮤니케이션즈 <strong class="txt-neutral1 txt-w500">(02-3442-5757)</strong></li>
                                    <li class="txt-16 txt-neutral2">- 이벤트 관련 문의 : 티스테이션닷컴 고객센터 <strong class="txt-neutral1 txt-w500">(080-022-8272)</strong></li>
                                </ul>
                            </div>
                        </div>
                
                
                        <script src="pc-static-root/js/common/jQueryRotateCompressed.js"></script>
                        <script>
                        // Youtube api script 
                        var tag = document.createElement('script');
                        tag.src = "https://www.youtube.com/iframe_api";
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                        var player;
                        function onYouTubeIframeAPIReady() {
                            player = new YT.Player('player', {
                            // height: '100%',
                            // width: '100%',
                            videoId: 'k23TGDo1_ls',
                            playerVars: {
                                showinfo: 0, // 제목 표시줄 삭제
                                frameBorder: 0,
                                allowFullscreen: true,
                                controls: 0, // 컨트롤바 숨기기
                                fs: 0, // 전체화면 버튼 숨김
                                modestbranding: 1, // 유튜브 로고 삭제
                                rel: 0, // 관련 동영상 숨기기
                                autoplay: 0, // 자동재생
                                iv_load_policy: 3 // 주석 숨기기
                            },
                            events: {
                                'onReady': onPlayerReady,
                                'onStateChange': onPlayerStateChange
                            }
                            });
                        }
                        function onPlayerReady(event) {
                            event.target.playVideo();
                            
                        }
                        var playerDone = false;
                        var playerRoulette = false;
                        var time = "10000" //* 플레이 미션 시간
                        function onPlayerStateChange(event) {
                            if (event.data == YT.PlayerState.PLAYING && !playerDone) {
                                setTimeout(timeCheck, time); 
                            }
                        }
                
                        function timeCheck() {
                            console.log("영상 미션 성공");
                            playerRoulette = true;
                            $('.rotation-dimmed').addClass('active');
                        }
                
                        // roulette script 
                        var eventRouletteAllCheck = false, // oTher && 개인정보  체크박스 체크 완료 시 =  true / default : false
                            eventPrivacyPolicyCheck = false, // 개인정보 체크 완료시 = true / default false
                            eventCompletedProductNames,   // 당첨 된 상품명 담는 변수
                            eventCompletedProductImg;
                
                        var rouletteControl = {
                            eventProductData : ["내일 다시 도전", "스벅쿠폰 + 할인쿠폰 20%" , "타이어 할인쿠폰 25%",  "타이어 할인쿠폰 20%", "GS칼텍스 주유권 4만원", "스타벅스 기프티콘 + 30% 할인쿠폰",   ], // 상품명 정의
                            eventProductImg : ["img06.png", "img05.png", "img04.png", "img03.png", "img02.png", "img01.png"], // 상품 이미지 
                            eventAttend : false, // 참여 여부 체크
                            preventDefault : false, // 이벤트 전파 막는 용
                            init : function () {
                                /* 처음 로드 될 시 처리할 이벤트 */
                            },
                            event : function (e) {
                                var $panel = $(".rotation-panel img"),
                                    $animationActionAngle = (360 * 10); 
                                console.log(playerRoulette);
                                if( eventRouletteAllCheck && playerRoulette ){ // 전체 벨리데이션 체크 완료 시
                                    if( rouletteControl.eventAttend ){ // 이미 룰렛을 돌렸을 경우
                                        alert('이미 당첨' + '[' + eventCompletedProductNames + ']' + '에 당첨되셨습니다.');
                                        // 이미 률렛 돌렸을 경우 팝업
                                        return;
                                    } else if ( rouletteControl.preventDefault){ // 룰렛을 돌리는 중 클릭 시 이벤트 전파 막기
                                        // console.log("이미 이벤트에 참여 중입니다.");
                                        return;
                                    } else { // 처음 룰렛을 돌릴 때
                                        var giftCd = 6 // 1,2,3,4,5,6 해당 상품 
                                        $panel.rotate({
                                            angle:0,
                                            animateTo:360 * 10 + (giftCd-0.5)*(360/6),
                                            // animateTo: $animationActionAngle + rouletteControl.randomNumber(0, 360),
                                            center: ["50%", "50%"],
                                            easing: $.easing.easeInOutElastic,
                                            duration:3000, 
                                            callback :function() {
                                                var $realRendomAngle = $(this).getRotateAngle() - $animationActionAngle;
                
                                                rouletteControl.productMatch( $realRendomAngle ); // 애니메이션을 제외한 실제 앵글 값 전달
                                                rouletteControl.eventCompleted();
                                            }
                                        });
                
                                        rouletteControl.preventDefault = true;
                                    }
                                } else { // 개인정보 수집 및 이용 약관 동의 & 휴대폰 인증이 완료 되지 않을 때
                                    if(!eventPrivacyPolicyCheck){
                                        /* alert 문구 기획자 확인 */
                                        alert("룰렛 이벤트 당첨 시 지급되는 경품 안내에 필요한 ​마케팅정보 활용 수집 및 이용에 동의해 주세요."); 
                                        return;
                                    }
                                    if(!playerRoulette){
                                        alert("all my T 서비스 영상보기 후 ​룰렛 이벤트에 참여해 주세요! "); 
                                        return;
                                    }
                                }
                            },
                            randomNumber : function ($min, $max){ // 랜덤 확률 작업 영역.
                                return Math.floor(Math.random() * ($max - $min + 1)) + $min;
                            },
                            productMatch : function( $angle ) { // 상품 매치
                                var $n = parseInt($angle);
                                if($n >= 0 && $n <= 60) {
                                    eventCompletedProductNames = rouletteControl.eventProductData[0];
                                    eventCompletedProductImg = rouletteControl.eventProductImg[0]
                                } else if($n > 60 && $n <= 120){
                                    eventCompletedProductNames = rouletteControl.eventProductData[1];
                                    eventCompletedProductImg = rouletteControl.eventProductImg[1]
                                } else if($n > 120 && $n <= 180){
                                    eventCompletedProductNames = rouletteControl.eventProductData[2];
                                    eventCompletedProductImg = rouletteControl.eventProductImg[2]
                                } else if($n > 180 && $n <= 240){
                                    eventCompletedProductNames = rouletteControl.eventProductData[3];
                                    eventCompletedProductImg = rouletteControl.eventProductImg[3]
                                } else if($n > 240 && $n <= 300){
                                    eventCompletedProductNames = rouletteControl.eventProductData[4];
                                    eventCompletedProductImg = rouletteControl.eventProductImg[4]
                                } else if($n > 300 && $n <= 360){
                                    eventCompletedProductNames = rouletteControl.eventProductData[5];
                                    eventCompletedProductImg = rouletteControl.eventProductImg[5]
                                }
                                console.log($n, eventCompletedProductNames); //각도와 선택 상품 매칭 값.
                            },
                            eventCompleted : function (){ // 완료
                                // 당첨 팝업
                                $.Tstation.popup().open({
                                    ref: 'modal-ref-1',
                                    requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                                    contents: '<div class="container">\n' +
                                    '    <div class="img-kakaogift-wrap"><img src="pc-static-root/images/event/20210602/' + eventCompletedProductImg + '" class=\'img-kakaogift\' /></div>\n' +
                                    '    <p class="txt-center pd-v-5u txt-14">\n' +
                                    '       축하합니다!<br />\n' +
                                    '        <em class="txt-primary">' + '[' + eventCompletedProductNames + ']' + '<br /></em>\n' +
                                    '       경품에 당첨되셨습니다!<br /><br />\n' +
                                    '       지금 문자(알림톡)로 발송된 경품 안내를 확인해 주세요! \n' +
                                    '    </p>\n' +
                                    '</div>',
                                    dimWhite: false, // dim 영역의 색이 검은색 이면 false 밝은색이면 white
                                    modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                                        horizon: 0,
                                        vertical: 0,
                                        top: 0,
                                        right: 0,
                                        bottom: 0,
                                        left: 0
                                    },
                                    full: false, // Full Popup
                                    modalAction: {
                                        isNoBoundary: false,
                                        buttons: [
                                            {
                                                label: '확인',
                                                negative: false,
                                                action: function () {
                                                    $.Tstation.popup().close('modal-ref-1')
                                                }
                                            }
                                        ]
                                    }
                                })
                
                                rouletteControl.eventAttend = true;
                            },
                            eventPrivacyPolicy : function (e){ 
                                if(!rouletteControl.preventDefault){ // 이벤트가 진행중이지 않을 때
                                    if($(this).is(":checked") === true){ 
                                        console.log($(this).is(":checked"));
                                        eventPrivacyPolicyCheck = true;
                                        eventRouletteAllCheck = true;
                                    } else {
                                        console.log($(this).is(":checked"));
                                        eventPrivacyPolicyCheck = false;
                                        eventRouletteAllCheck = false;
                                    }
                                } else { // 이벤트가 진행중일 때
                                    return;
                                }
                            }
                        };
                
                        $(document).on("click","#eventPrivacyPolicy", rouletteControl.eventPrivacyPolicy); // 클릭 이벤트 체크박스 체크 유/무
                        $(document).on("click", ".js-rotation-event", rouletteControl.event ); // 룰렛 클릭 이벤트
                
                        rouletteControl.init(); // 처음 로드 할 필요가 없으면 선언안하셔도 됩니다.
                    </script>
                

                        <!-- all my t 프로모션 END -->

                    </div>
                </div>
            </div>
            <div class="btn01">
                <a href="https://www.tstation.com/promotion/event-list" class="btnM2 btnS02">목록으로</a>
            </div>
        </div>
        <!-- //03. 이벤트 상세  -->

        <!-- #contents -->
    </div>
</div>