<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="event">
    <div id="contents">
        <!-- 01. page title -->
        <div class="page_tit">
            <h4>이벤트</h4>
        </div>
        <!-- //01. page title -->
        <!-- 02. 제목 -->
        <div class="event_tit">
            티스테이션에 간다, 안심이 간다
            <span class="date">이벤트 기간 : 20.09.18  ~ 20.10.17</span>
        </div>
        <input type="hidden" id="evtUrlAddr" value="">
        <input type="hidden" id="endEvtDisp" value="">
        <input type="hidden" id="isEvtDispBf" value="">

        <!-- //02. 제목  -->
        <!-- 03. 이벤트 상세  -->
        <div class="event_list">
            <div id="inner">

                <!-- 8월Summer Splash 프로모션 0811 //  -->
                <div class="event-detail-wrap">
                    <div class="center-inner">
                        
                        <div style="max-width: 750px;margin: auto;">
                            <div class="event-img-wrap">
                                <img src="pc-static-root/images/event/20220106/pc_con1.png" alt="" />
                            </div>
                            <ul class="list-size-flex" style="padding: 0 5%">
                                <li style="padding-right: 1%;">
                                    <a href="#none" class="dp-block"><img src="pc-static-root/images/event/20220106/pc_con2.png" alt="더 많은 리뷰보러 가기" /></a>
                                </li>
                                <li style="padding-left: 1%;">
                                    <a href="#none" class="dp-block"><img src="pc-static-root/images/event/20220106/pc_con3.png" alt="리뷰쓰러 가기" /></a>
                                </li>
                            </div>
                    
                            <div class="event-img-wrap">
                                <img src="pc-static-root/images/event/20220106/pc_con4.png" alt="" />
                            </div>
                        </div>



                    </div>
                <!-- // 8월Summer Splash 프로모션 0811 -->

            </div>
            <div class="btn01">
                <a href="https://www.tstation.com/promotion/event-list" class="btnM2 btnS02">목록으로</a>
            </div>
        </div>
        <!-- //03. 이벤트 상세  -->

        <!-- #contents -->
    </div>
</div>