<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="event">
    <div id="contents">
        <!-- 01. page title -->
        <div class="page_tit">
            <h4>이벤트</h4>
        </div>
        <!-- //01. page title -->
        <!-- 02. 제목 -->
        <div class="event_tit">
            한국타이어 X PRO-SPECS
            <span class="date">이벤트 기간 : 99.99.99  ~ 99.99.99</span>
        </div>
        <input type="hidden" id="evtUrlAddr" value="">
        <input type="hidden" id="endEvtDisp" value="">
        <input type="hidden" id="isEvtDispBf" value="">

        <!-- //02. 제목  -->
        <!-- 03. 이벤트 상세  -->
        <div class="event_list">
            <div id="inner">

                <div class="event-detail-wrap">
                    <div class="center-inner">
                        <link rel="stylesheet" type="text/css" href="pc-static-root/css/event.css" />
                        <!-- Prospecs event //  -->
                        <div class="prospecs-event">                                                        
                            <style>
                            .prospecs-event {position:relative;}
                            .prospecs-event .img-map-wrap {max-width:750px; width:100%; font-size: 0; margin: auto; position:relative;}
                            .prospecs-event .img-map-link {display: block; position: absolute; z-index: 1; border-radius: 44px;} /* 20220128 */
                            .prospecs-event .img-map-link.link-1 {left: 32.9%;top: 41.78%;width: 30.6%;height: 0.9%;}
                            .prospecs-event .img-map-link.link-2 {left: 32.9%;top: 47.4%;width: 30.6%;height: 0.9%;}
                            .prospecs-event .img-map-link.link-3 {left: 36.5%;top: 51.75%;width: 34.1%;height: 0.9%;}
                            .prospecs-event .img-map-link.link-4 {left: 5.3%;top: 57.7%;width: 89.3%;height: 1.6%;border-radius: 12px;}
                            .prospecs-event .img-map-link.link-5 {left: 5.5%;top: 70.8%;width: 23.1%;height: 1%;}
                            .prospecs-event .img-map-link.link-6 {left: 5.5%;top: 77.2%;width: 23.1%;height: 1%;}
                            </style>


                            <div class="img-map-wrap">
                                <img src="pc-static-root/images/event/20220124/img_promotion_details.png" alt="" />
                                <a href="/tire/product/kinergy_4s_2?ptrnCd=H750&goodsMdclCd=01&movePath=pattern" class="img-map-link link-1"><span class="blind">승용타이어 - 키너지 올 웨더 상품 자세히보기</span></a>
                                <a href="/tire/product/kinergy_4s2_x?ptrnCd=H750A&goodsMdclCd=01&movePath=pattern" class="img-map-link link-2"><span class="blind">SUV타이어 - 키너지 올 웨더 상품 자세히보기</span></a>
                                <!-- 20220128 // -->
                                <a target="_blank" href="https://m.lsnmall.com/planning.do?cmd=getPlanningDetail&datacls=5006&utm_source=etc&utm_medium=hk_co_m&utm_term=220124&utm_campaign=paid" class="img-map-link link-3"><span class="blind">콜라보 운동화 자세히 보기</span></a>
                                <a href="" class="img-map-link link-4"><span class="blind">구매고객 프로스펙스 블레이드 HK 응모하기</span></a>
                                <a target="_blank" href="https://youtu.be/KzziGmltY3w" class="img-map-link link-5"><span class="blind">티스테이션 유튜브 이벤트 자세히보기</span></a>
                                <a target="_blank" href="https://www.facebook.com/tstation.korea/posts/1266187897206840" class="img-map-link link-6"><span class="blind">티스테이션 페이스북 이벤트 자세히보기</span></a>
                                <!-- // 20220128 -->
                            </div>                                        
                        </div>
                        <!-- // Prospecs event -->
                    </div>
                </div>

            </div>
            <div class="btn01">
                <a href="https://www.tstation.com/promotion/event-list" class="btnM2 btnS02">목록으로</a>
            </div>
        </div>
        <!-- //03. 이벤트 상세  -->

        <!-- #contents -->
    </div>
</div>