<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>


<!-- Contents -->
<div id="container" class="">
    <div id="contents">
        <div class="page-header">
            <h1>사은품 신청하기</h1>
        </div>
        <link rel="stylesheet" type="text/css" href="pc-static-root/css/event.css" />
        <div class="gift-apply-page mg-t-20u">
            <div class="noti pd-b-10u">
                <p class="txt-16 txt-neutral2 txt-center icon-confirm-finish">한국타이어 감사제 구매혜택
                    <strong class="dp-block">[이마트·GS칼텍스 겸용 모바일 상품권 3만원]</strong>
                    신청이 완료되었습니다</p>        
            </div>
            <div class="txt-center">
                <button type="button" class="btn-item btn-neutral btn-l round pd-h-20u" data-analytics-click="홈으로 돌아가기">
                    <span class="label-txt">홈으로 돌아가기</span>
                </button>
            </div>
        </div>

    </div>
</div>
    
    

