<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="deal-store">

    <div class="container">
        <div class="guardrail">
            <!-- 082303 // -->
            <h2 class="page-title">
                알아두면 쓸모있는 타이어 잡학지식
            </h2>
            <!-- // 082303 -->
        </div>
    </div>

    <div class="container">
        <section class="section-key-visual pd-v-5u">
            <div class="guardrail">
                <div class="key-visual">
                    <!-- 211118 // -->
                    <img src="pc-static-root/images/common/tire-review-key-visual.png" alt="" />
                    <!-- // 211118 -->
                    <div class="tire-review-event">
                        <img src="pc-static-root/images/common/tire-review-event-button.png" alt="" />
                        <p class="description">타이어 구매 경험이 있다면?<br />소중한 경험을 공유해 주세요.</p>
                        <a href="" class="btn-item btn-neutral round w-240">
                            <span class="label-txt">리뷰 이벤트</span>
                            <span class="line-icons chev-right size-18"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Tabs -->
    <div class="container">
        <section class="border-b">
            <div class="guardrail">
                <div class="tab-item tab-item-no-border tab-item-light no-sticky size-m">
                    <a href="#" class="">티스테이션 TV</a>
                    <a href="#" class="">타이어 정보</a>
                    <a href="#" class="on">타이어 리뷰</a>
                </div>
            </div>
        </section>
    </div>

    <div class="container mg-b-10u">
        <section class="section-gray">
            <div class="guardrail">
                <div class="suggest-keyword">
                    <h4 class="label">추천 키워드</h4>
                    <div class="swiper-container suggest-keyword-swiper">
                        <div class="swiper-wrapper">
                            <!-- 20210824 // -->
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">전체</span>
                            </div>
                            <div class="swiper-slide">
                                <span class="keyword active" onclick="onHandleKeyword(this)">현타꿀팁시즌2</span>
                            </div>
                            <!-- // 20210824 -->
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">1주사용</span>
                            </div>
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">SUV</span>
                            </div>
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">승용차</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        /**
                         * 추천 키워드
                         */

                        // swiper init
                        var suggestKeywordSwiper = new Swiper('.suggest-keyword-swiper', {
                                slidesPerView: 'auto',
                                spaceBetween: 4
                            })
                        suggestKeywordSwiper.init()


                        // list filtering fire
                        function listFiltering (keyword) {
                            alert('리스트 내부의 아이템들을 ' + keyword + '(으)로 필터링 하세요.')
                        }


                        // keyword click handling
                        function onHandleKeyword (el) {
                            // inactive keywords
                            $('.keyword').removeClass('on')

                            // active keyword by click
                            $(el).addClass('on')

                            // slide to clicked keyword
                            suggestKeywordSwiper.slideTo($(el).closest('.swiper-slide').index())

                            // call list filtering
                            listFiltering(el.innerText)
                        }
                    </script>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-swiper-card">
            <div class="title-wrap">
                <div class="guardrail">
                    <h4 class="title">베스트 리뷰 <span class="count">(16)</span></h4>
                    <p class="description">월별 선정된 베스트 리뷰 모아보기</p>
                </div>
            </div>
            <div class="swiper-wrap">
                <div class="guardrail">
                    <div class="swiper-container tam-swiper type-first">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1000"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://blarbalrblar.com')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <h4 class="tire-name"><img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt=""></h4>
                                            <!--<h4 class="tire-name">Ventus S2 AS</h4>-->
                                            <div class="tire-meta">
                                                <p class="meta-item">장착차량:<span class="txt-w500">혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어혼다 크로스투어</span></p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1001"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1002"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1003"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next type-first"></div>
                    <div class="swiper-button-prev type-first"></div>

                    <script>
                        /**
                         * 베스트 리뷰
                         */

                        // swiper init
                        var reviewFirstSwiper = new Swiper('.tam-swiper.type-first', {
                            slidesPerView: 3,
                            spaceBetween: 12,
                            slidesPerGroup: 3,
                            navigation: {
                                nextEl: '.swiper-button-next.type-first',
                                prevEl: '.swiper-button-prev.type-first'
                            }
                        })
                        reviewFirstSwiper.init()

                        // 비동기로 .swiper-slide 를 갱신한다면 비동기 완료시점에서 스와이퍼 초기화 필요
                        // reviewFirstSwiper.update();
                        // reviewFirstSwiper.slideTo(0);
                    </script>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-swiper-card">
            <div class="title-wrap">
                <div class="guardrail">
                    <h4 class="title">타이어 한달 사용기 <span class="count">(16)</span></h4>
                    <p class="description">한달 정도는 타 봐야 찐 리뷰 등극</p>
                </div>
            </div>
            <div class="swiper-wrap">
                <div class="guardrail">
                    <div class="swiper-container tam-swiper type-second">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1004"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1005"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1006"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1007"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next type-second"></div>
                    <div class="swiper-button-prev type-second"></div>

                    <script>
                        /**
                         * 타이어 한달 사용기
                         */

                        // swiper init
                        var reviewSecondSwiper = new Swiper('.tam-swiper.type-second', {
                            slidesPerView: 3,
                            spaceBetween: 12,
                            slidesPerGroup: 3,
                            navigation: {
                                nextEl: '.swiper-button-next.type-second',
                                prevEl: '.swiper-button-prev.type-second'
                            }
                        })
                        reviewSecondSwiper.init()

                        // 비동기로 .swiper-slide 를 갱신한다면 비동기 완료시점에서 스와이퍼 초기화 필요
                        // reviewSecondSwiper.update();
                        // reviewSecondSwiper.slideTo(0);
                    </script>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-swiper-card">
            <div class="title-wrap">
                <div class="guardrail">
                    <h4 class="title">베스트 셀링 타이어 사용기 <span class="count">(16)</span></h4>
                    <p class="description">‘그’ 타이어, 잘 팔리는 이유가 있다</p>
                </div>
            </div>
            <div class="swiper-wrap">
                <div class="guardrail">
                    <div class="swiper-container tam-swiper type-third">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1008"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                        class="tam-review-card"
                                        data-review-id="1009"
                                        data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                        class="tam-review-card"
                                        data-review-id="1010"
                                        data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                        class="tam-review-card"
                                        data-review-id="1011"
                                        data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            <!--<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">-->
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next type-third"></div>
                    <div class="swiper-button-prev type-third"></div>

                    <script>
                        /**
                         * 베스트 셀링 타이어 사용기
                         */

                        // swiper init
                        var reviewThirdSwiper = new Swiper('.tam-swiper.type-third', {
                            slidesPerView: 3,
                            spaceBetween: 12,
                            slidesPerGroup: 3,
                            navigation: {
                                nextEl: '.swiper-button-next.type-third',
                                prevEl: '.swiper-button-prev.type-third'
                            }
                        })
                        reviewThirdSwiper.init()

                        // 비동기로 .swiper-slide 를 갱신한다면 비동기 완료시점에서 스와이퍼 초기화 필요
                        // reviewThirdSwiper.update();
                        // reviewThirdSwiper.slideTo(0);
                    </script>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-swiper-card">
            <div class="title-wrap">
                <div class="guardrail">
                    <h4 class="title">윈터 타이어 사용기 <span class="count">(16)</span></h4>
                    <p class="description">털신은 안 사도 윈터 타이어는 산다</p>
                </div>
            </div>
            <div class="swiper-wrap">
                <div class="guardrail">
                    <div class="swiper-container tam-swiper type-forth">
                        <!-- 컨텐츠가 존재 할때 -->
                        <!--<div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1012"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            &lt;!&ndash;<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">&ndash;&gt;
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1013"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            &lt;!&ndash;<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">&ndash;&gt;
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1014"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            &lt;!&ndash;<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">&ndash;&gt;
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="tam-review-card"
                                    data-review-id="1015"
                                    data-link-url="https://www.tstation.com/tire/product/ventus_s1_evo3_suv?ptrnCd=K127A&goodsMdclCd=01&movePath=pattern"
                                >
                                    <div class="review-meta">
                                        <div class="left">
                                            <div class="thumb-area">
                                                <div class="thumb" style="background-image: url('https://via.placeholder.com/120x80')"></div>
                                            </div>
                                            <p class="rating-area">
                                                <span class="rating"><span style="width: 90%"></span></span>
                                                <span class="rating-count">4.5점</span>
                                            </p>
                                        </div>
                                        <div class="right">
                                            &lt;!&ndash;<img class="tire-name" src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="">&ndash;&gt;
                                            <h4 class="tire-name">Ventus S2 AS</h4>
                                            <div class="tire-meta">
                                                <p class="meta-item"><span class="txt-w500">장착차량:</span> 혼다 크로스투어</p>
                                                <p class="meta-item"><span class="txt-w500">타이어 사이즈:</span> 225/60R18</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <div class="inner">
                                            <p>한국타이어 80주년 축하 드립니다 ^^ 타이어 4짝 교체후 소음도 많이 줄어들었고 , 승차감도 확실히 좋아졌네요. (교체전 주행시 딱딱한 느낌이 있었다면</p>
                                        </div>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">1주사용</span>
                                        <span class="keyword keyword-sm">승용차</span>
                                    </div>
                                </article>
                            </div>
                        </div>-->

                        <!-- 컨텐츠가 없을 때 -->
                        <div class="swiper-wrapper"></div>
                    </div>

                    <div class="swiper-button-next type-forth"></div>
                    <div class="swiper-button-prev type-forth"></div>

                    <script>
                        /**
                         * 베스트 셀링 타이어 사용기
                         */

                        // swiper init
                        var reviewForthSwiper = new Swiper('.tam-swiper.type-forth', {
                            slidesPerView: 3,
                            spaceBetween: 12,
                            slidesPerGroup: 3,
                            navigation: {
                                nextEl: '.swiper-button-next.type-forth',
                                prevEl: '.swiper-button-prev.type-forth'
                            }
                        })
                        reviewForthSwiper.init()

                        // 비동기로 .swiper-slide 를 갱신한다면 비동기 완료시점에서 스와이퍼 초기화 필요
                        // reviewForthSwiper.update();
                        // reviewForthSwiper.slideTo(0);
                    </script>
                </div>
            </div>
        </section>
    </div>

    <script>
        /**
         * tam-tire-review common
         */

        // tam-review-card onclick
        $('.tam-review-card').click(function (event) {
            var reviewId = $(this).data().reviewId
            var goUrl = $(this).data().linkUrl

            $.Tstation.popup().open({
                ref: 'review-detail',
                title: '고객 작성 리뷰',
                requestUrl: './tam-tire_review-detail.html?id=' + reviewId, // 비동기 방식으로 컨텐츠 영역을 받아올때
                // contents: '<p class=\'pd-v-5u txt-center\'>Full Popup, full popup을 사용할 때는 팝업을 닫을 수 있는 타이틀 혹은 엑션바가 하나 이상 존재해야 합니다.</p>', // 팝업을 바로 띄우고 싶을때
                dimWhite: false,
                modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                    horizon: 0,
                    vertical: 0,
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
                full: true, // Full Popup,
                modalAction: {
                    isNoBoundary: false,
                    buttons: [
                        {
                            label: '해당 상품 보러가기',
                            negative: false,
                            action: function () {
                                $.Tstation.popup().close('review-detail')
                                window.location.href = goUrl
                            }
                        }
                    ]
                },
                onOpen: function () {
                    console.log('팝업이 열리면 파이어 합니다.')
                },
                onClose: function () {
                    console.log('팝업이 닫히면 파이어 합니다.')
                }
            })
        })
    </script>
</div>
