<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="deal-store">

    <div class="container">
        <div class="guardrail">
            <!-- 082303 // -->
            <h2 class="page-title">
                알아두면 쓸모있는 타이어 잡학지식
            </h2>
            <!-- // 082303 -->
        </div>
    </div>

    <div class="container">
        <section class="section-key-visual pd-v-5u">
            <div class="guardrail">
                <div class="key-visual">
                    <!-- 211118 // -->
                    <img src="pc-static-root/images/common/tire-info-key-visual.png" alt="" />
                    <!-- // 211118 -->
                    <div class="link-group">
                        <a href="" class="go-link">
                            <div class="title-wrap">
                                <span class="icon line-icons search size-48"></span>
                                <h4 class="title">온라인 타이어<br />쇼핑이 어렵다면!</h4>
                            </div>
                            <p class="link-label">
                                <span>쉬운 타이어 쇼핑</span>
                                <span class="icon line-icons chev-right size-16"></span>
                            </p>
                        </a>
                        <a href="" class="go-link">
                            <div class="title-wrap">
                                <span class="icon line-icons mouse size-48"></span>
                                <h4 class="title">한국타이어<br />상품군을 한눈에!</h4>
                            </div>
                            <p class="link-label">
                                <span>한국타이어 라인업</span>
                                <span class="icon line-icons chev-right size-16"></span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Tabs -->
    <div class="container">
        <section class="border-b">
            <div class="guardrail">
                <div class="tab-item tab-item-no-border tab-item-light no-sticky size-m">
                    <a href="#" class="">티스테이션 TV</a>
                    <a href="#" class="on">타이어 정보</a>
                    <a href="#" class="">타이어 리뷰</a>
                </div>
            </div>
        </section>
    </div>

    <div class="container mg-b-10u">
        <section class="section-gray">
            <div class="guardrail">
                <div class="suggest-keyword">
                    <h4 class="label">추천 키워드</h4>
                    <div class="swiper-container suggest-keyword-swiper">
                        <div class="swiper-wrapper">
                            <!-- 20210824 // -->
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">전체</span>
                            </div>
                            <div class="swiper-slide">
                                <span class="keyword active" onclick="onHandleKeyword(this)">현타꿀팁시즌2</span>
                            </div>
                            <!-- // 20210824 -->
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">타이어관리</span>
                            </div>
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">타이어펑크</span>
                            </div>
                            <div class="swiper-slide">
                                <span class="keyword" onclick="onHandleKeyword(this)">타이어공기압</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        /**
                         * 추천 키워드
                         */

                            // swiper init
                        var suggestKeywordSwiper = new Swiper('.suggest-keyword-swiper', {
                                slidesPerView: 'auto',
                                spaceBetween: 4
                            })
                        suggestKeywordSwiper.init()


                        // list filtering fire
                        function listFiltering (keyword) {
                            alert('리스트 내부의 아이템들을 ' + keyword + '(으)로 필터링 하세요.')
                        }


                        // keyword click handling
                        function onHandleKeyword (el) {
                            // inactive keywords
                            $('.keyword').removeClass('on')

                            // active keyword by click
                            $(el).addClass('on')

                            // slide to clicked keyword
                            suggestKeywordSwiper.slideTo($(el).closest('.swiper-slide').index())

                            // call list filtering
                            listFiltering(el.innerText)
                        }
                    </script>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-swiper-card">
            <div class="title-wrap">
                <div class="guardrail">
                    <h4 class="title">타이어 상식 <span class="count">(16)</span></h4>
                    <p class="description">타이어 1도 모르는 당신을 위한 필수 상식</p>
                </div>
            </div>
            <div class="swiper-wrap">
                <div class="guardrail">
                    <div class="swiper-container tam-swiper type-first">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="OUT"
                                    data-link-url="https://m.blog.naver.com/tstation-online/222410008007"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://blahblahblah.com')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next type-first"></div>
                    <div class="swiper-button-prev type-first"></div>

                    <script>
                        /**
                         * 타이어 상식
                         */

                        // swiper init
                        var infoFirstSwiper = new Swiper('.tam-swiper.type-first', {
                            slidesPerView: 4,
                            spaceBetween: 12,
                            slidesPerGroup: 4,
                            navigation: {
                                nextEl: '.swiper-button-next.type-first',
                                prevEl: '.swiper-button-prev.type-first'
                            }
                        })
                        infoFirstSwiper.init()

                        // 비동기로 .swiper-slide 를 갱신한다면 비동기 완료시점에서 스와이퍼 초기화 필요
                        // infoFirstSwiper.update();
                        // infoFirstSwiper.slideTo(0);
                    </script>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-swiper-card">
            <div class="title-wrap">
                <div class="guardrail">
                    <h4 class="title">구매 가이드 <span class="count">(999)</span></h4>
                    <p class="description">기본적이지만 꼭 확인해야 할 구매 가이드</p>
                </div>
            </div>
            <div class="swiper-wrap">
                <div class="guardrail">
                    <div class="swiper-container tam-swiper type-second">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="OUT"
                                    data-link-url="https://www.youtube.com/user/hankooktirekorea1"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next type-second"></div>
                    <div class="swiper-button-prev type-second"></div>

                    <script>
                        /**
                         * 구매 가이드
                         */

                        // swiper init
                        var infoSecondSwiper = new Swiper('.tam-swiper.type-second', {
                            slidesPerView: 4,
                            spaceBetween: 12,
                            slidesPerGroup: 4,
                            navigation: {
                                nextEl: '.swiper-button-next.type-second',
                                prevEl: '.swiper-button-prev.type-second'
                            }
                        })
                        infoSecondSwiper.init()

                        // 비동기로 .swiper-slide 를 갱신한다면 비동기 완료시점에서 스와이퍼 초기화 필요
                        // infoSecondSwiper.update();
                        // infoSecondSwiper.slideTo(0);
                    </script>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="section-swiper-card">
            <div class="title-wrap">
                <div class="guardrail">
                    <h4 class="title">점검 & 관리 팁 <span class="count">(999)</span></h4>
                    <p class="description">안전운전을 위한 타이어 점검 & 관리 팁</p>
                </div>
            </div>
            <div class="swiper-wrap">
                <div class="guardrail">
                    <div class="swiper-container tam-swiper type-third">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="OUT"
                                    data-link-url="https://www.youtube.com/user/hankooktirekorea1"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article
                                    class="info-card"
                                    data-link-type="IN"
                                    data-link-url="./tam-tire_info-detail.html?id=1000"
                                >
                                    <div class="thumb-area">
                                        <div class="thumb" style="background-image: url('https://via.placeholder.com/240x240')"></div>
                                    </div>
                                    <div class="description">
                                        <p>찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 ‘이것’이 꼭 필요하다</p>
                                    </div>
                                    <div class="keywords">
                                        <span class="keyword keyword-sm">타이어자가점검</span>
                                        <span class="keyword keyword-sm">타이어펑크</span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next type-third"></div>
                    <div class="swiper-button-prev type-third"></div>

                    <script>
                        /**
                         * 점검 & 관리 팁
                         */

                        // swiper init
                        var infoThirdSwiper = new Swiper('.tam-swiper.type-third', {
                            slidesPerView: 4,
                            spaceBetween: 12,
                            slidesPerGroup: 4,
                            navigation: {
                                nextEl: '.swiper-button-next.type-third',
                                prevEl: '.swiper-button-prev.type-third'
                            }
                        })
                        infoThirdSwiper.init()

                        // 비동기로 .swiper-slide 를 갱신한다면 비동기 완료시점에서 스와이퍼 초기화 필요
                        // infoThirdSwiper.update();
                        // infoThirdSwiper.slideTo(0);
                    </script>
                </div>
            </div>
        </section>
    </div>

    <script>
        /**
         * tire_info common
         */

        // info-card onclick
        $('.info-card').click(function () {
            // get custom attr & use data
            // sample data { linkType: 'IN' | 'OUT', linkUrl: './tam-tstation_tv-detail.html' }
            var data = $(this).data()

            // go link type
            switch (data.linkType) {
                case 'IN':
                    location.href = data.linkUrl
                    break
                case 'OUT':
                    window.open(data.linkUrl, '_blank')
                    break
                default:
                    break
            }
        })
    </script>
</div>
