<header id="header">
    <div class="rooftop-row">
        <div class="guardrail">
            <div class="rooftop">
                <p class="txt-0 line-32 ts-slogan">
                    <img src="pc-static-root/images/common/graphics_ts_bulb.svg" class="ts-bulb"/>
                    <span class="txt-12 v-middle"><em class="txt-primary">티스테이션</em>에서는 <em class="txt-primary">무료 배송, 무료 장착</em>이 기본!</span>
                </p>

                <!-- 로그인 전 -->
                <ul class="list-size-free rooftop-menus">
                    <li>
                        <a href="" class="btn-item btn-s btn-neutral btn-inv filet bg-transparent">
                            <span class="label-txt txt-12">로그인</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn-item btn-s btn-neutral btn-inv filet bg-transparent">
                            <span class="label-txt txt-12">회원가입</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn-item btn-s btn-neutral btn-inv filet bg-transparent">
                            <span class="label-txt txt-12">고객센터</span>
                        </a>
                    </li>
                </ul>

                <!-- 로그인 후 -->
                <!-- <ul class="list-size-free rooftop-menus">
                    <li>
                        <p class="txt-12 line-32 pd-h-4u"><span class="mg-r-1u">[임직원]</span><em class="txt-w500">홍길동</em>님, 안녕하세요.</p>
                    </li>

                    <li>
                        <a href="" class="btn-item btn-s btn-neutral btn-inv filet bg-transparent">
                            <span class="label-txt txt-12">로그아웃</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn-item btn-s btn-neutral btn-inv filet bg-transparent">
                            <span class="label-txt txt-12">고객센터</span>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>

    <div class="gnb-row">
        <div class="guardrail">
            <div class="gnb">
                <a href="" class="btn-bi">
                    <img src="pc-static-root/images/common/bi_full.svg" alt="T'Station"/>
                </a>

                <nav>
                    <ul class="list-size-free">
                        <li>
                            <dl class="list-size-full">
                                <!-- 활성상태는 main-menu에 'act'클래스 추가 -->
                                <dt class="main-menu act" data-act="TS_SHOPPING">
                                    <a class="btn-item btn-xl btn-neutral btn-inv bg-transparent">
                                        <span class="label-txt txt-16">쇼핑</span>
                                        <span class="line-icons chev-down size-20"></span>
                                    </a>
                                </dt>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-size-full">
                                <dt class="main-menu" data-act="all my T">
                                    <a href="" class="btn-item btn-xl btn-neutral btn-inv bg-transparent">
                                        <span class="label-txt txt-16">all my <strong>T</strong></span>
                                        <span class="line-icons chev-down size-20"></span>
                                    </a>
                                </dt>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-size-full">
                                <dt class="main-menu" data-act="VISIT_RESERVE">
                                    <a href="" class="btn-item btn-xl btn-neutral btn-inv bg-transparent">
                                        <span class="label-txt txt-16">매장예약</span>
                                    </a>
                                </dt>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-size-full">
                                <dt class="main-menu new" data-act="TS_DEAL">
                                    <a href="" class="btn-item btn-xl btn-neutral btn-inv bg-transparent">
                                        <!-- 20220707 // -->
                                        <span class="label-txt txt-16">기획전</span>
                                        <!-- // 20220707 -->
                                        <span class="line-icons chev-down size-20"></span>
                                    </a>
                                </dt>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-size-full">
                                <!-- New뱃지는 main-menu에 'new'클래스 추가 -->
                                <dt class="main-menu new" data-act="EVENT">
                                    <a href="" class="btn-item btn-xl btn-neutral btn-inv bg-transparent">
                                        <span class="label-txt txt-16">이벤트</span>
                                    </a>
                                </dt>
                            </dl>
                        </li>
                        <!-- TAM 0817 // -->
                        <li>
                            <dl class="list-size-full">
                                <dt class="main-menu new-page" data-act="TAM">
                                    <a href="" class="btn-item btn-xl btn-neutral btn-inv bg-transparent">
                                        <span class="label-txt txt-16">알쓸타잡</span>
                                        <span class="line-icons chev-down size-20"></span>
                                    </a>
                                </dt>
                            </dl>
                        </li>
                        <!-- // TAM 0817 -->
                    </ul>

                    <div class="sub-menu-wrap">
                        <div class="guardrail">
                            <ul class="list-size-free sub-menu sub-menu-1" data-parent-nth="1" style="display: none; height: 172px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                <li>
                                    <h4>브랜드별 타이어</h4>
                                    <a href="">한국타이어</a>
                                    <a href="">미쉐린타이어</a>
                                    <a href="">피렐리타이어</a>
                                    <a href="">맥시스타이어</a>
                                </li>
                                <li>
                                    <h4>차종별 타이어</h4>
                                    <a href="">승용차용</a>
                                    <a href="">SUV용</a>
                                    <a href="">VAN/소형트럭용</a>
                                    <a href="">전기차용</a>
                                </li>
                                <li>
                                    <h4>경정비 상품</h4>
                                    <a href="">엔진오일</a>
                                    <a href="">배터리</a>
                                    <a href="">실내필터</a>
                                    <a href="">와이퍼</a>
                                </li>
                            </ul>
                            <ul class="list-size-free sub-menu sub-menu-2" data-parent-nth="2" style="display: none; height: 96px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                <li>
                                    <a href="">나의 all my <strong>T</strong></a>
                                    <a href="">혜택안내</a>                                    
                                </li>
                            </ul>
                            <!-- 20221007 // -->
                            <ul class="list-size-free sub-menu sub-menu-4" data-parent-nth="4" style="display: none; height: 140px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                <li>
                                    <p><a href="" class="icon-bullet" data-analytics-click="LNB-iON 신규출시">iON 신규출시</a></p>
                                    <p><a href="" class="icon-bullet" data-analytics-click="LNB-윈터 얼리버드">윈터 얼리버드</a></p>
                                    <p><a href="" data-analytics-click="LNB-우리동네딜">우리동네딜</a></p>
                                    <!-- 기획전 비운영 CASE -->
                                    <h4>새로운 기획전을 준비중입니다</h4>
                                </li>
                            </ul>
                            <!-- // 20221007 -->
                            <ul class="list-size-free sub-menu sub-menu-6" data-parent-nth="6" style="display: none; height: 140px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                                <li>
                                    <h4>알아두면 쓸모있는 타이어 잡학지식</h4>
                                    <a href="">티스테이션 TV</a>
                                    <a href="">타이어 정보</a>
                                    <a href="">타이어 리뷰</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <ul class="list-size-equal util-menus">
                    <li>
                        <a onclick="searchCar()" class="btn-item btn-free btn-neutral btn-inv full-w bg-transparent">
                             <span class="line-icons search-products size-32"></span>
                            <div class="label-txt txt-12">상품 찾기</div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn-item btn-free btn-neutral btn-inv full-w bg-transparent cart">
                            <span class="line-icons cart size-32"></span>
                            <span class="badge">0</span>                            
                            <div class="label-txt txt-12">장바구니</div>
                        </a>
                    </li>

                    <li>
                        <a href="" class="btn-item btn-free btn-neutral btn-inv full-w bg-transparent cart">
                            <span class="line-icons car-circle size-32"></span>
                            <div class="label-txt txt-12">내 차 관리</div>
                        </a>
                    </li>

                    <li>
                        <div class="btn-item btn-free btn-neutral btn-inv full-w bg-transparent">
                            <span class="line-icons user size-32"></span>
                              
                            <div class="label-txt mypage-sub-menus">
                                <a href="">마이페이지</a>
                                <a href="">all my <strong>T</strong> 서비스</a>
                                <a href="">주문내역</a>
                                <a href="">방문예약내역</a>
                                <a href="">쿠폰함</a>
                                <a href="">내 차 관리</a>
                                <a href="">점검/교체알림</a>
                                <a href="">재입고알림</a>
                                <a href="">개인정보변경</a>
                                <a href="">안심서비스</a> <!-- 20220314 -->
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="gnb-dim"></div>
            </div>
        </div>
    </div>

    <script>
        $('#header .gnb nav .list-size-free > li .main-menu').on('mouseenter', function(){
            var tgt = $(this).closest('li').index() + 1;
            $(this).addClass('hover');
            $('.sub-menu').stop().slideUp(200);
            $('.gnb-dim').removeClass('on');

            if( $('.sub-menu[data-parent-nth=' + tgt + ']').length != 0){
                $('.sub-menu[data-parent-nth=' + tgt + ']').stop().slideDown(300);
                $('.gnb-dim').addClass('on');
            }
        });

        $('#header .gnb nav .list-size-free > li .main-menu').on('mouseleave', function(){
            $(this).removeClass('hover');
            $('.sub-menu').stop().slideUp(200);
            $('.gnb-dim').removeClass('on');
        });

        $('.sub-menu').on('mouseenter', function(){
            var parentNth = $(this).attr('data-parent-nth');
            $('#header .gnb nav .list-size-free > li:nth-of-type(' + parentNth + ') .main-menu').addClass('hover');
            $('.sub-menu').stop().slideUp(200);
            $(this).stop().slideDown(300);
            $('.gnb-dim').addClass('on');
        });

        $('.sub-menu').on('mouseleave', function(){
            $('#header .gnb nav .list-size-free > li .main-menu').removeClass('hover');
            $('.sub-menu').stop().slideUp(200);
            $('.gnb-dim').removeClass('on');
        });

        // url check then active gnb menu
        var checkUrl = function (location) {
            var url = location.href
            var urlPath = location.pathname
            var pathArr = urlPath.split('/')
            var getParameterByName = function (name, url) {
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                  results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
            var isDeal = (getParameterByName('fromDeal', url) === 'true');

            // 1. TS 딜
            if (pathArr[1] === 'deal' || pathArr[1] === 'tire' && isDeal || pathArr[1] === 'auto-service' && isDeal) {
                return 'TS_DEAL'
            }
            // 2. TS 쇼핑
            if (pathArr.length === 2 || pathArr[1] === 'tire' || pathArr[1] === 'auto-service') {
                return 'TS_SHOPPING'
            }
            // 3. 매장 방문 예약
            if (pathArr[1] === 'store' && pathArr[2] === 'locals') {
                return 'VISIT_RESERVE'
            }
            // 4. 이벤트
            if (pathArr[1] === 'promotion') {
                return 'EVENT'
            }
            // 5. 멤버십
            if (pathArr[1] === 'membership') {
                return 'MEMBERSHIP'
            }

            return 'UNKNOWN'
        }
        var target = checkUrl(window.location);

        $('#header .gnb .main-menu').removeClass('act');

        if (target !== 'UNKNOWN') {
            $('#header .gnb .main-menu[data-act=' + target + ']').addClass('act');
        }
    </script>
</header>