<div id="loadingDim">
    <div class="lds-ring">
        <div style="position:relative;height:110px">
            <span></span><span></span><span></span><span></span>
        </div>
        <strong style="display:block;text-align:center;color:#fff;font-size:24px;white-space:nowrap;margin-left:-50px;">조금만 기다려주세요.</strong>
    </div>
</div>