<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="custom-service">
    <div class="container pd-v-20u">
        <div class="guardrail">
            <div class="container membership-freeday-service-title">
                <img src="pc-static-root/images/allmyt/img_keyvisual_freeday.png" alt="오늘 서비스" class="title-img"/>
                <div class="container txt-wrap">
                    <h2>휴일지킴 서비스</h2>
                    <h3>일요일에도 타이어교체와 차량점검 하세요</h3>

                    <p>휴일지킴 서비스는 평일에 시간이 없는 고객님들을 위해<br /> 일요일에도 타이어 교체와 차량점검 서비스를 제공해 주는<br /> 티스테이션만의 차별화된 프리미엄 서비스입니다.</p>

                    <a href="#none" class="btn-item btn-l btn-neutral round" data-analytics-click="일요일 장착매장 검색하고 쇼핑하기">
                        <span class="label-txt">일요일 장착매장 검색하고 쇼핑하기</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="guardrail">
            <div class="divider dark"></div>
        </div>
    </div>

    <div class="container step-section">
        <div class="guardrail">
            <h4 class="herocopy">휴일지킴 서비스 <strong>쇼핑 3단계</strong></h4>
            <div class="freedayservice-step-wrap">
                <div class="freedayservice-step">
                    <div class="thumb-area">
                        <img src="pc-static-root/images/allmyt/freeday_step_01.png" alt="1. 일요일 운영매장 검색" />
                    </div>
                    <div class="description-area">
                        <h4 class="title">1. 일요일 운영매장 검색</h4>
                        <p class="description">타이어 교체/점검은 하러가야 하는데<br /> 도저히 바빠서 평일엔 시간이 안될 때<br /> <span class="txt-mint">휴일지킴 서비스 매장을 검색해 보세요!</span></p>
                    </div>
                </div>

                <div class="freedayservice-step">
                    <div class="thumb-area">
                        <img src="pc-static-root/images/allmyt/freeday_step_02.png" alt="2. 타이어 구매 / 방문예약" />
                    </div>
                    <div class="description-area">
                        <h4 class="title">2. 타이어 구매 / 방문예약</h4>
                        <p class="description">티스테이션닷컴에서<br /> 타이어 온라인 구매 또는 방문예약 시<br /> <span class="txt-mint">장착일을 일요일로 선택하세요!</span></p>
                    </div>
                </div>

                <div class="freedayservice-step">
                    <div class="thumb-area">
                        <img src="pc-static-root/images/allmyt/freeday_step_03.png" alt="3. 일요일 장착 / 점검완료" />
                    </div>
                    <div class="description-area">
                        <h4 class="title">3. 일요일 장착 / 점검완료</h4>
                        <p class="description">예약한 방문시간에 맞춰<br /> <span class="txt-mint">휴일지킴 서비스 매장에 방문</span>해<br /> 타이어를 교체하고 점검 서비스를 받으세요!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider border-weibht"></div>
    <div class="container legal-section pd-v-6u">
        <div class="guardrail">
            <h4 class="headcopy pd-v-4u">유의사항</h4>
            <ul class="smarlegal-list">
                <li>T’Station의 휴일지킴 서비스는 평일에 시간이 없는 고객님들을 위한 일요일 매장예약 타이어교체/점검 서비스 입니다.</li>
                <li>일요일 장착매장 (휴일지킴서비스 매장) 선 선택 후 상품을 확인하실 경우 선택하신 매장에서 준비하고 있는 제품을 확인/안내해 드리므로, <br />구매 가능한 상품 종류가 적을 수 있습니다. </li>
                <li>일요일 장착매장 (휴일지킴 서비스 매장) 의 경우 매장 상황에 따라 시기별로 운영하지 않을 수 있습니다. 매장 검색 시 휴일지킴 서비스가 표시된 매장을 선택하시면 <br />일요일 장착이 가능합니다. </li>
                <li>휴일지킴서비스는 회원에게만 제공되는 서비스이며, 타이어와 경정비 상품 구매 및 점검 시 모두 이용할 수 있습니다.</li>
            </ul>
        </div>
    </div>

   
</div>