<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="pageTitle2">
    <h3>본인인증</h3>
    <span class="copy">회원가입 후 주문하시면 다양한 혜택을 받아 보실 수 있습니다.</span>
</div>

<div id="container" class="member">
    <!-- 비회원 구매하기 -->
    <div class="certify_01">
        <ul>
            <li style="float:unset; margin:0 auto">
                <button type="button" id="phone" class="phone popup-scarce" data-rel="/member/auth/selfAuthPage.do">휴대폰 인증</button>
            </li>


        </ul>
        <ol class="notice_01">
            <li>본인인증을 위해 수집한 정보는 <em class="col01">T'Station</em> 회원의 본인인증과 정보관리 목적 이외에 이용되지 않습니다.</li>
        </ol>
    </div>
    <!-- //비회원 구매하기 -->
    <!-- 고객센터 -->

    <div class="customer_01">
        <span class="txt01">티스테이션 고객센터</span>
        <span class="txt02">080-022-8272</span>
        <span class="txt03">월~금 09:00 ~ 16:00 / 주말 및 공휴일 휴무</span>
    </div>
    <!-- //고객센터 -->
</div>

<div class="modal-item instance on" data-ref="certify">
    <div class="dim"></div>
    <div class="middler">
        <div class="modal-pannel">
            <div class="modal-header">
                <h3>휴대폰 인증</h3>
                <button type="button" class="btn-item btn-neutral round btn-inv min-w btn-popup-close">
                    <span class="line-icons close size-24"></span>
                </button>
            </div>
            <div class="modal-action ">
                <ul class="list-size-equal">
                    <li>
                        <button type="button" class="btn-item btn-neutral btn-ol round full-w" onclick="$.Tstation.popup().close('certify')">
                            <span class="label-txt">취소</span>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn-item btn-neutral  round full-w" onclick="window.location.href = ''">
                            <span class="label-txt">인증하기</span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="modal-scroller">
                    <div class="container pd-v-4u pd-h-4u">
                        <form id="selfAuthForm">
                            <input type="hidden" id="authCheckYN" name="authCheckYN">
                            <p class="phone_certify">
                                안전한 쇼핑과 구매 정보 관리를 위해 본인인증을 해 주시기 바랍니다.
                            </p>
                            <div class="tbl_01">
                                <table>

                                    <tbody>
                                    <tr class="fm">
                                        <th style="text-align:left">이름</th>
                                    </tr>
                                    <tr class="fm">
                                        <td><input type="text" class="ip_txt01 w100p" name="mbrNm" id="mbrNm" style="margin-bottom: 12px;" maxlength="50" placeholder="실명을 입력해 주세요."></td>
                                    </tr>

                                    <tr class="fm">
                                        <th style="text-align:left">휴대폰번호</th>
                                    </tr>
                                    <tr class="fm">
                                        <td class="myinfo2">
                                            <select class="select01 w80" name="cellSctNo" id="cellSctNo" style="margin-bottom: 12px;">
                                                <option value="010">010</option>
                                                <option value="011">011</option>
                                                <option value="016">016</option>
                                                <option value="017">017</option>
                                                <option value="018">018</option>
                                                <option value="019">019</option>
                                            </select>
                                            <span class="phonebar">-</span>
                                            <input type="text" class="ip_txt01 w80 numeric" name="cellTxnoNo" id="cellTxnoNo" maxlength="4" style="width:22%;margin-bottom: 12px;">
                                            <span class="phonebar">-</span>
                                            <input type="text" class="ip_txt01 w80 numeric" name="cellEndNo" id="cellEndNo" maxlength="4" style="width:22%;margin-bottom: 12px;">
                                            <button class="btnM2 btnS01 changePh2 w80 certifyPhone" id="btnSendAuth" style="margin-left:3px;margin-bottom: 12px;" disabled="">인증</button>
                                        </td>
                                    </tr>
                                    <tr class="fm expand">
                                        <td class="myinfo2" style="border-bottom:0">
                                            <div class="phonesign" style="margin-top: 0px;">
                                                <input type="number" class="ip_txt01 w180" id="authVal" maxlength="6" placeholder="인증번호 6자리 입력" style="width: 150px;float:left">
                                                <button type="button" class="btnM2 btnS03 w80 certifyPhone" id="btnReTry" style="padding:0;margin-left:2%;width:22%;float:left">재발송</button>
                                                <button type="button" class="btnM2 btnS07 w80" style="margin-left:2%;" id="btnCert">확인</button>
                                                <div class="time_limit" style="font-size:12px" id="timeLimit"><span class="timer" id="timer">남은 시간 01:42</span></div>

                                            </div>
                                            <div class="pop_noti_txt" style="font-size:12px">
                                                ※ 휴대폰 인증 시 정확하게 이름을 입력해 주셔야 합니다.
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>