<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents" class="member">
        <!-- 아이디 찾기 성공 -->
        <div class="findid_01">
            <p class="txt01"><em>비밀번호 변경</em>에<br>성공 하였습니다.</p>

            <div class="btn">

                <a href="https://www.tstation.com/member/login/loginform.do" class="btnB btnS02">로그인</a>


            </div>
        </div>
        <!-- //아이디 찾기 성공 -->
        <!-- 고객센터 -->

        <div class="customer_01">
            <span class="txt01">티스테이션 고객센터</span>
            <span class="txt02">080-022-8272</span>
            <span class="txt03">월~금 09:00 ~ 16:00 / 주말 및 공휴일 휴무</span>
        </div>
        <!-- //고객센터 -->
    </div>
</div>