<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" style="min-height: 450px;">
    <div id="contents" class="member">
        <div id="pageTitle2"><h3>로그인</h3></div>
        <form id="loginForm" name="loginForm" method="POST" novalidate="novalidate">
            <input type="hidden" name="aflPageYn" value="Y">
            <input type="hidden" id="paramBtnId" value="">
            <input type="hidden" name="mbrStsCd" value="">
            <div class="login_01">
                <ol class="login_form">
                    <li><input title="아이디(이메일) 입력" type="text" id="loginId" name="loginId" value="" class="ip_txt01 w100p" placeholder="아이디 또는 이메일 주소를 입력해주세요"></li>
                    <li><input title="비밀번호 입력" type="password" id="password" name="password" class="ip_txt01 w100p" placeholder="비밀번호를 입력하세요"></li>
                    <li class="r1"><input type="checkbox" class="ip_c" id="saveLoginIdYn" value="Y" name="saveLoginIdYn"><label for="saveLoginIdYn">아이디 저장</label></li>
                    <li class="r2">
                        <a href="https://www.tstation.com/member/find/findid.do">아이디 찾기</a>
                        <a href="https://www.tstation.com/member/find/findpwd.do">비밀번호 찾기</a>
                    </li>
                </ol>
                <div class="btn">
                    <button class="btnB btnS02">로그인</button>
                </div>
            </div>
        </form>
        <!-- //로그인 -->

        <!-- 간편로그인 -->
        <div class="login_02">
            <p class="login"><em>간편하게 로그인하기</em></p>
            <ul class="sns_logo">
                <li>
                    <a href="https://www.tstation.com/member/snslogin/kakaologin.do?loginYn=Y" class="snskakao">카카오톡 간편 로그인</a>
                    <span class="recent_login">최근 로그인</span>
                </li>
                <li>
                    <a href="https://www.tstation.com/member/snslogin/naverlogin.do?loginYn=Y" class="snsnaver">네이버 간편 로그인</a>
                </li>
                <li>
                    <a href="https://www.tstation.com/member/snslogin/fblogin.do?loginYn=Y" class="snsface">페이스북 간편 로그인</a>
                </li>
            </ul>
        </div>
        <!-- //간편로그인 -->
        <!-- link -->
        <div class="login_03">
            <ul>
                <li><a href="https://www.tstation.com/member/register/join.do" class="btnB btnS01">회원가입</a></li>
                <li><a href="https://www.tstation.com/member/orderinquire.do" class="btnB btnS06">비회원 주문 조회</a></li>
                <li class="partner"><a href="https://biz.tstation.com/" class="btnB btnS06">제휴 사이트 바로가기</a></li>
                <div class="login_info_wrap">
                    ※ 최근 로그인한 계정 정보 : <span class="login_external_info">카카오 (2020-09-25 14:35:52)</span>
                </div>
            </ul>
        </div>

        <!-- //link -->
        <button data-rel="mbrStsCdRest" class="layer-scarce_login" data-height="500" style="display:none;"></button>
        <button data-rel="affiliateEnd" class="layer-scarce_login" data-height="500" style="display:none;"></button>
        <button data-rel="mbrStsCdOut" class="layer-scarce_login" data-height="500" style="display:none;"></button>
    </div>
</div>
<script>
    $(document).ready(function() {
        var isRequireDormantCancel = true;
        if (isRequireDormantCancel) {
            $.Tstation.popup().open({
                ref: 'dormant-cancel',
                title: '휴면 해제 안내',
                requestUrl: '',
                contents: '<p class="txt-14 txt-w500 txt-center mg-b-2u">회원님의 계정이 장시간 미사용으로 휴면 상태 입니다.</p>\n' +
                  '<p class="txt-14 txt-center">휴면 회원은 T\'Station의 서비스 이용이 제한 되오니 동의 버튼을 눌러 휴면 상태를 해제해주세요.</p>',
                dimWhite: false,
                modalContentsPd: {
                    horizon: 8,
                    vertical: 8,
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
                modalSize: 'SMALL',
                modalAction: {
                    isNoBoundary: true,
                    buttons: [
                        {
                            label: '미동의',
                            negative: true,
                            action: function () {
                                $.Tstation.popup().close('dormant-cancel');
                            }
                        },
                        {
                            label: '휴면해제',
                            negative: false,
                            action: function () {
                                alert('휴면해제 하기 위한 필요한 절차를 메소드로 만들어 호출 해 주세요.');
                                $.Tstation.popup().close('dormant-cancel');
                            }
                        }
                    ]
                },
                onOpen: function () {
                    console.log('팝업이 열리면 파이어 합니다.');
                },
                onClose: function () {
                    console.log('팝업이 닫히면 파이어 합니다.');
                }
            });
        }
    });
</script>