<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents" class="member">
        <form id="authForm" method="POST">
            <div id="pageTitle2">
                <h3>인증번호 입력</h3>
            </div>
            <!-- 아이디 찾기 -->
            <div class="login_01">
                <ol class="login_form">
                    <li><input title="인증번호 입력" type="text" class="ip_txt01 w100p" id="authVal" name="authVal" placeholder="인증번호" maxlength="6"></li>
                </ol>
                <div class="btn">
                    <button type="button" class="btnB btnS02" id="btnAuthConfirm">인증번호 확인</button>
                </div>
            </div>
            <!-- //아이디 찾기-->
            <!-- 고객센터 -->

            <div class="customer_01">
                <span class="txt01">티스테이션 고객센터</span>
                <span class="txt02">080-022-8272</span>
                <span class="txt03">월~금 09:00 ~ 16:00 / 주말 및 공휴일 휴무</span>
            </div>
            <!-- //고객센터 -->
        </form>
    </div>
</div>