<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" style="min-height: 450px;">
    <div id="contents" class="member">
        <!-- title -->
        <div id="pageTitle2">
            <h3>비회원 구매하기</h3><span class="copy">회원가입 후 주문하시면 다양한 혜택을 받아 보실 수 있습니다.</span>
        </div>
        <!-- title -->
        <!-- 비회원 구매하기 -->
        <div class="certify_01">
            <ul>
                <li><button class="phone">휴대폰 인증</button></li>
                <!-- <li><button class="ipin">아이핀 인증</button></li> 202012 pub fixed -->
            </ul>
            <ol class="notice_01">
                <li>본인인증을 위해 수집한 정보는 <em class="col01">T'Station</em> 회원의 본인인증과 정보관리 목적 이외에 이용되지 않습니다.</li>
            </ol>
        </div>
        <!-- //비회원 구매하기 -->
        <!-- 고객센터 -->
        <div class="customer_01">
            <span class="txt01">티스테이션 고객센터</span>
            <span class="txt02">080-022-8272</span>
            <span class="txt03">월~목 09:00 ~ 17:00 /  금 09:00 ~ 16:00 / 주말 및 공휴일 휴무</span>
        </div>
        <!-- //고객센터 -->
    </div>
</div>