<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents" class="member">
        <form id="pwdChangeForm" method="POST" novalidate="novalidate">
            <!-- title -->
            <div id="pageTitle2">
                <h3>신규비밀번호 입력 및 확인</h3>
            </div>
            <!-- title -->
            <!-- 비밀번호 찾기 -->
            <div class="login_01">
                <ol class="login_form">
                    <li>
                        <input type="password" id="passwd" class="ip_txt01 w100p password01" name="passwd" maxlength="15" placeholder="영문/숫자/특수문자 2개 이상 조합 6~15" aria-autocomplete="list">
                        <input type="checkbox" class="pwView" id="passwordView01" data-rel="password01"><label for="passwordView01">보이기</label>
                        <p class="point" id="pwError" style="display:none;">영문/숫자/특수문자 2개 이상 조합 6~15자</p>
                    </li>
                    <li>
                        <input type="password" id="passwdConfirm" name="passwdConfirm" class="ip_txt01 w100p password01" maxlength="15" placeholder="영문/숫자/특수문자 2개 이상 조합 6~15자">
                        <input type="checkbox" class="pwView" id="passwordView02" data-rel="password01"><label for="passwordView02">보이기</label>
                        <p class="point" id="pwCnfError" style="display:none;">비밀번호가 일치하지 않습니다.</p>
                    </li>
                </ol>
                <div class="btn">
                    <button class="btnB btnS02">비밀번호 변경</button>
                </div>
            </div>
            <!-- //비밀번호 찾기-->
            <!-- link -->

            <div class="login_03">
                <p class="txt01">
                    T'Station 회원이 아니신가요?
                    <a href="https://www.tstation.com/member/register/join.do" class="btnB btnS01">회원가입</a>
                </p>
                <p class="txt01">
                    아이디를 잊으셨나요?
                    <a href="https://www.tstation.com/member/find/findid.do" class="btnB btnS06">아이디 찾기</a>
                </p>
            </div>

            <!-- //link -->
            <!-- 고객센터 -->

            <div class="customer_01">
                <span class="txt01">티스테이션 고객센터</span>
                <span class="txt02">080-022-8272</span>
                <span class="txt03">월~금 09:00 ~ 16:00 / 주말 및 공휴일 휴무</span>
            </div>
            <!-- //고객센터 -->
        </form>
    </div>
</div>