<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents" class="member">
        <!-- 아이디 찾기 성공 -->
        <div class="findid_01">
            <p class="txt01"><em>아이디 찾기</em>에 성공 하였습니다</p>
            <p class="txt02">회원님의 아이디 목록</p>
            <ol class="id_list">

                <li>
                    <input type="radio" class="ip_r" name="findID" id="findID1" value="demonicdior@gmail.com" checked="checked">
                    <label for="findID1">d*********r@gmail.com <i>(2020-09-29 가입)</i></label>
                </li>

                <!-- <li class="btn"><button class="btnS btnS03 popup-scarce" data-rel="/jsp/pc/member/popup/layer_idmore.jsp">더보기</button></li> -->
            </ol>
            <div class="btn">
                <button type="button" id="pcLogin" class="btnB btnS02">로그인</button>
            </div>
        </div>
        <!-- //아이디 찾기 성공 -->
        <!-- 고객센터 -->

        <div class="customer_01">
            <span class="txt01">티스테이션 고객센터</span>
            <span class="txt02">080-022-8272</span>
            <span class="txt03">월~금 09:00 ~ 16:00 / 주말 및 공휴일 휴무</span>
        </div>
        <!-- //고객센터 -->
    </div>
</div>