<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" style="min-height: 450px;">
    <div id="contents" class="member">
        <!-- title -->
        <div id="pageTitle2">
            <h3>비밀번호 찾기</h3>
        </div>
        <!-- title -->

        <!-- 비밀번호 찾기 -->
        <form id="findPwdForm" method="POST">
            <div class="login_01">
                <ol class="login_form">
                    <li>
                        <input title="이름 입력" type="text" class="ip_txt01 w100p" id="mbrNm" name="mbrNm" placeholder="이름">
                        <p class="point mbrNmError" style="display:none;">이름을 다시 확인해 주세요.</p>
                    </li>
                    <li>
                        <input title="아이디(이메일) 입력" type="text" class="ip_txt01 w100p" id="mbrEmailId" name="mbrEmailId" placeholder="아이디(이메일)">
                        <p class="point mbrEmailIdError" style="display:none;" hidden="true">아이디(이메일)을 다시 확인해 주세요.</p>
                        <p class="txt01">회원 가입시 등록한 핸드폰 번호로 인증번호를 보내드립니다.</p>
                    </li>
                </ol>
                <div class="btn">
                    <button type="button" id="btnSendAuth" class="btnB btnS02">인증번호 받기</button>
                </div>
            </div>
        </form>

        <!-- //비밀번호 찾기-->
        <!-- link -->

        <div class="login_03">

            <p class="txt01">
                T'Station 회원이 아니신가요?
                <a href="https://www.tstation.com/member/register/join.do" class="btnB btnS01">회원가입</a>
            </p>


            <p class="txt01">
                아이디를 잊으셨나요?
                <a href="https://www.tstation.com//member/find/findid.do" class="btnB btnS06">아이디 찾기</a>
            </p>
        </div>

        <!-- //link -->
        <!-- 고객센터 -->

        <div class="customer_01">
            <span class="txt01">티스테이션 고객센터</span>
            <span class="txt02">080-022-8272</span>
            <span class="txt03">월~금 09:00 ~ 16:00 / 주말 및 공휴일 휴무</span>
        </div>
        <!-- //고객센터 -->
    </div>
</div>