<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div class="item-detail">
        <!-- .item-section start // -->
        <div class="item-section guardrail">
            <!-- .item-thumb-wrap start-->
            <div class="item-thumb-wrap">
                <div class="sticky-wrap">
                    <div class="item-img">
                        <div class="dealtime-wrap">
                            <!-- 20220707 // -->
                            <div class="info">
                                <span class="label-txt">특별기획전</span>
                                <span class="line-icons clock size-32"></span>
                                <span class="count">18:00:32</span>
                            </div>
                            <!-- <div class="info">
                                <span class="label-txt">특별기획전</span>
                                <span class="line-icons clock size-32"></span>
                                <span class="count">오늘오픈</span>
                            </div>
                            <div class="info">
                                <span class="label-txt">특별기획전</span>
                                <span class="line-icons clock size-32"></span>
                                <span class="count">~2022.07.30까지</span>
                            </div>
                            <div class="info">
                                <span class="label-txt">특별기획전</span>
                                <span class="line-icons clock size-32"></span>
                                <span class="count">D-6</span>
                            </div> -->
                            <!-- // 20220707 -->
                        </div>
                        <div class="img"><img src="pc-static-root/images/common/sample/@detail_thumb.png" alt=""></div>
                        <div class="brand-wrap">
                            <span class="brand hankook"></span>
                        </div>

                        <!-- 일시품절 상태 -->
                        <div class="overlap-status">
                            <div class="overlap-status-inner">
                                <span class="btn-item btn-neutral btn-xl round status"><span class="label-txt">일시품절</span></span><!-- 202012 pub fixed -->
                            </div>
                        </div>

                    </div>
                    <div class="item-benefit">
                        <span class="benefit safe">안심 서비스</span>
                        <span class="benefit hotel">호텔 서비스</span>
                    </div>
                    <div class="item-thumb-foot">
                        <div class="star-wrap">
                            상품평
                            <span class="rating-star">
                            <span class="star"></span>
                            <span class="override" style="width: 90%"></span>
                        </span>
                            <span class="score">4.5점</span>
                            <span class="count">(10)</span>
                        </div>
                        <ul class="share-list">
                            <li class="items">
                                <a href="#none" class="sns_link kakao"><span class="blind">카카오톡</span></a>
                            </li>
                            <li class="items">
                                <a href="#none" class="sns_link naver"><span class="blind">네이버</span></a>
                            </li>
                            <li class="items">
                                <a href="#none" class="sns_link facebook"><span class="blind">페이스북</span></a>
                            </li>
                            <li class="items share-icon">
                                <span class="line-icons share size-24"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .item-thumb-wrap end-->
            <!-- .item-info-wrap start -->
            <div class="item-info-wrap">
                <div class="flag-wrap">
                    <em>정숙/승차감 우선</em>
                    <em>NEW</em>
                </div>
                <div class="name-wrap">
                    <h2 class="name">원터아이셉트 프리미엄</h2>
                    <h3 class="subname">Winter i* cept evo3</h3>
                    <p class="explan">유럽에서 인정받은 겨울철 고성능 퍼포먼스 타이어</p>
                </div>
                <div class="size-wrap">
                    <span class="size">225/40R18</span>
                    <span class="tag-wrap">
                    <span class="tag">승용차</span>
                    <span class="tag">사계절</span>
                    <span class="tag">런플렛</span>
                </span>
                </div>
                <div class="banner-wrap gold">
                    <a href="#none">
                        <span class="txt">1년~3년이내 생산된 상품 특가판매</span>
                        <span class="img"><img src="pc-static-root/images/common/img_deal_banner.png" alt="" /></span>
                    </a>
                </div>
                <div class="price-wrap">
                    <div class="default-sale">
                        <div class="headline">판매가</div>
                        <div class="cell">
                        <span class="discount">
                            <em>180,600</em>원
                        </span>
                        </div>
                    </div>
                    <div class="toggle-wrap active">
                        <div class="headline">할인혜택</div>
                        <div class="content">
                            <div class="rowgroup">
                                <div class="rowheader">쿠폰적용가</div>
                                <div class="cell">
                                <span class="discount">
                                    <em>162,500</em>원
                                </span>
                                    <del>
                                        <span class="blind">할인 전 가격</span>
                                        <span>180,600</span>원
                                    </del>
                                    <button type="button" class="btn-item btn-neutral btn-s btn-ol round coupon">
                                        <span class="label-txt">특별기획전 쿠폰</span><!-- 20220707 -->
                                        <span class="line-icons download size-20"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="rowgroup">
                                <div class="rowheader">쿠폰적용가</div>
                                <div class="cell">
                                <span class="discount">
                                    <em>162,500</em>원
                                </span>
                                    <del>
                                        <span class="blind">할인 전 가격</span>
                                        <span>180,600</span>원
                                    </del>
                                    <button type="button" class="btn-item btn-neutral btn-s btn-ol round coupon">
                                        <span class="label-txt">멤버십 쿠폰</span>
                                        <span class="line-icons download size-20"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="rowgroup">
                                <div class="rowheader">배송/장착비</div>
                                <div class="cell">
                                <span class="discount">
                                    <em>무료</em>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="discount-sale">
                        <div class="headline">총 할인가</div>
                        <div class="cell">
                        <span class="discount">
                            <em>-26,100</em>원
                        </span>
                        </div>
                    </div>
                    <div class="buy-option">
                        <div class="order clear">
                            <div class="float-l">
                            <span class="label-title">
                                <span class="tooltip-bf-container bottom">
                                    <span class="line-icons info-circle size-20"></span>
                                    <div class="tooltip-bf">
                                        <div class="tooltip-body">
                                            <p>스마트 페이 할부는 <strong>타이어 4개 구매</strong>에 한해 적용됩니다.</p>
                                        </div>
                                    </div>
                                </span>
                                주문수량
                            </span>
                                <span class="form-control-number mg-r-1u disabled">
                                <input type="number" value="4" max="4" min="1" step="1" disabled="">
                                <button class="control control-decrease">
                                    <span class="line-icons remove-circle size-28"></span>
                                </button>
                                <span class="label">
                                    <span class="count">4</span>개
                                </span>
                                <button class="control control-increase disabled">
                                    <span class="line-icons add-circle size-28"></span>
                                </button>
                            </span>
                            </div>
                            <div class="float-r">
                                <div class="total-price">
                                    <span class="price-info">총 상품합계</span>
                                    <span class="price"><em>677,6000</em>원</span>
                                </div>
                            </div>
                        </div>
                        <div class="final-price">
                            <div class="maxbenefit">
                                <span class="price-info">최대 혜택가</span>
                                <span class="price"><em>67,6000</em>원</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buy-button-wrap">
                    <button type="button" class="btn-item btn-neutral btn-ol btn-l full-w round">
                        <span class="label-txt">장바구니</span>
                    </button>
                    <button type="button" class="btn-item btn-neutral btn-l full-w round mg-l-2u">
                        <span class="label-txt">바로구매</span>
                    </button>
                </div>

            </div><!-- .item-info-wrap end -->
        </div><!-- // .item-section end-->

        <!-- .goods_detail start //-->
        <div class="item-tab-section">
            <div class="goods_detail guardrail tabScript">
                <div class="tablist-wrap">
                    <ul class="tablist" role="tablist">
                        <li class="button-tab active" role="tab">
                            <a href="#none" class="tab-link">상품정보</a>
                        </li>
                        <li class="button-tab" role="tab">
                            <a href="#none" class="tab-link">상품평(<em>99,999+</em>)</a>
                        </li>
                        <li class="button-tab" role="tab">
                            <a href="#none" class="tab-link">타이어 사이즈</a>
                        </li>
                    </ul>
                </div>
                <!-- tab 1. 상품정보 -->
                <div class="tab_cont hidden" id="goodDetail_tab1" style="">
                    <h6>특장점 &amp; 기술력 </h6>
                    <div class="inner">
                        <ol>
                            <li>눈길 빙판길 성능이 우수한 V자형 바닥면 디자인을 적용한 SUV 겨울용 타이어.</li>
                            <li>스포이트홀을 적용하여 바닥의 수분을 흡수하고 눈 슬러지에서 미끄러짐을 최소화.</li>
                            <li>최적화된 블록 디자인으로 눈길 제동력과 핸들링 성능을 향상.</li>
                        </ol>
                    </div>
                    <h6>패턴상세 정보</h6>
                    <div class="inner pattern">
                        <!-- ckEditor HTML -->
                        <div class="ckEditor">
                            <div style="text-align:center">
                                <img alt="" src="https://po.tstation.com/upload/goods/2020/20200309150305/Winter-icept-X.jpg" style="width: 100%">
                            </div>
                        </div>
                        <!-- //ckEditor HTML -->
                    </div>
                    <h6>상품 정보 제공 고시&#8203;</h6>
                    <div class="inner pattern">
                        <!-- html 등록 영역  -->
                        <ol class="list">
                            <li class="line"><span class="tit">제조사</span> 한국타이어</li>
                            <li><span class="tit">품질 보증</span> 제조상의 과실에 의한 하자가 발생 시 보증 기간내에 있는 제품에 한해서 A/S 처리해드립니다. (제조일로부터 6년 이내, 흠깊이가 20%이상 남은 경우)<br>
                                공정거래위원회 고시(소비자분쟁해결기준)에 의거하여 보상해 드립니다.</li>
                            <li><span class="tit">A/S 문의</span> 080-022-8272 (월~금 오전 9시~오후 4시)</li>
                            <li><span class="tit">특이사항</span> 타이어 구매시 탈부착 및 밸런스 작업은 무료이며, 위치교환, 휠 얼라인먼트, 그 외 서비스에 따른 추가 금액은 매장에서 현장 결제하시면 됩니다.</li>
                            <li><span class="tit">배송/장착</span> 무료 배송, 무료 장착</li>
                            <li><span class="tit">반품/환불</span> 상품의 특성상 장착 이후 반품 및 교환은 불가능합니다.</li>
                        </ol>
                        <!-- //html 등록 영역  -->
                    </div>
                    <div class="vendor-container">
                        <div class="detail-gradient">
                            <button type="button" class="btn-item btn-neutral btn-l btn-ol round">
                                <span class="label-txt">상품 상세 더보기</span>
                                <span class="line-icons chev-down size-24"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- //tab 1. 상품정보 -->
                <!-- tab 2. 상품리뷰 -->
                <div class="tab_cont" id="goodDetail_tab2" style="display: none;">
                    <h6>구매만족도</h6>
                    <div class="review_top">
                        <p class="txt01">
                            총 <em>5명의 고객님</em>이 평가해 주셨습니다.
                        </p>
                        <p class="unitR2">
                            평균별점 <span class="star02 point8"><em>4.4</em></span>
                        </p>
                        <div class="list">
                            <ol>
                                <li>
                                    <span class="tit">승차감</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">연비</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">마일리지</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">고속주행</span>
                                    <span class="star03 point7"><em>3.8</em></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- 상품평  list -->
                    <h6>고객상품평</h6>
                    <div class="review_list" id="prGdasInfoDiv">
                        <ol>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point10"><em>5.0</em></span>
                                    <span class="tire">
                            현대&nbsp; Premium(프리미엄)&nbsp; 싼타페 TM <em>235/60R18</em>
                            </span>
                                    <span class="date"><span>지**</span>2020-04-28</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        매우만족해요. 올겨울 눈은 많이 오지 않았지만 눈 왔을때 느껴지더라구요
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point6"><em>3.0</em></span>
                                    <span class="tire">
                            현대&nbsp; Modern(모던)&nbsp; 올 뉴 투싼 <em>225/60R17</em>
                            </span>
                                    <span class="date"><span>고**</span>2020-03-26</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        윈터 타이어의 효과가 정말 있습니다. 기존 타이어에 비해 승차감 등 아쉬운 부분이 있지만 특성상 어쩔수 없는 부분이라 생각됩니다.
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point10"><em>5.0</em></span>
                                    <span class="tire">
                            현대&nbsp; 건너뛰기&nbsp; 싼타페 CM <em>235/65R17</em>
                            </span>
                                    <span class="date"><span>우**</span>2019-12-04</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        좋습니다 ㅋㅋ
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point8"><em>4.0</em></span>
                                    <span class="tire">
                            기아&nbsp; 건너뛰기&nbsp; 쏘렌토 <em>235/60R18</em>
                            </span>
                                    <span class="date"><span>**</span>2019-11-24</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        007
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point2"><em>1</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point10"><em>5.0</em></span>
                                    <span class="tire">
                            쌍용&nbsp; 건너뛰기&nbsp; 코란도 스포츠 <em>255/60R18</em>
                            </span>
                                    <span class="date"><span>배**</span>2019-11-18</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        차량4대 작업중 이라서 바쁜와중에 작업신경 써주셔서 감사합니다
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="btn01" id="moreDiv" style="display:none;">
                        <button class="btnM2 btnS03">더 보기</button>
                    </div>
                    <!-- //상품평  list -->
                </div>
                <!-- //tab 2. 상품리뷰 -->
                <!-- tab 3. 타이어 사이즈 -->
                <div class="tab_cont" id="goodDetail_tab3" style="display: none;">
                    ...
                </div>
                <!-- //tab 3. 타이어 사이즈 -->
            </div>
        </div>
        <!-- // .goods_detail end-->
        <!-- .item-related-section start // -->
        <div class="item-related-section">
            <div class="next-product-wrap">
                <a class="#none">
                    <div class="noproduct">
                        <p class="copy">티스테이션에서 경정비 상품 쇼핑하기</p>
                        <p class="more-link"><span class="typo">내 차에 맞는 경정비 상품 보러가기</span><span class="line-icons chev-right size-24"></span></p>
                    </div>
                </a>
            </div>
            <div class="headcopy-wrap guardrail ">
                <h2 class="headcopy">이 상품은 어때요?</h2>
                <h3 class="subcopy">내 차에 맞는 상품을 추천합니다</h3>
            </div>
            <div class="item-list-wrap">
                <div class="guardrail">
                    <div class="swiper-container related-swiper-wrap">
                        <ul class="swiper-wrapper list-size-full main-time-deal-list">
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>

                                        <span class="badge badge-discount"><span>30%<br>OFF</span></span>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                        <span class="badge badge-discount"><span>30%<br>OFF</span></span>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>

                                        <span class="badge badge-discount"><span>30%<br>OFF</span></span>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>

                                        <span class="badge badge-discount"><span>30%<br>OFF</span></span>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>

                                        <span class="badge badge-discount"><span>30%<br>OFF</span></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn-item btn-swiper-nav btn-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"><i class="dark"></i></button>
                    <button type="button" class="btn-item btn-swiper-nav btn-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"><i class="dark"></i></button>
                </div>
            </div>
        </div><!-- // .item-related-section end-->
        <script>
            $(document).ready(function(){
                /* keyVisual sticky scroll */
                $(window).on({
                    'scroll' : function() {
                        var stickyWrap = $('.sticky-wrap')
                        var paymentTop = $('.item-section').offset().top;
                        var maxTop = $('.item-info-wrap').outerHeight() - stickyWrap.outerHeight() + paymentTop;
                        var scrollThis = $(this).scrollTop();

                        if ( paymentTop < scrollThis ) {
                            if (scrollThis < maxTop) {
                                stickyWrap.css({'top' : scrollThis-paymentTop});
                            } else {
                                stickyWrap.css({'top' : maxTop-paymentTop});
                            }
                        } else {
                            stickyWrap.css({'top' : 0});
                        }
                    }
                });

                /* good tablist sticky scroll */
                $(window).on({
                    'scroll' : function() {
                        var tablistPos = $('.tablist-wrap').offset().top;
                        var scrollPos = $(this).scrollTop();

                        if(tablistPos < scrollPos) {
                            $('.tablist').addClass('fixed');
                        } else {
                            $('.tablist').removeClass('fixed');
                        }
                    }
                });

                /* good detail click event hide */
                $('.detail-gradient').find('button').click(function(){
                    var goodDetail = $('#goodDetail_tab1')
                    if(goodDetail.hasClass('hidden')) {
                        goodDetail.removeClass('hidden');
                        goodDetail.find('.vendor-container').hide();
                    }
                });

                /* toogle event */
                $('.toggle-wrap').find('.headline').click(function() {
                    var toggleWrap = $(this).parent('.toggle-wrap');
                    if(toggleWrap.hasClass('active')) {
                        toggleWrap.removeClass('active');
                    } else {
                        toggleWrap.addClass('active');
                    }
                });

                /*  tab function and anchor*/
                $(document).ready(function() {
                    var itemDetail = $('.item-tab-section');
                    var tabButton = itemDetail.find('.tablist > .button-tab');
                    var tabContainer = itemDetail.find('.tab_cont');

                    tabButton.each(function(i) {
                        tabButton.eq(i).click(function(){
                            tabAnchor = itemDetail.find('.tablist-wrap').offset().top;
                            $('html, body').scrollTop(tabAnchor);
                            tabContainer.hide();
                            tabContainer.eq(i).show();
                            tabButton.removeClass('active');
                            tabButton.eq(i).addClass('active');
                        });
                    });
                });

                /* relatedSwiper */
                var relatedCard = $('.related-swiper-wrap .swiper-slide').length;
                if( relatedCard < 4 ){
                    $('.related-swiper-wrap').addClass('no-swipe');
                }else{
                    var mycar_select_swiper = new Swiper('.related-swiper-wrap', {
                        init: false,
                        spaceBetween: 12,
                        slidesPerView: 4,
                        slidesPerGroup: 4,
                        navigation: {
                            nextEl: '.item-related-section .btn-swiper-nav.btn-next',
                            prevEl: '.item-related-section .btn-swiper-nav.btn-prev',
                        },
                    });
                    mycar_select_swiper.init();
                };
            });
        </script>
    </div>
</div>
