<% locals.setLayout('src/project/mobile/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<%- locals.widget('src/project/mobile/includes/layouts/nav-bar-share.ejs', { pageTitle: '타이어 정보' }) %>
<div id="container" class="gray">
    <div class="tam-tstation-tv">
        <section class="section-tire-info-detail">
            <div class="title-wrap">
                <!-- 0820 // -->
                <h4 class="title">찬바람 부는 겨울, 추위를 이겨내기 위해 내 차에도 '이것'이 꼭 필요하다!?
                    <span class="dp-block txt-12">2021. 8. 10.</span>
                </h4>
                <!-- // 0820 -->
                <div class="keywords">
                    <span class="keyword">타이어자가점검</span>
                    <span class="keyword">타이어관리</span>
                </div>
            </div>

            <div class="contents-wrap">
                <!-- admin html editor import -->
                <img src="https://via.placeholder.com/760x500" alt="" style="display: block; width: 100%; height: auto" />
                <br />
                <h2 style="margin-bottom: 8px; font-size: 18px;">Title</h2>
                <p style="text-align: justify;">
                    윈터타이어, 교체할까 말까 아직도 고민 중이신가요? 딱히 필요성을 못 느끼거나 중요하지 않다고 여기는 건 아닌지요?
                    하지만 겨울철 날시 속 도로와 타이어는 떼려야 뗄 수 없는 관계인 만큼, 윈터타이어에 관해 제대로 알고 있을수록
                    더 안전하게 운전할 수 있습니다. 알송달쏭한 윈터타이어, 퀴즈를 통해 알아봅시다.
                </p>
                <br />
                <br />
                <br />

                <img src="https://via.placeholder.com/760x500" alt="" style="display: block; width: 100%; height: auto" />
                <br />
                <h2 style="margin-bottom: 8px; font-size: 18px;">Title</h2>
                <p style="text-align: justify;">
                    윈터타이어는 늦가을 또는 초겨울부터 필요합니다. 기온이 영상 7도 이하만 되어도 일반적인 사계절용 타이어나 여름용
                    타이어는 딱딱하게 굳어지기 때문이죠. 탄성을 잃은 타이어는 제동력과 그립력이 약해져 안전에도 취약해집니다.
                </p>
                <br />
                <br />
                <br />

                <img src="https://via.placeholder.com/760x500" alt="" style="display: block; width: 100%; height: auto" />
                <br />
                <h2 style="margin-bottom: 8px; font-size: 18px;">Title</h2>
                <p style="text-align: justify;">
                    반면 윈터타이어의 고무는 추운 환경에서도 탄성을 유지하도록 설계돼, 낮은 온도에서도 제 성능을 발휘합니다. 실제로
                    서울에선 지난 10월에 최저기온이 영상 7도 아래로 떨어진 바 있는데요(출처: 웨더아이). 윈터타이어가 꼭 한겨울에만
                    필요한 것이 아니라는 사실을 알 수 있습니다.
                </p>
            </div>
        </section>

        <section class="contents-status-bar">
            <span class="title">다른 <span class="txt-primary">타이어 상식</span> 게시글</span>
            <div class="form-control form-control-md extra">
                <div class="input-group">
                    <select class="input-box" dir="rtl">
                        <option selected="">최신순</option>
                        <option>오래된 순</option>
                    </select>

                    <div class="tools">
                        <button><span class="line-icons chev-down"></span></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-tam-more">
            <ul>
                <li>
                    <article
                        class="info-cell"
                        data-link-type="OUT"
                        data-link-url="https://www.youtube.com/user/hankooktirekorea1"
                    >
                        <div class="thumb-area">
                            <div class="thumb" style="background-image: url('https://blahblahblah.com')"></div>
                        </div>
                        <div class="description">
                            <p>장거리 운전 많은 추석, 타이어 점검 체크리스트</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article
                        class="info-cell"
                        data-link-type="IN"
                        data-link-url="./tam-tstation_tv-detail.html?id=10000"
                    >
                        <div class="thumb-area">
                            <div class="thumb" style="background-image: url('https://via.placeholder.com/240')"></div>
                        </div>
                        <div class="description">
                            <p>[타이어 추천] 제네시스, 그랜저, K9, K7의 승차감을 결정짓는 타이어 추천</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article
                        class="info-cell"
                        data-link-type="IN"
                        data-link-url="./tam-tstation_tv-detail.html?id=10000"
                    >
                        <div class="thumb-area">
                            <div class="thumb" style="background-image: url('https://via.placeholder.com/240')"></div>
                        </div>
                        <div class="description">
                            <p>글로벌 프리미엄 카메이커 ‘BMW’ 타이어 교체 추천 가이드</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article
                        class="info-cell"
                        data-link-type="IN"
                        data-link-url="./tam-tstation_tv-detail.html?id=10000"
                    >
                        <div class="thumb-area">
                            <div class="thumb" style="background-image: url('https://via.placeholder.com/240')"></div>
                        </div>
                        <div class="description">
                            <p>[MANUAL] 대기오염으로부터 내 차를 지키자! 미세먼지 관리 팁부터 자동차 배출가스 등급제까지!</p>
                        </div>
                    </article>
                </li>
                <li>
                    <article
                        class="info-cell"
                        data-link-type="IN"
                        data-link-url="./tam-tstation_tv-detail.html?id=10000"
                    >
                        <div class="thumb-area">
                            <div class="thumb" style="background-image: url('https://via.placeholder.com/240')"></div>
                        </div>
                        <div class="description">
                            <p>[MANUAL] 교통사고 예방을 위해 타이어 공기압 체크는 필수!  안전을 위한 타이어 관리 방법 blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
                        </div>
                    </article>
                </li>
            </ul>
            <script>
                // ts-tv-card onclick
                $('.info-cell').click(function () {
                    // get custom attr & use data
                    // sample data { linkType: 'IN' | 'OUT', linkUrl: '/mobile/tam-tstation_tv-detail.html' }
                    var data = $(this).data()

                    // go link type
                    switch (data.linkType) {
                        case 'IN':
                            // 히스토리 저장 하지 않음
                            location.replace(data.linkUrl)
                            break
                        case 'OUT':
                            window.open(data.linkUrl, '_blank')
                            break
                        default:
                            break
                    }
                })
            </script>

            <button type="button" class="btn-item btn-neutral btn-ol  w-240 round">
                <span class="label-txt">10/19 더보기</span>
            </button>
        </section>
    </div>
</div>
