<!-- full popup -->
<div class="modal-item toggle-control-popup full">
    <div class="dim"></div>
    <div class="middler">
        <div class="modal-pannel">
            <div class="modal-header">
                <h3>내 차에 맞는 행사 상품선택</h3>
                <button type="button" class="btn-item btn-neutral round btn-inv min-w toggle-control-close">
                    <span class="line-icons close size-24"></span>
                </button>
            </div>
            <div class="modal-action ">
                <ul class="list-size-equal"><li><button class="btn-item btn-neutral round full-w" id="tireSelectButton"><span class="label-txt">확인</span></button></li></ul>
            </div>
            <div class="modal-body">
                <div class="modal-scroller">
                    <div class="container">
                        <!-- .event-familysale START -->
                        <div class="event-familysale">
                            <div class="contents-section event-mycar">
                                <div class="subcopy">검색된 내 차 정보</div>
                                <!-- 4륜 동일 Case -->
                                <div class="mycar-tire-info">
                                    <div class="mycar-tire-info-detail">
                                        <ul>
                                            <li>
                                                <div class="mycar-tire-info-item">
                                                    <img src="mc-static-root/images/event/20210316/icon_car_n3.svg" style="width:34px" alt="">
                                                    <span>제네시스 G80(RG3) (2020 ~ 2021)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mycar-tire-info-item">
                                                    <span>
                                                        <img src="mc-static-root/images/event/20210316/icon-tire.png" style="width:18px" alt="">
                                                        <span>245/45R18</span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <!-- 전후륜 Case -->
                                <div class="mycar-tire-info">
                                    <div class="mycar-tire-info-detail">
                                        <ul>
                                            <li>
                                                <div class="mycar-tire-info-item">
                                                    <img src="mc-static-root/images/event/20210316/icon_car_n3.svg" style="width:34px" alt="">
                                                    <span>제네시스 G80(RG3) (2020 ~ 2021)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="mycar-tire-info-item">
                                                    <span>
                                                        <img src="mc-static-root/images/event/20210316/icon-tire.png" style="width:18px" alt="">
                                                        <span>245/45R18</span>
                                                        <span class="badge badge-neutral3 badge-s round">전륜</span>
                                                    </span>
                                                    <span>
                                                        <img src="mc-static-root/images/event/20210316/icon-tire.png" style="width:18px" alt="">
                                                        <span>255/45R19</span>
                                                        <span class="badge badge-neutral3 badge-s round">후륜</span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="contents-section tire-sizeup-noti">
                                <div class="accordian-wrap"><!-- .active 추가시 아코디언 활성 -->
                                    <a class="trigger txt-primary"><span class="line-icons info-circle size-14"></span>애프터켓에서 인치업한 경우, 어떻게 구매해야 하나요?<span class="mg-l-1u line-icons chev-up size-24"></span></a>
                                    <div class="info">
                                        <img src="mc-static-root/images/event/20210316/buy_step.png" alt="" />
                                    </div>
                                </div>
<script>
$('.accordian-wrap > .trigger').on("click", accordianSizeNoti)
function accordianSizeNoti() {
var  accordianState = $('.accordian-wrap');
if(accordianState.hasClass('active')) {
    accordianState.removeClass('active');
} else {
    accordianState.addClass('active');
}
}
</script>
                            </div>

                            <div class="contents-section tire-select-list">
                                
                                <div class="tire-select-noti">
                                    <span class="line-icons coupon-error size-28 txt-primary"></span>
                                    <p class="noti">
                                        쿠폰에 따라 적용되는 정확한 최종 혜택가는 결제페이지에서 확인하실 수 있습니다.
                                    </p>
                                </div>
                                <div class="subcopy">구매 수량과 원하는 상품을 선택해 주세요.</div>
                                <div class="tire-count-button">
                                    <button type="button" class="btn-item btn-gray btn-ol filet active">
                                        <span class="label-txt">4개</span>
                                    </button>
                                    <button type="button" class="btn-item btn-gray btn-ol filet">
                                        <span class="label-txt">2개</span>
                                    </button>
<script>

$(document).ready(function() {
var sortButton = $('.tire-count-button').find('button');
var fourWheel = $('.event-card-list').find('.radio-four-wheel');
var frontWheel = $('.front-wheel').find('.radio-group-front');
var rearWheel = $('.rear-wheel').find('.radio-group-rear');
var radioCheckLength = 0; //타이어 라디오 체크 length
var tirecompare = 1; // 전후륜 동일: tirecompare = 0 , 전후륜 다름: tirecompare = 1
var otherFour = true; // 전후륜 다른 타이어 4개 구매
// $('.radio-wheel:input:checked');
// QnA 현재는 모든 케이스의 돔이려져 있는 상태, 개발시 1개의 돔에서 데이터들이 바인딩되는 CASE일시 영향도 파악
// 만약 위의 영향도 파악이 어려울시 TAB형태로 구조 변경 고려

if(tirecompare === 0) { /* 전륜/후륜 동일 */
    defaultCase();
    sortButton.eq(0).addClass('active');
    sortButton.eq(0).on("click", defaultCase); /* 4개 */
    sortButton.eq(1).on("click", defaultCase); /* 2개 */

    $('.event-card-list').hide(); 
    $('.four-wheel').show();
} else if(tirecompare === 1) { /* 전륜/후륜 다름 */
    otherCase();
    sortButton.eq(0).addClass('active');
    sortButton.eq(0).on("click", otherCase); /* 4개 */
    sortButton.eq(1).on("click", defaultCase); /* 2개 */

    $('.event-card-list').hide(); 
    $('.rear-wheel, .front-wheel').show();
}
function defaultCase() {
    otherFour = false; 
    sortButton.removeClass('active');
    $(this).addClass('active');
    $('.radio-wheel:input').prop('checked', false);
    fourWheel.attr('name', 'four_wheel');    
    frontWheel.attr('name', 'four_wheel');
    rearWheel.attr('name', 'four_wheel');    
}
function otherCase() {
    otherFour = true; 
    sortButton.removeClass('active');
    $(this).addClass('active');
    $('.radio-wheel:input').prop('checked', false);
    fourWheel.attr('name', 'four_wheel');
    frontWheel.attr('name', 'radio_group_front');
    rearWheel.attr('name', 'radio_group_rear');
}    
/* 라디오 체크에 따른 alert msg */
$('#tireSelectButton').on("click", radioChecked);
function radioChecked() {
    radioCheckLength = $('.radio-wheel:input:checked').length;
    if(radioCheckLength === 0) {
        alert('구매하실 상품을 선택해주세요');
    } else if(radioCheckLength === 1 && tirecompare === 1 && otherFour === true) {
        alert('전륜/후륜 각각 1개의 상품을 선택해주세요');
    } else {
        $(this).closest('.modal-item').removeClass('on');
    }
}
}) 
</script>
                                </div>
                                
                                <!-- 090801//  -->
                                <div class="">
                                    <div class="nodata-product" style="box-shadow: none;">
                                        <p>
                                            <span class="line-icons error-circle-light size-30"></span>
                                            <strong>내 차에 맞는 행사 상품 정보가 없습니다.</strong>
                                            티스테이션 고객센터 또는 주변 슈퍼위크 행사매장에<br /> 직접 문의해 주세요.
                                        </p>
                                    </div>
                                </div>
                                <!-- //090801  -->

                                <!-- 전륜/후륜 동일 4개 구매시 Case -->
                                <div class="event-card-list four-wheel">
                                    <!-- 2021-03-29 // -->
                                    <!-- CASE H462,H123,K127,K127,K120,RH17,RA45,RF11,RA33 -->
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <!-- 0901 // -->
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="H462" class="goods-img" />
                                                        <!-- <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="H123" class="goods-img" />
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="K120" class="goods-img" />
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="K127" class="goods-img" />
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="K127A" class="goods-img" />
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RA33" class="goods-img" />
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RA45" class="goods-img" />
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RF11" class="goods-img" />
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RH17" class="goods-img" /> -->
                                                        <!-- // 0901 -->
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_H462.png" alt="벤투스 프리미엄 컴포트" />
                                                        <!-- <img src="mc-static-root/images/event/20210316/product/name_H123.png" alt="벤투스 컴포트" />
                                                        <img src="mc-static-root/images/event/20210316/product/name_K120.png" alt="벤투스 스포츠" />
                                                        <img src="mc-static-root/images/event/20210316/product/name_K127.png" alt="벤투스 프리미엄 스포츠" />
                                                        <img src="mc-static-root/images/event/20210316/product/name_K127A.png" alt="벤투스 프리미엄 스포츠 SUV" />
                                                        <img src="mc-static-root/images/event/20210316/product/name_RA33.png" alt="다이나프로 컴포트" />
                                                        <img src="mc-static-root/images/event/20210316/product/name_RA45.png" alt="다이나프로 컴포트" />
                                                        <img src="mc-static-root/images/event/20210316/product/name_RF11.png" alt="다이나프로 올 터레인" />
                                                        <img src="mc-static-root/images/event/20210316/product/name_RH17.png" alt="벤투스 프리미엄 컴포트 SUV" /> -->
                                                    </div>
                                                    <p class="description">고속 주행에서 느끼는 Comfort Technology</p>
                                                    <!-- <p class="description">편안한 승차감을 느낄 수 있는 최고의 Family 세단용 타이어</p>
                                                    <p class="description">유럽 명차가 선택한 고성능 스포츠 타이어</p>
                                                    <p class="description">유럽 명차가 선택한 SUV 전용 고성능 스포츠 타이어 </p>
                                                    <p class="description">스포츠 드라이빙 매니아들이 가장 많이 선택하는 타이어 </p>
                                                    <p class="description">고속주행에서 느끼는 Comfort Technology SUV 타이어</p>
                                                    <p class="description">강인함과 편안함의 완벽한 밸런스를 갖춘 SUV 전용 타이어</p>
                                                    <p class="description">오프로드, 온로드 등 모든 도로에 최적화된 전천후 타이어(추천차종 : 렉스턴스포츠, JEEP랭글러 등 다이나믹 주행을 원하는 SUV, 픽업트럭)</p>
                                                    <p class="description">자동차 메이커의 성능 테스트를 통과한 SUV용 순정타이어 </p> -->
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">123,456<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="H123" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_H123.png" alt="벤투스 컴포트" />
                                                    </div>
                                                    <p class="description">편안한 승차감을 느낄 수 있는 최고의 Family 세단용 타이어</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="K120" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_K120.png" alt="벤투스 스포츠" />
                                                    </div>
                                                    <p class="description">스포츠 드라이빙 매니아들이 가장 많이 선택하는 타이어 </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="K127" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_K127.png" alt="벤투스 프리미엄 스포츠" />
                                                    </div>
                                                    <p class="description">유럽 명차가 선택한 고성능 스포츠 타이어 </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="K127A" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_K127A.png" alt="벤투스 프리미엄 스포츠 SUV" />
                                                    </div>
                                                    <p class="description">유럽 명차가 선택한 SUV 전용 고성능 스포츠 타이어</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RA33" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_RA33.png" alt="다이나프로 컴포트" />
                                                    </div>
                                                    <p class="description">자동차 메이커의 성능 테스트를 통과한 SUV용 순정타이어 </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RA45" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_RA45.png" alt="다이나프로 컴포트" />
                                                    </div>
                                                    <p class="description">강인함과 편안함의 완벽한 밸런스를 갖춘 SUV 전용 타이어</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RF11" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_RF11.png" alt="다이나프로 올 터레인" />
                                                    </div>
                                                    <p class="description">오프로드, 온로드 등 모든 도로에 최적화된 전천후 타이어(추천차종 : 렉스턴스포츠, JEEP랭글러 등 다이나믹 주행을 원하는 SUV, 픽업트럭)</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="RH17" class="goods-img" />
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model">
                                                        <img src="mc-static-root/images/event/20210316/product/name_RH17.png" alt="벤투스 프리미엄 컴포트 SUV" />
                                                    </div>
                                                    <p class="description">고속주행에서 느끼는 Comfort Technology SUV 타이어</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">4개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <!-- // 2021-03-29 -->
                                </div>

                                <!-- 전륜/후륜 동일 2개 구매시 Case -->
                                <div class="event-card-list four-wheel">
                                    
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰가: : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="four_wheel" class="radio-wheel radio-four-wheel">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지.</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰가: : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div>
                                    
                                </div>

                                <!-- 전후륜 다를경우 Case 4개 구매시 -->
                                <!-- 전륜 .front-wheel 후륜 .rear-wheel -->
                                <div class="event-card-list front-wheel">
                                    
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_front" class="radio-wheel radio-group-front">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_front" class="radio-wheel radio-group-front">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지.</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    
                                </div>
                                <!-- 전륜 .front-wheel 후륜 .rear-wheel -->
                                <div class="event-card-list rear-wheel">
                                    
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_rear" class="radio-wheel radio-group-rear">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_rear" class="radio-wheel radio-group-rear">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">25% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰혜택가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                       </label>
                                    </div> 
                                    
                                </div>

                                <!-- 전후륜 다를경우 2개 구매시 Case -->
                                <!-- 전륜 .front-wheel 후륜 .rear-wheel -->
                                <div class="event-card-list front-wheel">
                                    
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_front" class="radio-wheel radio-group-front">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_front" class="radio-wheel radio-group-front">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지.</p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    
                                </div>
                                <!-- 전륜 .front-wheel 후륜 .rear-wheel -->
                                <div class="event-card-list rear-wheel">
                                    
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_rear" class="radio-wheel radio-group-rear">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                        </label>
                                    </div> 
                                    <div class="card">
                                        <label class="radio-item">
                                            <input type="radio" name="radio_group_rear" class="radio-wheel radio-group-rear">
                                            <div class="product-area">
                                                <div class="thumb-wrap">
                                                    <div class="thumb-holder thumb-scaled">
                                                        <img src="mc-static-root/images/event/20210728/emblem_superweek.png" alt="상품 이미지" class="goods-img">
                                                    </div>
                                                </div>
                                                <div class="shadow">
                                                    <div class="brands-logo hk"></div>
                                                    <!-- 0826 div class="discount-badge">최대 50% 할인</div -->
                                                </div>
                                                <div class="description-area">
                                                    <div class="model"><img src="mc-static-root/images/event/20210316/product/name_H462.png" alt=""></div>
                                                    <p class="description">유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. 유럽 명차가 선택한 고성능 컴포트 타이어 최대 2줄 까지. </p>
                                                    <div class="price-wrap">
                                                        <p class="benefit-price txt-12">2개 판매가 : <del class="txt-14">504,000<small class="txt-neutral2 txt-11">원</small></del></p>
                                                        <p class="benefit-price txt-12">20% 쿠폰가 : <span class="txt-primary txt-19">123,456<small class="txt-neutral2 txt-11">원</small></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="icon-holder">
                                                <span class="line-icons circle size-20"></span>
                                            </div>
                                       </label>
                                    </div> 
                                    
                                </div>


                            </div>
                        </div>
                        <!-- .event-familysale END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //layer popup -->


<script>
    var superweekPopup = $('.toggle-control-popup')

    superweekPopup.find('.toggle-control-close').on('click', superweekPopupClose);
    function superweekPopupClose() {        
        superweekPopup.removeClass('on');
        if($('body').hasClass('scroll-lock')) {
            $.Tstation.scrollLock.unLock();   
        }
    }
</script>