<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">
    <div id="contents">
        <div class="page-header">
            <h1>장착 방법 선택</h1>
        </div>

        <div class="order-upper-area mg-t-10u">

            <section class="">
                <div class="section-header">
                    <h3>1. 장착 매장 및 일정</h3>
                </div>

                <div class="container">
                    <table class="order-setting-table">
                        <colspan>
                            <col style="width:120px;"/>
                            <col style="width:calc(50% - 120px);"/>
                            <col style="width:120px;"/>
                            <col style="width:calc(50% - 120px);"/>
                        </colspan>
                        <tbody>
                        <tr>
                            <th><span class="line-40">장착 매장 :</span></th>
                            <td>
                                <!-- 장착매장 선택 전 -->
                                <button type="button" class="btn-item btn-neutral full-w round">
                                    <span class="label-txt txt-16">장착 매장을 선택해 주세요</span>
                                </button>

                                <!-- 장착매장 선택 완료 후 -->
                                <span class="line-40 txt-primary">판교점</span>
                            </td>
                            <td colspan="2" class="txt-right">
                                <button type="button" class="btn-item btn-neutral btn-ol w-130 round">
                                    <span class="label-txt txt-16">다시 선택</span>
                                    <span class="line-icons refresh size-24"></span>
                                </button>
                            </td>
                        </tr>

                        <!-- 입력모드 돌입시 'edit-mode'클래스 추가(보더 컬러 바꾸는 용도) -->
                        <tr class="edit-mode">
                            <th><span class="line-40">장착 일정 :</span></th>
                            <td colspan="2">
                                <!-- 날짜/시간 선택 전 -->
                                <!-- 장착매장 단계 완료전까지 disabled -->
                                <button type="button" class="btn-item btn-neutral full-w round" disabled>
                                    <span class="label-txt txt-16">장착일 및 시간을 선택해 주세요</span>
                                </button>

                                <!-- 날짜/시간 선택 완료 후 -->
                                <span class="line-40 txt-primary">2020. 11. 24(화) / 오전 10시</span>
                            </td>
                            <td class="txt-right">
                                <!-- 입력모드 돌입시 숨김 -->
                                <button type="button" class="btn-item btn-neutral btn-ol w-130 round">
                                    <span class="label-txt txt-16">다시 선택</span>
                                    <span class="line-icons refresh size-24"></span>
                                </button>

                                <!-- 입력모드 돌입시 x버튼 노출 -->
                                <button type="button" class="btn-item btn-neutral btn-inv min-w round">
                                    <span class="line-icons close size-24"></span>
                                </button>
                            </td>
                        </tr>

                        <!-- 입력모드 돌입시 노출 -->
                        <tr>
                            <td colspan="4" class="pd-l-0 pd-v-10u">
                                <div class="schedule-picker">
                                    <!-- 방문날짜 선택 -->
                                    <div class="date-pick-item">
                                        <div class="month-controller">
                                            <!-- 이전달 버튼 -->
                                            <button type="button" class="btn-item btn-neutral btn-inv btn-s min-w round" disabled>
                                                <span class="line-icons chev-left size-24"></span>
                                            </button>

                                            <span class="">2020년 11월</span>

                                            <!-- 다음달 버튼 -->
                                            <button type="button" class="btn-item btn-neutral btn-inv btn-s min-w round">
                                                <span class="line-icons chev-right size-24"></span>
                                            </button>
                                        </div>

                                        <div class="day-controller">
                                            <ul class="d-o-w">
                                                <li>일</li>
                                                <li>월</li>
                                                <li>화</li>
                                                <li>수</li>
                                                <li>목</li>
                                                <li>금</li>
                                                <li>토</li>
                                            </ul>

                                            <ul class="days">
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">1</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">2</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">3</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">4</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">5</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">6</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">7</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">8</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">9</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">10</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">11</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">12</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">13</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">14</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">15</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">16</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">17</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <!-- 오늘: 'today'클래스 추가 -->
                                                    <label class="day-radio-item today">
                                                        <input type="radio" name="day_pick_radio"/>
                                                        <span class="labelling">18</span>
                                                    </label>

                                                    <!-- 오늘서비스 가능할 경우 노출 / 'on'클래스 제거시 숨김 -->
                                                    <div class="today-service-tooltip on" onclick="$(this).removeClass('on');">오늘 장착이 가능합니다.</div>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">19</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">20</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">21</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio"/>
                                                        <span class="labelling">22</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">23</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">24</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">25</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">26</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">27</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">28</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">29</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item">
                                                        <input type="radio" name="day_pick_radio" />
                                                        <span class="labelling">30</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <!-- 다음달이나 이전달이 포함될 경우 'another-month'클래스 추가 / 선택시 해당 달로 이동 -->
                                                    <label class="day-radio-item another-month">
                                                        <input type="radio" name="day_pick_radio"/>
                                                        <span class="labelling">1</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item another-month">
                                                        <input type="radio" name="day_pick_radio" disabled/>
                                                        <span class="labelling">2</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item another-month">
                                                        <input type="radio" name="day_pick_radio"/>
                                                        <span class="labelling">3</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item another-month">
                                                        <input type="radio" name="day_pick_radio"/>
                                                        <span class="labelling">4</span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="day-radio-item another-month">
                                                        <input type="radio" name="day_pick_radio"/>
                                                        <span class="labelling">5</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- 방문시간 선택 -->
                                    <div class="time-pick-item">
                                        <p class="txt-16 txt-w500 line-32">방문 시간을 선택해 주세요.</p>
                                        <p class="txt-neutral2 mg-t-2u">매장에 따라 선택 가능 시간이 다를 수 있습니다.</p>

                                        <ul class="times mg-t-15u">
                                            <li>
                                                <label class="time-item">
                                                    <!-- 예약 가능 시간 input disabled 해제 -->
                                                    <input type="radio" name="timeradio" disabled>
                                                    <span class="label-txt">09시</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="time-item">
                                                    <input type="radio" name="timeradio">
                                                    <span class="label-txt">10시</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="time-item">
                                                    <input type="radio" name="timeradio" disabled>
                                                    <span class="label-txt">11시</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="time-item">
                                                    <input type="radio" name="timeradio">
                                                    <span class="label-txt">13시</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="time-item">
                                                    <input type="radio" name="timeradio" disabled>
                                                    <span class="label-txt">14시</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="time-item">
                                                    <input type="radio" name="timeradio">
                                                    <span class="label-txt">15시</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="time-item">
                                                    <input type="radio" name="timeradio">
                                                    <span class="label-txt">16시</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="time-item">
                                                    <input type="radio" name="timeradio" disabled>
                                                    <span class="label-txt">17시</span>
                                                </label>
                                            </li>
                                        </ul>

                                        <!-- 날짜/시간 선택 전 숨김 -->
                                        <button type="button" class="btn-item btn-neutral w-240 round dp-block mg-h-auto mg-t-15u">
                                            <span class="label-txt txt-16">선택완료</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section class="mg-t-15u">
                <div class="section-header">
                    <h3>2. 방문 방법</h3>

                    <div class="extra">
                        <button type="button" class="btn-item btn-primary btn-s btn-inv filet bg-transparent no-pd" onclick="alert('스마트픽업 안내 팝업 오픈');">
                            <span class="label-txt txt-14">스마트 픽업이 뭐죠?</span>
                            <span class="line-icons info-circle size-20 txt-neutral1"></span>
                        </button>
                    </div>
                </div>
                <!--container-->
                <div class="container mg-t-5u">
                    <ul class="list-size-equal order-visit-type">
                        <li class="pd-r-2u">
                            <label class="radio-item visit-type-radio-item">
                                <input type="radio" name="visit_type_radio" checked>
                                <div class="icon-holder">
                                    <span class="line-icons circle size-20"></span>
                                </div>
                                <div class="labelling">
                                    <p class="label-txt txt-20">직접 방문</p>
                                    <p class="label-txt txt-14 txt-neutral2 mg-t-2u">장착점에 직접 방문합니다</p>
                                </div>
                                <div class="pictogram-holder"></div>
                            </label>
                        </li>

                        <li class="pd-l-2u">
                            <label class="radio-item visit-type-radio-item">
                                <input type="radio" name="visit_type_radio">
                                <div class="icon-holder">
                                    <span class="line-icons circle size-20"></span>
                                </div>
                                <div class="labelling">
                                    <p class="label-txt txt-20">스마트 픽업</p>
                                    <p class="label-txt txt-14 txt-neutral2 mg-t-2u">픽업 & 딜리버리를 이용합니다</p>
                                </div>
                                <div class="pictogram-holder"></div>
                            </label>
                        </li>
                    </ul>

                    <!-- 스마트 픽업 선택시 노출 -->
                    <div class="container mg-t-4u">
                        <div class="section-header border-light">
                            <h4>선택서비스 :</h4>
                            <div class="dp-inblock line-24 txt-0 v-middle mg-l-5u">
                                <span class="dp-inblock line-20 txt-18 v-middle">픽업</span>
                                <span class="dp-inblock line-20 txt-18 v-middle mg-h-2u">/</span>
                                <!-- 비활성: 'txt-neutral4'클래스 추가 -->
                                <span class="dp-inblock line-20 txt-18 v-middle txt-neutral3">딜리버리</span>
                            </div>

                            <!-- 최초 노출 안함 / 선택완료 후 노출 -->
                            <div class="extra">
                                <button type="button" class="btn-item btn-neutral btn-ol w-130 round">
                                    <span class="label-txt txt-16">다시 선택</span>
                                    <span class="line-icons refresh size-24"></span>
                                </button>
                            </div>
                        </div>


                        <!-- 입력모드 -->
                        <ul class="list-size-flex mg-t-5u">
                            <li class="pd-r-5u">
                                <dl class="list-size-full smart-pickup-place">
                                    <dt class="clearfix">
                                        <h5>픽업</h5>
                                    </dt>
                                    <dd onclick="alert('주소 검색 팝업 오픈');">
                                        <!-- 디폴트: 'txt-neutral3'클래스 추가(흐린색) / 선택후: 'txt-neutral3'클래스 제거(진한색) -->
                                        <!-- <p class="line-20 txt-16 txt-neutral3">픽업 위치를 선택해 주세요</p> -->
                                        <p class="line-20 txt-16">경기도 성남시 중원구 성남대로 1148번길 2층 중원구 성남대로 1148번길 2층</p>
                                    </dd>
                                </dl>
                                <div class="container clearfix mg-t-1u">
                                    <button type="button" class="btn-item btn-primary btn-s btn-inv filet bg-transparent no-pd float-l" onclick="alert('이전 주소 팝업 오픈');">
                                        <span class="label-txt txt-14">이전 주소 불러오기</span>
                                        <span class="line-icons chev-right size-20"></span>
                                    </button>

                                    <label class="check-item txt-right float-r">
                                        <input type="checkbox">
                                        <div class="icon-holder">
                                            <span class="line-icons square size-20"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u">딜리버리 주소와 동일</span>
                                        </div>
                                    </label>
                                </div>
                            </li>
                            <li class="pd-l-5u border-l">
                                <dl class="list-size-full smart-pickup-place">
                                    <dt class="clearfix">
                                        <h5>딜리버리</h5>
                                    </dt>
                                    <dd onclick="alert('주소 검색 팝업 오픈');">
                                        <!-- 디폴트: 'txt-neutral3'클래스 추가(흐린색) / 선택후: 'txt-neutral3'클래스 제거(진한색) -->
                                        <p class="line-20 txt-16 txt-neutral3">딜리버리 위치를 선택해 주세요</p>
                                        <!-- <p class="line-20 txt-16">경기도 성남시 중원구 성남대로 1148번길 2층</p> -->
                                    </dd>
                                </dl>
                                <div class="container clearfix mg-t-1u">
                                    <button type="button" class="btn-item btn-primary btn-s btn-inv filet bg-transparent no-pd float-l" onclick="alert('이전 주소 팝업 오픈');">
                                        <span class="label-txt txt-14">이전 주소 불러오기</span>
                                        <span class="line-icons chev-right size-20"></span>
                                    </button>

                                    <label class="check-item txt-right float-r">
                                        <input type="checkbox">
                                        <div class="icon-holder">
                                            <span class="line-icons square size-20"></span>
                                        </div>
                                        <div class="labelling">
                                            <span class="label-txt mg-h-1u">픽업 주소와 동일</span>
                                        </div>
                                    </label>
                                </div>
                            </li>
                        </ul>

                        <div class="container txt-0 txt-center mg-t-10u">
                            <button type="button" class="btn-item btn-neutral w-240 round">
                                <span class="label-txt txt-16">선택완료</span>
                            </button>
                        </div>

                        <!-- 입력완료 후 -->
                        <ul class="list-size-flex mg-t-5u">
                            <li class="pd-r-5u">
                                <span class="line-40 txt-18">픽업 :</span>
                                <span class="line-40 txt-16 mg-l-5u">경기도 성남시 중원구 성남대로 1148번길 2층</span>
                            </li>
                            <li class="pd-l-5u border-l">
                                <span class="line-40 txt-18">딜리버리 :</span>
                                <span class="line-40 txt-16 mg-l-5u">선택 안함</span>
                            </li>
                        </ul>

                    </div>
                </div>
                <!--//container-->
            </section>

            <section class="mg-t-20u">
                <ul class="list-size-flex install-method-summary">
                    <li>
                                <span>
                                    <small>장착매장</small>
                                    <!-- <em>장착 매장을 선택해 주세요.</em> -->
                                    <em>판교점</em>
                                 </span>
                    </li>
                    <li>
                                <span>
                                    <small>장착 일정</small>
                                    <!-- <em>장착 일정을 선택해 주세요.</em> -->
                                    <em>2020-11-03(화) 13시</em>
                                </span>
                    </li>
                    <li>
                                <span>
                                    <small>픽업</small>
                                    <!-- <em>선택 안함</em> -->
                                    <em class="txt-16">경기도 성남시 중원구 성남대로 1148번길 2층</em>
                                </span>
                    </li>
                    <li>
                                <span>
                                    <small>딜리버리</small>
                                    <em>선택 안함</em>
                                    <!-- <em class="txt-16">경기도 성남시 중원구 성남대로 1148번길 2층</em> -->
                                </span>
                    </li>
                </ul>

                <!--container : button-->
                <div class="container txt-0 txt-center mg-t-10u">
                    <button type="button" class="btn-item btn-neutral btn-l w-320 round">
                        <span class="label-txt txt-16">상품 검색하러 가기</span>
                    </button>
                </div>
                <!--//container : button-->
            </section>
        </div>

    </div>
</div>