<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="order" style="min-height: 497px;">
    <div id="contents">
        <div class="page_tit">
            <h4>주문실패</h4>
        </div>
        <div class="order_fail">
            <p class="nodata">주문(결제)가 <em>실패</em>하였습니다.</p>
            <p class="txt02">주문 생성 중 오류가 발생하였습니다.</p>

            <a href="#" class="btnM2 btnS07">장바구니</a>
        </div>
    </div>
</div>