<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">


    <!-- .item-detail start //-->
    <div class="item-detail">
        <!-- .item-section start // -->
        <div class="item-section guardrail">
            <!-- .item-thumb-wrap start-->
            <div class="item-thumb-wrap">
                <div class="sticky-wrap">
                    <div class="item-img">
                        <!-- TODO: 블랙 딜 상품일 경우 노출 -->
                        <div class="dealtime-wrap">
                            <div class="info">
                                <span class="label-txt">오늘마감!</span>
                                <span class="line-icons clock size-32"></span>
                                <span class="count">18:00:32</span>
                                남음
                            </div>
                        </div>
                        <div class="img">
                            <div class="badg-wrap">
                                <span class="badg new"></span>
                                <span class="badg best"></span>
                            </div>
                            <img src="pc-static-root/images/common/sample/@detail_thumb.png" alt="">
                        </div>
                        <div class="brand-wrap">
                            <!-- 20220629 // -->
                            <span class="brands-logo lf"></span>
                            <!-- // 20220629 -->
                        </div>
                        <div class="overlap-status" style="display: none;">
                            <div class="overlap-status-inner">
                                <span class="btn-item btn-neutral btn-xl round status"><span class="label-txt">일시품절</span></span><!-- 202012 pub fixed -->
                            </div>
                        </div>
                    </div>
                    <div class="item-benefit">
                        <div class="benefit safe tooltip-container right">
                            <span>안심 서비스</span>
                            <div class="tooltip">
                                <div class="tooltip-header">
                                    <p>안심 서비스</p>
                                </div>
                                <div class="tooltip-body">
                                    <p>구매 후 1년 그리고 1만 6천킬로미터 이내 주행 중 발생한 타이어 파손 건에 대해 동일 타이어로 보상해주는 서비스입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="benefit hotel tooltip-container right">
                            <span>호텔 서비스</span>
                            <div class="tooltip">
                                <div class="tooltip-header">
                                    <p>호텔 서비스</p>
                                </div>
                                <div class="tooltip-body">
                                    <p>타이어를 안심하고 보관할 수 있는 보관 서비스로 겨울용 타이어를 구매시 기존 타이어를 보관해주는 서비스입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="benefit reservation tooltip-container right">
                            <span>예약 상품</span>
                        </div>
                    </div>
                    <div class="item-thumb-foot">
                        <div class="star-wrap">
                            상품평
                            <span class="rating-star">
                            <span class="star"></span>
                            <span class="override" style="width: 90%"></span>
                        </span>
                            <span class="score">4.5점</span>
                            <span class="count">(10)</span>
                        </div>
                        <ul class="share-list">
                            <li class="items">
                                <a href="#none" class="sns_link kakao"><span class="blind">카카오톡</span></a>
                            </li>
                            <li class="items">
                                <a href="#none" class="sns_link naver"><span class="blind">네이버</span></a>
                            </li>
                            <li class="items">
                                <a href="#none" class="sns_link facebook"><span class="blind">페이스북</span></a>
                            </li>
                            <li class="items share-icon">
                                <span class="line-icons share size-24"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .item-thumb-wrap end-->
            <!-- .item-info-wrap start -->
            <div class="item-info-wrap">
                <div class="flag-wrap">
                    <em>정숙/승차감 우선</em>
                </div>
                <div class="name-wrap">
                    <h2 class="name">
                        라우펜 S Fit AS
                        <!-- <img src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" /> -->
                    </h2>
                    <!-- <p class="explan">고속 주행에서 느끼는 Comfort Technology</p> -->
                </div>
               
                <div class="most-mounted">
                    <span class="label">최다장착차량</span>
                    <div class="badges">
                        <span class="badge badge-review">현대 그랜저</span>
                        <span class="badge badge-review">벤츠 E클래스</span>
                        <span class="badge badge-review">BMW 5시리즈</span>
                    </div>
                </div>

                <!-- 20220719 // -->
                <p class="txt-14 txt-blue mg-t-2u icon-safeprivacy-info pd-l-6u"><span class="line-icons check-circle-inv size-20"></span>15일 해피보증 프로그램 적용상품입니다.</p>
                <!-- // 20220719 -->

                <div class="banner-goods-detail-wrap mg-t-5u">
                    <!-- 20220629 // -->
                    <a href="#none" data-analytics-click="상품상세 배너 - 프로모션 바로가기"><img src="pc-static-root/images/goods/banner_goodsdetails_laufenn.png" alt=""></span></a>
                    <!-- // 20220629 -->
                </div>
                
                <div class="banner-wrap gold" style="display: none">
                    <a href="#none">
                        <span class="txt">1년~3년이내 생산된 상품 특가판매</span>
                        <span class="img"><img src="pc-static-root/images/common/img_deal_banner.png" alt="" /></span>
                    </a>
                </div>

                <div class="swiper-container order-swiper">
                    <div class="swiper-wrapper">
                    <!-- 일반구매 -->
                        <div class="swiper-slide">
                            <div class="price-wrap">
                                <div class="default-sale">
                                    <div class="headline">시작가</div>
                                    <div class="cell">
                                        <span class="discount">
                                               <em>137,500</em>원 ~
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- 2021-06-24 // -->
                            <div class="price-noti txt-12 txt-neutral3 line-16 pd-h-2u">
                                규격별로 금액이 다를 수 있습니다.<br />내 차에 맞는 타이어 검색 후 정확한 가격을 확인해 주세요.
                            </div>
                            <!-- // 2021-06-24 -->
                            <div class="buy-button-wrap">
                                <button type="button" class="btn-item btn-neutral btn-l full-w round" onclick="searchCar()">
                                    <span class="label-txt">내 차에 장착 가능 여부 확인하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .item-info-wrap end -->
        </div><!-- // .item-section end-->

        <!-- .goods_detail start //-->
        <div class="item-tab-section">
            <div class="goods_detail guardrail tabScript">
                <div class="tablist-wrap">
                    <ul class="tablist" role="tablist">
                        <li class="button-tab active" role="tab">
                            <a href="#none" class="tab-link">상품정보</a>
                        </li>
                        <li class="button-tab" role="tab">
                            <a href="#none" class="tab-link">상품평(<em>99,999+</em>)</a>
                        </li>
                        <li class="button-tab" role="tab">
                            <a href="#none" class="tab-link">타이어 사이즈</a>
                        </li>
                    </ul>
                </div>
                <!-- tab 1. 상품정보 -->
                <div class="tab_cont hidden" id="goodDetail_tab1" style="">
                    <!-- TODO: 특장점 & 기술력 > 상품 상세 정보 > 타이어 구매하기 전 확인 사항 > 상품 정보 제공 고시 -->

                    <!-- 1. 특장점 & 기술력 -->
                    <h6>특장점 &amp; 기술력 </h6>
                    <div class="inner">
                        <ol>
                            <li>눈길 빙판길 성능이 우수한 V자형 바닥면 디자인을 적용한 SUV 겨울용 타이어.</li>
                            <li>스포이트홀을 적용하여 바닥의 수분을 흡수하고 눈 슬러지에서 미끄러짐을 최소화.</li>
                            <li>최적화된 블록 디자인으로 눈길 제동력과 핸들링 성능을 향상.</li>
                        </ol>
                    </div>

                    <!-- 2. 상품 상세 정보 -->
                    <h6>상품상세 정보</h6>
                    <div class="inner pattern">
                        <!-- ckEditor HTML -->
                        <div class="ckEditor">
                            <div style="text-align:center">
                                <img alt="" src="https://po.tstation.com/upload/goods/2020/20200309150305/Winter-icept-X.jpg" style="width: 100%">
                            </div>
                        </div>
                        <!-- //ckEditor HTML -->
                    </div>

                    <!-- 3. 타이어 구매하기전 확인 사항 -->
                    <!-- PC에서 확인할 수 없음 -->

                    <!-- 4. 상품 정보 제공 고시 -->
                    <h6>상품 정보 제공 고시</h6>
                    <div class="inner pattern">
                        <!-- html 등록 영역  -->
                        <ol class="list">
                            <li class="line"><span class="tit">제조사</span> 한국타이어</li>
                            <li><span class="tit">품질 보증</span> 제조상의 과실에 의한 하자가 발생 시 보증 기간내에 있는 제품에 한해서 A/S 처리해드립니다. (제조일로부터 6년 이내, 흠깊이가 20%이상 남은 경우)<br>
                                공정거래위원회 고시(소비자분쟁해결기준)에 의거하여 보상해 드립니다.</li>
                            <li><span class="tit">A/S 문의</span> 080-022-8272 (월~금 오전 9시~오후 4시)</li>
                            <li><span class="tit">특이사항</span> 타이어 구매시 탈부착 및 밸런스 작업은 무료이며, 위치교환, 휠 얼라인먼트, 그 외 서비스에 따른 추가 금액은 매장에서 현장 결제하시면 됩니다.</li>
                            <li><span class="tit">배송/장착</span> 무료 배송, 무료 장착</li>
                            <li><span class="tit">반품/환불</span> 상품의 특성상 장착 이후 반품 및 교환은 불가능합니다.</li>
                        </ol>
                        <!-- //html 등록 영역  -->
                    </div>


                    <div class="vendor-container">
                        <div class="detail-gradient">
                            <button type="button" class="btn-item btn-neutral btn-l btn-ol round">
                                <span class="label-txt">상품 상세 더보기</span>
                                <span class="line-icons chev-down size-24"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- //tab 1. 상품정보 -->
                <!-- tab 2. 상품리뷰 -->
                <div class="tab_cont" id="goodDetail_tab2" style="display: none;">
                    <h6>구매만족도</h6>
                    <div class="review_top">
                        <p class="txt01">
                            총 <em>5명의 고객님</em>이 평가해 주셨습니다.
                        </p>
                        <p class="unitR2">
                            평균별점 <span class="star02 point8"><em>4.4</em></span>
                        </p>
                        <div class="list">
                            <ol>
                                <li>
                                    <span class="tit">승차감</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">연비</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">마일리지</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">고속주행</span>
                                    <span class="star03 point7"><em>3.8</em></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- 상품평  list -->
                    <h6>고객상품평</h6>
                    <div class="review_list" id="prGdasInfoDiv">
                        <ol>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point10"><em>5.0</em></span>
                                    <span class="tire">
                                        쌍용&nbsp;CVS 고급형 M/T,CVS 고급형 M/T&nbsp;코란도
                                        <em>225/60R17</em>
                                    </span>
                                    <span class="date"><span>손**</span>2022-07-30</span>
                                </div>
                                <div class="box2">
                                    
                                    <!-- 20220801 // -->
                                    <div class="review-break">
                                        <img
                                            src="pc-static-root/images/common/review/icon_eye_gray.png"
                                            alt="empty review thumb"
                                            class="icon"
                                            style="width: 54px;"
                                            onerror="$.Tstation.imageError({ el: this })"
                                        />
                                        <p class="txt-16">해당 리뷰는 고객님께서 차단한 리뷰입니다</p>
                                        <div class="txt-center">
                                            <img
                                                src="pc-static-root/images/common/review/icon_lock_primary.png"
                                                alt="empty review thumb"
                                                class="icon"
                                                style="width: 40px;"
                                                onerror="$.Tstation.imageError({ el: this })"
                                            />
                                            <div class="mg-t-1u">
                                                <button type="button" class="btn-item btn-xs btn-primary round review-block-cancle" data-analytics-click="리뷰 차단 해제">
                                                    <span class="label-txt">차단 해제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // 20220801 -->

                                    <div class="cont">타이어가 오래되서 이번에 4개 전부 교체했습니다  금호만 쓰다가 한국으로 바꾸고 좀더 급을 올렸는데  아주 만족스럽습니다 승차감 소음 모두 좋아졌네요 강추합니다</div>
                                    <!-- 02. photo & date -->
                                    <div class="photo">
                                        <ol>
                                            <li class="popup-scarce" name="PHOTO" data-rel="/tire/popup/reviewImgView?gdasSeq=12177"><img src="https://po.tstation.com/upload/mypage/activity/goodsReview/12177/1/2022/0730/GoodsReview_182156751.jpg" alt="고객상품평 이미지"></li>
                                            <li class="popup-scarce" name="PHOTO" data-rel="/tire/popup/reviewImgView?gdasSeq=12177"><img src="https://po.tstation.com/upload/mypage/activity/goodsReview/12177/2/2022/0730/GoodsReview_182158292.jpg" alt="고객상품평 이미지"></li>
                                        </ol>
                                    </div>
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                        </ol>
                                    </div>

                                    <!-- 20220801 // -->
                                    <div class="reviewer-control pd-v-3u panel-hidden border-t bg-light1">
                                        <div class="good-checkbox-wrap">
                                            <label class="good-checkbox" id="goodCheckbox" data-analytics-click="리뷰가 도움이 돼요">
                                                <input type="checkbox" class="blind" />
                                                <div class="icon-holder mg-r-1u">
                                                    <span class="icon-good good-count txt-12">17</span>
                                                </div>
                                                <div class="labelling">
                                                    <span class="label-txt mg-h-1u txt-12">이 리뷰가 도움이 돼요</span>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="controlbox-list-wrap">
                                            <button type="button" class="controlbox-toggle" id="controlboxToggle" data-analytics-click="차단하기/신고하기 열기">
                                                <span class="label-txt blind">차단하기/신고하기 열기</span>
                                            </button>
                                            <ul class="controlbox-list" style="display: none;">
                                                <li><button type="button" class="controlbox-button review-declare" id="reviewDeclare" data-analytics-click="신고하기"><span class="label-txt txt-12">신고하기</span></button></li>
                                                <li><button type="button" class="controlbox-button review-block" id="reviewBlock" data-analytics-click="차단하기"><span class="label-txt txt-12">차단하기</span></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="controlbox-panel" style="display: none;">
                                        <h4 class="controlbox-headcopy pd-b-2u border-b">
                                            <p class="headcopy txt-14">신고사유를 알려주세요</p>
                                            <p class="subcopy txt-12 txt-neutral3">신고하신 내용은 관리자 검토 후 조치됩니다.</p>
                                            <button type="button" class="btn-item round btn-inv min-w controlbox-close" id="controlboxClose" data-analytics-click="신고사유 닫기">
                                                <span class="line-icons close size-24"></span>
                                            </button>
                                        </h4>
                                        <ul class="pd-v-3u">
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">저작권 침해, 명예훼손</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio" disabled="">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">개인정보 유출</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">욕설/비방/선정성 등 미풍양속을 해치는 내용</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">광고 및 홍보성 내용</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">해당 상품/매장과 무관한 내용</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">상품/매장과 무관한 사진 첨부</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">잘못된 정보가 포함된 리뷰</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">기타</span>
                                                    </div>
                                                </label>
                                            </li>
                                        </ul>

                                        <div class="form-control">
                                            <label>신고 상세사유를 입력해 주세요 (선택)</label>
                                            <div class="input-group">
                                                <textarea class="input-box" rows="4" placeholder="신고하시는 상세이유를 입력해주세요 (최대글자는 1,000자 입니다)"></textarea>
                                            </div>
                                        </div>
                                        <div class="txt-center mg-t-4u">
                                            <button type="button" class="btn-item btn-neutral btn-ol round pd-h-10u" data-analytics-click="리뷰 신고하기">
                                                <span class="label-txt txt-14">신고하기</span>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- // 20220801 -->
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point9"><em>4.5</em></span>
                                    <span class="tire">
                                        르노코리아&nbsp;TCe 260 RE 시그니처 A/T,TCe 260 RE 시그니처 A/T&nbsp;XM3
                                        <em>215/55R18</em>
                                    </span>
                                    <span class="date"><span>이**</span>2022-07-11</span>
                                </div>
                                <div class="box2">
                                    
                                    <!-- 20220801 // -->
                                    <div class="review-break">
                                        <img
                                            src="pc-static-root/images/common/review/icon_eye_gray.png"
                                            alt="empty review thumb"
                                            class="icon"
                                            style="width: 54px;"
                                            onerror="$.Tstation.imageError({ el: this })"
                                        />
                                        <p class="txt-16">해당 리뷰는 고객님께서 차단한 리뷰입니다</p>
                                        <div class="txt-center">
                                            <img
                                                src="pc-static-root/images/common/review/icon_lock_primary.png"
                                                alt="empty review thumb"
                                                class="icon"
                                                style="width: 40px;"
                                                onerror="$.Tstation.imageError({ el: this })"
                                            />
                                            <div class="mg-t-1u">
                                                <button type="button" class="btn-item btn-xs btn-primary round review-block-cancle" data-analytics-click="리뷰 차단 해제">
                                                    <span class="label-txt">차단 해제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- // 20220801 -->

                                    <div class="cont">
                                        한달 정도 사용해 보니 벤투스 S2 AS X 승차감은 좋네요 마일리지는 아직 모르겠고 승차감을 얻은 대신 연비가 조금 줄어들었습니다.  고속주행에서 직선은 무지 좋습니다. 다만 차선변경시 도로에 굴곡(?)이 있을 때 좌우 흔들리는듯 합니다. 새 타이어여서 그런지 좀 더 지켜봐야겠네요.
                                    </div>
                                    <!-- 02. photo & date -->
                                    <div class="photo">
                                        <ol>
                                            <li class="popup-scarce" name="PHOTO" data-rel="/tire/popup/reviewImgView?gdasSeq=12120"><img src="https://po.tstation.com/upload/mypage/activity/goodsReview/12120/1/2022/0711/GoodsReview_035457844.jpg" alt="고객상품평 이미지"></li>
                                            <li class="popup-scarce" name="PHOTO" data-rel="/tire/popup/reviewImgView?gdasSeq=12120"><img src="https://po.tstation.com/upload/mypage/activity/goodsReview/12120/2/2022/0711/GoodsReview_035458753.jpg" alt="고객상품평 이미지"></li>
                                            <li class="popup-scarce" name="PHOTO" data-rel="/tire/popup/reviewImgView?gdasSeq=12120"><img src="https://po.tstation.com/upload/mypage/activity/goodsReview/12120/3/2022/0711/GoodsReview_035459907.jpg" alt="고객상품평 이미지"></li>
                                        </ol>
                                    </div>                                    
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>    
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point8"><em>4</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point8"><em>4</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                    
                                    <!-- 20220801 // -->
                                    <div class="reviewer-control pd-v-3u panel-hidden border-t bg-light1">
                                        <div class="good-checkbox-wrap">
                                            <label class="good-checkbox" id="goodCheckbox" data-analytics-click="리뷰가 도움이 돼요">
                                                <input type="checkbox" class="blind" />
                                                <div class="icon-holder mg-r-1u">
                                                    <span class="icon-good good-count txt-12">17</span>
                                                </div>
                                                <div class="labelling">
                                                    <span class="label-txt mg-h-1u txt-12">이 리뷰가 도움이 돼요</span>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="controlbox-list-wrap">
                                            <button type="button" class="controlbox-toggle" id="controlboxToggle" data-analytics-click="차단하기/신고하기 열기">
                                                <span class="label-txt blind">차단하기/신고하기 열기</span>
                                            </button>
                                            <ul class="controlbox-list" style="display: none;">
                                                <li><button type="button" class="controlbox-button review-declare" id="reviewDeclare" data-analytics-click="신고하기"><span class="label-txt txt-12">신고하기</span></button></li>
                                                <li><button type="button" class="controlbox-button review-block" id="reviewBlock" data-analytics-click="차단하기"><span class="label-txt txt-12">차단하기</span></button></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="controlbox-panel" style="display: none;">
                                        <h4 class="controlbox-headcopy pd-b-2u border-b">
                                            <p class="headcopy txt-14">신고사유를 알려주세요</p>
                                            <p class="subcopy txt-12 txt-neutral3">신고하신 내용은 관리자 검토 후 조치됩니다.</p>
                                            <button type="button" class="btn-item round btn-inv min-w controlbox-close" id="controlboxClose" data-analytics-click="신고사유 닫기">
                                                <span class="line-icons close size-24"></span>
                                            </button>
                                        </h4>
                                        <ul class="pd-v-3u">
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">저작권 침해, 명예훼손</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio" disabled="">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">개인정보 유출</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">욕설/비방/선정성 등 미풍양속을 해치는 내용</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">광고 및 홍보성 내용</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">해당 상품/매장과 무관한 내용</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">상품/매장과 무관한 사진 첨부</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">잘못된 정보가 포함된 리뷰</span>
                                                    </div>
                                                </label>
                                            </li>
                                            <li class="">
                                                <label class="radio-item">
                                                    <input type="radio" name="test_radio">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-20"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt mg-h-1u txt-12 txt-neutral2">기타</span>
                                                    </div>
                                                </label>
                                            </li>
                                        </ul>

                                        <div class="form-control">
                                            <label>신고 상세사유를 입력해 주세요 (선택)</label>
                                            <div class="input-group">
                                                <textarea class="input-box" rows="4" placeholder="신고하시는 상세이유를 입력해주세요 (최대글자는 1,000자 입니다)"></textarea>
                                            </div>
                                        </div>
                                        <div class="txt-center mg-t-4u">
                                            <button type="button" class="btn-item btn-neutral btn-ol round pd-h-10u" data-analytics-click="리뷰 신고하기">
                                                <span class="label-txt txt-14">신고하기</span>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- // 20220801 -->

                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="btn01" id="moreDiv" style="display:none;">
                        <button class="btnM2 btnS03">더 보기</button>
                    </div>
                    <!-- //상품평  list -->
                </div>
                <!-- //tab 2. 상품리뷰 -->
                <!-- tab 3. 타이어 사이즈 -->
                <div class="tab_cont" id="goodDetail_tab3" style="display: none;">
                    ...
                </div>
                <!-- //tab 3. 타이어 사이즈 -->
            </div>
        </div>
        <!-- // .goods_detail end-->
        <!-- .item-related-section start // -->
        <div class="item-related-section">
            <div class="next-product-wrap">
                <a class="#none">
                    <div class="noproduct">
                        <img src="pc-static-root/images/common/bg_nogoods.png" />
                        <p class="copy">티스테이션에서 경정비 상품 쇼핑하기</p>
                        <p class="more-link"><span class="typo">내 차에 맞는 경정비 상품 보러가기</span><span class="line-icons chev-right size-24"></span></p>
                    </div>
                </a>
            </div>
            <div class="headcopy-wrap guardrail ">
                <h2 class="headcopy">이 상품은 어때요?</h2>
                <h3 class="subcopy">내 차에 맞는 상품을 추천합니다</h3>
            </div>
            <div class="item-list-wrap">
                <div class="guardrail">
                    <div class="swiper-container related-swiper-wrap">
                        <ul class="swiper-wrapper list-size-full main-time-deal-list">
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn-item btn-swiper-nav btn-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"><i class="dark"></i></button>
                    <button type="button" class="btn-item btn-swiper-nav btn-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"><i class="dark"></i></button>
                </div>
            </div>
        </div><!-- // .item-related-section end-->

        <script>
            /**
             * 팝업
             */
            var popupTemplate = {
                // 01. 스마트 페이 구매는 로그인 필요
                requireSignIn: '<p class="txt-center txt-neutral2">\n' +
                  '    <em class="txt-w500 txt-neutral1">스마트 페이</em> 구매는 티스테이션 회원에게 한하여 제공되는 서비스 입니다.<br />로그인 화면으로 이동하시겠습니까?\n' +
                  '</p>',

                // 02. 상품 구매 확인
                confirmBuy: '<p class="txt-center txt-neutral2">\n' +
                  '    <em class="txt-w500 txt-neutral1">Ventus S2 AS</em> 상품을 <em class="txt-w500 txt-neutral1">1개</em><br />구매하시겠습니까?\n' +
                  '</p>',

                // 03. 장바구니 담기 컨펌
                shoppingCartConfirm: '<p class="txt-center txt-neutral2">\n' +
                  '  <em class="txt-w500 txt-neutral1">1개</em>의 수량을 장바구니에 담겠습니까?\n' +
                  '</p>',

                // 04. 장바구니 담기 성공
                shoppingCartSuccess: '<p class="txt-center">선택한 상품이 장바구니에 담겨있습니다.</p>',

                // 05. 내 차에 장착 가능 여부 확인
                checkAbleMyCar: '<p class="txt-center txt-16">\n' +
                  '    <span class="line-icons error-circle size-48 txt-primary mg-b-2u"></span><br />\n' +
                  '    검색하신 차량은 해당 상품을 장착 할 수 없습니다.\n' +
                  '</p>\n' +
                  '<p class="txt-center txt-neutral2 mg-t-8u pd-t-4u border-t">\n' +
                  '    검색 차량에 적합한 상품을 보시겠습니까?\n' +
                  '</p>',

                // 06. 재입고 알림
                restock: '<p class="txt-center txt-16">\n' +
                  '    <span class="line-icons check-circle size-48 txt-primary mg-b-2u"></span><br>\n' +
                  '    재입고 알림 신청 되었습니다.\n' +
                  '</p>\n' +
                  '<p class="txt-center txt-neutral2 mg-t-8u pd-t-4u border-t">\n' +
                  '    재입고 알림은 <em class="txt-w500 txt-neutral1">마이페이지 > 재입고알림</em>에서 확인 가능합니다.\n' +
                  '</p>',

                // 07. 스마트 페이
                smartPay: '<div class="smart-pay-info-popup">\n' +
                  '                                <section class="txt-center pd-t-5u">\n' +
                  '                                    <img src="pc-static-root/images/common/smart_pay_logo.svg" class="smart-pay-img" title="스마트페이" />\n' +
                  '\n' +
                  '                                    <div class="container txt-16 txt-neutral2 mg-t-4u">\n' +
                  '                                        <span class="dp-inblock"><em class="txt-yellow txt-w700">#</em>월납입 <em class="txt-neutral1">1만7천원부터</em></span>\n' +
                  '                                        <span class="dp-inblock"><em class="txt-yellow txt-w700">#</em>할부수수료 <em class="txt-neutral1">0원</em></span><br>\n' +
                  '                                        <span class="dp-inblock"><em class="txt-yellow txt-w700">#</em><em class="txt-neutral1">추가쿠폰</em>증정</span>\n' +
                  '                                    </div>\n' +
                  '\n' +
                  '                                    <h4 class="txt-18 txt-w500 mg-t-2u">타이어, 더 가볍게 구매하세요!</h4>\n' +
                  '                                </section>\n' +
                  '                                <section class="mg-t-6u">\n' +
                  '                                    <div class="section-header">\n' +
                  '                                        <span class="numbering">01</span>\n' +
                  '                                        <h4 class="txt-16 txt-w500 mg-t-3u">4개 구매 시 12/24개월 무이자할부 혜택</h4>\n' +
                  '                                    </div>\n' +
                  '                                    <p class="txt-neutral2 txt-center mg-t-2u">타이어 구매 시 할부수수료 부담 없이,<br>무이자 할부로 결제하세요.</p>\n' +
                  '                                </section>\n' +
                  '                                <section class="mg-t-6u">\n' +
                  '                                    <div class="section-header">\n' +
                  '                                        <span class="numbering">02</span>\n' +
                  '                                        <h4 class="txt-16 txt-w500 mg-t-3u">펑크/위치교환 서비스 쿠폰 증정</h4>\n' +
                  '                                    </div>\n' +
                  '                                    <p class="txt-neutral2 txt-center mg-t-2u">스마트페이로 결제한 회원에 한하여<br>펑크/위치교환 쿠폰을 제공해드립니다.</p>\n' +
                  '                                </section>\n' +
                  '                                <section class="border-all bg-light1 bg-filet-4 pd-v-3u pd-h-3u mg-t-10u">\n' +
                  '                                    <ul class="list-style-disc txt-12 txt-neutral2">\n' +
                  '                                        <li>\n' +
                  '                                            스마트페이 결제 카드 : KB국민/신한/비씨/현대/삼성/씨티 카드\n' +
                  '                                            <p>체크/법인(기업)/선불카드는 스마트페이 결제가 불가합니다.</p>\n' +
                  '                                            <p>BC카드 3종(KB국민, 기업, 신한은)은 스마트페이 24개월 결제가 불가합니다.</p>\n' +
                  '                                        </li>\n' +
                  '                                        <li>사용조건 : 타이어 4개 구매 시 (할부 12/24개월 중 선택)</li>\n' +
                  '                                        <li>\n' +
                  '                                            펑크/위치교환 쿠폰 사용 조건\n' +
                  '                                            <p>- 스마트페이 구매 차량(타이어)에 한하여 적용 가능</p>\n' +
                  '                                            <p>- 티스테이션 멤버십 매장에서만 사용 가능</p>\n' +
                  '                                            <p>- 구매 후 1년 1장씩, 총 2장 지급(기간 경과 후 사용 불가)</p>\n' +
                  '                                        </li>\n' +
                  '                                    </ul>\n' +
                  '                                </section>\n' +
                  '                            </div>',
            }
            var callPopup = {
                // 01. 스마트 페이 구매는 로그인 필요
                requireSignIn: function () {
                    $.Tstation.popup().open({
                        ref: 'require-sign-in',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.requireSignIn, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('require-sign-in')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 로그인 페이지로 이동
                                        $.Tstation.popup().close('require-sign-in')
                                        window.location.href = ''
                                    }
                                }
                            ]
                        }
                    })
                },

                // 02. 상품 구매 확인
                confirmBuy: function () {
                    $.Tstation.popup().open({
                        ref: 'confirm-buy',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.confirmBuy, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('confirm-buy')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 구매 프로세스 진행
                                        $.Tstation.popup().close('confirm-buy')
                                        alert('구매 프로세스 진행')
                                    }
                                }
                            ]
                        }
                    })
                },

                // 03. 장바구니 담기 컨펌
                shoppingCartConfirm: function () {
                    $.Tstation.popup().open({
                        ref: 'shopping-cart-confirm',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.shoppingCartConfirm, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('shopping-cart-confirm')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 장바구니 담기 프로세스 진행
                                        $.Tstation.popup().close('shopping-cart-confirm')
                                        alert('장바구니 담기 프로세스 진행')
                                        callPopup.shoppingCartSuccess();
                                    }
                                }
                            ]
                        }
                    })
                },

                // 04. 장바구니 담기 성공
                shoppingCartSuccess: function () {
                    $.Tstation.popup().open({
                        ref: 'shopping-cart-success',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.shoppingCartSuccess, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        $.Tstation.popup().close('shopping-cart-success')
                                    }
                                }
                            ]
                        }
                    })
                },

                // 05. 내 차에 장착 가능 여부 확인
                checkAbleMyCar: function () {
                    $.Tstation.popup().open({
                        ref: 'check-able-my-car',
                        title: '내 차에 장착 가능 여부 확인',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.checkAbleMyCar, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        full: true, // Full Popup
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('check-able-my-car')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 검색 차량에 적합한 상품 보기 프로세스 진행
                                        $.Tstation.popup().close('check-able-my-car')
                                        window.location.href = ''
                                    }
                                }
                            ]
                        }
                    })
                },

                // 06. 재입고 알림
                restock: function () {
                    $.Tstation.popup().open({
                        ref: 'restock',
                        title: '재입고 알림',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.restock, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        full: true, // Full Popup
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        $.Tstation.popup().close('restock')
                                    }
                                }
                            ]
                        }
                    })
                },

                // 07. 스마트 페이
                smartPay: function () {
                    $.Tstation.popup().open({
                        ref: '',
                        title: '스마트페이 안내',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.smartPay, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        full: true, // Full Popup
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '확인',
                                    negative: false,
                                    action: '$.Tstation.popup().close()'
                                }
                            ]
                        }
                    })
                },
            }

            /**
             * 화면 인터렉션 관련
             */
            // 일반구매, 스마트페이 인터렉션
            if (typeof document.querySelector('.order-swiper') !== 'undefined' && document.querySelector('.order-swiper') !== null) {
                // if (document.querySelector())
                var orderSwiper = new Swiper('.order-swiper', {
                    touchRatio: 0,
                    autoHeight: true
                });
                var orderSwiperSlideTo = function (index) {
                    orderSwiper.slideTo(index);
                };
                orderSwiper.init();
            }


            $(document).ready(function(){
                /* keyVisual sticky scroll */
                $(window).on({
                    'scroll' : function() {
                        var stickyWrap = $('.sticky-wrap')
                        var paymentTop = $('.item-section').offset().top;
                        var maxTop = $('.item-info-wrap').outerHeight() - stickyWrap.outerHeight() + paymentTop;
                        var scrollThis = $(this).scrollTop();

                        if ( paymentTop < scrollThis ) {
                            if (scrollThis < maxTop) {
                                stickyWrap.css({'top' : scrollThis-paymentTop});
                            } else {
                                stickyWrap.css({'top' : maxTop-paymentTop});
                            }
                        } else {
                            stickyWrap.css({'top' : 0});
                        }
                    }
                });

                /* good tablist sticky scroll */
                $(window).on({
                    'scroll' : function() {
                        var tablistPos = $('.tablist-wrap').offset().top;
                        var scrollPos = $(this).scrollTop();

                        if(tablistPos < scrollPos) {
                            $('.tablist').addClass('fixed');
                        } else {
                            $('.tablist').removeClass('fixed');
                        }
                    }
                });

                /* good detail click event hide */
                $('.detail-gradient').find('button').click(function(){
                    var goodDetail = $('#goodDetail_tab1')
                    if(goodDetail.hasClass('hidden')) {
                        goodDetail.removeClass('hidden');
                        goodDetail.find('.vendor-container').hide();
                    }
                });

                /* toogle event */
                $('.toggle-wrap').find('.headline').click(function() {
                    var toggleWrap = $(this).parent('.toggle-wrap');
                    if(toggleWrap.hasClass('active')) {
                        toggleWrap.removeClass('active');
                    } else {
                        toggleWrap.addClass('active');
                    }

                    // 높이 업데이트
                    if (typeof orderSwiper !== 'undefined') {
                        orderSwiper.update();
                    }
                });

                /*  tab function and anchor*/
                $(document).ready(function() {
                    var itemDetail = $('.item-tab-section');
                    var tabButton = itemDetail.find('.tablist > .button-tab');
                    var tabContainer = itemDetail.find('.tab_cont');

                    tabButton.each(function(i) {
                        tabButton.eq(i).click(function(){
                            tabAnchor = itemDetail.find('.tablist-wrap').offset().top;
                            $('html, body').scrollTop(tabAnchor);
                            tabContainer.hide();
                            tabContainer.eq(i).show();
                            tabButton.removeClass('active');
                            tabButton.eq(i).addClass('active');
                        });
                    });
                });

                /* relatedSwiper */
                var relatedCard = $('.related-swiper-wrap .swiper-slide').length;
                if( relatedCard < 4 ){
                    $('.related-swiper-wrap').addClass('no-swipe');
                }else{
                    var mycar_select_swiper = new Swiper('.related-swiper-wrap', {
                        init: false,
                        spaceBetween: 0,
                        slidesPerView: 4,
                        slidesPerGroup: 4,
                        navigation: {
                            nextEl: '.item-related-section .btn-swiper-nav.btn-next',
                            prevEl: '.item-related-section .btn-swiper-nav.btn-prev',
                        },
                    });
                    mycar_select_swiper.init();
                };
            });
        </script>
    </div><!-- // .item-detail end -->
</div>



<script>
/* 20220801// */
$('.controlbox-toggle').each(function(e, i) {
    console.log(e);
    $(i).click(function() {
        console.log(e);
        $(this).next().toggle();
    })
})

$('.review-declare').each(function(e, i) {
    $(i).click(function() {
        $(this).parents('.controlbox-list').hide();
        $(this).parents('.reviewer-control').removeClass('panel-hidden').next().show();  
        $(".modal-scroller").stop().animate({scrollTop:$(window).outerHeight()}, {duration:300, easing:"linear"});
    })  
})

$('.controlbox-close').each(function(e, i) {
    $(i).click(function() {
        $(this).parents('.controlbox-panel').hide();
        $(this).parents('.controlbox-panel').prev().addClass('panel-hidden');
    })  
}) 

$('.review-block').each(function(e, i) {
    var reviewBlock = false
    $(i).click(function() {
        reviewBlock = true
        if(reviewBlock) {
            $(this)
                .parents('.reviewer-control')
                .addClass('panel-hidden')
                .next()
                .hide();  
            $(this)
                .parents('.reviewer-control')
                .prevAll('.review-break')
                .addClass('active')
                .parent()
                .addClass("block-height-fix");
            alert("리뷰어 차단이 완료되었습니다.");
        }

        $(this).parents('.controlbox-list').hide();
    })  
})  

$('.review-block-cancle').each(function(e, i) {
    $(i).click(function() {
        $(this)
            .parents('.review-break')
            .removeClass('active')
            .parent()
            .removeClass("block-height-fix");
        alert("리뷰어 차단이 해제되었습니다.");
    })
})
/* //20220801 */
</script>