<% locals.setLayout('src/project/desktop/includes/layouts/base.ejs') -%>
<% locals.block('title', '타이어 쇼핑은 T\'Station.com') -%>

<%# Include %>
<div id="container" class="">


    <!-- .item-detail start //-->
    <div class="item-detail">
        <!-- .item-section start // -->
        <div class="item-section guardrail">
            <!-- .item-thumb-wrap start-->
            <div class="item-thumb-wrap">
                <div class="sticky-wrap">
                    <div class="item-img">
                        <!-- TODO: 블랙 딜 상품일 경우 노출 -->
                        <div class="dealtime-wrap">
                            <div class="info">
                                <span class="label-txt">오늘마감!</span>
                                <span class="line-icons clock size-32"></span>
                                <span class="count">18:00:32</span>
                                남음
                            </div>
                        </div>
                        <div class="img">
                            <div class="badg-wrap">
                                <span class="badg new"></span>
                                <span class="badg best"></span>
                            </div>
                            <img src="pc-static-root/images/common/sample/@detail_thumb.png" alt="">
                        </div>
                        <div class="brand-wrap">
                            <span class="brands-logo hk"></span>
                        </div>
                        <div class="overlap-status">
                            <div class="overlap-status-inner">
                                <span class="btn-item btn-neutral btn-xl round status"><span class="label-txt">일시품절</span></span><!-- 202012 pub fixed -->
                            </div>
                        </div>
                    </div>
                    <div class="item-benefit">
                        <div class="benefit safe tooltip-container right">
                            <span>안심 서비스</span>
                            <div class="tooltip">
                                <div class="tooltip-header">
                                    <p>안심 서비스</p>
                                </div>
                                <div class="tooltip-body">
                                    <p>구매 후 1년 그리고 1만 6천킬로미터 이내 주행 중 발생한 타이어 파손 건에 대해 동일 타이어로 보상해주는 서비스입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="benefit hotel tooltip-container right">
                            <span>호텔 서비스</span>
                            <div class="tooltip">
                                <div class="tooltip-header">
                                    <p>호텔 서비스</p>
                                </div>
                                <div class="tooltip-body">
                                    <p>타이어를 안심하고 보관할 수 있는 보관 서비스로 겨울용 타이어를 구매시 기존 타이어를 보관해주는 서비스입니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="benefit reservation tooltip-container right">
                            <span>예약 상품</span>
                        </div>
                    </div>
                    <div class="item-thumb-foot">
                        <div class="star-wrap">
                            상품평
                            <span class="rating-star">
                            <span class="star"></span>
                            <span class="override" style="width: 90%"></span>
                        </span>
                            <span class="score">4.5점</span>
                            <span class="count">(10)</span>
                        </div>
                        <ul class="share-list">
                            <li class="items">
                                <a href="#none" class="sns_link kakao"><span class="blind">카카오톡</span></a>
                            </li>
                            <li class="items">
                                <a href="#none" class="sns_link naver"><span class="blind">네이버</span></a>
                            </li>
                            <li class="items">
                                <a href="#none" class="sns_link facebook"><span class="blind">페이스북</span></a>
                            </li>
                            <li class="items share-icon">
                                <span class="line-icons share size-24"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .item-thumb-wrap end-->
            <!-- .item-info-wrap start -->
            <div class="item-info-wrap">
                <div class="flag-wrap">
                    <em>정숙/승차감 우선</em>
                </div>
                <div class="name-wrap">
                    <!-- TODO: 직관정 네이밍 규칙 -->
                    <h2 class="name">
                        <img src="pc-static-root/images/common/sample/DPN_ventus_s2_as.png" alt="" />
                    </h2>
                    <!-- TODO: 일반 네이밍 규칙 -->
                    <!--<h2 class="name">MICHELIN PRIMACY A/S</h2>-->
                    <p class="explan">유럽에서 인정받은 겨울철 고성능 퍼포먼스 타이어</p>
                </div>
                <div class="size-wrap">
                    <span class="size">225/40R18</span>
                        <span class="tag-wrap">
                        <span class="tag">승용차</span>
                        <span class="tag">사계절</span>
                        <span class="tag">런플렛</span>
                    </span>
                </div>
                <!-- 20220719 // -->
                <p class="txt-14 txt-blue mg-t-4u icon-safeprivacy-info pd-l-6u"><span class="line-icons check-circle-inv size-20"></span>15일 해피보증 프로그램 적용상품입니다.</p>
                <!-- // 20220719 -->
                <div class="smartpay-wrap">
                    무이자 할부
                    <button class="smartpay-button" onclick="callPopup.smartPay();">
                        <span class="blind">스마트페이란?</span>
                        <span class="line-icons info-circle size-20"></span>
                    </button>
                </div>
                <div class="tabs list-size-equal">
                    <div class="tabs-inner">
                        <button class="tabs-item on" onclick="orderSwiperSlideTo(0)">
                            <span class="label">일반구매</span>
                        </button>
                        <button class="tabs-item" onclick="orderSwiperSlideTo(1)">
                            <span class="label">스마트페이</span>
                        </button>
                    </div>
                </div>

                <div class="swiper-container order-swiper">
                    <div class="swiper-wrapper">
                        <!-- 일반구매 -->
                        <div class="swiper-slide">
                            <div class="price-wrap">
                                <div class="default-sale">
                                    <div class="headline">판매가</div>
                                    <div class="cell">
                                    <span class="discount">
                                        <em>169,400</em>원
                                    </span>
                                    </div>
                                </div>
                                <div class="toggle-wrap active">
                                    <div class="headline">할인혜택</div>
                                    <div class="content">
                                        <div class="rowgroup">
                                            <div class="rowheader">쿠폰적용가</div>
                                            <div class="cell">
                                            <span class="discount">
                                                <em>152,500</em>원
                                            </span>
                                                <del>
                                                    <span class="blind">할인 전 가격</span>
                                                    <span>169,400</span>원
                                                </del>
                                                <!-- TODO: 쿠폰 다운로드가 완료 되면 class > downloaded, attr > disabled를 추가해 주세요 -->
                                                <button type="button" class="btn-item btn-neutral btn-s btn-ol round coupon downloaded" disabled>
                                                    <span class="label-txt">상품할인 쿠폰</span>
                                                    <span class="line-icons download size-20 before"></span>
                                                    <span class="line-icons check size-20 after"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="rowgroup">
                                            <div class="rowheader">쿠폰적용가</div>
                                            <div class="cell">
                                            <span class="discount">
                                                <em>144,900</em>원
                                            </span>
                                                <del>
                                                    <span class="blind">할인 전 가격</span>
                                                    <span>152,500</span>원
                                                </del>
                                                <!-- TODO: 쿠폰 다운로드가 완료 되면 class > downloaded, attr > disabled를 추가해 주세요 -->
                                                <button type="button" class="btn-item btn-neutral btn-s btn-ol round coupon">
                                                    <span class="label-txt">멤버십 쿠폰</span>
                                                    <span class="line-icons download size-20 before"></span>
                                                    <span class="line-icons check size-20 after"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="rowgroup">
                                            <div class="rowheader">배송/장착비</div>
                                            <div class="cell">
                                            <span class="discount">
                                                <em>무료</em>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="discount-sale">
                                    <div class="headline">총 할인가</div>
                                    <div class="cell">
                                    <span class="discount">
                                        <em class="txt-primary">-16,900</em>원
                                    </span>
                                    </div>
                                </div>
                                <!-- TODO: 사용자가 사용 가능한 쿠폰이 없을 경우 -->
                                <!--<div class="buy-option">
                                    <div class="order clear">
                                        <div class="float-l">
                                            <span class="label-title">주문수량</span>
                                            <span class="form-control-number mg-r-1u">
                                                <input type="number" value="4" max="4" min="1" step="1">
                                                <button class="control control-decrease">
                                                    <span class="line-icons remove-circle size-28"></span>
                                                </button>
                                                <span class="label">
                                                    <span class="count">4</span>개
                                                </span>
                                                <button class="control control-increase disabled">
                                                    <span class="line-icons add-circle size-28"></span>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="float-r">
                                            <div class="total-price">
                                                <div class="line-40">
                                                    <span class="price-info">총 상품합계</span>
                                                    <span class="price width-140"><em>677,600</em>원</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="final-price">
                                        <div class="month">
                                            <div class="price dark">
                                                <div class="highlight-container left">
                                                    <span class="txt-16">결제 금액</span>
                                                </div>
                                                <span class="dp-inblock width-140"><em class="txt-primary">579,600</em>원</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!-- TODO: 사용자가 사용 가능한 쿠폰이 남아 있을 경우 -->
                                <div class="buy-option">
                                    <div class="order clear">
                                        <div class="float-l">
                                            <span class="label-title">주문수량</span>
                                            <span class="form-control-number mg-r-1u">
                                            <input type="number" value="4" max="4" min="1" step="1">
                                            <button class="control control-decrease">
                                                <span class="line-icons remove-circle size-28"></span>
                                            </button>
                                            <span class="label">
                                                <span class="count">4</span>개
                                            </span>
                                            <button class="control control-increase disabled">
                                                <span class="line-icons add-circle size-28"></span>
                                            </button>
                                        </span>
                                        </div>
                                        <div class="float-r">
                                            <div class="total-price">
                                                <div class="line-40">
                                                    <span class="price-info">총 상품합계</span>
                                                    <span class="price width-140"><em>677,600</em>원</span>
                                                </div>
                                                <div class="line-40">
                                                    <span class="price-info">최대 혜택가</span>
                                                    <span class="price width-140"><em>579,600</em>원</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="final-price">
                                        <div class="month">
                                            <div class="price dark">
                                                <div class="highlight-container left">
                                                    <span class="txt-16">결제 금액</span>
                                                    <span class="highlight highlight-yellow">적용할 수 있는 쿠폰이 더 있어요!</span>
                                                </div>
                                                <span class="dp-inblock width-140"><em class="txt-primary">610,000</em>원</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buy-button-wrap">
                                <!-- TODO: TYPE-1 > 스마트 페이 -->
                                <button type="button" class="btn-item btn-neutral btn-ol btn-l full-w round" onclick="callPopup.shoppingCartConfirm()">
                                    <span class="label-txt">장바구니</span>
                                </button>
                                <button type="button" class="btn-item btn-neutral btn-l full-w round mg-l-2u" onclick="callPopup.confirmBuy();">
                                    <span class="label-txt">바로구매</span>
                                </button>

                                <!-- TODO: TYPE-2 > 사이즈 정보가 없는 경우 -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled onclick="callPopup.checkAbleMyCar();">
                                    <span class="label-txt">내 차에 장착 가능 여부 확인하기</span>
                                </button>-->

                                <!-- TODO: TYPE-3 > 일시품절 상태 -->
                                <!--<button type="button" class="btn-item btn-primary btn-ol btn-l full-w round" onclick="callPopup.restock();">
                                    <span class="label-txt">재입고 알림 신청</span>
                                </button>-->

                                <!-- TODO: TYPE-4 > 판매종료 -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled>
                                    <span class="label-txt">판매종료</span>
                                </button>-->

                                <!-- TODO: TYPE-5 > 장착점 재고 없음 -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled>
                                    <span class="label-txt"><span class="txt-w500">'매장명'</span>에서는 장착 예약 할 수 없습니다.</span>
                                </button>-->

                                <!-- TODO: TYPE-6 > 딜 종료(재고소진/딜기간 만료) -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled>
                                    <span class="label-txt">딜이 종료되었습니다.</span>
                                </button>-->
                            </div>
                        </div>
                        <!-- 스마트페이 -->
                        <div class="swiper-slide">
                            <div class="price-wrap">
                                <div class="default-sale">
                                    <div class="headline">판매가</div>
                                    <div class="cell">
                                    <span class="discount">
                                        <em>169,400</em>원
                                    </span>
                                    </div>
                                </div>
                                <div class="toggle-wrap active">
                                    <div class="headline">할인혜택</div>
                                    <div class="content">
                                        <div class="rowgroup">
                                            <div class="rowheader">배송/장착비</div>
                                            <div class="cell">
                                            <span class="discount">
                                                <em>무료</em>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="buy-option">
                                    <div class="order clear">
                                        <div class="float-l">
                                        <span class="label-title">
                                            <span class="tooltip-bf-container right">
                                                <span class="line-icons info-circle size-20"></span> 주문수량
                                                <div class="tooltip-bf">
                                                    <div class="tooltip-body">
                                                        <p>스마트 페이 할부는 <strong>타이어 4개 구매</strong>에 한해 적용됩니다.</p>
                                                    </div>
                                                </div>
                                            </span>
                                        </span>
                                            <span class="form-control-number mg-r-1u disabled">
                                            <input type="number" value="4" max="4" min="1" step="1" disabled="">
                                            <button class="control control-decrease">
                                                <span class="line-icons remove-circle size-28"></span>
                                            </button>
                                            <span class="label">
                                                <span class="count">4</span>개
                                            </span>
                                            <button class="control control-increase disabled">
                                                <span class="line-icons add-circle size-28"></span>
                                            </button>
                                        </span>
                                        </div>
                                        <div class="float-r">
                                            <div class="month-radio">
                                                <span class="label-title">할부개월</span>
                                                <label class="radio-item">
                                                    <input type="radio" name="monthly-price" checked="">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-28"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt">12개월<span class="blind">할부</span></span>
                                                    </div>
                                                </label>
                                                <label class="radio-item">
                                                    <input type="radio" name="monthly-price" checked="">
                                                    <div class="icon-holder">
                                                        <span class="line-icons circle size-28"></span>
                                                    </div>
                                                    <div class="labelling">
                                                        <span class="label-txt">24개월<span class="blind">할부</span></span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="total-price">
                                                <span class="price-info">총 상품합계</span>
                                                <span class="price"><em>677,600</em>원</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="final-price">
                                        <div class="month">
                                        <span class="smartpay dp-inblock v-middle mg-r-1u">
                                            <span class="blind">스마트페이</span>
                                        </span>
                                            <span class="dp-inblock v-middle">무이자 월 납입금액</span>
                                            <span class="price">월 <em>25,400</em>원 / <span>24</span>개월</span>
                                        </div>
                                        <div class="descript">
                                            <span class="line-icons coupon size-24"></span>
                                            펑크, 위치교환 <strong>무료쿠폰 지급! ( 2장 )</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buy-button-wrap">
                                <!-- TODO: TYPE-1 > 스마트 페이 -->
                                <button type="button" class="btn-item btn-neutral btn-ol btn-l full-w round" onclick="callPopup.shoppingCartConfirm()">
                                    <span class="label-txt">장바구니</span>
                                </button>
                                <button type="button" class="btn-item btn-neutral btn-l full-w round mg-l-2u" onclick="callPopup.requireSignIn();">
                                    <span class="label-txt">바로구매</span>
                                </button>

                                <!-- TODO: TYPE-2 > 사이즈 정보가 없는 경우 -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled onclick="callPopup.checkAbleMyCar();">
                                    <span class="label-txt">내 차에 장착 가능 여부 확인하기</span>
                                </button>-->

                                <!-- TODO: TYPE-3 > 일시품절 상태 -->
                                <!--<button type="button" class="btn-item btn-primary btn-ol btn-l full-w round" onclick="callPopup.restock();">
                                    <span class="label-txt">재입고 알림 신청</span>
                                </button>-->

                                <!-- TODO: TYPE-4 > 판매종료 -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled>
                                    <span class="label-txt">판매종료</span>
                                </button>-->

                                <!-- TODO: TYPE-5 > 장착점 재고 없음 -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled>
                                    <span class="label-txt"><span class="txt-w500">'매장명'</span>에서는 장착 예약 할 수 없습니다.</span>
                                </button>-->

                                <!-- TODO: TYPE-6 > 딜 종료(재고소진/딜기간 만료) -->
                                <!--<button type="button" class="btn-item btn-neutral btn-l btn-ol btn-disabled full-w round" disabled>
                                    <span class="label-txt">딜이 종료되었습니다.</span>
                                </button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .item-info-wrap end -->
        </div><!-- // .item-section end-->

        <!-- .goods_detail start //-->
        <div class="item-tab-section">
            <div class="goods_detail guardrail tabScript">
                <div class="tablist-wrap">
                    <ul class="tablist" role="tablist">
                        <li class="button-tab active" role="tab">
                            <a href="#none" class="tab-link">상품정보</a>
                        </li>
                        <li class="button-tab" role="tab">
                            <a href="#none" class="tab-link">상품평(<em>99,999+</em>)</a>
                        </li>
                        <li class="button-tab" role="tab">
                            <a href="#none" class="tab-link">타이어 사이즈</a>
                        </li>
                    </ul>
                </div>
                <!-- tab 1. 상품정보 -->
                <div class="tab_cont hidden" id="goodDetail_tab1" style="">
                    <!-- TODO: 특장점 & 기술력 > 상품 상세 정보 > 타이어 구매하기 전 확인 사항 > 상품 정보 제공 고시 -->

                    <!-- 1. 특장점 & 기술력 -->
                    <h6>특장점 &amp; 기술력 </h6>
                    <div class="inner">
                        <ol>
                            <li>눈길 빙판길 성능이 우수한 V자형 바닥면 디자인을 적용한 SUV 겨울용 타이어.</li>
                            <li>스포이트홀을 적용하여 바닥의 수분을 흡수하고 눈 슬러지에서 미끄러짐을 최소화.</li>
                            <li>최적화된 블록 디자인으로 눈길 제동력과 핸들링 성능을 향상.</li>
                        </ol>
                    </div>

                    <!-- 2. 상품 상세 정보 -->
                    <h6>상품상세 정보</h6>
                    <div class="inner pattern">
                        <!-- ckEditor HTML -->
                        <div class="ckEditor">
                            <div style="text-align:center">
                                <img alt="" src="https://po.tstation.com/upload/goods/2020/20200309150305/Winter-icept-X.jpg" style="width: 100%">
                            </div>
                        </div>
                        <!-- //ckEditor HTML -->
                    </div>

                    <!-- 20220719 // -->
                    <h6>30일 해피보증 프로그램</h6>
                    <div class="inner pattern tire_info">
                        <div class="txt-center">
                            <img alt="" src="pc-static-root/images/goods/img_safe_assurance.png" style="width: 100%">
                        </div>
                    </div>
                    <!-- // 20220719 -->

                    <h6>타이어 구매하기 전에 꼭 확인하세요.​</h6>
                    <div class="inner pattern tire_info">
                        <p class="img01"><img src="https://www.tstation.com/pc-static-root/images/main/tire_detail_info.jpg" alt="타이어 구매하기 전에 꼭 확인하세요. 이미지" /></p>
                            <dl class="layer">
                            <dt><span>타이어 사이드월에서</span><br /><span>확인 할 수 있는 정보</span></dt>
                            <dd class="r1">
                                <ol>
                                    <li><span class="tit">① 패턴명</span></li>
                                    <li><span class="tit">② 하중지수 / 최대속도</span>
                                        <span class="txt02">하중지수는 타이어가 주행 가능한 최대 하중 코드화하여 표시한 것으로 클수록 더 많은 무게를 감당할 수 있습니다.</span>
                                        <span class="txt02">최대속도는 타이어가 버틸 수 있는 속도의 한계치를 기호화하여 표시한 것입니다. 자동차 성능에 영향을 주기 때문에 신차용  타이어의 속도 기호와 같거나 높은 상품을 선택하시면 됩니다.</span>
                                    </li>
                                </ol>
                            </dd>
                            <dd class="r2">
                                <ol>
                                    <li><span class="tit">③ 제조사</span></li>
                                    <li class="w1s"><span class="tit">④ DOT</span>
                                        <span class="txt01">미국 운수성(Department Of Transportation)에 의해 공표된 모든  안전 기준에 따라 생산된 타이어를 의미하며 제조 일자 정보를  나타냅니다. 앞 두 숫자는 제조된 주, 뒤의 두 숫자는 제조 연도입니다.
                                            <br />ex) 3816 = 2016년 38주차에 제조된 타이어
                                        </span>
                                    </li>
                                    <li><span class="tit">⑤  사이즈</span>
                                        <span class="txt01">※ 사이드월의 정보 표시는 제조사마다 다를 수 있습니다.</span>
                                    </li>
                                </ol>
                            </dd>
                        </dl>
                        <dl class="etc">
                            <dt><span>그 외 확인 해야 할 정보</span></dt>
                            <dd><span class="tit">출시년월</span> 해당 상품이 시장에 처음으로 출시가 된 때를 의미하며 생산년월과는 다릅니다. </dd>
                        </dl>
                    </div>

                    <!-- 4. 상품 정보 제공 고시 -->
                    <h6>상품 정보 제공 고시</h6>
                    <div class="inner pattern">
                        <!-- html 등록 영역  -->
                        <ol class="list">
                            <li class="line"><span class="tit">제조사</span> 한국타이어</li>
                            <li><span class="tit">품질 보증</span> 제조상의 과실에 의한 하자가 발생 시 보증 기간내에 있는 제품에 한해서 A/S 처리해드립니다. (제조일로부터 6년 이내, 흠깊이가 20%이상 남은 경우)<br>
                                공정거래위원회 고시(소비자분쟁해결기준)에 의거하여 보상해 드립니다.</li>
                            <li><span class="tit">A/S 문의</span> 080-022-8272 (월~금 오전 9시~오후 4시)</li>
                            <li><span class="tit">특이사항</span> 타이어 구매시 탈부착 및 밸런스 작업은 무료이며, 위치교환, 휠 얼라인먼트, 그 외 서비스에 따른 추가 금액은 매장에서 현장 결제하시면 됩니다.</li>
                            <li><span class="tit">배송/장착</span> 무료 배송, 무료 장착</li>
                            <li><span class="tit">반품/환불</span> 상품의 특성상 장착 이후 반품 및 교환은 불가능합니다.</li>
                        </ol>
                        <!-- //html 등록 영역  -->
                    </div>


                    <div class="vendor-container">
                        <div class="detail-gradient">
                            <button type="button" class="btn-item btn-neutral btn-l btn-ol round">
                                <span class="label-txt">상품 상세 더보기</span>
                                <span class="line-icons chev-down size-24"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- //tab 1. 상품정보 -->
                <!-- tab 2. 상품리뷰 -->
                <div class="tab_cont" id="goodDetail_tab2" style="display: none;">
                    <h6>구매만족도</h6>
                    <div class="review_top">
                        <p class="txt01">
                            총 <em>5명의 고객님</em>이 평가해 주셨습니다.
                        </p>
                        <p class="unitR2">
                            평균별점 <span class="star02 point8"><em>4.4</em></span>
                        </p>
                        <div class="list">
                            <ol>
                                <li>
                                    <span class="tit">승차감</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">연비</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">마일리지</span>
                                    <span class="star03 point9"><em>4.6</em></span>
                                </li>
                                <li>
                                    <span class="tit">고속주행</span>
                                    <span class="star03 point7"><em>3.8</em></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- 상품평  list -->
                    <h6>고객상품평</h6>
                    <div class="review_list" id="prGdasInfoDiv">
                        <ol>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point10"><em>5.0</em></span>
                                    <span class="tire">
                            현대&nbsp; Premium(프리미엄)&nbsp; 싼타페 TM <em>235/60R18</em>
                            </span>
                                    <span class="date"><span>지**</span>2020-04-28</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        매우만족해요. 올겨울 눈은 많이 오지 않았지만 눈 왔을때 느껴지더라구요
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point6"><em>3.0</em></span>
                                    <span class="tire">
                            현대&nbsp; Modern(모던)&nbsp; 올 뉴 투싼 <em>225/60R17</em>
                            </span>
                                    <span class="date"><span>고**</span>2020-03-26</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        윈터 타이어의 효과가 정말 있습니다. 기존 타이어에 비해 승차감 등 아쉬운 부분이 있지만 특성상 어쩔수 없는 부분이라 생각됩니다.
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point6"><em>3</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point10"><em>5.0</em></span>
                                    <span class="tire">
                            현대&nbsp; 건너뛰기&nbsp; 싼타페 CM <em>235/65R17</em>
                            </span>
                                    <span class="date"><span>우**</span>2019-12-04</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        좋습니다 ㅋㅋ
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point8"><em>4.0</em></span>
                                    <span class="tire">
                            기아&nbsp; 건너뛰기&nbsp; 쏘렌토 <em>235/60R18</em>
                            </span>
                                    <span class="date"><span>**</span>2019-11-24</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        007
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point2"><em>1</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                            <li class="on">
                                <!-- 01. 내용 & 별점 -->
                                <div class="unitR2 tit">
                                    <span class="star02 point10"><em>5.0</em></span>
                                    <span class="tire">
                            쌍용&nbsp; 건너뛰기&nbsp; 코란도 스포츠 <em>255/60R18</em>
                            </span>
                                    <span class="date"><span>배**</span>2019-11-18</span>
                                </div>
                                <div class="box2">
                                    <div class="cont">
                                        차량4대 작업중 이라서 바쁜와중에 작업신경 써주셔서 감사합니다
                                    </div>
                                    <!-- 02. photo & date -->
                                    <!-- 02. photo & date -->
                                    <div class="star">
                                        <ol>
                                            <li>
                                                <span class="tit">승차감</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">연비</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">마일리지</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                            <li>
                                                <span class="tit">고속주행</span>
                                                <span class="star01 point10"><em>5</em></span>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="btn01" id="moreDiv" style="display:none;">
                        <button class="btnM2 btnS03">더 보기</button>
                    </div>
                    <!-- //상품평  list -->
                </div>
                <!-- //tab 2. 상품리뷰 -->
                <!-- tab 3. 타이어 사이즈 -->
                <div class="tab_cont" id="goodDetail_tab3" style="display: none;">
                    ...
                </div>
                <!-- //tab 3. 타이어 사이즈 -->
            </div>
        </div>
        <!-- // .goods_detail end-->
        <!-- .item-related-section start // -->
        <div class="item-related-section">
            <div class="next-product-wrap">
                <a class="#none">
                    <div class="noproduct">
                        <img src="pc-static-root/images/common/bg_nogoods.png" />
                        <p class="copy">티스테이션에서 경정비 상품 쇼핑하기</p>
                        <p class="more-link"><span class="typo">내 차에 맞는 경정비 상품 보러가기</span><span class="line-icons chev-right size-24"></span></p>
                    </div>
                </a>
            </div>
            <div class="headcopy-wrap guardrail ">
                <h2 class="headcopy">이 상품은 어때요?</h2>
                <h3 class="subcopy">내 차에 맞는 상품을 추천합니다</h3>
            </div>
            <div class="item-list-wrap">
                <div class="guardrail">
                    <div class="swiper-container related-swiper-wrap">
                        <ul class="swiper-wrapper list-size-full main-time-deal-list">
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div class="card card-time-deal" onclick="window.location.href=''">
                                    <a href="" class="card-inner">
                                        <div class="thumb-wrap">
                                            <div class="thumb-holder thumb-scaled">
                                                <img src="pc-static-root/images/common/sample/tire.jpg" alt="상품 이미지" class="goods-img">
                                                <div class="brands-logo hk"></div>
                                            </div>
                                        </div>
                                        <div class="description-area info-group">
                                            <p class="model">벤투스 프리미엄 스포츠</p>
                                            <div class="group">
                                                <span class="model-sub mg-b-3u">Ventus S2 AS</span>
                                                <span class="size">245/45R18</span>
                                            </div>
                                            <div class="group price-wrap">
                                                <span class="price">193,400<small>원</small></span>
                                                <span class="discount txt-throughline">226,200원</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn-item btn-swiper-nav btn-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"><i class="dark"></i></button>
                    <button type="button" class="btn-item btn-swiper-nav btn-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"><i class="dark"></i></button>
                </div>
            </div>
        </div><!-- // .item-related-section end-->

        <script>
            /**
             * 팝업
             */
            var popupTemplate = {
                // 01. 스마트 페이 구매는 로그인 필요
                requireSignIn: '<p class="txt-center txt-neutral2">\n' +
                  '    <em class="txt-w500 txt-neutral1">스마트 페이</em> 구매는 티스테이션 회원에게 한하여 제공되는 서비스 입니다.<br />로그인 화면으로 이동하시겠습니까?\n' +
                  '</p>',

                // 02. 상품 구매 확인
                confirmBuy: '<p class="txt-center txt-neutral2">\n' +
                  '    <em class="txt-w500 txt-neutral1">Ventus S2 AS</em> 상품을 <em class="txt-w500 txt-neutral1">1개</em><br />구매하시겠습니까?\n' +
                  '</p>',

                // 03. 장바구니 담기 컨펌
                shoppingCartConfirm: '<p class="txt-center txt-neutral2">\n' +
                  '  <em class="txt-w500 txt-neutral1">1개</em>의 수량을 장바구니에 담겠습니까?\n' +
                  '</p>',

                // 04. 장바구니 담기 성공
                shoppingCartSuccess: '<p class="txt-center">선택한 상품이 장바구니에 담겨있습니다.</p>',

                // 05. 내 차에 장착 가능 여부 확인
                checkAbleMyCar: '<p class="txt-center txt-16">\n' +
                  '    <span class="line-icons error-circle size-48 txt-primary mg-b-2u"></span><br />\n' +
                  '    검색하신 차량은 해당 상품을 장착 할 수 없습니다.\n' +
                  '</p>\n' +
                  '<p class="txt-center txt-neutral2 mg-t-8u pd-t-4u border-t">\n' +
                  '    검색 차량에 적합한 상품을 보시겠습니까?\n' +
                  '</p>',

                // 06. 재입고 알림
                restock: '<p class="txt-center txt-16">\n' +
                  '    <span class="line-icons check-circle size-48 txt-primary mg-b-2u"></span><br>\n' +
                  '    재입고 알림 신청 되었습니다.\n' +
                  '</p>\n' +
                  '<p class="txt-center txt-neutral2 mg-t-8u pd-t-4u border-t">\n' +
                  '    재입고 알림은 <em class="txt-w500 txt-neutral1">마이페이지 > 재입고알림</em>에서 확인 가능합니다.\n' +
                  '</p>',

                // 07. 스마트 페이
                smartPay: '<div class="smart-pay-info-popup">\n' +
                  '                                <section class="txt-center pd-t-5u">\n' +
                  '                                    <img src="pc-static-root/images/common/smart_pay_logo.svg" class="smart-pay-img" title="스마트페이" />\n' +
                  '\n' +
                  '                                    <div class="container txt-16 txt-neutral2 mg-t-4u">\n' +
                  '                                        <span class="dp-inblock"><em class="txt-yellow txt-w700">#</em>월납입 <em class="txt-neutral1">1만7천원부터</em></span>\n' +
                  '                                        <span class="dp-inblock"><em class="txt-yellow txt-w700">#</em>할부수수료 <em class="txt-neutral1">0원</em></span><br>\n' +
                  '                                        <span class="dp-inblock"><em class="txt-yellow txt-w700">#</em><em class="txt-neutral1">추가쿠폰</em>증정</span>\n' +
                  '                                    </div>\n' +
                  '\n' +
                  '                                    <h4 class="txt-18 txt-w500 mg-t-2u">타이어, 더 가볍게 구매하세요!</h4>\n' +
                  '                                </section>\n' +
                  '                                <section class="mg-t-6u">\n' +
                  '                                    <div class="section-header">\n' +
                  '                                        <span class="numbering">01</span>\n' +
                  '                                        <h4 class="txt-16 txt-w500 mg-t-3u">4개 구매 시 12/24개월 무이자할부 혜택</h4>\n' +
                  '                                    </div>\n' +
                  '                                    <p class="txt-neutral2 txt-center mg-t-2u">타이어 구매 시 할부수수료 부담 없이,<br>무이자 할부로 결제하세요.</p>\n' +
                  '                                </section>\n' +
                  '                                <section class="mg-t-6u">\n' +
                  '                                    <div class="section-header">\n' +
                  '                                        <span class="numbering">02</span>\n' +
                  '                                        <h4 class="txt-16 txt-w500 mg-t-3u">펑크/위치교환 서비스 쿠폰 증정</h4>\n' +
                  '                                    </div>\n' +
                  '                                    <p class="txt-neutral2 txt-center mg-t-2u">스마트페이로 결제한 회원에 한하여<br>펑크/위치교환 쿠폰을 제공해드립니다.</p>\n' +
                  '                                </section>\n' +
                  '                                <section class="border-all bg-light1 bg-filet-4 pd-v-3u pd-h-3u mg-t-10u">\n' +
                  '                                    <ul class="list-style-disc txt-12 txt-neutral2">\n' +
                  '                                        <li>\n' +
                  '                                            스마트페이 결제 카드 : KB국민/신한/비씨/현대/삼성/씨티 카드\n' +
                  '                                            <p>체크/법인(기업)/선불카드는 스마트페이 결제가 불가합니다.</p>\n' +
                  '                                            <p>BC카드 3종(KB국민, 기업, 신한은)은 스마트페이 24개월 결제가 불가합니다.</p>\n' +
                  '                                        </li>\n' +
                  '                                        <li>사용조건 : 타이어 4개 구매 시 (할부 12/24개월 중 선택)</li>\n' +
                  '                                        <li>\n' +
                  '                                            펑크/위치교환 쿠폰 사용 조건\n' +
                  '                                            <p>- 스마트페이 구매 차량(타이어)에 한하여 적용 가능</p>\n' +
                  '                                            <p>- 티스테이션 멤버십 매장에서만 사용 가능</p>\n' +
                  '                                            <p>- 구매 후 1년 1장씩, 총 2장 지급(기간 경과 후 사용 불가)</p>\n' +
                  '                                        </li>\n' +
                  '                                    </ul>\n' +
                  '                                </section>\n' +
                  '                            </div>',
            }
            var callPopup = {
                // 01. 스마트 페이 구매는 로그인 필요
                requireSignIn: function () {
                    $.Tstation.popup().open({
                        ref: 'require-sign-in',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.requireSignIn, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('require-sign-in')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 로그인 페이지로 이동
                                        $.Tstation.popup().close('require-sign-in')
                                        window.location.href = ''
                                    }
                                }
                            ]
                        }
                    })
                },

                // 02. 상품 구매 확인
                confirmBuy: function () {
                    $.Tstation.popup().open({
                        ref: 'confirm-buy',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.confirmBuy, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('confirm-buy')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 구매 프로세스 진행
                                        $.Tstation.popup().close('confirm-buy')
                                        alert('구매 프로세스 진행')
                                    }
                                }
                            ]
                        }
                    })
                },

                // 03. 장바구니 담기 컨펌
                shoppingCartConfirm: function () {
                    $.Tstation.popup().open({
                        ref: 'shopping-cart-confirm',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.shoppingCartConfirm, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('shopping-cart-confirm')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 장바구니 담기 프로세스 진행
                                        $.Tstation.popup().close('shopping-cart-confirm')
                                        alert('장바구니 담기 프로세스 진행')
                                        callPopup.shoppingCartSuccess();
                                    }
                                }
                            ]
                        }
                    })
                },

                // 04. 장바구니 담기 성공
                shoppingCartSuccess: function () {
                    $.Tstation.popup().open({
                        ref: 'shopping-cart-success',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.shoppingCartSuccess, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        modalSize: 'MEDIUM',
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        $.Tstation.popup().close('shopping-cart-success')
                                    }
                                }
                            ]
                        }
                    })
                },

                // 05. 내 차에 장착 가능 여부 확인
                checkAbleMyCar: function () {
                    $.Tstation.popup().open({
                        ref: 'check-able-my-car',
                        title: '내 차에 장착 가능 여부 확인',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.checkAbleMyCar, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        full: true, // Full Popup
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '취소',
                                    negative: true,
                                    action: function () {
                                        $.Tstation.popup().close('check-able-my-car')
                                    }
                                },
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        // 검색 차량에 적합한 상품 보기 프로세스 진행
                                        $.Tstation.popup().close('check-able-my-car')
                                        window.location.href = ''
                                    }
                                }
                            ]
                        }
                    })
                },

                // 06. 재입고 알림
                restock: function () {
                    $.Tstation.popup().open({
                        ref: 'restock',
                        title: '재입고 알림',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.restock, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        full: true, // Full Popup
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '확인',
                                    negative: false,
                                    action: function () {
                                        $.Tstation.popup().close('restock')
                                    }
                                }
                            ]
                        }
                    })
                },

                // 07. 스마트 페이
                smartPay: function () {
                    $.Tstation.popup().open({
                        ref: '',
                        title: '스마트페이 안내',
                        requestUrl: '', // 비동기 방식으로 컨텐츠 영역을 받아올때
                        contents: popupTemplate.smartPay, // 팝업을 바로 띄우고 싶을때
                        dimWhite: false,
                        modalContentsPd: { // contents 영역의 padding 값 조절 해당 숫자의 * 4px 예: top 8 > top 32px
                            horizon: 8,
                            vertical: 8,
                            top: 0,
                            right: 0,
                            bottom: 0,
                            left: 0
                        },
                        full: true, // Full Popup
                        modalAction: {
                            isNoBoundary: false,
                            buttons: [
                                {
                                    label: '확인',
                                    negative: false,
                                    action: '$.Tstation.popup().close()'
                                }
                            ]
                        }
                    })
                },
            }

            /**
             * 화면 인터렉션 관련
             */
            // 일반구매, 스마트페이 인터렉션
            if (typeof document.querySelector('.order-swiper') !== 'undefined' && document.querySelector('.order-swiper') !== null) {
                // if (document.querySelector())
                var orderSwiper = new Swiper('.order-swiper', {
                    touchRatio: 0,
                    autoHeight: true
                });
                var orderSwiperSlideTo = function (index) {
                    orderSwiper.slideTo(index);
                };
                orderSwiper.init();
            }


            $(document).ready(function(){
                /* keyVisual sticky scroll */
                $(window).on({
                    'scroll' : function() {
                        var stickyWrap = $('.sticky-wrap')
                        var paymentTop = $('.item-section').offset().top;
                        var maxTop = $('.item-info-wrap').outerHeight() - stickyWrap.outerHeight() + paymentTop;
                        var scrollThis = $(this).scrollTop();

                        if ( paymentTop < scrollThis ) {
                            if (scrollThis < maxTop) {
                                stickyWrap.css({'top' : scrollThis-paymentTop});
                            } else {
                                stickyWrap.css({'top' : maxTop-paymentTop});
                            }
                        } else {
                            stickyWrap.css({'top' : 0});
                        }
                    }
                });

                /* good tablist sticky scroll */
                $(window).on({
                    'scroll' : function() {
                        var tablistPos = $('.tablist-wrap').offset().top;
                        var scrollPos = $(this).scrollTop();

                        if(tablistPos < scrollPos) {
                            $('.tablist').addClass('fixed');
                        } else {
                            $('.tablist').removeClass('fixed');
                        }
                    }
                });

                /* good detail click event hide */
                $('.detail-gradient').find('button').click(function(){
                    var goodDetail = $('#goodDetail_tab1')
                    if(goodDetail.hasClass('hidden')) {
                        goodDetail.removeClass('hidden');
                        goodDetail.find('.vendor-container').hide();
                    }
                });

                /* toogle event */
                $('.toggle-wrap').find('.headline').click(function() {
                    var toggleWrap = $(this).parent('.toggle-wrap');
                    if(toggleWrap.hasClass('active')) {
                        toggleWrap.removeClass('active');
                    } else {
                        toggleWrap.addClass('active');
                    }

                    // 높이 업데이트
                    if (typeof orderSwiper !== 'undefined') {
                        orderSwiper.update();
                    }
                });

                /*  tab function and anchor*/
                $(document).ready(function() {
                    var itemDetail = $('.item-tab-section');
                    var tabButton = itemDetail.find('.tablist > .button-tab');
                    var tabContainer = itemDetail.find('.tab_cont');

                    tabButton.each(function(i) {
                        tabButton.eq(i).click(function(){
                            tabAnchor = itemDetail.find('.tablist-wrap').offset().top;
                            $('html, body').scrollTop(tabAnchor);
                            tabContainer.hide();
                            tabContainer.eq(i).show();
                            tabButton.removeClass('active');
                            tabButton.eq(i).addClass('active');
                        });
                    });
                });

                /* relatedSwiper */
                var relatedCard = $('.related-swiper-wrap .swiper-slide').length;
                if( relatedCard < 4 ){
                    $('.related-swiper-wrap').addClass('no-swipe');
                }else{
                    var mycar_select_swiper = new Swiper('.related-swiper-wrap', {
                        init: false,
                        spaceBetween: 0,
                        slidesPerView: 4,
                        slidesPerGroup: 4,
                        navigation: {
                            nextEl: '.item-related-section .btn-swiper-nav.btn-next',
                            prevEl: '.item-related-section .btn-swiper-nav.btn-prev',
                        },
                    });
                    mycar_select_swiper.init();
                };
            });
        </script>
    </div><!-- // .item-detail end -->








</div>